.dpApps-Panel {
  border: 1px solid var(--gray-200);
  display: block;
}

.dpApps-PanelHeader {
  border-bottom: 1px solid var(--gray-200);
  padding: var(--card-padding);
}

.dpApps-PanelHeaderTitle {
  color: var(--gray-500);
  font-size: var(--font-Title-L);
}

.dpApps-PanelHeader .dpApps-IconClose {
  color: inherit;
  height: 11px;
  width: 11px;
}

.dpApps-PanelBody {
  display: block;
  padding: 5px var(--card-padding);
}

.dpApps-PT--none {
  padding-top: 0;
}

.dpApps-DataDefListAddress {
  font-size: var(--font-Title-S);
}

.dpApps-DataDefListShipping {
  padding-top: 2px;
}

.dpApps-DataDefListShipping,
.dpApps-DataDefListBilling {
  color: var(--gray-500);
  display: inline-block;
  font-weight: 600;
  padding-bottom: 2px;
  text-transform: uppercase;
}

.dpApps-DataDefListBilling {
  padding-top: var(--card-padding);
}
