@import "../fonts.css";
@import "../vars.css";
@import "../dp-Arrow.css";
@import "../components/dp-PageTabs.css";

/* Actions */

/* .dp-ActionsBar > .dp-DropdownButton */

/* .dp-Dropdown-bar { */

.dp-ActionsBar {
  align-items: center;
  background-color: var(--grey-lightest);
  border-bottom: 1px solid var(--grey-light);
  display: flex;
  list-style: none;
  padding: 10px;
}

.dp-ActionsBar.outlined {
  border-bottom: 1px solid var(--grey-light);
  border-top: 1px solid var(--grey-light);
}

.dp-ActionsBar .dp-DropdownButton {
  align-items: center;
  background-color: transparent;
  display: flex;
  position: relative;
}

.dp-ActionsBar .dp-DropdownButton:hover {
  color: var(--brand-primary);
}

.dp-ActionsBar.outlined .dp-DropdownButton {
  background-color: var(--white);
  border: 1px solid var(--grey-light);
  border-radius: var(--border-radius-button);
  padding: 4px 6px;
}

.dp-ActionsBar.outlined .dp-DropdownButton:hover {
  border: 1px solid var(--brand-primary);
  margin-bottom: 0;
}

.dp-ActionsBar.outlined .dp-DropdownButton.is-active {
  background-color: var(--brand-primary);
  border: 1px solid var(--brand-primary);
  color: var(--white);
  margin-bottom: 0;
}

.dp-ActionsBar .dp-DropdownButton {
  color: var(--grey-dark);
  cursor: pointer;
  display: flex;
  font: var(--p-n-caps);
  margin-right: 15px;
  margin-top: 0;
  position: relative;
}

.dp-ActionsBar.outlined .dp-DropdownButton .dp-Icon {
  cursor: pointer;
  height: 14px;
  width: 15px;
}

.dp-ActionsBar .dp-DropdownButton .dp-Icon {
  cursor: pointer;
  display: inline-block;
  height: 23px;
  margin-right: 3px;
  position: relative;
  vertical-align: middle;
  width: 23px;
}

.dp-ActionsBar.outlined .dp-DropdownButton.is-active .dp-Arrow::after {
  border-color: transparent transparent var(--white) transparent;
  border-width: 0 4px 4px 4px;
}

.dp-ActionsBar .dp-DropdownButton:hover .dp-Arrow::after {
  border-color: var(--brand-primary) transparent transparent transparent;

}

.dp-ActionsBar .dp-DropdownButton.is-active:hover .dp-Arrow::after {
  border-color: transparent transparent var(--brand-primary) transparent;
  border-width: 0 4px 4px 4px;
}

.dp-ActionsBar .dp-DropdownButton.is-disabled:hover .dp-Arrow::after {
  border-color: var(--grey-dark) transparent transparent transparent;
}

.dp-ActionsBar.outlined .dp-DropdownButton.is-active:hover {
  color: var(--white);
}

.dp-ActionsBar.outlined .dp-DropdownButton.is-disabled:hover {
  background-color: transparent;
  border: 1px solid var(--grey-light);
  color: var(--grey-dark);
}

.dp-ActionsBar.outlined .dp-DropdownButton.is-active:hover .dp-Arrow::after {
  border-color: transparent transparent var(--white) transparent;
  border-width: 0 4px 4px 4px;
}

.dp-ActionsBar .dp-DropdownButton.is-active {
  background-color: transparent;
  border: 0;
  color: var(--brand-primary);
}

.dp-ActionsBar .dp-DropdownButton.is-active .dp-Arrow::after {
  border-color: transparent transparent var(--brand-primary) transparent;
  border-width: 0 4px 4px 4px;
}

.dp-Dropdown-container {
  position: relative;
}

.dp-ActionsBar .dp-DropdownButton + .dp-Menu {
  min-width: calc(100% + 2px);
}
