@import "../fonts.css";
@import "../vars.css";
@import "../dp-Arrow.css";

.dpApps-IconHamburger {
  cursor: pointer;
  position: relative;
}

.dpApps-IconHamburger,
.dpApps-IconHamburger::after,
.dpApps-IconHamburger::before {
  background-color: var(--brand-primary);
  display: block;
  height: 4px;
  width: 13px;
}

.dpApps-IconHamburger {

  &::after,
  &::before {
    content: "";
    position: absolute;
  }

  &::after {
    top: -5px;
  }

  &::before {
    bottom: -5px;
  }
}

.dp-Tabs.Tabs--apps-bar {
  background-color: var(--grey-lightest);
  justify-content: space-between;
}

.dp-Tabs.Tabs--apps-bar .dp-Tabs-item {
  margin: 0;
  padding: 0;
}

.dp-Button.Button--Apps * {
  cursor: pointer;
}

.dp-Button.Button--Apps {
  align-items: center;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  display: flex;
  flex: 0 0 39px;
  height: 39px;
  justify-content: center;
  padding: 0;
  position: relative;
  transition: all var(--animation-speed);
  width: 39px;

  &::after {
    background-color: var(--brand-primary);
    bottom: -1px;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: auto;
    transition: all var(--animation-speed);
    width: 0;
    z-index: 1;
  }

  &.is-selected,
  &:hover {

    &::after {
      transition: all var(--animation-speed);
      width: 100%;
    }

  }

  &.is-selected,
  &:hover {
    background-color: var(--bg-app-panel-hover);
    cursor: pointer;
    transition: all 0.2s;
  }
}

.dp-Tabs.Tabs--apps-bar .dp-Tabs-item:hover,
.dp-Tabs.Tabs--apps-bar .is-expanded {
  border-bottom: 0;
}

.dp-Tabs.Tabs--vertical {
  background-color: var(--grey-lightest);
  border-bottom: 0;
  border-left: 1px solid var(--grey-light);
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  width: 39px;
}

.Tabs--devider {
  border-top: 1px solid var(--grey-light);
  margin: 0;
}

/* 2 */

.dpApps-AppPanel {
  background-color: var(--bg-app-panel);
  border: 1px solid var(--border-color);
  display: block;
}

.dpApps-AppPanelBody {
  display: block;
  padding: var(--framework-margin);
}

.dpApps-AppFrame {
  background-color: var(--white);
  border: 1px solid var(--grey-light);
  border-radius: var(--border-radius);
  display: block;
  padding: 10px;
}

.dpApps-AppFrame:not(:last-child) {
  margin-bottom: 10px;
}

.dpApps-AppFrame .dpApps-AppBody {
  height: auto;
  opacity: 1;
}

.dpApps-AppFrame.is-colapsed .dpApps-AppBody {
  height: 0;
  opacity: 0;
}

.dpApps-Title {
  color: var(--grey-dark);
  font: var(--p-xl);
  padding-left: 10px;
}

/* 3 */

.dpApps-AppFrame .Icon--down-caret {
  background-size: 9px 6px;
}

.dpApps-AppFrame.is-inactive {
  filter: grayscale(100%);
  opacity: 0.8;
}

.dpApps-AddApp-text {
  color: var(--grey);
  font: var(--p-xl);
  padding-left: 15px;
}

.dpApps-AddApp {
  background-color: var(--white);
  border: 1px solid var(--grey-light);
  border-radius: var(--border-radius);
  display: block;
  padding: 10px;
}

.dpApps-Level {
  align-items: center;
  color: var(--grey);
  display: flex;
  font: var(--p-s);
  justify-content: space-between;
}

.dpApps-LevelItem {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
}

.dpApps-LevelBottom {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
}

.dpApps-LevelTop {
  align-items: center;
  align-self: flex-start;
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
}

.dpApps-LevelLeft {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  justify-content: flex-start;
}

.dpApps-LevelRight {
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-end;
}

/*  */

.dpApps-ActionList {
  display: flex;
}

.dpApps-ActionListItem {
  align-items: center;
  display: flex;
}

/* .dpApps-ActionListItem * {
  cursor: pointer;
} */

.dpApps-ActionListLabel {
  color: var(--grey);
  padding-left: 3px;
}

.dpApps-ActionPanel {
  border: 1px solid var(--border-color);
  display: block;
}

.dpApps-HeaderAppPanel {
  border-bottom: 2px solid var(--border-color-light);
  padding: var(--card-padding);
}

.dpApps-HeaderTitle {
  font-size: var(--font-Title-L);
  margin-bottom: -4px;
  padding-left: 5px;
}

.dpApps-ActionPanel .dpApps-InputSearchWrap {
  margin-bottom: 6px;
}

.dpApps-ActionPanel .dpApps-ListItem {

  &:first-child {
    margin-top: 0;
  }
}

.dpApps-ActionPanelBody {
  display: block;
  padding: var(--card-padding);
}

.dpApps-ActionPanelTitle {
  display: block;
  font-size: var(--font-Title-N);
  padding: 0 0 13px 0;
}

.dpApps-AppBar {
  border-bottom: 1px solid var(--grey-light);
  padding: 0 0 3px;
}

/* 4 */

.dpApps-Section {
  display: none;
}

.dpApps-AppBar.is-active + .dpApps-Section {
  display: block;
}

.dpApps-AppBody.dpApps-Section > .dpApps-Level {
  padding: 7px 0;
}

.dpApps-AppBodyItem {
  border: 1px solid var(--brand-primary);
  border-radius: var(--border-radius);
  display: block;
  padding: var(--card-padding);
}

.dpApps-AppBodyItemRow {
  align-items: center;
  display: flex;
}

.dpApps-LevelItemTitle {
  color: var(--brand-primary);
  font: var(--p-s-semibold);
  overflow: hidden;
  padding-left: 7px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.dpApps-AppBodyContent {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dpApps-AppBodySeparator {
  padding: 0 6.5px;
}

.is-opening {
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
}
