@import "../fonts.css";
@import "../vars.css";
@import "../dp-Arrow.css";
@import "../components/dp-PageTabs.css";

/* Actions */

.dp-dropdown {
  align-items: center;
  display: flex;
  list-style: none;
  padding: 10px;
}

.dp-dropdown.dropdown--outlined {
  border-bottom: 1px solid var(--grey-light);
}

.dp-dropdown .dp-bars {
  align-items: center;
  background-color: transparent;
  display: flex;
  position: relative;
}

.dp-dropdown .dp-bars:hover {
  color: var(--brand-primary);
}

.dp-dropdown.dropdown--outlined .dp-bars {
  background-color: var(--white);
  border: 1px solid var(--grey-light);
  border-radius: var(--border-radius-button);
  padding: 4px 6px;
}

.dp-dropdown.dropdown--outlined .dp-bars:hover {
  border: 1px solid var(--brand-primary);
  margin-bottom: 0;
}

.dp-dropdown.dropdown--outlined .dp-bars.is-active {
  background-color: var(--brand-primary);
  border: 1px solid var(--brand-primary);
  color: var(--white);
  margin-bottom: 0;
}

.dp-dropdown .dp-bars {
  color: var(--grey-dark);
  cursor: pointer;
  display: flex;
  font: var(--p-n-caps);
  margin-right: 15px;
  margin-top: 0;
  position: relative;
}

.dp-dropdown.dropdown--outlined .dp-bars .dp-Icon {
  cursor: pointer;
  height: 14px;
  width: 15px;
}

.dp-dropdown .dp-bars .dp-Icon {
  cursor: pointer;
  display: inline-block;
  height: 23px;
  margin-right: 3px;
  position: relative;
  vertical-align: middle;
  width: 23px;
}

.dp-dropdown.dropdown--outlined .dp-bars.is-active .dp-Arrow::after {
  border-color: transparent transparent var(--white) transparent;
  border-width: 0 4px 4px 4px;
}

.dp-dropdown .dp-bars:hover .dp-Arrow::after {
  border-color: var(--brand-primary) transparent transparent transparent;

}

.dp-dropdown .dp-bars.is-active:hover .dp-Arrow::after {
  border-color: transparent transparent var(--brand-primary) transparent;
  border-width: 0 4px 4px 4px;
}

.dp-dropdown .dp-bars.is-disabled:hover .dp-Arrow::after {
  border-color: var(--grey-dark) transparent transparent transparent;
}

.dp-dropdown.dropdown--outlined .dp-bars.is-active:hover {
  color: var(--white);
}

.dp-dropdown.dropdown--outlined .dp-bars.is-disabled:hover {
  border: 1px solid var(--grey-light);
  color: var(--grey-dark);
}

.dp-dropdown.dropdown--outlined .dp-bars.is-active:hover .dp-Arrow::after {
  border-color: transparent transparent var(--white) transparent;
  border-width: 0 4px 4px 4px;
}
