@import "../fonts.css";
@import "../vars.css";
@import "../components/dp-Level.css";
@import "../elements/dp-badges.css";

.dp-Card {
  background-color: var(--white);
  border-bottom: 1px solid var(--grey-light);
  color: var(--grey-darkest);
  cursor: pointer;
  display: flex;
  font: var(--p-xl);
  max-height: 100%;
  padding: 8.8px 10px 10px;
  position: relative;
  width: 100%;
}

.dp-Card.dp-Card-SectionTitle {
  flex-direction: row;
}

.dp-Card-title {
  line-height: 1.4;
}

.dp-Card-title,
.dp-MassSelect-itemsCount {
  color: var(--grey-darkest);
  cursor: pointer;
  font: var(--h-n-semibold);
  max-width: max-content;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dp-MassSelect .dp-MassSelect-itemsCount {
  font: var(--h-l-semibold);
}

.is-hover-link .dp-Card-title,
.dp-Card-title:hover {
  color: var(--brand-primary);
}

.is-hover-link .dp-Card-title::after,
.dp-Card-title:hover::after,
.dp-Knowledgebase .dp-OrderingBar ~ .dp-Card:hover .dp-Card-title::after,
.dp-Knowledgebase .dp-OrderingBar ~ .dp-CardList .dp-Card.is-selected .dp-Card-title::after,
.dp-Knowledgebase .dp-OrderingBar ~ .dp-Guides-list .dp-Guide:hover .dp-Guide-title::after,
.dp-Knowledgebase .dp-OrderingBar ~ .dp-Guides-list .dp-Guide.is-selected .dp-Guide-title::after {
  background-color: var(--brand-primary);
  bottom: 1px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

.dp-Card-SectionTitle .dp-Card-title:hover,
.dp-Card-SectionTitle .dp-Card-title:hover {
  color: var(--grey-darkest);
}

.dp-Tasks-list.dp-Card-SectionTitle .dp-Card-title:hover::after,
.dp-Card-SectionTitle .dp-Card-title:hover::after {
  display: none;
}

.dp-Card-SectionTitle .dp-SortIconDescription {
  align-items: center;
  color: var(--grey);
  display: flex;
  flex-direction: row;
  font: var(--p-s);
  margin-left: 10px;
  max-width: 50px;
}

.dp-Title.Title-Icon .dp-Card-title {
  margin-bottom: 0;
}

.dp-Title.Title-Icon .dp-Icon + .dp-Card-title {
  margin-left: 5px;
}

.dp-Card-SectionTitle,
.dp-Card-SectionSubtitle {
  align-items: center;
  background-color: var(--white);
  border-bottom: 1px solid var(--grey-light);
  border-top: 1px solid transparent;
  color: var(--grey-darkest);
  display: flex;
  font: var(--h-s-semibold);
  margin: 0;
  padding: 8.8px 10px 7.8px;
  width: 100%;
}

.dp-Card-title.dp-MassSelectTitle {
  padding-bottom: 0;
  padding-top: 0;
}

.dp-Card.dp-MassSelectTitle:hover {
  background-color: var(--grey-lightest);
  border-bottom: 1px solid var(--grey-light);
  border-top: 1px solid transparent;
}

.dp-CardList.dp-CardList.CardList--tree > .dp-Card.CardList--subLevel {
  border-left: 0;
}

.dp-CustomCheckbox input[type="checkbox"] + label.dp-Card-title {
  font: var(--h-n-semibold);
}

.dp-CardList {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  width: 100%;
}

.dp-Guide .dp-Cog > .dp-Menu {
  display: none;
  padding: 10px 0;
}

.dp-Card .dp-LevelRight .dp-IconGroup .dp-Icon,
.dp-Card .dp-LevelRight .dp-IconGroup .dp-Icon svg {
  max-height: 18px;
}

/* Level Grid */

.dp-Card.dp-Level .dp-LevelCol {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.dp-Card.dp-Level .dp-LevelCol:first-child {
  flex: 0 0 auto;
}

.dp-Card.dp-Level .dp-LevelCol:nth-child(2) {
  flex: 0 1 100%;
  white-space: nowrap;
}

.dp-Card.dp-Level .dp-LevelCol:last-child {
  flex: 1 0 auto;
}

.dp-CardList.CardList--tree .dp-Card {

  /* border-left: 1px solid var(--grey-light); */
  border: none;
  flex-direction: row;
}

.dp-Card.is-hover,
.dp-CardList.is-hoverable .dp-Card:hover {
  background-color: rgba(58, 141, 222, 0.07);
}

.dp-Card.is-selected.is-active {
  background-color: var(--info-light);
}

.dp-Card.is-selected {
  background-color: var(--grey-lighter);
}

.dp-Card.is-keyboard {
  border-bottom: 1px solid var(--brand-primary);
  border-top: 1px solid var(--brand-primary);
}

.dp-Card.is-dragging {
  background-color: var(--info-light);
  border: 1px solid var(--brand-primary);
  box-shadow: var(--shadow-bottom-right);
}

.dp-CardList .dp-Card {
  border-right: 1px solid transparent;
}

.dp-CardList.CardList-comments .dp-Card.is-hover,
.dp-CardList.CardList-comments .dp-Card:hover {
  background-color: var(--info-light);
  border-right: 1px solid var(--grey-light);
}

.dp-Card .dp-LevelItem {
  color: var(--grey-dark);
  font: var(--p-xl);
}

.dp-LevelItem .dp-LevelLeft,
.dp-LevelItem .dp-LevelRifgth {
  color: inherit;
  font: inherit;
}

.dp-Card .dp-LevelItem + .dp-LevelItem {
  margin-top: 10px;
  padding-left: 23px;
}

.dp-Card.Card--nocheck .dp-LevelItem + .dp-LevelItem {
  padding: 0;
}

.dp-Card .dp-LevelItem + .dp-Card-actionsRow {
  margin-top: 10px;
}

.CardList-comments .dp-Card .dp-LevelItem .dp-Task-title .dp-Icon,
.CardList-comments .dp-Card .dp-LevelItem .dp-Diagnose .dp-Icon,
.CardList-comments .dp-Card .dp-LevelItem .dp-Card-actionsRow li > .dp-Icon {
  width: 18px;
}

.dp-CardList.CardList--tree .CardList--subLevel {
  border-bottom: 0;
  display: none;
  margin: 0;
  padding: 0 0 0 30px;
  position: relative;
  width: 100%;
}

.dp-Card.is-active .Icon--down-caret {
  transform: rotate(-180deg);
}

.rst__lineHalfHorizontalRight::before,
.CardList--subLevel > .dp-Card::before {
  background-image: url('data:image/svg+xml,<svg width="15" height="19" viewBox="0 0 15 19" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M11.05 14.1H0.550003C0.250003 14.1 0.0500031 13.9 0.0500031 13.7V1.40002C0.0500031 1.10002 0.250003 0.900024 0.550003 0.900024C0.850003 0.900024 1.05 1.10002 1.05 1.40002V13.2H11.05C11.35 13.2 11.55 13.4 11.55 13.7C11.55 14 11.35 14.1 11.05 14.1Z" fill="%23979797"/><path d="M9.55 8.90002V18.2L14.35 13.5C14.25 13.4 9.75 8.90002 9.55 8.90002Z" fill="%23979797"/></g><defs><clipPath id="clip0"><rect width="14.2" height="17.3" fill="white" transform="translate(0.0500031 0.900024)"/></clipPath></defs></svg>');
  content: "";
  display: block;
  height: 17.3px;
  left: -20px;
  position: absolute;
  top: 5px;
  width: 15px;
  z-index: 1;
}

.CardList--subLevel > .dp-Card:not(:first-child)::after {
  background-color: var(--grey);
  bottom: calc(100% - 10px);
  content: "";
  height: 100%;
  left: -20px;
  position: absolute;
  width: 1px;
  z-index: 1;
}

.CardList--subLevel .CardList--subLevel {
  border-left: 1px solid var(--grey-light);
}

.dp-CardList.CardList--tree .CardList--subLevel::after {
  background-color: var(--grey-lightest);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 30px;
}

.dp-CardList.CardList--tree .CardList--subLevel .dp-sub_field {
  left: -20px;
  position: absolute;
  top: 5px;
  z-index: 1;
}

.dp-Card .dp-drag {
  height: 10px;
  margin-right: 5px;
  width: 12px;
}

.dp-CardList.CardList--tree .dp-Card .dp-drag {
  height: 14px;
}

.CardList--subLevel .dp-Card.dp-Level:first-child .dp-sub_field::after {
  display: none;
}

.dp-CardList.CardList--tree .dp-Card .dp-iconUserAvatar + .dp-iconUserAvatar {
  background-color: var(--white);
  border-radius: 50%;
  margin-left: -7px;
  padding: 10px;
}

.dp-CardList.CardList--tree .dp-Card.is-hover .dp-iconUserAvatar + .dp-iconUserAvatar,
.dp-CardList.CardList--tree .dp-Card:hover .dp-iconUserAvatar + .dp-iconUserAvatar {
  background-color: var(--info-light);
}

.dp-Card.Level-column .dp-UserInfo {
  padding-left: 25px;
}

.dp-Card .dp-Diagnose {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dp-Card .dp-UserName, .dp-Card .dp-date {
  color: var(--grey-darkest);
  font: var(--p-xl);
}

.dp-Icon + .dp-Date-link,
.dp-Card .dp-Icon + .dp-Comments-title,
.dp-Tasks-list .dp-Icon + .dp-UserName {
  margin-left: 5px;
}

.dp-Card-link > .dp-Icon {
  margin-right: 5px;
}

.dp-Card .dp-UserName,
.dp-Card .dp-UserEmail {
  color: var(--grey-dark);
  font: var(--p-xl);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dp-Card .dp-UserEmail {
  margin-left: 5px;
  text-decoration: none;
}

.dp-Card .dp-TimeStatus {
  color: var(--grey-dark);
  font: var(--p-n);
}

.dp-Card .dp-Tag {
  display: inline-block;
  font: var(--p-n);
  min-width: 63px;
  text-align: center;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
}

.dp-Card .dp-Meta {
  color: var(--grey-dark);
  display: flex;
  font: var(--p-s);
}

.dp-Card .dp-Meta-value {
  color: var(--grey-darkest);
  margin-left: 2px;
}

.dp-Meta.is-active {
  color: var(--brand-primary);
}

.dp-Meta::after {
  border-right: 1px solid var(--grey-dark);
  content: "";
  height: 10px;
  margin: 0 10px;
  width: 1px;
}

.dp-Meta:last-child::after {
  display: none;
}

.dp-Tag .dp-close {
  height: 12px;
  position: absolute;
  right: 0;
  top: calc(50% - 6px);
  width: 12px;
}

.dp-Card-title.dp-StarAlign {
  margin-right: 50px;
}

.dp-Card .dp-CustomCheckbox {
  display: flex;
  overflow: hidden;
}

.dp-Card.dp-Card-SectionTitle .dp-CustomCheckbox {
  padding: 0;
}

.dp-CardList .dp-Card-comment .dp-UserInfo .dp-UserName {
  align-items: center;
  border: 0;
  color: var(--grey-darkest);
  display: flex;
  padding: 0;
}

.dp-Card-title .dp-Icon + .dp-title {
  margin-left: 5px;
}

.dp-Card .dp-LevelCol.dp-LevelRight {
  align-items: flex-end;
}

.Icon--circle {
  align-items: center;
  background-color: var(--white);
  background-position: 50%;
  background-repeat: no-repeat;
  border: 1px solid var(--grey-light);
  border-radius: 50%;
  color: var(--white);
  cursor: pointer;
  display: flex;
  font: var(--p-n);
  height: 18px;
  justify-content: center;
  width: 18px;
}

.dp-Cog.is-active .dp-Icon svg,
.dp-Cog:hover .dp-Icon svg {
  fill: var(--brand-primary);
}

/* Card Row */

.dp-Card {
  flex-direction: column;
}

/* Star */

.dp-Card .dp-Title .Icon--star {
  margin-left: 15px;
}

.dp-Card .dp-Icon {
  cursor: pointer;
}

/* dp-Kanban */

.dp-Kanban-column .dp-Card-SectionTitle {
  border: 1px solid var(--grey);
}

.dp-Kanban-column .dp-Kanban-columnContent {
  border: 1px solid var(--grey);
  border-top: 0;
}
