@import "../fonts.css";
@import "../vars.css";
@import "../components/dp-Level.css";
@import "../elements/dp-badges.css";

.dp-Card {
  background-color: var(--white);
  border-bottom: 1px solid var(--grey-light);
  color: var(--grey-darkest);
  cursor: pointer;
  display: flex;
  font: var(--p-xl);
  max-height: 100%;
  padding: 8.8px 10px 10px;
  position: relative;
  width: 100%;
}

.dp-Card.dp-Card-SectionTitle {
  flex-direction: row;
}

.dp-Card-title {
  line-height: 1.4;
}

.dp-Card-title,
.dp-MassSelect-itemsCount {
  color: var(--grey-darkest);
  cursor: pointer;
  font: var(--h-n-semibold);
  max-width: max-content;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;

  /* margin: 0 0 10px; */

}

.dp-MassSelect .dp-MassSelect-itemsCount {
  font: var(--h-l-semibold);
}

.is-hover-link .dp-Card-title,
.dp-Card-title:hover {
  color: var(--brand-primary);
}

.is-hover-link .dp-Card-title::after,
.dp-Card-title:hover::after,
.dp-Knowledgebase .dp-OrderingBar ~ .dp-Card:hover .dp-Card-title::after {
  background-color: var(--brand-primary);
  bottom: 1px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

/* .CardList-comments .dp-Card-SectionTitle .dp-Card-title:hover { */

/* .dp-Tasks-list.dp-Card-SectionTitle .dp-Card-title:hover, */

.dp-Card-SectionTitle .dp-Card-title:hover,
.dp-Card-SectionTitle .dp-Card-title:hover {
  color: var(--grey-darkest);
}

/* .CardList-comments .dp-Card-SectionTitle .dp-Card-title:hover::after { */

.dp-Tasks-list.dp-Card-SectionTitle .dp-Card-title:hover::after,
.dp-Card-SectionTitle .dp-Card-title:hover::after {
  display: none;
}

.dp-Card-SectionTitle .dp-SortIconDescription {
  align-items: center;
  color: var(--grey);
  display: flex;
  flex-direction: row;
  font: var(--p-s);
  margin-left: 10px;
  max-width: 50px;
}

/* .dp-Card-SectionTitle .dp-Card-title {
  font: var(--h-s-semibold);
  color: var(--grey-darkest);
  background-color: var(--white);
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 0;
} */

.dp-Title.Title-Icon .dp-Card-title {
  margin-bottom: 0;
}

.dp-Title.Title-Icon .dp-Icon + .dp-Card-title {
  margin-left: 5px;
}

.dp-Card-SectionTitle,
.dp-Card-SectionSubtitle {
  align-items: center;
  background-color: var(--white);
  border-bottom: 1px solid var(--grey-light);
  border-top: 1px solid transparent;
  color: var(--grey-darkest);
  display: flex;
  font: var(--h-s-semibold);
  margin: 0;
  padding: 8.8px 10px 7.8px;
  width: 100%;

  /* text-transform: uppercase; */

}

/* .dp-CustomCheckbox .dp-Card-title,
.dp-OrderingBar .dp-MassSelect-itemsCount {
  margin: 0;
} */

.dp-Card-title.dp-MassSelectTitle {
  padding-bottom: 0;
  padding-top: 0;
}

.dp-Card.dp-MassSelectTitle:hover {
  background-color: var(--grey-lightest);
  border-bottom: 1px solid var(--grey-light);
  border-top: 1px solid transparent;
}

.dp-CardList.dp-Listpane-guides > .dp-Card.Level--down {
  border-left: 0;
}

.dp-CustomCheckbox input[type="checkbox"] + label.dp-Card-title {
  font: var(--h-n-semibold);
}

.dp-CardList {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  width: 100%;
}

/* Level Grid */

.dp-Card.dp-Level .dp-LevelCol {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.dp-Card.dp-Level .dp-LevelCol:first-child {
  flex: 0 0 auto;

  /* flex: 0 1 auto; */

}

.dp-Card.dp-Level .dp-LevelCol:nth-child(2) {
  flex: 0 1 100%;
  white-space: nowrap;
}

.dp-Card.dp-Level .dp-LevelCol:last-child {
  flex: 1 0 auto;
}

.dp-Listpane-guides .dp-Card {
  border-left: 1px solid var(--grey-light);
}

.dp-Card.is-hover,
.dp-CardList.is-hoverable .dp-Card:hover {
  background-color: rgba(58, 141, 222, 0.07);
}

.dp-Card.is-selected.is-active {
  background-color: var(--info-light);
}

.dp-Card.is-selected {
  background-color: var(--grey-lighter);
}

.dp-Card.is-keyboard {
  border-bottom: 1px solid var(--brand-primary);
  border-top: 1px solid var(--brand-primary);
}

.dp-Card.is-dragging {
  background-color: var(--info-light);
  border: 1px solid var(--brand-primary);
  box-shadow: var(--shadow-bottom-right);
}

.dp-CardList .dp-Card {
  border-right: 1px solid transparent;
}

/* .dp-Card.dp-Tasks-list.is-hover,
.dp-CardList .dp-Card:hover { */

.dp-CardList.CardList-comments .dp-Card.is-hover,
.dp-CardList.CardList-comments .dp-Card:hover {
  background-color: var(--info-light);
  border-right: 1px solid var(--grey-light);
}

.dp-Card .dp-LevelItem {
  color: var(--grey-dark);
  font: var(--p-xl);
}

.dp-LevelItem .dp-LevelLeft,
.dp-LevelItem .dp-LevelRifgth {
  color: inherit;
  font: inherit;
}

.dp-Card .dp-LevelItem + .dp-LevelItem {
  margin-top: 10px;
  padding-left: 23px;
}

.dp-Card.Card--nocheck .dp-LevelItem + .dp-LevelItem {
  padding: 0;
}

.dp-Card .dp-LevelItem + .dp-Card-actionsRow {
  margin-top: 10px;
}

.CardList-comments .dp-Card .dp-LevelItem .dp-Task-title .dp-Icon,
.CardList-comments .dp-Card .dp-LevelItem .dp-Diagnose .dp-Icon,
.CardList-comments .dp-Card .dp-LevelItem .dp-Card-actionsRow li > .dp-Icon {
  width: 18px;
}

/* .dp-LevelItem .dp-Item-txt {
  color: var(--grey-darkest);
  font: var(--p-xl);
} */

.dp-Listpane-guides .Level--down {
  border-bottom: 0;
  display: none;
  margin: 0;
  padding: 0 0 0 30px;
  position: relative;
  width: 100%;
}

.Level--down .Level--down {
  border-left: 1px solid var(--grey-light);
  border-right: 0;
}

.dp-Listpane-guides .dp-Card.is-active + .Level--down {
  display: block;
}

.dp-Card.dp-Level.is-active > .dp-LevelCol .Icon--down-caret {
  transform: rotate(-180deg);
}

.dp-Listpane-guides .Level--down::after {
  background-color: var(--grey-lightest);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 30px;
}

.dp-Listpane-guides .Level--down .dp-sub_field {
  left: -20px;
  position: absolute;
  top: 5px;
  z-index: 1;
}

.dp-Card .dp-drag {
  height: 10px;
  margin-right: 5px;
  width: 12px;
}

.dp-Listpane-guides .dp-Card .dp-drag {
  height: 14px;
}

.Level--down .dp-Card.dp-Level .dp-sub_field::after {
  background-color: var(--grey);
  content: "";
  height: 69px;
  left: 0;
  position: absolute;
  top: -57px;
  width: 1px;
}

.Level--down .dp-Card.dp-Level:first-child .dp-sub_field::after {
  display: none;
}

.dp-Listpane-guides .dp-Card .dp-iconUserAvatar + .dp-iconUserAvatar {
  background-color: var(--white);
  border-radius: 50%;
  margin-left: -7px;
  padding: 10px;
}

.dp-Listpane-guides .dp-Card.is-hover .dp-iconUserAvatar + .dp-iconUserAvatar,
.dp-Listpane-guides .dp-Card:hover .dp-iconUserAvatar + .dp-iconUserAvatar {
  background-color: var(--info-light);
}

.dp-Card.Level-column .dp-UserInfo {
  padding-left: 25px;
}

.dp-Card .dp-Diagnose {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dp-Card .dp-UserName, .dp-Card .dp-date {
  color: var(--grey-darkest);
  font: var(--p-xl);
}

.dp-Icon + .dp-Date-link,
.dp-Card .dp-Icon + .dp-Comments-title,
.dp-Tasks-list .dp-Icon + .dp-UserName {
  margin-left: 5px;
}

.dp-Card-link > .dp-Icon {
  margin-right: 5px;
}

.dp-Card .dp-UserName,
.dp-Card .dp-UserEmail {
  color: var(--grey-dark);
  font: var(--p-xl);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dp-Card .dp-UserEmail {
  margin-left: 5px;
  text-decoration: none;
}

.dp-Card .dp-TimeStatus {
  color: var(--grey-dark);
  font: var(--p-n);
}

.dp-TimeStatus .dp-Tag {
  display: inline-block;
  min-width: 63px;
  text-align: center;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
}

.dp-Card .dp-Meta {
  color: var(--grey-dark);
  display: flex;
  font: var(--p-s);
}

.dp-Card .dp-Meta-value {
  color: var(--grey-darkest);
  margin-left: 2px;
}

.dp-Meta.is-active {
  color: var(--brand-primary);
}

.dp-Meta::after {
  border-right: 1px solid var(--grey-dark);
  content: "";
  height: 10px;
  margin: 0 10px;
  width: 1px;
}

.dp-Meta:last-child::after {
  display: none;
}

/* .dp-Card .dp-JustifyStart {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  padding-left: 23px;
} */

.dp-Tag .dp-close {
  height: 12px;
  position: absolute;
  right: 0;
  top: calc(50% - 6px);
  width: 12px;
}

.dp-Card-title.dp-StarAlign {
  margin-right: 50px;
}

.dp-Card .dp-CustomCheckbox {
  display: flex;
  overflow: hidden;

  /* padding-top: 2px; */

}

.dp-Card.dp-Card-SectionTitle .dp-CustomCheckbox {
  padding: 0;
}

.dp-CardList .dp-Card-comment .dp-UserInfo .dp-UserName {
  align-items: center;
  border: 0;
  color: var(--grey-darkest);
  display: flex;
  padding: 0;
}

.dp-Card-title .dp-Icon + .dp-title {
  margin-left: 5px;
}

.dp-Card .dp-LevelCol.dp-LevelRight {
  align-items: flex-end;
}

.Icon--circle {
  align-items: center;
  background-color: var(--white);
  background-position: 50%;
  background-repeat: no-repeat;
  border: 1px solid var(--grey-light);
  border-radius: 50%;
  color: var(--white);
  cursor: pointer;
  display: flex;
  font: var(--p-n);
  height: 18px;
  justify-content: center;
  width: 18px;
}

.dp-Cog.is-active .dp-Icon svg,
.dp-Cog:hover .dp-Icon svg {
  fill: var(--brand-primary);
}

/* Card Row */

/* .Card--row .dp-Card { */

.dp-Card {
  flex-direction: column;
}

/* .dp-CardList.Card--row .dp-UserInfo { */

/* .dp-Card .dp-UserInfo {
  padding-left: 23px;
} */

/* Star */

.dp-Card .dp-Title .Icon--star {
  margin-left: 15px;
}

.dp-Card .dp-Title .Icon--star,
.dp-SubjectItem .Icon--star {
  background-size: 12px 12px;
  max-height: 12px;
  max-width: 12px;
}

/* Card Guides */

/* .dp-CardList.dp-GuidesDirectory .dp-Card,
.dp-CardList.dp-GuideSections .dp-Card {
  align-items: center;
  justify-content: space-between;
}
*/

.dp-CardList.dp-GuidesDirectory > .dp-Card {
  flex-direction: row;
}

.dp-GuidesDirectory .dp-Card .dp-TitleGroupe {
  align-items: center;
  display: flex;
}

.dp-IconGroup .dp-IconJump {
  background-size: 7px 9px;
  height: 15px;
  width: 7px;
}

.dp-CardList.dp-GuidesDirectory .dp-IconGroup,
/*.dp-Card .dp-TitleGroupe .dp-Card-title,*/
.dp-CardList.dp-GuideSections .dp-IconGroup {
  margin: 0;
}

.dp-GuidesDirectory .dp-TitleGroupe .dp-Icon {
  background-color: var(--info-light);
  border-radius: 50%;
  height: 30px;
  margin-right: 6px;
  width: 30px;
}

.dp-GuidesDirectory .dp-Card:hover .dp-TitleGroupe .dp-Icon {
  background-color: var(--white);
}

.is-rolling {
  background-color: var(--info-light);
}

.dp-GuidesDirectory .dp-IconGroup {
  display: none;
}

.dp-GuidesDirectory .dp-Card:hover .dp-IconGroup {
  align-items: center;
  display: flex;
}

.dp-GuidesDirectory .is-rolling .dp-TitleGroupe .dp-Icon {
  background-color: var(--white);
}

.dp-GuidesDirectory .dp-Card .dp-settings,
.dp-GuideSections .dp-Card .dp-settings {
  background-color: transparent;
  border: 0;
  height: 13px;
  margin: 0;
  width: 13px;
}

.dp-GuidesDirectory .Icon--home {
  background-position: 0 50%;
  height: 12px;
  width: 12px;
}

.dp-GuidesDirectory .Icon--home svg {
  fill: var(--brand-primary);
}

.dp-CardList.dp-GuidesDirectory .dp-Card,
.dp-CardList.dp-GuideSections .dp-Card {
  border-top: 1px solid transparent;
}

/* .dp-CardList.dp-GuidesDirectory .dp-Card:hover,
.dp-CardList.dp-GuideSections .dp-Card:hover {
  background-color: var(--info-light);
}

.dp-CardList.dp-GuidesDirectory .dp-Card:hover {
  border-right: 0;
} */

.dp-CardList.dp-GuidesDirectory .is-rolling.dp-Card:hover {
  background-color: var(--info-light);
}

.dp-Breadcrumbs {
  align-items: center;
  background-color: var(--white);
  border-bottom: 1px solid var(--grey-light);
  border-top: 1px solid var(--brand-primary);
  display: flex;
  justify-content: flex-start;
  justify-content: flex-start;
  padding: 3px 10px;
  position: relative;
  width: 100%;
}

.dp-Card .dp-Icon {
  cursor: pointer;
}

.dp-Breadcrumbs .dp-Breadcrumbs--Arrow {
  display: block;
  height: 8px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  width: 5px;
}

.dp-Breadcrumbs .dp-Breadcrumbs--Item {
  color: var(--grey-dark);
  cursor: pointer;
  font-size: 10px;
  font-weight: 600;
  line-height: 16px;
}

.dp-Breadcrumbs .dp-Breadcrumbs--Item.is-current {
  color: var(--brand-primary);
}

.dp-Breadcrumbs .dp-Breadcrumbs--Arrow::before {
  background-color: var(--grey);
  content: "";
  display: block;
  height: 5px;
  position: absolute;
  right: 2px;
  top: 0;
  transform: rotate(-45deg);
  width: 1px;
}

.dp-Breadcrumbs .dp-Breadcrumbs--Arrow::after {
  background-color: var(--grey);
  bottom: 0;
  content: "";
  display: block;
  height: 5px;
  position: absolute;
  right: 2px;
  transform: rotate(45deg);
  width: 1px;
}

/* Guide sections */

.dp-GuideSections .dp-Card.is-dragging {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  box-shadow: none;
}

.dp-GuideSections .dp-Card.is-dragging .dp-Card-title {
  color: var(--brand-primary);
}

.dp-GuideSections .dp-Card .dp-IconGroup {
  display: none;
}

.dp-GuideSections .dp-Card:hover .dp-IconGroup {
  align-items: center;
  display: flex;
}

.dp-GuideSections .dp-Card .dp-IconGroup:hover svg {
  fill: var(--brand-primary);
}

.dp-Listpane-guides .dp-Cog:hover > .dp-Menu {
  display: block;
}

.dp-Card .dp-Cog > .dp-Menu {
  display: none;
  padding: 10px 0;
}

.dp-Listpane-guides .dp-Menu .dp-Menu-title {
  background-color: transparent;
  color: var(--grey-darkest);
  padding-bottom: 0;
}

.dp-Listpane-guides .dp-Menu .dp-ButtonWrapper {
  padding: 8px 10px 0;
}

.dp-Listpane-guides .dp-Card {
  border: 1px solid var(--grey-light);
  margin-top: -1px;
}

.dp-Listpane-guides .dp-IconJump {
  display: none;
  height: 10px;
  left: -10px;
  position: absolute;
  top: 5px;
  width: 10px;
  z-index: 9;
}

.dp-Listpane-guides .dp-Card:hover .dp-IconJump {
  display: block;
}

.dp-Icon.Icon--on-hold svg {
  border-radius: 50%;
}

/* dp-Kanban */

.dp-Kanban-column .dp-Card-SectionTitle {
  border: 1px solid var(--grey);
}

.dp-Kanban-column .dp-Kanban-columnContent {
  border: 1px solid var(--grey);
  border-top: 0;
}
