.dp-FilterResultMenu li {
  color: #4e4d4d;
  cursor: pointer;
  display: block;
  font-size: 12px;
  padding: 3.5px 10px;
  position: relative;
}

.dp-FilterResultMenu li.dp-DropdownDivider {
  padding: 0;
}

.dp-FilterResultMenu li > a.dp-listItem {
  color: #4e4d4d;
  cursor: pointer;
  display: block;
  text-decoration: none;
}

.dp-FilterResultMenu li > a {
  color: #318cdd;
  display: inline-block;
  font-size: 12px;
  padding: 0;
  text-decoration: underline;
}

.dp-FilterResultMenu li .dp-Arrow {
  display: inline-block;
  padding-left: 60px;
}

.dp-FilterResultMenu li .dp-Arrow::after {
  border-color: transparent transparent transparent #899;
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  bottom: 0;
  content: "";
  height: 0;
  margin: auto;
  position: absolute;
  right: 6px;
  top: 0;
  width: 0;
}

.dp-FilterResultMenu li:hover {
  background-color: #e9f7ff;
  color: #4696dc;
}

.dp-FilterResultMenu li:hover .dp-Arrow::after {
  border-color: transparent transparent transparent #4696dc;
}

.dp-FilterResultMenu li:hover > a.dp-listItem {
  color: #4696dc;
}

.dp-FilterResultMenu li:hover .dp-SubContextMenu {
  display: block;
  left: 100%;
  min-width: 180px;
  top: 0;
}

.dp-FilterResultMenu .dp-SearchForm {
  position: relative;
}

.dp-FilterResultMenu .dp-SearchInput {
  border: 2px solid #abb3ba;
  border-radius: 5px;
  outline: none;
  padding: 5px 0 5px 25px;
}

.dp-FilterResultMenu .dp-SearchInput:focus {
  border: 2px solid #318cdd;
}

.dp-FilterResultMenu .dp-IconSearch {
  background-size: 16px 15px;
  cursor: pointer;
  height: 100%;
  left: 5px;
  padding-top: 30px;
  position: absolute;
  top: 0;
  width: 16px;
}

.dp-FilterResultMenu .dp-Badge {
  margin-left: 0;
  margin-right: 5px;
}

.is-active.dp-FilterResultMenu .dp-Badge.Badge--empty {
  background-color: #eff0f0;
}

.dp-FilterResultMenu .dp-SubContextMenu .dp-listItem::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23318cdd' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  content: "";
  display: block;
  height: 25px;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
}

.dp-FilterResultMenu .dp-SubContextMenu li:hover .dp-listItem::after {
  opacity: 1;
}
