.dp-FilterControlsList {
  background-color: #f7f7f7;
  border: 1px solid #e2e1e1;
  color: inherit;
  display: flex;

  /* flex-wrap: wrap; */
}

.dp-FilterControlsItem {
  align-items: center;
  border-right: 1px solid #e2e1e1;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  max-width: 175px;
  padding: 10px 5px;
}

.dp-FilterControlsItem:last-child {
  border-right: 0;
}

.dp-FilterControlsItem .dp-ItemRow {
  display: block;
  width: 100%;
}

.dp-FilterControlsItem .dp-Select {
  background: transparent;
  border: 0;
  outline: 0;
}

.dp-FilterControlsItem .dp-Title {
  color: #8b9293;
  font-size: 10px;
  padding: 0 0 0 4px;
  text-transform: uppercase;
}

.dp-FilterControlsItem .dp-Select {
  color: #707576;
  font-size: 12px;
}

.dp-FilterControlsItem .dp-iconEye {
  background-size: 19px 19px;
  display: inline-block;
  height: 13px;
  width: 19px;
}

.dp-FilterControlsItem .dp-iconSetting {
  background-size: 13px 13px;
  display: inline-block;
  height: 13px;
  width: 13px;
}
