.dp-FilterResultList {
  border: 1px solid #e2e1e1;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.dp-FilterResultList .dp-FilterResultTitle {
  color: #4c4f50;
  font-size: 13px;
  font-weight: 400;
  padding: 7px 13px;
  text-transform: uppercase;
  width: 100%;
}

.dp-FilterResultItem {
  border-top: 1px solid #e2e1e1;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px;
  position: relative;
  width: 100%;
}

.dp-FilterResultItem.is-active {
  background-color: #e1eefb;
  border-bottom: 1px solid #318cdd;
  border-top: 1px solid #318cdd;
}

.dp-FilterResultItem .dp-ItemRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  width: 100%;
}

.dp-FilterResultItem .dp-ItemRow:last-child {
  margin-bottom: 0;
}

.dp-FilterResultItem input[type="checkbox"] {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.dp-FilterResultItem input[type="checkbox"] + label {
  color: #4c4f50;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1.3;
  max-width: 252px;
  overflow: hidden;
  padding-left: 25px;
  position: relative;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
}

.dp-FilterResultItem input[type="checkbox"] + label::before {
  background-color: #fff;
  border: 1px solid #318cdd;
  content: "";
  display: block;
  height: 13px;
  left: 0;
  position: absolute;
  top: 0;
  width: 13px;
}

.dp-FilterResultItem input[type="checkbox"] + label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23318cdd' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  content: "";
  display: block;
  height: 1rem;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 1rem;
}

.dp-FilterResultItem input[type="checkbox"]:checked + label::after {
  opacity: 1;
}

.dp-FilterResultItem .dp-IconGroup {
  display: flex;
}

.dp-FilterResultItem .dp-Circle {
  align-items: center;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-size: 10px;
  height: 17px;
  justify-content: center;
  margin-left: 7px;
  width: 17px;
}

.dp-FilterResultItem .dp-colorWhite {
  color: #fff;
}

/* 10 */

.dp-FilterResultItem .dp-red {
  background-color: #e84954;
}

/* 9 */

.dp-FilterResultItem .dp-redLight {
  background-color: #ec6c4e;
}

/* 7 */

.dp-FilterResultItem .dp-orangeLight {
  background-color: #f18b44;
}

/* 6 */

.dp-FilterResultItem .dp-yellow {
  background-color: #f8af3c;
}

/* pink */

.dp-FilterResultItem .dp-pink {
  background-color: #dc437c;
}

.dp-FilterResultItem .dp-UserInfo {
  overflow: hidden;
  padding-left: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 100px);
}

.dp-FilterResultItem .dp-iconUserAvatar {
  background-size: 17px 17px;
  height: 17px;
  vertical-align: middle;
  width: 17px;
}

.dp-FilterResultItem .dp-iconStar,.dp-FilterResultItem .dp-iconStarGreen {
  background-size: 20px 15px;
  display: inline-block;
  height: 15px;
  vertical-align: top;
  width: 18px;
}

.dp-FilterResultItem .dp-iconRocket {
  background-color: #fff;
  background-size: 12px 12px;
  border: 1px solid #dbddde;
  border-radius: 50%;
  display: inline-block;
  height: 17px;
  width: 17px;
}

.dp-FilterResultItem .dp-empty {
  background-color: #eff0f0;
}

.dp-FilterResultItem.is-active .dp-empty {
  background-color: #fff;
}

.dp-FilterResultItem .dp-iconBug {
  background-color: #fff;
  background-size: 12px 12px;
  border: 1px solid #dbddde;
}

.dp-FilterResultItem .dp-iconClock,.dp-FilterResultItem .dp-iconRedMin {
  background-size: 17px 17px;
  display: inline-block;
  height: 17px;
  width: 17px;
}

.dp-FilterResultItem .dp-iconLock {
  background-size: 17px 17px;
  border-radius: 0;
}

.dp-FilterResultItem .dp-iconMln {
  background-size: 12px 12px;
  border: 1px solid #dbddde;
}

.dp-FilterResultItem .dp-UserName {
  color: #4c4f50;
  font-size: 13px;
}

.dp-FilterResultItem .dp-UserEmail {
  color: #8b9293;
}

.dp-FilterResultItem .dp-UserEmail .dp-UserEmailItem {
  display: inline-block;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

.dp-FilterResultItem .dp-TimeStatus {
  color: #8b9293;
  font-size: 11px;
}

.dp-FilterResultItem .dp-StatusBtn {
  border-radius: 3px;
  display: inline-block;
  min-width: 63px;
  padding: 2px 0;
  text-align: center;
}

.dp-FilterResultItem .dp-UserVal {
  color: #8b9293;
}

.dp-FilterResultItem .dp-ItemValue {
  color: #4e4d4d;
}

.dp-FilterResultItem .dp-UserVal::after {
  border-right: 1px solid #8b9293;
  content: "";
  height: 13px;
  margin: 0 10px;
  width: 1px;
}

.dp-FilterResultItem .dp-UserVal:last-child::after {
  display: none;
}

.dp-FilterResultItem .dp-JustifyStart {
  justify-content: flex-start;
  padding-left: 25px;
}

.dp-FilterResultItem .dp-SupportBtn {
  background-color: #e1e0e0;
  border: 1px solid #d3d6d7;
  border-radius: 3px;
  color: #4e4d4d;
  font-size: 11px;
  margin-right: 5px;
  padding: 2px 4px;
}

.dp-FilterResultItem .dp-SupportBtn.is-active {
  background-color: #d0c2e0;
  border: 1px solid #9687bf;
}
