@import "../fonts.css";
@import "../vars.css";
@import "../dp-Arrow.css";

.dp-FilterlistContainer {
  background-color: var(--grey-lightest);
  display: block;
  max-width: 242px;
  position: relative;

  /* height: 100vh; */
}

.dp-FilterlistContainer .dp-Filters,
.dp-FilterlistContainer .dp-Filters-panel {
  background-color: var(--white);
}

/* .dp-FilterlistContainer .dp-Filters {
  border-bottom: 1px solid var(--brand-primary);
} */

.dp-Filters .dp-Icon.dp-lock {
  background-size: 12px 15px;
  margin: 0;
}

.dp-Filters {
  display: block;
  font: var(--h-l-semibold);
  position: relative;
}

.dp-Filters .dp-Title {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: var(--height-menu);
  justify-content: space-between;
  padding: 10px;
}

.dp-Filters .dp-Title.is-active {
  background-color: transparent;
}

.dp-Filters-bar {

  /* padding: 15px 15px 15px 10px; */
  padding: 15px 10px;
}

/* .dp-Filters-bar .dp-Filters-header {
  align-items: center;
  display: flex;
  width: 100%;
} */

/* .dp-Filters .dp-Filters-header { */

.dp-Filters-header {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.dp-Filters.is-active .dp-Filters-header .dp-Filters-title + .dp-Icon {
  transform: rotate(-180deg);
}

.dp-BorderBlue {
  border: 2px solid var(--brand-primary);
}

.dp-Filters .dp-FiltersThumb .dp-Icon {
  border-left: 1px solid #a9b0b0;
  display: inline-block;
  margin: 0;
  padding: 12px 21px 12px 21px;
}

.dp-Filters .dp-FiltersThumb .dp-Icon:first-child {
  border-left: 0;
}

.dp-Filters-panel {
  background-color: var(--white);
  display: none;
  left: 0;
  max-width: 243px;
  width: 100%;
  z-index: 9;
}

.dp-Filters-panel.is-active {
  display: block;
}

.dp-Filters.is-active .dp-Filters-bar {
  border-bottom: 1px solid var(--brand-primary);
}

.dp-Filters-panel,
.dp-SubMenu {
  list-style: none;
  padding: 0;
}

/* Laebel Groupe */

.dp-LabelGroup {
  display: flex;
  margin-bottom: 5px;
}

.dp-SubMenu .dp-LabelGroup:first-child {
  margin-top: 5px;
}

.dp-SubMenu .dp-LabelFiltersName {
  color: var(--grey-dark);
  font: var(--h-s-semibold);
  max-width: 20px;
  padding: 3px 0 0;
  width: 100%;
}

.dp-SubMenu .dp-LabelGroup .dp-Tag {
  background-color: var(--grey-lightest);
  border-radius: 2px;
  margin: 0 5px 5px 0;
}

.dp-Filters-panel .dp-Filters-panelItem {
  align-items: flex-start;
  border-bottom: 1px solid var(--grey-light);
  color: var(--grey-darkest);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font: var(--p-n);
  justify-content: space-between;
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase;
}

.dp-MainWrapper.item-selected .dp-Filters-panelItem {
  border: 0;
}

.dp-label.is-active .dp-Titlelabels + .dp-Arrow::after,
.dp-Filters-panelItem.is-active .dp-TitleMenu > .dp-Arrow::after {
  border-color: transparent transparent var(--grey-darkest) transparent;
  border-width: 0 4px 4px 4px;
}

.dp-Filters-panelItem .dp-Titlelabels + .dp-Arrow::after,
.dp-Filters-panelItem .dp-TitleMenu > .dp-Arrow::after {
  border-color: var(--grey-dark) transparent transparent transparent;
  border-width: 4px 4px 0 4px;
  right: 0;
}

.dp-SubMenu {
  color: var(--grey-darkest);
  font: var(--p-l);
  text-transform: none;
  width: 100%;
}

.dp-SubMenu {
  display: none;
}

.dp-MenuBarItem.is-active .dp-SubMenu,
.dp-MenuBarItem .dp-label.is-active + .dp-SubMenu {
  display: block;
}

.dp-MenuBarItem .dp-label {
  margin: 0;
  padding: 6px 0;
  width: 100%;
}

.dp-MenuBarItem.is-active .dp-label.is-active {
  padding-bottom: 10px;
}

.dp-SubMenuItem {
  align-items: center;
  border-radius: 5px;
  color: var(--grey-dark);
  cursor: pointer;
  display: flex;
  font: var(--p-l);
  justify-content: space-between;
  margin-left: -5px;
  margin-right: -5px;
  padding: 5px;
}

.dp-Titlelabels > .dp-Icon {
  margin-right: 5px;
}

.dp-SubMenu .dp-SubMenuItem.is-active,
.dp-Filters-panelItem .dp-TitleMenu.is-active {
  background-color: var(--brand-primary);
  color: var(--white);
}

.dp-SubMenu .dp-SubMenuItem.is-active .dp-Icon svg {
  fill: var(--white);
  opacity: 0.4;
}

.dp-SubMenu .dp-SubMenuItem .dp-Icon {
  margin-left: 10px;
}

.dp-Filters .dp-SubNum {
  color: var(--grey-darkest);
  font: var(--p-xl);
}

.dp-Filters-panel .dp-TitleMenu {
  border-radius: 5px;
  display: flex;
  font: var(--h-n-semibold);
  justify-content: space-between;
  margin-left: -5px;
  margin-right: -5px;
  padding: 5px;
  width: calc(100% + 10px);
}

.dp-Filters .dp-dropdownContainer {
  height: 100%;
}

.dp-dropdownContainer .dp-Filters-panel {
  display: none;
}

.dp-dropdownContainer .dp-Filters-panel.is-active {
  display: block;
}

.dp-MainWrapper.dp-TicketFilters .dp-Filters {
  max-width: 243px;
  width: 100%;
}

.dp-Filters-panelItem.dp-SavedSearches .dp-SubMenu li:first-child {
  margin-top: 5px;
}

.dp-Filters-panelItem.dp-SavedSearches .dp-SubMenu li {
  margin: 0 0 10px;
}

/* .dp-Filters-panelItem.dp-SavedSearches .dp-SubMenu li:last-child {
  margin: 0;
} */

/* add class --.Tickets--Lock in --.dp-Filters */

.dp-Filters-header .dp-Filters-title {
  margin-right: 10px;
  position: inherit;
}

.dp-FilterlistContainer .dp-Filters .dp-Filters-header > .dp-Icon {
  display: none;
}

.dp-FilterlistContainer
.dp-Filters.Tickets--Lock
.dp-Filters-header > .dp-Icon {
  display: block;
}

.dp-FilterlistContainer .dp-Filters.Tickets--Lock .dp-qt {
  left: calc(100% + 5px);
  position: absolute;
}
