.dp-FilterResultList {
  border: 1px solid #e2e1e1;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.dp-FilterResultList .dp-FilterResultTitle {
  color: #4c4f50;
  font-size: 13px;
  font-weight: 400;
  padding: 7px 13px;
  text-transform: uppercase;
  width: 100%;
}

.dp-FilterResultItem {
  border-top: 1px solid #e2e1e1;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px;
  position: relative;
  width: 100%;
}

.dp-FilterResultItem.is-active {
  background-color: #e1eefb;
  border-bottom: 1px solid #318cdd;
  border-top: 1px solid #318cdd;
}

.dp-FilterResultItem .dp-ItemRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  width: 100%;
}

.dp-FilterResultItem .dp-ItemRow:last-child {
  margin-bottom: 0;
}

.dp-FilterResultItem .dp-IconGroup {
  display: flex;
}

.dp-FilterResultItem .dp-Circle {
  align-items: center;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-size: 10px;
  height: 18px;
  justify-content: center;
  margin-left: 7px;
  width: 18px;
}

.dp-FilterResultItem .dp-colorWhite {
  color: #fff;
}

.dp-FilterResultItem .dp-UserInfo {
  overflow: hidden;
  padding-left: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 70px);

}

.dp-FilterResultItem .dp-iconUserAvatar {
  background-size: 18px 18px;
  height: 18px;
  vertical-align: middle;
  width: 18px;
}

.dp-FilterResultItem .dp-iconStar,.dp-FilterResultItem .dp-iconStarGreen {
  background-size: 20px 15px;
  display: inline-block;
  height: 15px;
  vertical-align: top;
  width: 18px;
}

.dp-FilterResultItem .dp-iconRocket {
  background-color: #fff;
  background-size: 12px 12px;
  border: 1px solid #dbddde;
}

.dp-FilterResultItem.is-active input[type="checkbox"] + label::before {
  border: 1px solid #318cdd;
}

.dp-FilterResultItem .dp-iconBug {
  background-color: #fff;
  background-size: 12px 12px;
  border: 1px solid #dbddde;
}

.dp-FilterResultItem .dp-iconClock {
  background-size: 18px 18px;
  display: inline-block;
}

.dp-FilterResultItem .dp-iconLock {
  background-size: 15px 15px;
  border-radius: 0;
}

.dp-FilterResultItem .dp-iconMln {
  background-size: 12px 12px;
  border: 1px solid #dbddde;
}

.dp-FilterResultItem .dp-UserName {
	color: #4c4f50;
	font-size: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dp-FilterResultItem .dp-UserEmail {
  color: #8b9293;
}

.dp-FilterResultItem .dp-UserEmail .dp-UserEmailItem {
  display: inline-block;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

.dp-FilterResultItem .dp-TimeStatus {
  color: #8b9293;
  font-size: 11px;
}

/* .dp-FilterResultItem .dp-TimeStatus .dp-Tag { */

.dp-TimeStatus .dp-Tag {
  display: inline-block;
  min-width: 63px;
  text-align: center;
}

.dp-FilterResultItem .dp-UserVal {
  color: #8b9293;
}

.dp-FilterResultItem .dp-ItemValue {
  color: #4e4d4d;
}

.dp-FilterResultItem .dp-UserVal::after {
  border-right: 1px solid #8b9293;
  content: "";
  height: 13px;
  margin: 0 10px;
  width: 1px;
}

.dp-FilterResultItem .dp-UserVal:last-child::after {
  display: none;
}

.dp-FilterResultItem .dp-JustifyStart {
  justify-content: flex-start;
  padding-left: 25px;
}
