@import "../fonts.css";
@import "../vars.css";
@import "../dp-Arrow.css";

.dp-Filters {
  display: block;
  position: relative;
}

.dp-Filters-panel {
  background-color: var(--white);
  border-right: 1px solid var(--grey-light);
  left: 0;
  max-width: 241px;
  width: 100%;
  z-index: 9;
}

.dp-Filters-panel, .dp-SubMenu {
  list-style: none;
  padding: 0;
}

.dp-Filters-header.is-opened.is-locked {
  border-right: 1px solid var(--grey-light);
}

.dp-Filters-header.is-opened:not(.is-locked) {
  border-right: 0;
  box-shadow: var(--shadow-right);
}

.dp-Filters .dp-Filters-panel {
  border-right: 0;
  border-top: 1px solid var(--brand-primary);
  box-shadow: var(--shadow-bottom-right);
}

.dp-Filters-header {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  max-width: 241px;
  padding: 0 10px;
  width: 100%;
}

.dp-Filters-bar .dp-Icon.dp-lock {
  background-size: 12px 15px;
  margin: 0;
}

.dp-Filters-bar {
  align-items: center;
  background-color: var(--white);
  border-bottom: 1px solid var(--brand-primary);
  color: var(--grey-darkest);
  display: flex;
  font: var(--h-s-semibold);
  height: var(--height-menu);
  margin: 0;
  padding-right: 10px;
  width: 100%;
}

.dp-Filters-bar .dp-Title {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: var(--height-menu);
  justify-content: space-between;
  padding: 10px;
}

.dp-Filters .dp-Title.is-active {
  background-color: transparent;
}

.dp-Filters-bar.dp-Tasks-list {
  padding: 15px 10px;
}

.dp-Filters.is-active .dp-Filters-header .dp-Filters-title + .dp-Icon {
  transform: rotate(-180deg);
}

.dp-BorderBlue {
  border: 2px solid var(--brand-primary);
}

.dp-ViewModes {
  display: flex;
  padding: 0;
}

.dp-ViewModes li:not(:last-child) {
  margin-right: 30px;
  position: relative;
}

.dp-ViewModes li:not(:last-child)::after {
  background-color: var(--grey-light);
  bottom: 0;
  content: "";
  height: 23px;
  position: absolute;
  right: -15px;
  top: -3px;
  width: 1px;
}

.dp-ViewModes .dp-Icon {
  cursor: pointer;
  display: block;
  max-height: 18px;
}

.dp-ViewModes .dp-Icon:hover svg {
  fill: var(--brand-primary);
}

.dp-Filters .dp-FiltersThumb .dp-Icon {
  border-left: 1px solid #a9b0b0;
  display: inline-block;
  margin: 0;
  padding: 12px 21px 12px 21px;
}

.dp-Filters .dp-FiltersThumb .dp-Icon:first-child {
  border-left: 0;
}

/* Laebel Groupe */

.dp-LabelGroup {
  display: flex;
  margin-bottom: 5px;
}

.dp-SubMenu .dp-LabelGroup:first-child {
  margin-top: 5px;
}

.dp-SubMenu .dp-LabelFiltersName {
  color: var(--grey-dark);
  font: var(--h-s-semibold);
  max-width: 20px;
  padding: 2px 0 0;
  width: 100%;
}

.dp-SubMenu .dp-LabelGroup .dp-Tag {
  background-color: var(--grey-lightest);
  border-radius: 2px;
  margin: 0 5px 5px 0;
}

.dp-Filters-panel .dp-TicketMenuItem {
  align-items: flex-start;
  border-bottom: 1px solid var(--grey-light);
  color: var(--grey-darkest);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font: var(--p-n);
  justify-content: space-between;
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase;
}

.dp-MainWrapper.item-selected .dp-TicketMenuItem {
  border: 0;
}

.dp-label.is-active .dp-Titlelabels + .dp-Arrow::after,
.dp-TicketMenuItem.is-active .dp-TitleMenu > .dp-Arrow::after {
  border-color: transparent transparent var(--grey-darkest) transparent;
  border-width: 0 4px 4px 4px;
}

.dp-TicketMenuItem .dp-Titlelabels + .dp-Arrow::after,
.dp-TicketMenuItem .dp-TitleMenu > .dp-Arrow::after {
  border-color: var(--grey-dark) transparent transparent transparent;
  border-width: 4px 4px 0 4px;
  right: 0;
}

.dp-SubMenu {
  color: var(--grey-darkest);
  font: var(--p-l);
  text-transform: none;
  width: 100%;
}

.dp-SubMenu {
  display: none;
}

.dp-MenuBarItem.is-active .dp-SubMenu,
.dp-MenuBarItem .dp-label.is-active + .dp-SubMenu {
  display: block;
}

.dp-MenuBarItem .dp-label {
  margin: 0;
  padding: 6px 0;
  width: 100%;
}

.dp-MenuBarItem.is-active .dp-label.is-active {
  padding-bottom: 10px;
}

.dp-SubMenuItem {
  align-items: center;
  border-radius: 5px;
  color: var(--grey-dark);
  cursor: pointer;
  display: flex;
  font: var(--p-l);
  justify-content: space-between;
  margin-left: -5px;
  margin-right: -5px;
  padding: 5px;
}

.dp-Titlelabels > .dp-Icon {
  margin-right: 5px;
}

.dp-Filters .dp-SubNum {
  color: var(--grey-darkest);
}

.dp-Filters .dp-TitleMenu .dp-SubNum {
  font: var(--p-xl);
}

.dp-Filters .dp-SubMenuItem.is-active .dp-SubNum,
.dp-Filters .dp-TitleMenu.is-active .dp-SubNum {
  color: var(--white);
}

.dp-SubMenu .dp-SubMenuItem.is-active,
.dp-TicketMenuItem .dp-TitleMenu.is-active {
  background-color: var(--brand-primary);
  color: var(--white);
}

.dp-SubMenu .dp-SubMenuItem.is-active .dp-Icon svg {
  fill: var(--white);
  opacity: 0.4;
}

.dp-SubMenu .dp-SubMenuItem .dp-Icon {
  margin-left: 10px;
}

.dp-Filters-panel .dp-TitleMenu {
  border-radius: 5px;
  display: flex;

  /* font: var(--h-n-semibold); */
  font: var(--h-s-semibold);
  justify-content: space-between;
  margin-left: -5px;
  margin-right: -5px;
  padding: 5px;
  width: calc(100% + 10px);
}

.dp-Filters .dp-dropdownContainer {
  height: 100%;
}

.dp-dropdownContainer .dp-Filters-panel {
  display: none;
}

.dp-dropdownContainer .dp-Filters-panel.is-active {
  display: block;
}

.dp-TicketMenuItem.dp-SavedSearches .dp-SubMenu li:first-child {
  margin-top: 5px;
}

.dp-TicketMenuItem.dp-SavedSearches .dp-SubMenu li {
  margin: 0 0 10px;
}

/* add class --.Filters--Lock in --.dp-Filters */

.dp-Filters-title {
  border-bottom: 0;
  color: var(--grey-darkest);
  cursor: pointer;
  font: var(--h-n-semibold);
  font: var(--h-l-bold);
  line-height: 1.4;
  margin-right: 10px;
  max-width: max-content;
  overflow: hidden;
  position: relative;
  position: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dp-Card-title .dp-qt,
.dp-Filters-title .dp-qt {
  font: var(--h-l-semibold);
  margin-left: 3px;
}

.dp-Tasks-list.dp-Filters-title .dp-qt {
  color: var(--grey-darkest);
  margin-left: 0;
}

.dp-Filters-bar > .dp-Filters-header .dp-Icon {
  cursor: pointer;
  margin-right: 10px;
}

.dp-Filters-bar > .dp-Filters-header .dp-Icon.Icon--caret-down {
  max-height: 15px;
}

.dp-Filters-header .dp-Icon.Icon--lock {
  display: none;
  margin: 0 0 0 auto;
  max-height: 17px;
}

.dp-Filters-header.is-opened:hover .dp-Icon.Icon--lock,
.dp-Filters-header.is-opened.is-locked .dp-Icon.Icon--lock {
  display: block;
}
