@import "../fonts.css";
@import "../vars.css";
@import "../dp-Arrow.css";

.dp-Group-container {
  border-bottom: 1px solid var(--grey-light);
  border-top: 1px solid var(--grey-light);
  display: block;
  padding: 10px 0 0;
  width: 100%;
}

.dp-Group-container:last-child {
  border-bottom: 0;
}

.dp-Group-items {
  display: flex;
  flex-wrap: wrap;
  max-width: 375px;
}

.dp-Group-items > .Badge--group-filter {
  margin: 0 10px 10px 0;
}

.dp-Group-items .Badge--group-filter {
  border-radius: 3px;
  line-height: 1;
  padding: 4px 5px;
}

.Badge--group-filter .dp-Num {
  color: var(--brand-primary);
  margin-left: 5px;
}

.dp-Group-container .Badge--group-filter .dp-Menu {
  min-width: 125px;
  padding: 8px 0;
  top: calc(100% + 8px);
}

.Badge--group-filter .dp-Menu li {
  display: flex;
  margin: 0 8px;
}

.Badge--group-filter .dp-Menu li + li {
  margin-top: 0.25rem;
}

.Badge--group-filter .dp-Menu .dp-Icon.Icon--enter {
  background-size: 12px 12px;
  height: 12px;
  width: 12px;
}

.Badge--group-filter .is-active.dp-Arrow::after {
  border-color: var(--brand-primary) transparent transparent transparent;
  border-width: 4px 4px 0 4px;
}

.Badge--group-filter .is-active.dp-Arrow .dp-Menu .dp-Arrow::after {
  border-color: var(--brand-primary) transparent transparent transparent;
  border-width: 4px 4px 0 4px;
}

.Badge--group-filter .dp-Menu .dp-SubList {
  list-style: none;
  padding: 0;
}

.dp-Group-list {
  flex-direction: column;
}

.dp-Group-item {
  display: flex;
}

.dp-Group-sublist {
  margin-top: 10px;
  padding-left: 12px;
}

.Badge--group-filter.is-active,
.Badge--group-filter:hover {
  border: 1px solid var(--brand-primary);
}

.dp-Group-items .Badge--group-filter.Badge--extended {
  padding: 0 0 0 5px;
}

.Badge--group-filter .dp-Num-extended {
  align-items: center;
  background-color: var(--white);
  border-bottom-right-radius: 3px;
  border-left: 1px solid var(--grey-light);
  border-top-right-radius: 3px;
  color: var(--grey);
  display: flex;
  font: var(--p-n-semibold);
  height: 100%;
  margin-left: 5px;
}
