@import "../fonts.css";
@import "../vars.css";
@import "../dp-Arrow.css";

.dp-Header {
  align-items: center;
  background-color: var(--white);
  border-bottom: 1px solid var(--grey);
  display: flex;
  height: 45px;
  padding: 0 5px 0 10px;
  position: relative;
}

.dp-Header .dp-MenuBarItem {
  margin: 0;
}

.dp-Header .dp-Badge {
  margin: 0;
}

.dp-SearchBox {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  max-width: 200px;
  position: relative;
  transition: 0.5s;
  width: 100%;
}

.dp-SearchBox form {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  position: relative;
  width: 100%;
}

.dp-SearchBox input {
  border: 0;
  color: var(--grey-darkest);
  font: var(--h-xl);
  height: 100%;
  margin-left: 5px;
  outline: none;
  width: 100%;
}

.dp-SearchBox input::placeholder {
  color: var(--grey-darkest);
  font: var(--h-xl);
}

::placeholder {
  color: var(--grey-dark);
  font: var(--p-n);
  font-style: var(--is-italic);
}

.dp-SearchBox input:focus + .dp-Icon svg,
.dp-SearchBox form:hover .dp-find svg,
.dp-Menu-search .dp-Form .dp-Input:focus + .dp-Icon svg,
.dp-Menu-search .dp-Form:hover .dp-Input + .dp-Icon svg {
  fill: var(--brand-primary);
}

.dp-Menu-search .dp-Form .dp-Input:focus {
  border: 1px solid var(--brand-primary);
}

.dp-SearchBox .dp-Icon {
  background-size: 18px 18px;
  height: 18px;
  vertical-align: middle;
  width: 22px;
}

.dp-SearchBox .dp-close-darkest {
  height: 12.05px;
  width: 12.05px;
}

.dp-IconPanelList .dp-MenuBarItem.dp-Close {
  margin-left: 5px;
}

.dp-IconPanelList .dp-MenuBarItem.dp-Close::after {
  background-color: var(--border-color);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 2px;
  width: 1px;
}

.dp-Agent-IM,
.dp-Agent-Status {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}

.dp-Recent > .dp-Icon,
.dp-Agent-IM .dp-MenuBarItem:last-child > .dp-Icon {
  background-size: 25px 25px;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.dp-Agent-IM::before {
  left: 0;
}

.dp-HeaderControls > *:not(:last-child) {
  max-height: 25px;
  padding-right: 15px;
  position: relative;
}

.dp-HeaderControls > *:not(:last-child)::after {
  background-color: var(--grey);
  content: "";
  display: block;
  height: 50px;
  position: absolute;
  right: 0;
  top: -13px;
  transform: rotate(30deg);
  width: 1px;
}

.dp-HeaderControls .dp-Badge {
  padding: 0;
}

.dp-HeaderControls .dp-Badge .Icon--Avatar {
  height: 100%;
  width: 100%;
}

.dp-HeaderControls .dp-Badge.Badge--round {
  height: 25px;
  margin: 0;
  width: 25px;
}

.dp-HeaderControls .dp-Badge.Badge--round.Badge--bottom {
  height: 10px;
  width: 10px;
}

.dp-SearchBox .dp-MenuBarItem {
  padding: 0 0 0 10px;
}

.header-search .dp-MenuBarItem:first-child::after {
  height: 20px;
  top: 10px;
  transform: rotate(0deg);
}

/* HeaderControl */

.dp-HeaderControls {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
}

.dp-HeaderControls.is-right {
  justify-content: flex-end;
}

.dp-HeaderControls .dp-Avatar, .dp-HeaderControls .dp-IconPlane {
  height: 20px;
  width: 20px;
}

.dp-HeaderControls .dp-MenuBarItem .dp-Icon {
  border-radius: 0;
}

.dp-MenuBarItem {
  margin-right: 10px;
  position: relative;
}

.dp-HeaderControls .dp-MenuBarItem {
  align-items: center;
  display: flex;
  padding: 0 0 0 15px;
  position: relative;
}

.dp-Account {
  align-items: center;
  display: flex;
  padding-left: 20px;
}

.dp-Header .dp-HeaderControls > .dp-Account {
  padding-right: 0;
}

.dp-Header .dp-HeaderControls > .dp-Account::after {
  display: none;
}

.dp-HeaderControls .dp-Icon, .dp-MenuBarItem .dp-Icon {
  cursor: pointer;
}

.dp-IconHeader {
  align-items: center;
  display: flex;
  list-style-type: none;
}

.dp-IconHeader li {
  display: flex;
  margin-right: 20px;
}

.dp-IconHeader .dp-Icon {
  margin-right: 10px;
  position: relative;
}

.dp-Menu.dp-YourAccount .dp-Menu-title {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  margin-bottom: 0;
  padding: 8px 10px;
}

.dp-Menu.dp-YourAccount {
  background: var(--white);
  min-width: 229px;
}

.dp-Menu.Menu--tick.dp-YourAccount > .dp-Menu-linkItem {
  border-bottom: 1px solid var(--grey-light);
  font: var(--p-xl);
  padding: 10px 12px;
}

.dp-Menu.dp-YourAccount .dp-Menu-linkItem:last-child {
  border-bottom: 0;
  color: var(--grey-darkest);
  font: var(--p-l);
}

.dp-Menu.dp-YourAccount .dp-Menu-linkItem .dp-Menu-link {
  align-items: flex-start;
  color: var(--grey);
  flex-direction: column;
}

.dp-Menu.dp-YourAccount .dp-Menu-linkItem .dp-Menu-link.dp-Add-btn,
.dp-Menu.dp-YourAccount .dp-Menu-linkItem:last-child .dp-Menu-link {
  color: var(--grey-darkest);
  font: var(--p-xl);
}

.dp-Menu.dp-YourAccount .dp-Menu-linkItem.is-active .dp-Menu-link,
.dp-Menu.dp-YourAccount .dp-Menu-linkItem:hover .dp-Menu-link {
  color: var(--grey-darkest);
}

.dp-Menu.Menu--tick .dp-Menu-linkItem.is-active > .dp-listItem::after,
.dp-Menu.Menu--tick .dp-Menu-linkItem.is-cheked > .dp-listItem::after, {
  opacity: 1;
}

.dp-Menu.Menu--tick.dp-YourAccount > .dp-Menu-linkItem > .dp-listItem::after {
  background-size: 14px 12px;
  left: auto;
  right: 5px;
  top: calc(50% - 12.5px);
}

.dp-Menu.dp-YourAccount .dp-BuyNow {
  font: var(--p-s);
  margin-top: 3px;
}

.dp-Menu.dp-YourAccount .dp-Menu-linkItem .dp-Icon {
  background-position: 0 50%;
  background-size: 25px 25px;
  height: 25px;
  margin-right: 10px;
  width: 25px;
}

.dp-Menu.dp-YourAccount .dp-Menu-linkItem .dp-Icon.dp-add_tab {
  background-size: 22px 22px;
}

.dp-Menu.dp-YourAccount .dp-Menu-linkItem:last-child .dp-Icon {
  background-size: 10.2px 12.4px;
  height: 12.4px;
  margin-right: 10px;
  width: 10.2px;
}

.demo-menu .dp-HeaderControls .dp-Menu {
  left: auto;
  right: 0;
}

/* */

.dp-MenuBarList {
  align-items: center;
  color: inherit;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  position: relative;
}

.dp-MenuBarItem .dp-iconClock2 {
  border: 1px solid var(--brand-primary);
}

.dp-MenuBarList .dp-MenuBarItem .dp-Icon {
  background-size: 23px 23px;
  cursor: pointer;
  display: inline-block;
  height: 23px;
  position: relative;
  vertical-align: middle;
  width: 23px;
}

.dp-MenuBarItem .dp-Title {
  color: var(--grey-darkest);
  cursor: pointer;
  font: var(--p-n);
}

.dp-MenuBarList .dp-MenuBarItem:hover .dp-Title,
.dp-MenuBarList .dp-MenuBarItem.is-active .dp-Title {
  color: var(--brand-primary);
}

.dp-MenuBarList .dp-MenuBarItem.is-active:hover .dp-Arrow::after {
  border-color: transparent transparent var(--brand-primary) transparent;
}

.dp-MenuBarList .dp-MenuBarItem:hover .dp-Arrow::after {
  border-color: var(--brand-primary) transparent transparent transparent;
}

.dp-Icon {

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.55;
  }
}

/* Animate */

.dp-HeaderControls {
  transition: 0.5s;
}

.dp-SearchBox.search-enter,
.dp-SearchBox.search-enter-done {
  max-width: 100%;
}

.dp-IconPanelList {
  align-items: center;
  display: flex;
  max-height: 18px;
  opacity: 0;
  position: absolute;
  right: 0;
  transition: 0.5s;
}

.dp-SearchBox.search-enter-done .dp-IconPanelList,
.dp-HeaderControls.fade-enter-done {
  opacity: 1;
}

.dp-SearchBox.search-exit-done .dp-IconPanelList,
.dp-HeaderControls.fade-enter {
  opacity: 0;
}

.dp-HeaderControls.fade-exit-done {
  opacity: 0;
  width: 0;
}
