@import "../fonts.css";
@import "../vars.css";

.dp-IconGroup {
  display: flex;
}

.dp-IconGroup > span + span {
  margin-left: 7px;
}

.dp-ListpaneTasks .dp-IconGroup .dp-small_caret {
  border-right: 1px solid var(--grey-light);
  height: 15px;
  margin-right: 10px;
  width: 30px;
}

.dp-ListpaneTasks .dp-IconGroup {
  align-items: center;
  position: relative;
}

.dp-ActivityStatus {
  align-items: center;
  background-color: var(--white);
  border: 1px solid var(--grey-light);
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  min-width: 40px;
  padding: 0 4px;
  position: relative;

  &.ActivityStatus--primary {
    border-color: #25a9e0;
  }
}

.ActivityStatus--viewing {
  background-color: var(--grey-lighter);
  max-height: 18px;
}

.dp-ActivityStatus .dp-Icon {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.dp-ActivityStatus .dp-Icon + .dp-Icon {
  margin-left: 3px;
}

.dp-ActivityStatus .dp-Icon.Icon--edit {
  height: 12px;
  width: 12px;
}

.dp-ActivityStatus .dp-Icon.Icon--edit svg {
  height: 10px;
  width: 10px;
}

.dp-ActivityStatus .dp-Badge.Badge--round {
  height: 11px;
  margin-left: 3px;
  width: 11px;
}

.dp-ActivityStatus .sb-avatar {
  align-items: center;
  display: flex;
  margin-left: 2px;
  margin-right: 2px;
}

.dp-ActivityStatus .sb-avatar img {
  display: flex;
}

.ActivityStatus--writing::before {
  animation: circle 10s infinite linear;
  animation: run 2s infinite ease-in;
  background-color: var(--white);
  border-radius: 50%;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: -2px;
  width: 4px;
}

.ActivityStatus--large.ActivityStatus--writing::before {
  animation: runn 2s infinite ease-in;
}

/* Animation */

@keyframes run {

  0% {
    transform: translate(4px, 0);
  }

  25% {
    transform: translate(32px, 0);
  }

  37% {
    transform: translate(37px, 9px);
  }

  50% {
    transform: translate(32px, 17px);
  }

  75% {
    transform: translate(4px, 17px);
  }

  87% {
    transform: translate(-2px, 9px);
  }

  100% {
    transform: translate(4px, 0);
  }
}

/* Animation - 2 */

@keyframes runn {

  0% {
    transform: translate(4px, 0);
  }

  25% {
    transform: translate(42px, 0);
  }

  37% {
    transform: translate(47px, 9px);
  }

  50% {
    transform: translate(42px, 17px);
  }

  75% {
    transform: translate(4px, 17px);
  }

  87% {
    transform: translate(-2px, 9px);
  }

  100% {
    transform: translate(4px, 0);
  }
}
