.dp-IconGroup {
  display: flex;
}

.dp-Card .dp-IconGroup {
  margin-bottom: 10px;
}

.dp-ListpaneTasks .dp-IconGroup .dp-small_caret {
  border-right: 1px solid var(--grey-light);
  height: 15px;
  margin-right: 10px;
  width: 30px;
}

.dp-ListpaneTasks .dp-IconGroup {
  align-items: center;
  position: relative;
}

.dp-ActivityStatus {
  align-items: center;
  background-color: var(--white);
  border: 1px solid var(--grey-light);
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  min-width: 40px;
  padding: 0 4px;
  position: relative;

  &.ActivityStatus--primary {
    border-color: #25a9e0;
  }
}

.ActivityStatus--viewing {
  background-color: var(--grey-lighter);
}

.dp-ActivityStatus .dp-Icon {
  cursor: pointer;
  height: 12px;
  width: 15px;
}

.dp-ActivityStatus .dp-Badge.Badge--round {
  height: 11px;
  margin-left: 3px;
  width: 11px;
}

.ActivityStatus--writing::before {
  background-color: var(--white);
  content: "";
  height: 2px;
  left: 13px;
  position: absolute;
  top: -2px;
  width: 4px;
}

.ActivityStatus--viewing .dp-Icon {
  background-image: url('data:image/svg+xml,<svg width="19" height="13" viewBox="0 0 19 13" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M9.40001 1.04999C4.00001 1.04999 1.10001 6.54999 1.10001 6.54999C1.10001 6.54999 3.20001 12.05 9.40001 12.05C15 12.05 17.7 6.54999 17.7 6.54999C17.7 6.54999 15 1.04999 9.40001 1.04999Z" stroke="%23979797" stroke-miterlimit="10"/><path d="M9.40001 4.34998C8.20001 4.34998 7.20001 5.34998 7.20001 6.64998C7.20001 7.84998 8.20001 8.84998 9.40001 8.84998C10.6 8.84998 11.6 7.84998 11.6 6.64998C11.7 5.34998 10.7 4.34998 9.40001 4.34998Z" fill="%23979797"/></g><defs><clipPath id="clip0"><rect width="17.7" height="12" fill="white" transform="translate(0.600006 0.549988)"/></clipPath></defs></svg>');
  background-size: 15px 11px;
}

.ActivityStatus--viewing .dp-Icon.Icon--primary {
  background-image: url('data:image/svg+xml,<svg width="19" height="13" viewBox="0 0 19 13" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M9.40001 1.04999C4.00001 1.04999 1.10001 6.54999 1.10001 6.54999C1.10001 6.54999 3.20001 12.05 9.40001 12.05C15 12.05 17.7 6.54999 17.7 6.54999C17.7 6.54999 15 1.04999 9.40001 1.04999Z" stroke="%233a8dde" stroke-miterlimit="10"/><path d="M9.40001 4.34998C8.20001 4.34998 7.20001 5.34998 7.20001 6.64998C7.20001 7.84998 8.20001 8.84998 9.40001 8.84998C10.6 8.84998 11.6 7.84998 11.6 6.64998C11.7 5.34998 10.7 4.34998 9.40001 4.34998Z" fill="%233a8dde"/></g><defs><clipPath id="clip0"><rect width="17.7" height="12" fill="white" transform="translate(0.600006 0.549988)"/></clipPath></defs></svg>');
}

.ActivityStatus--writing .dp-Icon {
  background-image: url('data:image/svg+xml,<svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.44535 9.59744L3.02048 9.02174L1.52102 7.5208L0.945889 8.0965V8.77501V9.59744H1.76751H2.44535ZM5.46481 2.40118L8.13508 5.07407L2.79454 10.4199H0.124268V7.74697L5.46481 2.40118ZM9.86048 3.018C9.86048 3.24417 9.77832 3.42921 9.614 3.5937L8.54589 4.66286L5.87562 1.98996L6.94373 0.920801C7.10805 0.756315 7.29292 0.674072 7.51886 0.674072C7.74481 0.674072 7.95021 0.756315 8.094 0.920801L9.59346 2.42174C9.77832 2.60678 9.86048 2.79183 9.86048 3.018Z" fill="%238B9293"/></svg>');
  background-size: 10px 10px;
}

.ActivityStatus--writing .dp-Icon.Icon--primary {
  background-image: url('data:image/svg+xml,<svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.44535 9.59744L3.02048 9.02174L1.52102 7.5208L0.945889 8.0965V8.77501V9.59744H1.76751H2.44535ZM5.46481 2.40118L8.13508 5.07407L2.79454 10.4199H0.124268V7.74697L5.46481 2.40118ZM9.86048 3.018C9.86048 3.24417 9.77832 3.42921 9.614 3.5937L8.54589 4.66286L5.87562 1.98996L6.94373 0.920801C7.10805 0.756315 7.29292 0.674072 7.51886 0.674072C7.74481 0.674072 7.95021 0.756315 8.094 0.920801L9.59346 2.42174C9.77832 2.60678 9.86048 2.79183 9.86048 3.018Z" fill="%2325A9E0"/></svg>');
}
