@import "../fonts.css";
@import "../vars.css";
@import "../dp-Arrow.css";
@import "../components/dp-icons.css";

.dp-Categories {
  align-items: center;
  border-bottom: 1px solid var(--grey-light);
  color: var(--grey-darkest);
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  width: 100%;
}

.dp-Categories-title {
  color: var(--grey-darkest);
  font: var(--h-s-semibold);
}

.dp-Categories-add {
  align-items: center;
  color: var(--grey-dark);
  cursor: pointer;
  display: flex;
  font: var(--p-n);
}

.dp-Categories-add .dp-Icon {
  cursor: pointer;
  margin-right: 3px;
}

.dp-Categories-add svg {
  fill: var(--white);
}

.dp-Filters + .dp-TicketMenu {
  display: none;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.dp-Filters + .dp-TicketMenu.is-active {
  display: flex;
}

.dp-GuidesDirectory.dp-Knowledgebase .dp-TitleGroup .dp-Icon {
  background-size: 14px 11px;
  height: 15px;
  width: 15px;
}

.dp-GuidesDirectory.dp-Knowledgebase .dp-TitleGroup .dp-CustomCheckbox + .dp-Icon {
  border-radius: 0;
  height: 13px;
  margin: 0 7px;
  width: 15px;
}

.dp-GuidesDirectory.dp-Knowledgebase .dp-TitleGroup .dp-Icon + .dp-Icon {
  margin: 0 7px;
}

.dp-Knowledgebase .dp-OrderingBar ~ .dp-Guides-list .dp-Guide-title {
  color: var(--brand-primary);
}

.dp-GuidesDirectory.dp-Knowledgebase .dp-Card:hover .dp-TitleGroup .dp-Icon,
.dp-GuidesDirectory.dp-Knowledgebase .dp-TitleGroup .dp-Icon {
  background-color: transparent;
}

.dp-FilterlistContainer.dp-Knowledgebase .dp-Tickets .dp-TitleName {
  justify-content: space-between;
  width: 100%;
}

.dp-Knowledgebase .dp-TicketMenuItem {
  text-transform: none;
}

.dp-Knowledgebase .dp-TicketMenuItem.is-selected,
.dp-Knowledgebase .dp-TicketMenuItem:hover,
.dp-Knowledgebase .dp-OrderingBar ~ .dp-Guides-list .dp-Guide.is-selected {
  background-color: var(--info-light);
  color: var(--brand-primary);
}

.dp-Knowledgebase .dp-TicketMenuItem.is-selected .dp-TitleMenu > .dp-Arrow {
  display: none;
}

.dp-Articles-group {
  margin: 0;
  width: 100%;
}

.dp-Articles-group ul {
  padding: 0;
}

.dp-Knowledgebase .dp-DropDownItem .dp-Menu,
.dp-Knowledgebase .dp-DropdownPanel {
  min-width: 200px;
}

.dp-Knowledgebase .dp-SortOrder {
  background-color: #fff;
  border-bottom: 1px solid var(--grey-light);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  padding: 10px 10px 0 30px;
}

.dp-Knowledgebase .dp-SortList:hover .dp-RadioWrapper [type="radio"] + label,
.dp-Knowledgebase .dp-SortOrder:hover .dp-RadioWrapper [type="radio"] + label {
  color: var(--brand-primary);
}

.dp-Knowledgebase .dp-RadioWrapper [type="radio"]:not(:checked) + label {
  color: var(--grey-darkest);
  font: var(--h-n-semibold);
  line-height: 1;
}

.dp-Knowledgebase .dp-RadioWrapper [type="radio"]:checked + label {
  color: var(--brand-primary);
  font: var(--h-n-semibold);
  line-height: 1;
}

.dp-Knowledgebase .dp-SortOrder .dp-Subtitle {
  color: var(--grey-dark);
  font: var(--p-s);
  padding: 2px 0 0;
}

.dp-Knowledgebase .dp-Menu-linkItem .dp-RadioWrapper {
  margin-left: -20px;
}

.dp-Knowledgebase .dp-Order-btn {
  border: 0.75px solid var(--grey);
  border-radius: 2px;
  display: flex;
  font-size: 11px;
  line-height: 1;
  margin: 8px 0 17px 0;
  max-width: max-content;
  padding: 5px 10px 5px 5px;
  position: relative;
}

.dp-Tooltip {
  background-color: var(--white);
  border: 1px solid var(--grey-light);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-bottom-right);
  color: var(--grey-darkest);
  display: none;
  font: var(--p-n);
  min-width: 135px;
  padding: 7px;
  position: absolute;
  z-index: 10;
}

.dp-Knowledgebase .dp-Order-btn:hover .dp-Tooltip {
  display: block;
}

.dp-Knowledgebase .dp-Menu-linkItem > a.dp-Order-btn {
  color: var(--grey-darkest);
}

.dp-Knowledgebase .dp-Order-btn:hover {
  background-color: var(--info-light);
  border: 0.75px solid var(--brand-primary);
}

.dp-Knowledgebase .dp-Order-btn:hover .dp-Icon svg {
  fill: var(--brand-primary);
}

.dp-Knowledgebase .dp-Menu-linkItem > a {
  color: var(--grey-dark);
}

.dp-Knowledgebase .dp-Menu .dp-Menu-linkItem:hover > .dp-Cog {
  display: block;
}

.dp-Knowledgebase .dp-Menu .dp-Menu-linkItem .dp-Cog {
  padding: 0;
  position: absolute;
}

.dp-Knowledgebase .dp-Menu .dp-Menu-linkItem .dp-Cog .dp-Menu {
  padding: 5px 0;
}

.dp-Knowledgebase .dp-Menu .dp-Menu-linkItem > .dp-Cog .dp-Menu {
  border-radius: 0.25rem;
  left: 0;
  margin-left: 0;
  margin-top: 5px;
  min-width: 110px;
  position: relative;
}

.dp-Menu.Menu--tick > .dp-Menu-linkItem.dp-SortOrder,
.dp-SortList ul > .dp-Menu-linkItem {
  margin: 0 auto;
  padding: 3.5px 11px 3.5px 30px;
}

.dp-Menu.Menu--tick > .dp-Menu-linkItem.dp-SortList {
  margin: 0;
  padding: 5px 0;
}

.dp-SortList ul {
  padding: 0;
  width: 100%;
}

.dp-SortOrder .dp-CustomCheckbox input[type="checkbox"] + label {
  font: var(--p-l);
  padding-bottom: 10px;
  padding-left: 19px;
}

.dp-SortOrder .dp-CustomCheckbox input[type="checkbox"] + label::before,
.dp-SortOrder .dp-CustomCheckbox input[type="checkbox"] + label::after {
  top: 1px;
}

.dp-Knowledgebase .dp-Breadcrumbs {
  background-color: var(--grey-lightest);
  margin-top: -1px;
}

.dp-Knowledgebase .dp-Menu.Menu--tick > .dp-Menu-linkItem .dp-listItem::after {
  height: 22px;
  left: 4px;
  top: -1px;
  width: 22px;
}

.dp-GuidesDirectory.dp-Knowledgebase .dp-TitleGroup {
  display: flex;
}

.dp-GuidesDirectory.dp-Knowledgebase .dp-TitleGroup .dp-Icon {
  border-radius: 0;
}

.is-reordering,
.dp-Guides-list .dp-Guide.is-reordering,
.dp-Guides-list .dp-Guide.is-reordering:hover {
  background-color: var(--info-light);
  border: 1px solid var(--brand-primary);
  margin-top: -1px;
}

.dp-GuidesDirectory .dp-Card.is-reordering:hover .dp-IconGroup {
  display: none;
}

.dp-Knowledgebase .dp-RadioWrapper .dp-RadioItem {
  align-items: center;
  display: flex;
}

.dp-Knowledgebase .dp-Filters .dp-Filters-bar {
  border: 0;
  border-top: 0;
}

.dp-Filters-title + .dp-Icon {
  margin-left: auto;
  margin-right: 0;
}

/* .dp-DropdownPanel */

.dp-DropdownPanel {
  border: 1px solid #3a8dde;
  border-radius: 0.25rem;
  display: none;
  position: absolute;
  z-index: 9;
}

.dp-DropdownPanel .dp-SortOrder + .dp-Menu {
  border: 0;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  margin: 0;
  position: relative;
}
