@import "../fonts.css";
@import "../vars.css";
@import "../dp-Arrow.css";
@import "../components/dp-icons.css";

.dp-Categories {
  align-items: center;
  color: var(--grey-darkest);
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  width: 100%;
}

.dp-Categories-title {
  font: var(--p-xl);
}

.dp-Categories-add {
  align-items: center;
  background-color: var(--success);
  border-radius: 2px;
  color: var(--white);
  cursor: pointer;
  display: flex;
  font: var(--p-s);
  padding: 1px 5px 1px 2px;
}

.dp-Categories-add .dp-Icon {
  cursor: pointer;
  margin-right: 2px;
}

.dp-Categories-add svg {
  fill: var(--white);
}

.dp-GuidesDirectory.dp-Knowledgebase .dp-TitleGroupe .dp-Icon {
  border-radius: 0;
  height: 13px;
  margin: 0 7px;
  width: 15px;
}

.dp-GuidesDirectory.dp-Knowledgebase .dp-Card:hover {
  background-color: inherit;
}

.dp-GuidesDirectory.dp-Knowledgebase .dp-Card .dp-Card-title {
  color: var(--brand-primary);
}

.dp-GuidesDirectory.dp-Knowledgebase .dp-Card:hover .dp-Card-title {
  text-decoration: underline;
}

.dp-GuidesDirectory.dp-Knowledgebase .dp-Card:hover .dp-TitleGroupe .dp-Icon,
.dp-GuidesDirectory.dp-Knowledgebase .dp-TitleGroupe .dp-Icon {
  background-color: transparent;
}

.dp-FilterlistContainer.dp-Knowledgebase .dp-Tickets .dp-TitleName {
  justify-content: space-between;
  width: 100%;
}

.dp-Knowledgebase .dp-TicketMenuItem.is-selected,
.dp-Knowledgebase .dp-TicketMenuItem:hover {
  background-color: var(--info-light);
  border-bottom: 1px solid var(--brand-primary);
  border-top: 1px solid var(--brand-primary);
  color: var(--brand-primary);
  margin-top: -1px;
}

.dp-Articles-group {
  margin: 0;
  width: 100%;
}

.dp-Articles-group ul {
  padding: 0;
}

.dp-Knowledgebase .dp-Articles-group .dp-Card .dp-Card-title {
  color: var(--grey-darkest);
}

.dp-Knowledgebase .dp-SortOrder {
  align-items: flex-start;
  border-bottom: 1px solid var(--grey-light);
  flex-direction: column;
}

.dp-Knowledgebase .dp-RadioWrapper [type="radio"]:not(:checked) + label {
  color: var(--grey-darkest);
  font: var(--h-n-semibold);
}

.dp-Knowledgebase .dp-RadioWrapper [type="radio"]:checked + label {
  color: var(--brand-primary);
  font: var(--h-n-semibold);
}

.dp-Knowledgebase .dp-SortOrder .dp-Subtitle {
  color: var(--grey-dark);
  padding: 5px 0 10px;
}

.dp-Knowledgebase .dp-Menu-linkItem .dp-RadioWrapper {
  margin-left: -20px;
}

.dp-Knowledgebase .dp-Order-btn {
  border: 0.75px solid var(--grey);
  border-radius: 2px;
  color: var(--grey-darkest);
  display: flex;
  margin-bottom: 17px;
  padding: 5px;
}

.dp-Knowledgebase .dp-Menu-linkItem > a {
  color: var(--grey-dark);
}

.dp-Knowledgebase .dp-Menu.Menu-tick > .dp-Menu-linkItem > .dp-listItem::before {
  background-image: url('data:image/svg+xml,<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M8.69999 6.34999C8.69999 5.74999 8.49999 5.34999 8.09999 4.94999C7.69999 4.54999 7.29999 4.34999 6.69999 4.34999C6.09999 4.34999 5.69999 4.54999 5.29999 4.94999C4.89999 5.34999 4.69999 5.74999 4.69999 6.34999C4.69999 6.94999 4.89999 7.34999 5.29999 7.74999C5.69999 8.14999 6.09999 8.34999 6.69999 8.34999C7.29999 8.34999 7.69999 8.14999 8.09999 7.74999C8.49999 7.34999 8.69999 6.94999 8.69999 6.34999ZM12.7 5.44999V7.14999C12.7 7.24999 12.7 7.24999 12.6 7.34999C12.5 7.44999 12.5 7.44999 12.4 7.44999L11 7.64999C10.9 7.94999 10.8 8.14999 10.7 8.34999C10.9 8.64999 11.2 8.94999 11.5 9.44999C11.6 9.54999 11.6 9.54999 11.6 9.64999C11.6 9.74999 11.6 9.74999 11.5 9.84999C11.4 10.05 11.1 10.35 10.7 10.65C10.3 10.95 10.1 11.25 9.99999 11.25C9.89999 11.25 9.89999 11.25 9.79999 11.15L8.79999 10.35C8.59999 10.45 8.29999 10.55 8.09999 10.65C7.99999 11.35 7.89999 11.85 7.89999 12.15C7.79999 12.25 7.69999 12.35 7.59999 12.35H5.79999C5.69999 12.35 5.69999 12.35 5.59999 12.25C5.49999 12.15 5.49999 12.15 5.49999 12.05L5.29999 10.65C4.99999 10.55 4.79999 10.45 4.59999 10.35L3.49999 11.15C3.39999 11.15 3.39999 11.25 3.29999 11.25C3.19999 11.25 3.19999 11.25 3.09999 11.15C2.39999 10.55 1.99999 10.15 1.79999 9.84999C1.79999 9.74999 1.69999 9.74999 1.69999 9.64999C1.69999 9.54999 1.69999 9.54999 1.79999 9.44999C1.89999 9.34999 1.99999 9.14999 2.19999 8.94999C2.39999 8.74999 2.59999 8.54999 2.69999 8.44999C2.49999 8.24999 2.39999 7.94999 2.39999 7.64999L0.899993 7.44999C0.799993 7.44999 0.799993 7.44999 0.699993 7.34999C0.599993 7.24999 0.699993 7.24999 0.699993 7.24999V5.44999C0.699993 5.44999 0.699993 5.34999 0.799993 5.24999C0.899993 5.14999 0.899993 5.14999 0.899993 5.14999L2.39999 4.94999C2.39999 4.74999 2.49999 4.44999 2.69999 4.24999C2.49999 3.94999 2.19999 3.54999 1.79999 3.14999C1.79999 3.14999 1.79999 3.04999 1.79999 2.94999C1.79999 2.84999 1.79999 2.84999 1.89999 2.74999C1.99999 2.64999 2.19999 2.34999 2.59999 1.94999C2.99999 1.54999 3.19999 1.34999 3.29999 1.34999C3.39999 1.34999 3.39999 1.34999 3.49999 1.44999L4.59999 2.34999C4.79999 2.24999 5.09999 2.14999 5.29999 2.04999C5.39999 1.34999 5.49999 0.849991 5.59999 0.549991C5.59999 0.449991 5.69999 0.349991 5.79999 0.349991H7.49999C7.59999 0.349991 7.69999 0.349991 7.79999 0.449991C7.89999 0.549991 7.89999 0.549991 7.89999 0.649991L8.09999 2.04999C8.29999 2.14999 8.59999 2.24999 8.79999 2.34999L9.89999 1.54999C9.89999 1.54999 9.99999 1.44999 10.1 1.44999C10.2 1.44999 10.2 1.44999 10.3 1.54999C11 2.14999 11.4 2.64999 11.6 2.84999C11.6 2.84999 11.7 2.94999 11.7 3.04999C11.7 3.14999 11.7 3.14999 11.6 3.24999C11.5 3.34999 11.4 3.54999 11.2 3.74999C11 3.94999 10.8 4.14999 10.7 4.24999C10.8 4.54999 10.9 4.74999 11 5.04999L12.4 5.24999C12.5 5.24999 12.5 5.24999 12.6 5.34999C12.7 5.44999 12.7 5.44999 12.7 5.44999Z" fill="%233a8dde"/></g><defs><clipPath id="clip0"><rect width="12" height="12" fill="white" transform="translate(0.699997 0.349991)"/></clipPath></defs></svg>');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  content: "";
  display: block;
  height: 25px;
  opacity: 0;
  position: absolute;
  right: 2px;
  top: 0;
  width: 25px;
}

.dp-Knowledgebase .dp-Menu.Menu-tick .dp-Menu-linkItem:hover > .dp-listItem::before {
  opacity: 1;
}
