@import "../fonts.css";
@import "../vars.css";

.dp-ListPane {
  align-items: center;
  background-color: var(--grey-lightest);
  border-right: 1px solid var(--grey-light);
  color: inherit;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  max-width: 130px;
  padding: 10px;
  position: relative;
}

.dp-ListPane .dp-CustomCheckbox.dp-EmptyCheckbox {
  display: flex;
}

.dp-ListPane.dp-DropDownItem {
  width: 100%;
}

.dp-ListPane:last-child {
  border-left: 1px solid var(--grey-light);
  border-right: 0;
  margin-left: auto;
  margin-right: 0;
}

.dp-ListPane .dp-ItemRow {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
  position: relative;
  width: 100%;
}

.dp-ListPane .dp-Select {
  background: transparent;
  border: 0;
  outline: 0;
}

.dp-ListPane .dp-Title {
  color: var(--grey-dark);
  font: var(--p-n-semibold);
  padding: 0 0 0 4px;
}

.newControlsList .dp-ListPane .dp-Title {
  color: var(--grey-darkest);
  padding: 0;
}

.dp-ListPane .dp-iconEye {
  background-size: 19px 19px;
  display: inline-block;
  height: 13px;
  width: 19px;
}

.dp-ListPane .dp-iconSetting {
  background-size: 13px 13px;
  display: inline-block;
  height: 13px;
  width: 13px;
}

.newControlsList .dp-ListPane .dp-Subtitle {
  color: var(--grey-darkest);
  font: var(--p-s);
}

.newControlsList .dp-ListPane .dp-Icon {
  background-size: 23px 23px;
  height: 25px;
  margin-right: 4px;
  width: 25px;
}

.newControlsList .dp-ListPane .dp-csv {
  background-size: 15px 9px;
}

.dp-ListPane .dp-Icon.dp-view {
  background-size: 20px 14px;
  height: 14px;
  width: 20px;
}

.newControlsList .dp-Select {
  user-select: none;
}

.newControlsList .dp-ListPane .dp-Icon.dp-small_caret {
  background-image: url('data:image/svg+xml,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M9.89999 1.49999C9.89999 1.59999 9.79999 1.69999 9.69999 1.89999L5.79999 5.79999C5.69999 5.89999 5.59999 5.99999 5.39999 5.99999C5.19999 5.99999 5.09999 5.89999 4.99999 5.79999L1.09999 1.89999C0.999994 1.69999 0.899994 1.59999 0.899994 1.49999C0.899994 1.39999 0.999994 1.19999 1.09999 1.09999C1.19999 0.999994 1.29999 0.899994 1.49999 0.899994H9.39999C9.59999 0.899994 9.69999 0.999994 9.79999 1.09999C9.89999 1.19999 9.89999 1.29999 9.89999 1.49999Z" fill="%23979797"/></g><defs><clipPath id="clip0"><rect width="9" height="5.1" fill="white" transform="translate(0.899994 0.899994)"/></clipPath></defs></svg>');
  background-size: 9px 5.1px;
  background-size: 8px 5px;
  height: 10px;
  margin: 0;
  width: 10px;
}

.dp-ViewItem {
  align-items: center;
  display: flex;
  max-width: 100%;
  padding: 0 10px;
}

.newControlsList .dp-SelectGroup {
  flex: 1 0 0;
}

.dp-SortIconDescription {
  align-items: center;
  color: var(--grey);
  display: flex;
  flex-direction: column;
  font: var(--p-s);
  margin-right: 4px;
}

.dp-SortIconDescription:hover {
  color: var(--brand-primary);
  cursor: pointer;
}

.newControlsList .dp-ListPane .dp-sort, .dp-Card-title .dp-sort {
  background-size: 13.2px 10.4px;
  height: 15px;
  width: 15px;
}

.dp-ListPane .dp-SortIconDescription:hover .dp-sort {
  background-image: url('data:image/svg+xml,<svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M3.74999 8.30001V0.800012C3.74999 0.500012 4.04999 0.200012 4.34999 0.200012C4.64999 0.200012 4.94999 0.500012 4.94999 0.800012V8.10001L7.34999 5.70001C7.54999 5.50001 7.94999 5.50001 8.14999 5.70001C8.34999 5.90001 8.34999 6.30001 8.14999 6.50001L5.14999 9.50001L4.34999 10.3L3.44999 9.60001L0.449991 6.60001C0.149991 6.30001 0.149991 6.00001 0.449991 5.70001C0.649991 5.50001 1.04999 5.50001 1.24999 5.70001L3.74999 8.30001Z" fill="%233A8DDE" stroke="%233A8DDE" stroke-width="0.1959" stroke-miterlimit="10"/><path d="M13.15 2.29999L11.05 0.299994C10.85 0.0999939 10.55 0.0999939 10.45 0.299994L8.34999 2.29999C8.24999 2.39999 8.04999 2.69999 8.34999 2.99999C8.44999 3.09999 8.74999 3.09999 8.94999 2.99999L10.35 1.69999V6.69999C10.35 6.99999 10.55 7.19999 10.85 7.19999C11.15 7.19999 11.35 6.99999 11.35 6.69999V1.69999L12.65 2.89999C12.85 3.09999 13.15 3.09999 13.35 2.89999C13.35 2.79999 13.35 2.49999 13.15 2.29999Z" fill="%233A8DDE"/></g><defs><clipPath id="clip0"><rect width="13.2" height="10.4" fill="white" transform="translate(0.149994 0.100006)"/></clipPath></defs></svg>');
  display: inline-block;
}

.dp-Card-title .dp-sort {
  margin-right: 4px;
}

.dp-Card-title > .dp-Icon {
  background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 12 11.5" style="enable-background:new 0 0 12 11.5;" xml:space="preserve"><style type="text/css">.st0{fill:%233A8DDE;}</style><g><polygon class="st0" points="6,8.8 9.7,11.5 8.3,7.1 12,4.5 7.4,4.5 6,0 4.6,4.5 0,4.5 3.7,7.1 2.3,11.5  "/></g></svg>');
  height: 15px;
  margin-left: 15px;
  vertical-align: top;
  width: 15px;
}

.dp-CardList {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  width: 100%;
}

.dp-Card-SectionTitle {
  border-bottom: 1px solid var(--grey-light);
  border-top: 1px solid transparent;
  color: var(--grey-darkest);
  display: flex;
  font: var(--h-s-semibold);
  margin: 0;
  padding: 10px 10px;

  /* padding: 7px 13px; */
  text-transform: uppercase;
  width: 100%;
}

.dp-Tableview .dp-Card-title td {
  font: var(--h-s-semibold);
}

.dp-Card-SectionTitle .dp-SortIconDescription {
  align-items: center;
  color: var(--grey);
  display: flex;
  flex-direction: row;
  font: var(--p-s);
  margin-left: 10px;
  max-width: 50px;
}

.dp-Card {
  background-color: var(--white);
  border-bottom: 1px solid var(--grey-light);
  border-top: 1px solid transparent;
  cursor: pointer;
  display: flex;
  padding: 10px 10px;
  position: relative;
  width: 100%;
}

.dp-Card-title {
  color: var(--grey-darkest);
  font: var(--h-n-semibold);
  margin: 0 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dp-CustomCheckbox input[type="checkbox"] + label.dp-Card-title {
  font: var(--h-n-semibold);
}

.is-hoverable .dp-Card.is-active,
.is-hoverable .dp-Card:hover {
  background-color: var(--info-light);

  /* border-top: 1px solid var(--brand-primary); */

}

/* .is-hoverable .dp-Card:hover + .dp-Card,
.is-hoverable .dp-Card.is-active + .dp-Card {
  border-top: 1px solid var(--brand-primary);
}

.is-hoverable .dp-Card:hover + .dp-Card-title,
.is-hoverable .dp-Card.is-active + .dp-Card-title {
  border-top: 1px solid var(--brand-primary);
}

.is-hoverable .dp-Card:last-child.is-active,
.is-hoverable .dp-Card:last-child:hover {
  border-bottom: 1px solid var(--brand-primary);
} */

.dp-Icon--circle {
  align-items: center;
  background-color: var(--white);
  background-position: 50%;
  background-repeat: no-repeat;
  border: 1px solid var(--grey-light);
  border-radius: 50%;
  color: var(--white);
  display: flex;
  font: var(--p-n);
  height: 18px;
  justify-content: center;
  margin-left: 7px;
  width: 18px;
}

.dp-Card .dp-colorWhite {
  color: var(--white);
}

.dp-Card.Level-column .dp-UserInfo {
  padding-left: 25px;
}

.dp-Card .dp-UserInfo {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  /* width: calc(100% - 25px); */
}

.dp-Card .dp-iconUserAvatar {
  background-size: 18px 18px;
  height: 18px;
  vertical-align: middle;
  width: 18px;
}

.dp-Card .dp-iconStar,.dp-Card .dp-iconStar--neutral {
  background-size: 20px 15px;
  display: inline-block;
  height: 15px;
  margin-left: 15px;
  vertical-align: top;
  width: 18px;
}

.dp-Card .dp-iconRocket, .dp-Card .dp-iconBug, .dp-Card .dp-iconMln {
  background-size: 12px 12px;
}

/* .dp-Card.is-active input[type="checkbox"] + label::before {
  border: 1px solid var(--brand-primary);
} */

.dp-Card .dp-iconClock {
  background-size: 18px 18px;
  display: inline-block;
}

.dp-Card .dp-iconLock {
  background-size: 12px 12px;
  height: 18px;
  width: 12px;
}

.dp-Card .dp-UserName {
  color: var(--grey-darkest);
  font: var(--p-xl);
}

.dp-Card .dp-Icon + .dp-UserName,
.dp-Card .dp-Icon + .dp-Card-link,
.dp-Card .dp-Icon + .dp-Date-link,
.dp-Card .dp-Icon + .dp-Comments-title,
.dp-Tasks-list .dp-Icon + .dp-UserName {
  margin-left: 5px;
}

.dp-Card .dp-UserEmail {
  color: var(--grey-dark);
  font: var(--p-xl);
  margin-left: 5px;
}

.dp-Card .dp-TimeStatus {
  color: var(--grey-dark);
  font: var(--p-n);
}

.dp-TimeStatus .dp-Tag {
  display: inline-block;
  min-width: 63px;
  text-align: center;
}

.dp-Card .dp-Meta {
  color: var(--grey-dark);
  display: flex;
  font: var(--p-s);
}

.dp-Card .dp-Meta-value {
  color: var(--grey-darkest);
  margin-left: 2px;
}

.dp-Card .dp-Meta::after {
  border-right: 1px solid var(--grey-dark);
  content: "";
  height: 10px;
  margin: 0 10px;
  width: 1px;
}

.dp-Card .dp-Meta:last-child::after {
  display: none;
}

.dp-Card .dp-JustifyStart {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.dp-Tag .dp-close {
  height: 12px;
  position: absolute;
  right: 0;
  top: calc(50% - 7px);
  width: 12px;
}

.dp-Card-title.dp-StarAlign {
  margin-right: 50px;
}

/* Pagination */

.dp-Pagination {
  align-items: center;
  display: flex;
}

.dp-PageNumber {
  align-items: center;
  background: var(--white);
  border: solid 1px var(--grey-light);
  border-radius: 2px;
  color: var(--grey-darkest);
  display: flex;
  font: var(--p-n);
  justify-content: center;
  margin-right: 2px;
  min-height: 20px;
  min-width: 20px;
  text-decoration: none;
}

.dp-BreakPagination {
  display: flex;
  justify-content: center;
  margin-top: -6px;
  min-height: 20px;
  min-width: 20px;
}

.dp-PageNumber:hover, .dp-PageNumber.gradient:hover {
  background-color: var(--primary-light);
  border: 1px solid var(--brand-primary);
  cursor: pointer;
}

.dp-PageNumber.is-active {
  background: var(--brand-primary);
  border: none;
  color: var(--white);
}

.dp-PaginationArrows .dp-Icon {
  background-size: 10px 15px;
  display: flex;
  height: 20px;
  width: 20px;
}

.dp-Pagination:hover {
  cursor: pointer;
}

.dp-arrowRight:hover {
  background-image: url('data:image/svg+xml,<svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M6.5937 4.96901L1.61642 0.62418C1.34369 0.437973 1.00279 0.437973 0.730058 0.62418C0.457331 0.810387 0.457331 1.1828 0.730058 1.36901L4.82097 4.96901L0.730058 8.56901C0.457331 8.75522 0.457331 9.12763 0.730058 9.31384C1.00279 9.50004 1.34369 9.50004 1.61642 9.31384L6.5937 4.96901Z" fill="%233A8DDE"/></g><defs><clipPath id="clip0"><rect width="9" height="6" fill="white" transform="translate(0.59375 9.5) rotate(-90)"/></clipPath></defs></svg>');
}

.dp-arrowLeft:hover {
  background-image: url('data:image/svg+xml,<svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.0938049 5.03099L5.07108 9.37582C5.34381 9.56203 5.68471 9.56203 5.95744 9.37582C6.23017 9.18961 6.23017 8.8172 5.95744 8.63099L1.86653 5.03099L5.95744 1.43099C6.23017 1.24478 6.23017 0.872371 5.95744 0.686164C5.68471 0.499957 5.34381 0.499957 5.07108 0.686164L0.0938049 5.03099Z" fill="%233A8DDE"/></svg>');
}

.dp-Pagination-two .dp-Icon.dp-arrowLeft--primary, .dp-Pagination-two .dp-Icon.dp-arrowRight--primary {
  background-size: 14px 20px;
  height: 20px;
  width: 25px;
}

.dp-GroupSortBar {
  display: flex;
  justify-content: space-between;
}

/* listpane/kanban-view */

.dp-KanbanView {
  max-width: 330px;
}

.dp-KanbanView .dp-UserEmailItem {
  display: inline-block;
  max-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

/* Table */

.dp-TableWrapper {
  display: block;
  overflow: auto;
}

.dp-Tableview {
  display: table;
  width: 1600px;
}

.dp-Tableview th {
  color: var(--grey-darkest);
  font: var(--p-n-semibold);
}

.dp-Tableview td {
  color: var(--grey-darkest);
  font: var(--p-xl);
}

.dp-Tableview .dp-SubjectItem {
  align-items: center;
  color: var(--grey-darkest);
  display: flex;
  font: var(--h-n-semibold);
}

.dp-Tableview .dp-Card-title {
  border-bottom: none;
  border-top: 1px solid var(--grey-light);
  display: table-row;
  padding: 0;
}

.dp-ColumnControls {
  color: var(--grey-darkest);
  display: table-row;
  font: var(--p-n);
  max-height: 24px;
}

.dp-ColumnControls .dp-TableItem {
  align-items: center;
  display: flex;
}

.dp-TableSubject, .dp-TableLabels, .dp-TableUser {
  width: 230px;
}

.dp-TableDepartment, .dp-TableLanguage, .dp-TableLastreply {
  width: 150px;
}

.dp-Tableview .dp-UserItem {
  align-items: center;
  display: flex;
}

.dp-UserItem .dp-avatar {
  margin-right: 5px;
}

.dp-ColumnControls th, .dp-ColumnControls td {
  border: 0;
  display: table-cell;
  vertical-align: middle;
}

thead .dp-ColumnControls {
  border-bottom: 2px solid var(--grey-light);
  border-top: 1px solid var(--grey-light);
}

.dp-ColumnControls.dp-TableviewBody {
  display: table-row-group;
}

table.dp-TableviewBody tr:first-child {
  border-top: none;
}

thead .dp-Card-title td {
  border: none;
}

/* .dp-TableviewBody tr:last-child {
  border-bottom: 1px solid var(--grey-light);
} */

.dp-Tableview tr:nth-child(2n) {
  background-color: transparent;
}

.is-hoverable tr:hover, .is-hoverable tr.is-active {
  background-color: var(--info-light);

  /*  border-bottom: 1px solid var(--brand-primary);
  border-top: 1px solid var(--brand-primary); */
}

.dp-TableviewBody .dp-Icon {
  height: 18px;
  width: 18px;
}

.dp-TableviewBody .dp-Icon--circle {
  background-size: 11px 11px;
}

.dp-ColumnControls .dp-arrowGroup {
  height: 10px;
  margin-left: 5px;
  width: 10px;
}

.dpCaretWrapper {
  display: block;
  height: 12px;
  position: relative;
}

/* Listpane/guides */

.dp-MassSelectTitle .dp-ItemRow {
  align-items: center;
  background-color: var(--grey-lightest);
  display: flex;
  padding-left: 10px;
}

.dp-MassSelect .dp-CustomCheckbox {
  display: flex;
  position: relative;
}

.dp-CustomCheckbox .dp-Card-title {
  margin: 0;
}

.dp-CustomCheckbox .dp-small_caret {
  cursor: pointer;
  display: block;
  height: 15px;
  left: 20px;
  position: absolute;
  top: 0;
  width: 15px;
  z-index: 9;
}

.dp-MassSelectTitle .dp-CustomCheckbox input[type="checkbox"] + label {
  padding-left: 40px;
}

.dp-Card-title.dp-MassSelectTitle {
  padding-bottom: 0;
  padding-top: 0;
}

.dp-MassSelectTitle .dp-ListPane {
  background-color: transparent;
}

.dp-Card.dp-MassSelectTitle:hover {
  background-color: var(--grey-lightest);
  border-bottom: 1px solid var(--grey-light);
  border-top: 1px solid transparent;
}

.dp-Card-title.dp-CheckboxCarret {
  font: var(--p-xl);
}

/* .dp-ListpaneGuides .dp-Card-title {
  display: flex;
}

.dp-ListpaneGuides .dp-Card .dp-Icon {
  margin-right: 5px;
}

.dp-ListpaneGuides .dp-Card.is-active {
  background-color: inherit;
  border-bottom: 1px solid var(--brand-primary);
  border-top: 1px solid var(--brand-primary);
  padding-bottom: 0;
} */

/* .dp-FilterSubList {
  width: 100%;
}

.dp-ListpaneGuides .dp-Card .dp-FilterSubList {
  display: none;
}

.dp-ListpaneGuides .dp-Card.is-active .dp-FilterSubList {
  display: block;
} */

/* .dp-FilterSubList .dp-Card {
  border-bottom: 0;
  border-top: 1px solid var(--grey-light);
  padding-left: 20px;
  padding-right: 0;
} */

/* .dp-FilterSubList .dp-Card::before {
  background-color: var(--grey);
  content: "";
  height: 103%;
  left: -10px;
  position: absolute;
  top: -1px;
  width: 20px;
} */

/* .dp-FilterSubList .dp-UserInfo {
  padding: 0;
} */

/* .dp-ListpaneGuides .newControlsList .dp-UserInfo {
  align-items: center;
  display: flex;
}

.dp-ListpaneGuides .dp-Date {
  border-right: 1px solid var(--grey-light);
  margin-right: 10px;
  padding-right: 10px;
}

.dp-ListpaneGuides .dp-UserInfo .dp-Icon {
  background-size: 15px 15px;
} */

/* Listpane/tasks */

/* .dp-TasksSort {
  background-color: var(--grey-light);
  display: block;
  padding: 10px;
}

.dp-ListpaneTasks .dp-Icon {
  background-size: 15px 14px;
  height: 15px;
  width: 15px;
}

.dp-ListpaneTasks .dp-linkedtTickets {
  background-size: 17px 17px;
  height: 17px;
  width: 17px;
}

.dp-ListpaneTasks .dp-small_caret {
  background-size: 9px 5px;
  height: 10px;
}

.dp-ListpaneTasks .dp-Card-title {
  font: var(--p-xl);
}

.dp-ListpaneTasks .dp-Date {
  font: var(--p-xl);
  margin-left: 5px;
}

.dp-Card .dp-GroupDescription {
  display: flex;
  justify-content: flex-start;
}

.dp-GroupDescription .dp-ListPane {
  background-color: inherit;
  margin-right: 10px;
  padding: 0;
  padding-right: 10px;
}

.dp-GroupDescription .dp-ListPane:last-child {
  border: none;
  margin-left: 0;
}

.dp-GroupDescription .dp-Title.dp-Comments {
  color: var(--grey-dark);
}

.dp-GroupDescription .dp-Title {
  color: var(--grey-darkest);
  text-transform: none;
}

.dp-ListpaneTasks .dp-UserInfo {
  align-items: center;
  color: var(--grey-darkest);
  display: flex;
  font: var(--p-xl);
  padding-left: 23px;
}

.dp-ListpaneTasks .dp-UserInfo .dp-Icon {
  background-size: 17px 17px;
  height: 17px;
  margin-right: 5px;
  width: 17px;
}

.dp-ListpaneTasks .dp-Txt {
  color: var(--grey-darkest);
  font: var(--p-n);
  padding-left: 45px;
}

.dp-TasksSort .dp-settings {
  cursor: pointer;
  display: block;
}

.dp-ListpaneTasks .dp-Card.is-active {
  background-color: var(--grey-light);
} */

/* filter result controls */

.dp-FilterControlsList {
  background-color: var(--grey-lightest);
  border: 1px solid var(--grey-light);
  color: inherit;
  display: flex;
}

.dp-FilterControlsItem {
  align-items: center;
  border-right: 1px solid var(--grey-light);
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  max-width: 175px;
  padding: 10px;
  position: relative;
}

.dp-FilterControlsItem.dp-DropDownItem {
  width: 100%;
}

.dp-FilterControlsItem:first-child {
  width: auto;
}

.dp-FilterControlsItem:last-child {
  border-right: 0;
}

.dp-FilterControlsItem .dp-ItemRow {
  display: block;
  width: 100%;
}

.dp-FilterControlsItem .dp-Select {
  background: transparent;
  border: 0;
  outline: 0;
}

.dp-FilterControlsItem .dp-Title {
  color: var(--grey-dark);
  font: var(--p-n-caps);
  padding: 0 0 0 4px;
  text-transform: uppercase;
}

.dp-FilterControlsItem .dp-Select {
  color: var(--grey-dark);
  font: var(--p-xl);
}

.dp-FilterControlsItem .dp-iconEye {
  background-size: 19px 19px;
  display: inline-block;
  height: 13px;
  width: 19px;
}

.dp-FilterControlsItem .dp-iconSetting {
  background-size: 13px 13px;
  display: inline-block;
  height: 13px;
  width: 13px;
}

.newControlsList .dp-FilterControlsItem .dp-Title {
  font: var(--h-s-semibold);
  padding: 0;
  text-transform: none;
}

.newControlsList .dp-FilterControlsItem .dp-Subtitle {
  font: var(--p-n);
}

.newControlsList .dp-FilterControlsItem .dp-Icon {
  background-size: 23px 23px;
  height: 25px;
  margin-right: 4px;
  width: 25px;
}

.dp-FilterControlsItem .dp-Icon.dp-view {
  background-size: 20px 14px;
}

.dp-FilterControlsItem.is-active .dp-Title,
.dp-FilterControlsItem.is-active .dp-Subtitle {
  color: var(--brand-primary);
}

.is-active .dp-grouped_by {
  background-image: url('data:image/svg+xml,<svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M12.1 3.5H3.20001V12.3H7.00001V16H15.9V7.2H12.1V3.5ZM8.30001 14.7V12.3H12.1V8.5H14.5V14.6H8.30001V14.7ZM10.7 4.8V10.9H4.50001V4.8H10.7Z" fill="%23318cdd"/><path d="M16.8 19.1H2.1C1 19.1 0 18.2 0 17V2.1C0 1 1 0 2.1 0H16.8C18 0 19 1 19 2.1V17C19 18.2 18 19.1 16.8 19.1ZM2.1 0.7C1.3 0.7 0.7 1.3 0.7 2.1V17C0.7 17.8 1.3 18.4 2.1 18.4H16.8C17.6 18.4 18.2 17.8 18.2 17V2.1C18.2 1.3 17.6 0.7 16.8 0.7H2.1Z" fill="%23318cdd"/></g><defs><clipPath id="clip0"><rect width="19" height="19.1" fill="white"/></clipPath></defs></svg>');
}

.is-active .dp-sort {
  background-image: url('data:image/svg+xml,<svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M3.74999 8.30001V0.800012C3.74999 0.500012 4.04999 0.200012 4.34999 0.200012C4.64999 0.200012 4.94999 0.500012 4.94999 0.800012V8.10001L7.34999 5.70001C7.54999 5.50001 7.94999 5.50001 8.14999 5.70001C8.34999 5.90001 8.34999 6.30001 8.14999 6.50001L5.14999 9.50001L4.34999 10.3L3.44999 9.60001L0.449991 6.60001C0.149991 6.30001 0.149991 6.00001 0.449991 5.70001C0.649991 5.50001 1.04999 5.50001 1.24999 5.70001L3.74999 8.30001Z" fill="%23318cdd" stroke="%23318cdd" stroke-width="0.1959" stroke-miterlimit="10"/><path d="M13.15 2.29999L11.05 0.299994C10.85 0.0999939 10.55 0.0999939 10.45 0.299994L8.34999 2.29999C8.24999 2.39999 8.04999 2.69999 8.34999 2.99999C8.44999 3.09999 8.74999 3.09999 8.94999 2.99999L10.35 1.69999V6.69999C10.35 6.99999 10.55 7.19999 10.85 7.19999C11.15 7.19999 11.35 6.99999 11.35 6.69999V1.69999L12.65 2.89999C12.85 3.09999 13.15 3.09999 13.35 2.89999C13.35 2.79999 13.35 2.49999 13.15 2.29999Z" fill="%23318cdd"/></g><defs><clipPath id="clip0"><rect width="13.2" height="10.4" fill="white" transform="translate(0.149994 0.100006)"/></clipPath></defs></svg>');
}

.is-active .dp-faceted_by {
  background-image: url('data:image/svg+xml,<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M8.44998 0V0.7C9.14998 0.7 9.74998 1.3 9.74998 2C9.74998 2.4 9.64998 2.7 9.34998 3C9.04998 3.3 8.74998 3.4 8.34998 3.4C7.64998 3.4 7.04998 2.8 7.04998 2.1C7.04998 1.7 7.14998 1.4 7.44998 1.1C7.64998 0.9 8.04998 0.8 8.34998 0.8L8.44998 0C8.34997 0 8.44998 0 8.44998 0C7.24997 0 6.34998 1 6.34998 2.1C6.34998 3.2 7.34997 4.2 8.44998 4.2C9.64998 4.2 10.55 3.2 10.55 2.1C10.45 0.9 9.54997 0 8.44998 0Z" fill="%23318cdd"/><path d="M14.65 4.19999C15.85 4.19999 16.75 3.19999 16.75 2.09999C16.75 0.999994 15.75 -6.10203e-06 14.65 -6.10203e-06V0.699994C15.35 0.699994 15.95 1.29999 15.95 1.99999C15.95 2.39999 15.85 2.69999 15.55 2.99999C15.25 3.29999 14.95 3.39999 14.55 3.39999C13.85 3.39999 13.25 2.79999 13.25 2.09999C13.25 1.69999 13.35 1.39999 13.65 1.09999C13.95 0.799994 14.25 0.699994 14.55 0.699994V-0.100006C13.35 -0.100006 12.45 0.899994 12.45 1.99999C12.55 3.29999 13.55 4.19999 14.65 4.19999Z" fill="%23318cdd"/><path d="M2.14999 0C0.949988 0 0.0499878 1 0.0499878 2.1C0.0499878 3.3 1.04999 4.2 2.14999 4.2C3.34999 4.2 4.24999 3.2 4.24999 2.1C4.24999 0.9 3.24999 0 2.14999 0Z" fill="%23318cdd"/><path d="M8.44998 6.19998V6.99998C9.14998 6.99998 9.74998 7.59998 9.74998 8.29998C9.74998 8.69998 9.64998 8.99998 9.34998 9.29998C9.04998 9.59998 8.74998 9.69998 8.34998 9.69998C7.64998 9.69998 7.04998 9.09998 7.04998 8.29998C7.04998 7.89998 7.14998 7.59998 7.44998 7.29998C7.74998 6.99998 8.04998 6.99998 8.34998 6.99998L8.44998 6.19998C8.34997 6.19998 8.44998 6.19998 8.44998 6.19998C7.24997 6.19998 6.34998 7.19998 6.34998 8.29998C6.34998 9.39998 7.34997 10.4 8.44998 10.4C9.64998 10.4 10.55 9.39998 10.55 8.29998C10.45 7.09998 9.54997 6.19998 8.44998 6.19998Z" fill="%23318cdd"/><path d="M14.65 6.19998C13.45 6.19998 12.55 7.19998 12.55 8.29998C12.55 9.49998 13.55 10.4 14.65 10.4C15.85 10.4 16.75 9.39998 16.75 8.29998C16.75 7.09998 15.75 6.19998 14.65 6.19998Z" fill="%23318cdd"/><path d="M2.14999 6.19998V6.99998C2.84999 6.99998 3.44999 7.59998 3.44999 8.29998C3.44999 8.99998 2.84999 9.69998 2.14999 9.69998C1.44999 9.69998 0.849988 9.09998 0.849988 8.39998C0.749988 7.59998 1.34999 6.99998 2.14999 6.99998V6.19998C0.949988 6.19998 0.0499878 7.19998 0.0499878 8.29998C0.0499878 9.39998 1.04999 10.4 2.14999 10.4C3.34999 10.4 4.24999 9.39998 4.24999 8.29998C4.24999 7.09998 3.24999 6.19998 2.14999 6.19998Z" fill="%23318cdd"/><path d="M10.4507 14.95C10.7117 13.8199 10.0071 12.6922 8.87698 12.4313C7.74688 12.1703 6.6192 12.8749 6.35824 14.005C6.09729 15.1351 6.80188 16.2628 7.93198 16.5238C9.06209 16.7847 10.1898 16.0801 10.4507 14.95Z" fill="%23318cdd"/><path d="M14.65 12.4V13.2C15.35 13.2 15.95 13.8 15.95 14.5C15.95 14.9 15.85 15.2 15.55 15.5C15.25 15.8 14.95 15.9 14.55 15.9C13.85 15.9 13.25 15.3 13.25 14.6C13.25 14.2 13.35 13.9 13.65 13.6C13.95 13.3 14.25 13.2 14.55 13.2L14.65 12.4C13.45 12.4 12.55 13.4 12.55 14.5C12.55 15.6 13.55 16.6 14.65 16.6C15.85 16.6 16.75 15.6 16.75 14.5C16.75 13.3 15.75 12.4 14.65 12.4Z" fill="%23318cdd"/><path d="M2.14999 12.4V13.2C2.84999 13.2 3.44999 13.8 3.44999 14.5C3.44999 15.2 2.84999 15.9 2.14999 15.9C1.44999 15.9 0.849988 15.3 0.849988 14.6C0.849988 13.9 1.44999 13.2 2.14999 13.2V12.4C0.949988 12.4 0.0499878 13.4 0.0499878 14.5C0.0499878 15.6 1.04999 16.6 2.14999 16.6C3.34999 16.6 4.24999 15.6 4.24999 14.5C4.24999 13.3 3.24999 12.4 2.14999 12.4Z" fill="%23318cdd"/></g><defs><clipPath id="clip0"><rect width="16.7" height="16.6" fill="white" transform="translate(0.0499878)"/></clipPath></defs></svg>');
}

.is-active .dp-view {
  background-image: url('data:image/svg+xml,<svg width="19" height="13" viewBox="0 0 19 13" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M9.40001 1.04999C4.00001 1.04999 1.10001 6.54999 1.10001 6.54999C1.10001 6.54999 3.20001 12.05 9.40001 12.05C15 12.05 17.7 6.54999 17.7 6.54999C17.7 6.54999 15 1.04999 9.40001 1.04999Z" stroke="%23318cdd" stroke-miterlimit="10"/><path d="M9.40001 4.34998C8.20001 4.34998 7.20001 5.34998 7.20001 6.64998C7.20001 7.84998 8.20001 8.84998 9.40001 8.84998C10.6 8.84998 11.6 7.84998 11.6 6.64998C11.7 5.34998 10.7 4.34998 9.40001 4.34998Z" fill="%23318cdd"/></g><defs><clipPath id="clip0"><rect width="17.7" height="12" fill="white" transform="translate(0.600006 0.549988)"/></clipPath></defs></svg>');
}

.newControlsList .dp-Select {
  user-select: none;
}

.dp-FilterControlsItem .dp-ItemRow {
  position: relative;
}

.newControlsList .dp-FilterControlsItem .dp-Icon.dp-small_caret {
  background-image: url('data:image/svg+xml,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M9.89999 1.49999C9.89999 1.59999 9.79999 1.69999 9.69999 1.89999L5.79999 5.79999C5.69999 5.89999 5.59999 5.99999 5.39999 5.99999C5.19999 5.99999 5.09999 5.89999 4.99999 5.79999L1.09999 1.89999C0.999994 1.69999 0.899994 1.59999 0.899994 1.49999C0.899994 1.39999 0.999994 1.19999 1.09999 1.09999C1.19999 0.999994 1.29999 0.899994 1.49999 0.899994H9.39999C9.59999 0.899994 9.69999 0.999994 9.79999 1.09999C9.89999 1.19999 9.89999 1.29999 9.89999 1.49999Z" fill="%23979797"/></g><defs><clipPath id="clip0"><rect width="9" height="5.1" fill="white" transform="translate(0.899994 0.899994)"/></clipPath></defs></svg>');
  background-size: 9px 5.1px;
  background-size: 8px 5px;
  height: 10px;
  margin: 0;
  position: absolute;
  right: 15px;
  top: 2px;
  width: 10px;
}

.newControlsList .dp-FilterControlsItem.is-active .dp-Icon.dp-small_caret {
  background-image: url('data:image/svg+xml,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M9.89999 1.49999C9.89999 1.59999 9.79999 1.69999 9.69999 1.89999L5.79999 5.79999C5.69999 5.89999 5.59999 5.99999 5.39999 5.99999C5.19999 5.99999 5.09999 5.89999 4.99999 5.79999L1.09999 1.89999C0.999994 1.69999 0.899994 1.59999 0.899994 1.49999C0.899994 1.39999 0.999994 1.19999 1.09999 1.09999C1.19999 0.999994 1.29999 0.899994 1.49999 0.899994H9.39999C9.59999 0.899994 9.69999 0.999994 9.79999 1.09999C9.89999 1.19999 9.89999 1.29999 9.89999 1.49999Z" fill="%23318cdd"/></g><defs><clipPath id="clip0"><rect width="9" height="5.1" fill="white" transform="translate(0.899994 0.899994)"/></clipPath></defs></svg>');
}

.dp-RowBtn {
  display: flex;
  padding: 3.5px 10px;
}

.dp-RowBtn .dp-btn {
  padding: 10px 15px;
}

.dp-ViewItem {
  align-items: center;
  display: flex;
  max-width: 100%;
  padding: 0 10px;
}

.dp-dropdownContainer {
  position: relative;
}

/* .dp-ActionButton { */

.dp-ActionButton + .dp-ActionButton {
  margin-left: 10px;
}

.Tabs--actions .dp-Tabs-item, .dp-ActionButton {
  background-color: var(--white);
  border: 1px solid var(--grey-light);
  border-radius: var(--border-radius-button);
  color: var(--grey-darkest);
  cursor: pointer;
  display: block;
  font: var(--h-s-semibold);
  min-height: 25px;
  min-width: 60px;
  padding: 4px 21px 4px 6px;
  position: relative;
  text-align: left;
  vertical-align: middle;

  &.ActionButton--large {
    min-width: 141px;
  }

  &.ActionButton--Xlarge {
    min-width: 166px;
  }

  &.ActionButton--XXlarge {
    min-width: 208px;
  }

}

.Tabs--actions .dp-Tabs-item.dp-Arrow::after, .dp-ActionButton.dp-Arrow::after, .dp-IconTextButton.dp-Arrow::after {
  border-color: var(--grey-dark) transparent transparent transparent;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  bottom: 0;
  content: "";
  height: 0;
  margin: auto;
  position: absolute;
  right: 6px;
  top: 0;
  width: 0;
}

.dp-Tabs-item .dp-iconRocketwhite {
  display: none;
}

.Tabs--actions .dp-Tabs-item.is-active {
  background-color: var(--brand-primary);
  color: var(--white);
}

.dp-Tabs-item.dp-Arrow.is-active::after {
  border-color: var(--white) transparent transparent transparent;
  transform: rotate(180deg);
}

.dp-Tabs-item.is-active .dp-iconRocketwhite {
  background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 11 11" style="enable-background:new 0 0 11 11;" xml:space="preserve"><style type="text/css">.st0{fill:%23ffffff;}</style><path class="st0" d="M9.5,2.2c0-0.2-0.1-0.3-0.2-0.5S9,1.5,8.8,1.5S8.5,1.6,8.4,1.7S8.2,2,8.2,2.2s0.1,0.3,0.2,0.5s0.3,0.2,0.5,0.2 s0.3-0.1,0.5-0.2S9.5,2.3,9.5,2.2z M11,0.2c0,1.1-0.2,2.1-0.5,2.9S9.6,4.7,8.8,5.5C8.4,5.9,8,6.3,7.5,6.7L7.3,9.3 c0,0.1,0,0.1-0.1,0.2L4.6,11c0,0-0.1,0-0.1,0c-0.1,0-0.1,0-0.2-0.1l-0.4-0.4c-0.1-0.1-0.1-0.1-0.1-0.2l0.6-1.9L2.6,6.5L0.7,7.1 c0,0,0,0-0.1,0c-0.1,0-0.1,0-0.2-0.1L0.1,6.6C0,6.5,0,6.5,0,6.4l1.5-2.6c0-0.1,0.1-0.1,0.2-0.1l2.6-0.1c0.4-0.5,0.8-1,1.2-1.3 c0.8-0.8,1.6-1.4,2.4-1.7S9.6,0,10.8,0c0.1,0,0.1,0,0.2,0.1C11,0.1,11,0.2,11,0.2z"/></svg>');
  display: inline-block;
}

.dp-Tabs-item.is-active .dp-iconRocketBlue {
  display: none;
}

.dp-Tabs.Tabs--actions .dp-Tabs-item.is-active {
  border: 0;
  color: var(--white);
  margin-bottom: 0;
}

.dp-Tabs.Tabs--actions .dp-Tabs-item.is-active:hover {
  color: var(--white);
}

.dp-Tabs.Tabs--actions .dp-Tabs-item:hover {
  border: 0;
  color: var(--grey-darkest);
  margin-bottom: 0;
}

/* Level Grid */

.dp-Level .dp-LevelCol {
  display: flex;
  flex-direction: column;
}

.dp-Level .dp-LevelCol:first-child {
  flex: 0 0 auto;
}

.dp-Level .dp-LevelCol:nth-child(2) {
  flex: 0 1 100%;
}

.dp-Level .dp-LevelCol:last-child {
  flex: 1 0 auto;
}

/* listpane/kanban-view */

.dp-KanbanView .dp-Level .dp-LevelCol:nth-child(2),
.dp-KanbanView .dp-CustomCheckbox {
  max-width: 200px;
}

/* Listpane/guides */

.dp-CardList.dp-Listpane-guides > .dp-Card.dp-Level:first-child {
  border: 1px dashed var(--grey-light);
  border-bottom: 1px solid var(--grey-light);
}

.dp-CardList.dp-Listpane-guides > .dp-Card {
  border-right: 1px dashed var(--grey-light);
}

.dp-Listpane-guides .dp-Card {
  border-left: 1px solid var(--grey-light);
  border-top: 0;
}

.dp-CardList.dp-Listpane-guides > .dp-Card.Level--down {
  border-left: 0;
}

.dp-Listpane-guides .Level--down {
  border-bottom: 0;
  display: none;
  padding: 0 0 0 30px;
  position: relative;
}

.dp-Listpane-guides .dp-Card.is-active + .Level--down {
  display: block;
}

.dp-Card.dp-Level.is-active > .dp-LevelCol .dp-down_caret {
  background-image: url('data:image/svg+xml,<svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M8.05001 8.94999L15.05 1.64999C15.35 1.24999 15.35 0.749988 15.05 0.349988C14.75 -0.0500122 14.15 -0.0500122 13.85 0.349988L8.05001 6.34999L2.25001 0.349988C1.95001 -0.0500122 1.35001 -0.0500122 1.05001 0.349988C0.750012 0.749988 0.750012 1.24999 1.05001 1.64999L8.05001 8.94999Z" fill="%233a8dde"/></g><defs><clipPath id="clip0"><rect width="14.5" height="8.8" fill="white" transform="translate(0.750015 0.149994)"/></clipPath></defs></svg>');
  transform: rotate(-180deg);
}

.dp-Listpane-guides .Level--down::after {
  background-color: var(--grey-lightest);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 30px;
}

.dp-Listpane-guides .Level--down .dp-sub_field {
  left: -20px;
  position: absolute;
  top: 5px;
  z-index: 1;
}

.dp-Card .dp-drag {
  height: 12px;
  margin-right: 5px;
  width: 12px;
}

.Level--down .dp-Card.dp-Level .dp-sub_field::after {
  background-color: var(--grey);
  content: "";
  height: 60px;
  left: 0;
  position: absolute;
  top: -55px;
  width: 1px;
}

.Level--down .dp-Card.dp-Level:first-child .dp-sub_field::after {
  display: none;
}

.Card--primary {
  background-color: var(--info-light);
}

.dp-Listpane-guides .dp-Card .dp-iconUserAvatar + .dp-iconUserAvatar {
  background-color: var(--white);
  border-radius: 50%;
  margin-left: -5px;
  padding: 10px;
}

/* listpane/tasksnew */

.dp-CardList.dp-Tasks-list .dp-Card-title > .dp-Approve {
  background-image: url('data:image/svg+xml,<svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 0.500002C4.92537 0.500002 0 5.42537 0 11.5C0 17.5746 4.92537 22.5 11 22.5C17.0746 22.5 22 17.5746 22 11.5C22 5.42537 17.0746 0.500002 11 0.500002ZM11 21.1455C5.66418 21.1455 1.35448 16.7948 1.35448 11.5C1.35448 6.16418 5.70523 1.85448 11 1.85448C16.2948 1.85448 20.6455 6.20523 20.6455 11.5C20.6455 16.7948 16.3358 21.1455 11 21.1455Z" fill="%23A9B0B0"/><path d="M9.4038 16.5569C9.06612 16.5838 8.72988 16.4651 8.48272 16.225L5.35678 13.2336C4.87682 12.7743 4.86295 12.0174 5.31765 11.5385C5.77696 11.0585 6.53382 11.0446 7.01276 11.4993L9.17312 13.5685L14.0803 7.20317C14.4857 6.67712 15.2389 6.58178 15.764 6.98265C16.29 7.38812 16.3853 8.14133 15.9845 8.66635L10.2628 16.0895C10.0274 16.4663 9.46119 16.5538 9.4038 16.5569Z" fill="%23A9B0B0"/></svg>');
  background-size: 16px 16px;
  height: 16px;
  margin: 0 5px 0 0;
  width: 16px;
}

.dp-CardList.dp-Tasks-list .dp-Card-title > .dp-Approve.is-active {
  background-image: url('data:image/svg+xml,<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="8.18848" cy="8.625" r="7.75" fill="%2354B162"/><path d="M8.18848 0.5C3.76742 0.5 0.188477 4.07895 0.188477 8.5C0.188477 12.9211 3.76742 16.5 8.18848 16.5C12.6095 16.5 16.1885 12.9211 16.1885 8.5C16.1885 4.07895 12.6095 0.5 8.18848 0.5ZM8.18848 15.8684C4.1183 15.8684 0.820055 12.5702 0.820055 8.5C0.820055 4.42982 4.1183 1.13158 8.18848 1.13158C12.2587 1.13158 15.5569 4.42982 15.5569 8.5C15.5569 12.5702 12.2587 15.8684 8.18848 15.8684Z" fill="%2354B162"/><g clip-path="url(#clip0)"><path d="M3.83915 9.68578C3.63825 9.48258 3.63825 9.13716 3.83915 8.93396L3.94964 8.82221C4.15053 8.61901 4.49205 8.61901 4.69294 8.82221L6.62151 10.7729L11.684 5.65239C11.8849 5.4492 12.2264 5.4492 12.4273 5.65239L12.5378 5.76415C12.7387 5.96734 12.7387 6.31277 12.5378 6.51597L6.62151 12.5L3.83915 9.68578Z" fill="%23F7F7F7"/></g><defs><clipPath id="clip0"><rect width="9" height="7" fill="white" transform="matrix(1 0 0 -1 3.68848 12.5)"/></clipPath></defs></svg>');
}

.dp-CardList.dp-Tasks-list .dp-Card {
  border: 1px dashed var(--grey-light);
  border-bottom: 1px solid var(--grey-light);
  position: relative;
}

.dp-CardList.dp-Tasks-list .dp-Card:hover {
  background-color: var(--info-light);
  border-right: 1px solid var(--grey-light);
}

/* .dp-CardList.dp-Tasks-list .dp-Card:hover .dp-LevelItem > .dp-Icon { */

.dp-Card.is-active .dp-settings,
.dp-Card:hover .dp-LevelItem > .dp-settings {
  display: block;
}

/* .dp-Tasks-list > .dp-Card .dp-UserInfo + .dp-Icon { */

.dp-Card .dp-settings {
  background-color: var(--info-light);
  border: 1px solid var(--grey-light);
  border-radius: 50%;
  display: none;
  left: calc(100% - 10px);
  padding: 8px;
  position: absolute;
  top: calc(50% - 8.5px);
}

.dp-Tasks-list .dp-CustomCheckbox input[type="checkbox"] + label {
  display: block;
  max-width: 100%;
  padding-left: 20px;
}

.dp-Tasks-list .dp-Card-link {
  color: var(--brand-primary);
  font: var(--p-xl);
  text-decoration: underline;
}

.dp-Tasks-list .dp-link {
  background-size: 12px 12px;
}

.dp-Tasks-list .dp-UserInfo {
  display: flex;
}

.dp-CardList .dp-DateGroup {
  align-items: center;
  display: flex;
}

.dp-CardList .dp-DateGroup .dp-Icon {
  background-size: 15px 16px;
}

.dp-CardList .dp-Date-link,
.dp-Tasks-list .dp-UserInfo > .dp-UserName {
  color: var(--brand-primary);
  font: var(--p-n);
}

.dp-Tasks-list .dp-Card > .dp-LevelItem {
  margin-bottom: 10px;
}

.dp-Tasks-list .dp-Card > .dp-LevelItem:last-child {
  margin-bottom: 0;
}

.dp-Tasks-list .dp-LevelItem:nth-child(n+2) {
  padding-left: 20px;
}

.dp-UserInfo.dp-LevelLeft,
.dp-UserInfo.dp-LevelRight {
  flex: 0 1 auto;
}

.dp-settings.is-active {
  background-image: url('data:image/svg+xml,<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M8.69999 6.34999C8.69999 5.74999 8.49999 5.34999 8.09999 4.94999C7.69999 4.54999 7.29999 4.34999 6.69999 4.34999C6.09999 4.34999 5.69999 4.54999 5.29999 4.94999C4.89999 5.34999 4.69999 5.74999 4.69999 6.34999C4.69999 6.94999 4.89999 7.34999 5.29999 7.74999C5.69999 8.14999 6.09999 8.34999 6.69999 8.34999C7.29999 8.34999 7.69999 8.14999 8.09999 7.74999C8.49999 7.34999 8.69999 6.94999 8.69999 6.34999ZM12.7 5.44999V7.14999C12.7 7.24999 12.7 7.24999 12.6 7.34999C12.5 7.44999 12.5 7.44999 12.4 7.44999L11 7.64999C10.9 7.94999 10.8 8.14999 10.7 8.34999C10.9 8.64999 11.2 8.94999 11.5 9.44999C11.6 9.54999 11.6 9.54999 11.6 9.64999C11.6 9.74999 11.6 9.74999 11.5 9.84999C11.4 10.05 11.1 10.35 10.7 10.65C10.3 10.95 10.1 11.25 9.99999 11.25C9.89999 11.25 9.89999 11.25 9.79999 11.15L8.79999 10.35C8.59999 10.45 8.29999 10.55 8.09999 10.65C7.99999 11.35 7.89999 11.85 7.89999 12.15C7.79999 12.25 7.69999 12.35 7.59999 12.35H5.79999C5.69999 12.35 5.69999 12.35 5.59999 12.25C5.49999 12.15 5.49999 12.15 5.49999 12.05L5.29999 10.65C4.99999 10.55 4.79999 10.45 4.59999 10.35L3.49999 11.15C3.39999 11.15 3.39999 11.25 3.29999 11.25C3.19999 11.25 3.19999 11.25 3.09999 11.15C2.39999 10.55 1.99999 10.15 1.79999 9.84999C1.79999 9.74999 1.69999 9.74999 1.69999 9.64999C1.69999 9.54999 1.69999 9.54999 1.79999 9.44999C1.89999 9.34999 1.99999 9.14999 2.19999 8.94999C2.39999 8.74999 2.59999 8.54999 2.69999 8.44999C2.49999 8.24999 2.39999 7.94999 2.39999 7.64999L0.899993 7.44999C0.799993 7.44999 0.799993 7.44999 0.699993 7.34999C0.599993 7.24999 0.699993 7.24999 0.699993 7.24999V5.44999C0.699993 5.44999 0.699993 5.34999 0.799993 5.24999C0.899993 5.14999 0.899993 5.14999 0.899993 5.14999L2.39999 4.94999C2.39999 4.74999 2.49999 4.44999 2.69999 4.24999C2.49999 3.94999 2.19999 3.54999 1.79999 3.14999C1.79999 3.14999 1.79999 3.04999 1.79999 2.94999C1.79999 2.84999 1.79999 2.84999 1.89999 2.74999C1.99999 2.64999 2.19999 2.34999 2.59999 1.94999C2.99999 1.54999 3.19999 1.34999 3.29999 1.34999C3.39999 1.34999 3.39999 1.34999 3.49999 1.44999L4.59999 2.34999C4.79999 2.24999 5.09999 2.14999 5.29999 2.04999C5.39999 1.34999 5.49999 0.849991 5.59999 0.549991C5.59999 0.449991 5.69999 0.349991 5.79999 0.349991H7.49999C7.59999 0.349991 7.69999 0.349991 7.79999 0.449991C7.89999 0.549991 7.89999 0.549991 7.89999 0.649991L8.09999 2.04999C8.29999 2.14999 8.59999 2.24999 8.79999 2.34999L9.89999 1.54999C9.89999 1.54999 9.99999 1.44999 10.1 1.44999C10.2 1.44999 10.2 1.44999 10.3 1.54999C11 2.14999 11.4 2.64999 11.6 2.84999C11.6 2.84999 11.7 2.94999 11.7 3.04999C11.7 3.14999 11.7 3.14999 11.6 3.24999C11.5 3.34999 11.4 3.54999 11.2 3.74999C11 3.94999 10.8 4.14999 10.7 4.24999C10.8 4.54999 10.9 4.74999 11 5.04999L12.4 5.24999C12.5 5.24999 12.5 5.24999 12.6 5.34999C12.7 5.44999 12.7 5.44999 12.7 5.44999Z" fill="%233a8dde"/></g><defs><clipPath id="clip0"><rect width="12" height="12" fill="white" transform="translate(0.699997 0.349991)"/></clipPath></defs></svg>');
}

.is-active > .dp-Menu,
.is-active + .dp-Comments {
  display: block;
}

.dp-Comments {
  background-color: var(--white);
  border: 1px solid var(--brand-primary);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  box-shadow: var(--shadow-bottom-right);
  display: none;
  left: 0;
  left: 2.5%;
  padding: 10px;
  position: absolute;
  top: 100%;
  white-space: nowrap;
  width: 95%;
  z-index: 9;
}

.dp-Comments-title {
  color: var(--grey-darkest);
  font: var(--p-n);
}

.dp-Comments::before {
  border-color: transparent transparent var(--brand-primary) transparent;
  border-style: solid;
  border-width: 10px;
  content: "";
  height: 0;
  position: absolute;
  right: 50px;
  top: -20px;
  width: 0;
}

.dp-Comments::after {
  border-color: transparent transparent var(--white) transparent;
  border-style: solid;
  border-width: 11px;
  content: "";
  height: 0;
  position: absolute;
  right: 49px;
  top: -20px;
  width: 0;
}

.dp-Comments .dp-txt {
  color: var(--grey-dark);
  font: var(--p-n);
  padding-bottom: 10px;
  width: 100%;
}

.dp-Comments-item {
  margin: 0;
}

.dp-Comments-item > .dp-Level {
  justify-content: space-between;
}

.dp-Comments-item {
  display: block;
}

.dp-Comments-item:first-child {
  border-bottom: 1px solid var(--grey-light);
  margin-bottom: 10px;
}

.dp-Comments .dp-ReplyWrapper {
  border-color: var(--grey-light);
}

.Task--completed .dp-Card {
  background-color: var(--grey-lighter);
  filter: grayscale(100%);
}

.dp-CardList.dp-Tasks-list.Task--completed .dp-Card:hover .dp-LevelItem > .dp-Icon {
  display: none;
}

.Task--completed .dp-CustomCheckbox input[type="checkbox"] + label::before {
  background-color: transparent;
}

.dp-Department:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Card Row */

.dp-CardList.Card--row .dp-UserInfo {
  padding-left: 25px;
}

/* Listpane/settings-cog */

.CardList-settings-cog {
  border: 1px dashed var(--grey-light);
}

.dp-General-Articles {
  padding-left: 35px;
}
