@import "../fonts.css";
@import "../vars.css";
@import "../dp-Arrow.css";
@import "../components/dp-icons.css";

.dp-Title.Title-Icon {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}

/* Pagination */

.dp-Pagination {
  align-items: center;
  background-color: var(--grey-lightest);
  border-top: 1px solid var(--grey-light);
  display: flex;
  padding: 10px 0;
}

.dp-Pagination > li {
  margin: 0;
}

.dp-PageNumber {
  align-items: center;
  background: var(--white);
  border: solid 1px var(--grey-light);
  border-radius: 2px;
  color: var(--grey-darkest);
  display: flex;
  font: var(--p-n);
  justify-content: center;
  margin-right: 2px;
  min-height: 20px;
  min-width: 20px;
  text-decoration: none;
}

.dp-BreakPagination {
  display: flex;
  justify-content: center;
  margin-top: -6px;
  min-height: 20px;
  min-width: 20px;
}

.dp-PageNumber.is-hover,
.dp-PageNumber:hover,
.dp-PageNumber.gradient:hover {
  background-color: var(--primary-light);
  border: 1px solid var(--brand-primary);
  color: var(--brand-primary);
  cursor: pointer;
}

.dp-PageNumber.is-active {
  background: var(--brand-primary);
  border: none;
  color: var(--white);
}

.dp-PaginationArrows .dp-Icon {
  background-size: 10px 15px;
  display: flex;
  height: 20px;
  width: 20px;
}

.dp-Pagination a:hover {
  cursor: pointer;
}

.dp-PageJump {
  align-items: center;
  display: flex;
  list-style: none;
  padding: 0;
  padding-left: 16px;
  position: relative;
}

.dp-PageJump::after {
  background-color: var(--grey-light);
  content: "";
  height: 100%;
  left: 5px;
  position: absolute;
  top: 0;
  width: 1px;
}

.dp-PageJump .dp-title {
  color: var(--grey-darkest);
  font: var(--p-n);
}

.dp-PageJump .dp-Input {
  background-color: var(--white);
  border: 1px solid var(--grey-light);
  border-radius: 2px;
  color: var(--grey-darkest);
  font: var(--p-n);
  height: 20px;
  margin-left: 10px;
  margin-right: 5px;
  max-width: 24px;
  position: relative;
  text-align: center;
}

.dp-PageJump .dp-Input:focus {
  border: 1px solid var(--brand-primary);
}

.dp-PageJump .dp-Input + .dp-Button {
  background-color: var(--grey-light);
  border: 1px solid var(--grey-light);
  max-width: 25px;
  padding: 3px 4px;
}

.dp-PageJump .dp-Input + .dp-Button:hover {
  background-color: var(--brand-primary);
  border: 1px solid var(--brand-primary);
}

.dp-PageJump .dp-Input:focus + .dp-Button {
  background-color: var(--brand-primary);
  border: 1px solid var(--brand-primary);
}

.dp-GroupSortBar {
  display: flex;
  justify-content: space-between;
}

.dp-PaginationArrows .dp-Icon.dp-arrowLeft svg + .dp-PageNumber {
  fill: var(--brand-primary);
}

.dp-PaginationArrows .dp-Icon.dp-arrowLeft svg + .dp-PageNumber.is-active {
  fill: var(--grey-light);
}

/* listpane/kanban-view */

/* .dp-KanbanView {
  max-width: 330px;
}

.dp-KanbanView .dp-UserEmailItem {
  display: inline-block;
  max-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}
*/

/* Listpane/guides */

.dp-MassSelectTitle .dp-ItemRow {
  align-items: center;
  background-color: var(--grey-lightest);
  display: flex;
}

.dp-MassSelect .dp-CustomCheckbox {
  display: flex;
  padding-left: 10px;
  position: relative;
}

.dp-CustomCheckbox input[type="checkbox"] + label.dp-Input-arrow {
  padding: 0;
}

.dp-MassSelectTitle .dp-ListPane {
  background-color: transparent;
}

.dp-RowBtn {
  display: flex;
  padding: 3.5px 10px;
}

.dp-RowBtn .dp-btn {
  padding: 10px 15px;
}

.dp-ViewItem {
  align-items: center;
  display: flex;
  max-width: 100%;
  padding: 0 10px;
}

.dp-dropdownContainer {
  position: relative;
}

.dp-ActionButton + .dp-ActionButton {
  margin-left: 10px;
}

.dp-Tabs.Tabs--actions .dp-Tabs-item {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius-button);
  display: flex;
  padding: 8px 6px;
  position: relative;
}

.dp-ActionButton {
  background-color: var(--white);
  border: 1px solid var(--grey-light);
  border-radius: var(--border-radius-button);
  color: var(--grey-darkest);
  cursor: pointer;
  display: block;
  font: var(--h-s-semibold);
  min-height: 25px;
  min-width: 60px;
  padding: 4px 21px 4px 6px;
  position: relative;
  text-align: left;
  vertical-align: middle;

  &.ActionButton--large {
    min-width: 141px;
  }

  &.ActionButton--Xlarge {
    min-width: 166px;
  }

  &.ActionButton--XXlarge {
    min-width: 208px;
  }

}

.dp-Tabs.Tabs--actions .dp-Tabs-item.is-active {
  background-color: var(--brand-primary);
  border: 0;
  color: var(--white);
  margin-bottom: 0;
}

.Tabs--actions .dp-Tabs-item.is-active .dp-Arrow::after {
  border-color: transparent transparent var(--white) transparent;
  border-width: 0 4px 4px 4px;
}

.Tabs--actions .dp-Tabs-item:hover .dp-Arrow::after {
  border-color: transparent transparent var(--grey-dark) transparent;
}

.dp-Tabs.Tabs--actions .dp-Tabs-item.is-active:hover {
  color: var(--white);
}

.dp-Tabs.Tabs--actions .dp-Tabs-item:hover {
  border: 0;
  color: var(--grey-dark);
  margin-bottom: 0;
}

.Tabs--actions .dp-Tabs-item:hover .dp-Arrow::after {
  border-color: var(--grey-dark) transparent transparent transparent;
  border-width: 4px 4px 0 4px;
}

.Tabs--actions .dp-Tabs-item.is-active:hover .dp-Arrow::after {
  border-color: transparent transparent var(--white) transparent;
  border-width: 0 4px 4px 4px;
}

/* listpane/tasksnew */

.dp-Card.dp-Tasks-list label > .dp-Approve {
  background-size: 16px 16px;
  cursor: pointer;
  height: 16px;
  margin: 0 5px 0 0;
  width: 16px;
}

.dp-Card.dp-Tasks-list label > .dp-Approve:hover {
  fill: var(--brand-primary);
}

.dp-Card.dp-Tasks-list {
  border-right: 1px solid var(--grey-light);
}

.dp-Card.dp-Tasks-list .dp-Card:hover {
  background-color: var(--info-light);
}

.dp-Card:hover > .dp-settings,
.dp-Card:hover .dp-LevelItem > .dp-settings,
.dp-Card.is-active .dp-settings,
.is-active .dp-settings {
  display: block;
}

.dp-Card:hover .dp-Cog {
  display: block;
}

.dp-Card .dp-Cog {
  display: none;
  left: calc(100% - 9px);
  position: absolute;
  top: calc(50% - 9px);
  z-index: 9;
}

.dp-Card .dp-settings {
  background-color: var(--info-light);
  background-position: 50% 50%;
  background-size: 14px 14px;
  border: 1px solid var(--grey-light);
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  width: 18px;
}

.dp-Cog .is-active + .dp-Menu {
  display: block;
  margin-left: 4px;
  margin-top: 2px;
  padding: 10px 0;
}

.dp-Cog .dp-Menu {
  min-width: 125px;
  position: relative;
  width: 100%;
}

.dp-Tasks-list .dp-CustomCheckbox input[type="checkbox"] + label {
  padding-left: 20px;
}

.dp-Tasks-list .dp-Card-link {
  align-items: center;
  color: var(--brand-primary);

  display: flex;
  font: var(--p-xl);
  text-decoration: underline;
}

.dp-Tasks-list .dp-link {
  background-size: 12px 12px;
}

.dp-Tasks-list .dp-UserInfo {
  display: flex;
}

.dp-CardList .dp-DateGroup {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  min-width: 100px;
}

.dp-CardList .dp-DateGroup .dp-Icon {
  background-size: 15px 16px;
}

.dp-CardList .dp-Date-link,
.dp-Tasks-list .dp-UserInfo > .dp-UserName {
  color: var(--brand-primary);
  font: var(--p-n);
}

.dp-Tasks-list.dp-Card > .dp-LevelItem {
  margin-bottom: 10px;
}

.dp-Tasks-list.dp-Card > .dp-LevelItem:last-child {
  margin-bottom: 0;
}

.dp-Tasks-list .dp-LevelItem:nth-child(n+2) {
  padding-left: 20px;
}

.dp-UserInfo.dp-LevelLeft,
.dp-UserInfo.dp-LevelRight {
  flex: 0 1 auto;
}

.is-active > .dp-Menu,
.is-active + .dp-Comments {
  display: block;
}

.dp-Comments {
  background-color: var(--white);
  border: 1px solid var(--brand-primary);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  box-shadow: var(--shadow-bottom-right);
  display: none;
  left: 0;
  left: 2.5%;
  padding: 10px;
  position: absolute;
  top: 100%;
  white-space: nowrap;
  width: 95%;
  z-index: 9;
}

.dp-Comments-title {
  color: var(--grey-darkest);
  cursor: pointer;
  font: var(--p-n);
}

.dp-Comments-title .dp-Arrow::after {
  border-color: var(--brand-primary) transparent transparent transparent;
  border-width: 4px 4px 0 4px;
}

.dp-Comments::before {
  border-color: transparent transparent var(--brand-primary) transparent;
  border-style: solid;
  border-width: 10px;
  content: "";
  height: 0;
  position: absolute;
  right: 50px;
  top: -20px;
  width: 0;
}

.dp-Comments::after {
  border-color: transparent transparent var(--white) transparent;
  border-style: solid;
  border-width: 11px;
  content: "";
  height: 0;
  position: absolute;
  right: 49px;
  top: -20px;
  width: 0;
}

.dp-Label-title {
  color: var(--grey-darkest);
  font: var(--h-n-semibold);
  vertical-align: text-top;
  white-space: nowrap;
}

.dp-LevelWrap {
  align-items: center;
  display: flex;
  list-style: none;
}

.dp-LevelWrap > li {
  align-items: center;
  color: var(--brand-primary);
  display: flex;
  font: var(--p-n);
  margin: 0;
  position: relative;
}

.dp-LevelWrap > li:not(:last-child) {
  border-right: 1px solid var(--grey-light);
  margin-right: 10px;
  padding: 0 10px 0 0;
}

.dp-Tasks-list .dp-LevelWrap > li:hover,
.dp-Tasks-list .dp-LevelWrap > li.is-active {
  cursor: pointer;
  text-decoration: underline;
}

.dp-LevelWrap .dp-Icon + .dp-UserName,
.dp-LevelWrap .dp-Icon + .dp-date {
  margin-left: 5px;
}

.dp-Tasks-list .dp-LevelWrap > li .dp-Icon {
  margin-right: 5px;
}

.dp-LevelWrap > li .dp-Menu {
  margin-left: 20px;
}

.dp-Comments .dp-txt {
  color: var(--grey-dark);
  font: var(--p-n);
  padding: 5px 0 10px;
  width: 100%;
}

.dp-Comments-item {
  display: block;
  margin: 0;
}

.dp-Comments-item > .dp-Level {
  justify-content: space-between;
}

.dp-Comments-item:first-child {
  border-bottom: 1px solid var(--grey-light);
  margin-bottom: 10px;
}

.dp-Comments .dp-ReplyWrapper {
  border-color: var(--grey-light);
}

.Task--completed {
  opacity: 0.55;
}

.Task--completed .dp-Card {
  background-color: var(--grey-lighter);
  filter: grayscale(100%);
}

.dp-Card.dp-Tasks-list.Task--completed .dp-Card:hover .dp-LevelItem > .dp-Icon {
  display: none;
}

.Task--completed .dp-CustomCheckbox input[type="checkbox"] + label::before {
  background-color: transparent;
}

/* GENERAL ARTICLES */

.dp-General-Articles {
  padding-left: 35px;
}

.dp-General-Articles ~ .dp-Card .dp-LevelWrap > li {
  border: 0;
}

/* Menu-fields */

input:disabled + label {
  cursor: not-allowed;
  opacity: 0.6;
}

.dp-CustomCheckbox input[type="checkbox"]:disabled + label::after {
  background-color: var(--grey-light);
}

/* COMMENTS */

.dp-Tasks-list .dp-LevelWrap {
  align-items: center;
  justify-content: flex-start;
}

.dp-CardList .dp-Comments-list:hover .dp-LevelWrap {
  background-color: rgba(58, 141, 222, 0.1);
}

.dp-Comments-list .dp-LevelWrap > li {
  color: var(--grey-darkest);
}

.dp-Comments-list .dp-LevelWrap > li:hover {
  color: var(--brand-primary);
  text-decoration: none;
}

.dp-Cog > svg.is-active,
.dp-Tasks-list .dp-LevelWrap > li:hover svg {
  fill: var(--brand-primary);
}

.dp-Comments-list .dp-LevelWrap {
  background-color: var(--grey-lightest);
  margin: 0 -10px -10px -10px;
  padding: 5px 0 5px 25px;
}

.dp-Card-comment {
  color: var(--grey-darkest);
  cursor: pointer;
  font: var(--p-l);
  position: relative;
}

.dp-Card-comment.is-active {
  color: var(--brand-primary);
}

.dp-Card-comment .dp-LevelWrap {
  color: var(--grey-darkest);
  font: var(--p-l);
  position: relative;
}

.dp-Card-comment .dp-Menu {
  padding: 10px;
  width: 425px;
}

.dp-UserDescription {
  color: var(--grey-darkest);
  display: block;
  font: var(--p-xl);
  margin-left: 20px;
  margin-top: 5px;
}

/* Listpane/back-to-organizations */

.dp-Card-subtitle .dp-title {
  color: var(--grey-darkest);
  cursor: pointer;
  font: var(--p-xl);
}

.dp-Card-subtitle .dp-qt {
  color: var(--brand-primary);
}

.dp-Card-subtitle:hover .dp-Members-title {
  color: var(--brand-primary);
}

.dp-Card-subtitle:hover svg {
  color: var(--brand-primary);
}

.Card-tickets-organizations {
  border-top: 1px solid var(--grey);
}

/* Cards/feedback */

.dp-vote {
  border: 1px solid var(--brand-primary);
  border-radius: var(--border-radius);
  display: flex;
  list-style: none;
  margin-right: 10px;
  padding: 0;
  text-transform: uppercase;
}

.dp-vote li:first-child {
  background-color: var(--brand-primary);
  color: var(--white);
}

.dp-vote li, .dp-Card .dp-calendar li {
  color: var(--grey-darkest);
  font: var(--p-s-semibold);
  margin: 0;
  padding: 4px;
  text-align: center;
}

.dp-vote li {
  display: inline-block;
}

.dp-Card .dp-calendar {
  border: 1px solid var(--brand-primary);
  border-radius: var(--border-radius);
  display: inline-block;
  list-style: none;
  margin-right: 10px;
  padding: 0;
  text-transform: uppercase;
}

.dp-Card .dp-calendar li {
  display: block;
}

.dp-Card .dp-calendar li:first-child {
  border-bottom: 1px solid var(--brand-primary);
}

.dp-Card .dp-calendar li:last-child {
  font: var(--h-l-semibold);
}

.dp-Card.dp-Level.Card-news .dp-LevelCol:nth-child(2) {
  flex: 0 0 auto;
}

.dp-Card-title .dp-qt {
  font: var(--p-xl);
  margin-left: 3px;
}

/* Cards/glossary */

.dp-Card-description {
  color: var(--grey-dark);
  font: var(--p-xl);
}

/* Cards/listreveal */

.dp-listreveal .dp-TagWrap {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
}

.dp-listreveal .dp-TagWrap .dp-Tag {
  font: var(--p-s);
  margin: 0 10px 0 0;
  padding: 5px 0;
  text-align: center;
  width: 60px;
}

.dp-listreveal .dp-TagWrap .dp-Comments > li {
  display: block;
}

.dp-listreveal .dp-TagWrap .dp-Comments > li:not(:last-child) {
  margin: 0 0 10px;
}

.dp-TagWrap .dp-description {
  color: var(--grey-darkest);
  font: var(--p-n);
}

.dp-listreveal .dp-Comments::before {
  left: 223px;
  right: auto;
}

.dp-listreveal .dp-Comments::after {
  left: 222px;
  right: auto;
}
