@import "../fonts.css";
@import "../vars.css";

/* .dp-FilterControlsList { */

.dp-ListPane {
  align-items: center;
  background-color: var(--grey-lightest);
  border-right: 1px solid var(--grey-light);
  color: inherit;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  max-width: 130px;
  padding: 10px;
  position: relative;
}

.dp-ListPane .dp-CustomCheckbox.dp-EmptyCheckbox {
  display: flex;
}

.dp-ListPane.dp-DropDownItem {
  width: 100%;
}

.dp-ListPane:last-child {
  border-left: 1px solid var(--grey-light);
  border-right: 0;
  margin-left: auto;
  margin-right: 0;
}

.dp-ListPane .dp-ItemRow {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
  position: relative;
  width: 100%;
}

.dp-ListPane .dp-Select {
  background: transparent;
  border: 0;
  outline: 0;
}

.dp-ListPane .dp-Title {
  color: var(--grey-dark);
  font: var(--p-n-semibold);
  padding: 0 0 0 4px;
}

.newControlsList .dp-ListPane .dp-Title {
  color: var(--grey-darkest);
  padding: 0;
}

.dp-ListPane .dp-iconEye {
  background-size: 19px 19px;
  display: inline-block;
  height: 13px;
  width: 19px;
}

.dp-ListPane .dp-iconSetting {
  background-size: 13px 13px;
  display: inline-block;
  height: 13px;
  width: 13px;
}

.newControlsList .dp-ListPane .dp-Subtitle {
  color: var(--grey-darkest);
  font: var(--p-s);
}

.newControlsList .dp-ListPane .dp-Icon {
  background-size: 23px 23px;
  height: 25px;
  margin-right: 4px;
  width: 25px;
}

.newControlsList .dp-ListPane .dp-csv {
  background-size: 15px 9px;
}

.dp-ListPane .dp-Icon.dp-view {
  background-size: 20px 14px;
  height: 14px;
  width: 20px;
}

.newControlsList .dp-Select {
  user-select: none;
}

.newControlsList .dp-ListPane .dp-Icon.dp-small_caret {
  background-image: url('data:image/svg+xml,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M9.89999 1.49999C9.89999 1.59999 9.79999 1.69999 9.69999 1.89999L5.79999 5.79999C5.69999 5.89999 5.59999 5.99999 5.39999 5.99999C5.19999 5.99999 5.09999 5.89999 4.99999 5.79999L1.09999 1.89999C0.999994 1.69999 0.899994 1.59999 0.899994 1.49999C0.899994 1.39999 0.999994 1.19999 1.09999 1.09999C1.19999 0.999994 1.29999 0.899994 1.49999 0.899994H9.39999C9.59999 0.899994 9.69999 0.999994 9.79999 1.09999C9.89999 1.19999 9.89999 1.29999 9.89999 1.49999Z" fill="%23979797"/></g><defs><clipPath id="clip0"><rect width="9" height="5.1" fill="white" transform="translate(0.899994 0.899994)"/></clipPath></defs></svg>');
  background-size: 9px 5.1px;
  background-size: 8px 5px;
  height: 10px;
  margin: 0;
  width: 10px;
}

.dp-ViewItem {
  align-items: center;
  display: flex;
  max-width: 100%;
  padding: 0 10px;
}

.dp-ListPane .dp-ContextMenu.newControlsList {
  min-width: 250px;
}

.newControlsList .dp-SelectGroup {
  flex: 1 0 0;
}

.dp-ListPane .dp-ContextMenu {
  min-width: 200px;
}

.dp-ContextMenu.newControlsList .dp-CustomCheckbox input[type="checkbox"] + label {
  margin-right: 10px;
  padding-left: 20px;
}

.dp-SortIconDescription {
  align-items: center;
  color: var(--grey);
  display: flex;
  flex-direction: column;
  font: var(--p-s);
  margin-right: 4px;
}

.dp-SortIconDescription:hover {
  color: var(--brand-primary);
  cursor: pointer;
}

.newControlsList .dp-ListPane .dp-sort, .dp-Card-title .dp-sort {
  background-size: 13.2px 10.4px;
  height: 15px;
  width: 15px;
}

.dp-ListPane .dp-SortIconDescription:hover .dp-sort {
  background-image: url('data:image/svg+xml,<svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M3.74999 8.30001V0.800012C3.74999 0.500012 4.04999 0.200012 4.34999 0.200012C4.64999 0.200012 4.94999 0.500012 4.94999 0.800012V8.10001L7.34999 5.70001C7.54999 5.50001 7.94999 5.50001 8.14999 5.70001C8.34999 5.90001 8.34999 6.30001 8.14999 6.50001L5.14999 9.50001L4.34999 10.3L3.44999 9.60001L0.449991 6.60001C0.149991 6.30001 0.149991 6.00001 0.449991 5.70001C0.649991 5.50001 1.04999 5.50001 1.24999 5.70001L3.74999 8.30001Z" fill="%233A8DDE" stroke="%233A8DDE" stroke-width="0.1959" stroke-miterlimit="10"/><path d="M13.15 2.29999L11.05 0.299994C10.85 0.0999939 10.55 0.0999939 10.45 0.299994L8.34999 2.29999C8.24999 2.39999 8.04999 2.69999 8.34999 2.99999C8.44999 3.09999 8.74999 3.09999 8.94999 2.99999L10.35 1.69999V6.69999C10.35 6.99999 10.55 7.19999 10.85 7.19999C11.15 7.19999 11.35 6.99999 11.35 6.69999V1.69999L12.65 2.89999C12.85 3.09999 13.15 3.09999 13.35 2.89999C13.35 2.79999 13.35 2.49999 13.15 2.29999Z" fill="%233A8DDE"/></g><defs><clipPath id="clip0"><rect width="13.2" height="10.4" fill="white" transform="translate(0.149994 0.100006)"/></clipPath></defs></svg>');
  display: inline-block;
}

.dp-Card-title .dp-sort {
  margin-right: 4px;
}

.dp-Card-title > .dp-Icon {
  background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 12 11.5" style="enable-background:new 0 0 12 11.5;" xml:space="preserve"><style type="text/css">.st0{fill:%233A8DDE;}</style><g><polygon class="st0" points="6,8.8 9.7,11.5 8.3,7.1 12,4.5 7.4,4.5 6,0 4.6,4.5 0,4.5 3.7,7.1 2.3,11.5  "/></g></svg>');
  height: 15px;
  margin-left: 15px;
  vertical-align: top;
  width: 15px;
}

.dp-CardList {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.dp-Card-SectionTitle {
  border-bottom: 1px solid var(--grey-light);
  border-top: 1px solid transparent;
  color: var(--grey-darkest);
  display: flex;
  font: var(--h-s-semibold);
  margin: 0;
  padding: 7px 13px;
  text-transform: uppercase;
  width: 100%;
}

.dp-Tableview .dp-Card-title td {
  font: var(--h-s-semibold);
}

.dp-Card-SectionTitle .dp-SortIconDescription {
  align-items: center;
  color: var(--grey);
  display: flex;
  flex-direction: row;
  font: var(--p-s);
  margin-left: 10px;
  max-width: 50px;
}

.dp-Card {
  background-color: var(--white);
  border-bottom: 1px solid var(--grey-light);
  border-top: 1px solid transparent;
  cursor: pointer;
  display: flex;
  padding: 10px 10px;
  position: relative;
  width: 100%;
}

.dp-Card-title {
  color: var(--grey-darkest);
  font: var(--h-n-semibold);
  margin: 0 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 10px);
}

.is-hoverable .dp-Card.is-active,
.is-hoverable .dp-Card:hover {
  background-color: #e1eefb;
  border-top: 1px solid var(--brand-primary);
}

.is-hoverable .dp-Card:hover + .dp-Card,
.is-hoverable .dp-Card.is-active + .dp-Card {
  border-top: 1px solid var(--brand-primary);
}

.is-hoverable .dp-Card:hover + .dp-Card-title,
.is-hoverable .dp-Card.is-active + .dp-Card-title {
  border-top: 1px solid var(--brand-primary);
}

.is-hoverable .dp-Card:last-child.is-active,
.is-hoverable .dp-Card:last-child:hover {
  border-bottom: 1px solid var(--brand-primary);
}

.dp-Icon--circle {
  align-items: center;
  background-color: var(--white);
  background-position: 50%;
  background-repeat: no-repeat;
  border: 1px solid #d3d6d7;
  border-radius: 50%;
  color: var(--white);
  display: flex;
  font: var(--p-n);
  height: 18px;
  justify-content: center;
  margin-left: 7px;
  width: 18px;
}

.dp-Card .dp-colorWhite {
  color: var(--white);
}

.dp-Card.Level-column .dp-UserInfo {
  padding-left: 25px;
}

.dp-Card .dp-UserInfo {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 25px);
}

.dp-Card .dp-iconUserAvatar {
  background-size: 18px 18px;
  height: 18px;
  vertical-align: middle;
  width: 18px;
}

.dp-Card .dp-iconStar,.dp-Card .dp-iconStar--neutral {
  background-size: 20px 15px;
  display: inline-block;
  height: 15px;
  margin-left: 15px;
  vertical-align: top;
  width: 18px;
}

.dp-Card .dp-iconRocket, .dp-Card .dp-iconBug, .dp-Card .dp-iconMln {
  background-size: 12px 12px;
}

.dp-Card.is-active input[type="checkbox"] + label::before {
  border: 1px solid var(--brand-primary);
}

.dp-Card .dp-iconClock {
  background-size: 18px 18px;
  display: inline-block;
}

.dp-Card .dp-iconLock {
  background-size: 12px 12px;
  height: 18px;
  width: 12px;
}

.dp-Card .dp-UserName {
  color: var(--grey-darkest);
  font: var(--p-xl);
}

.dp-Card .dp-UserEmail {
  color: var(--grey-dark);
  font: var(--p-xl);
  margin-left: 5px;
}

.dp-Card .dp-TimeStatus {
  color: var(--grey-dark);
  font: var(--p-n);
}

.dp-TimeStatus .dp-Tag {
  display: inline-block;
  min-width: 63px;
  text-align: center;
}

.dp-Card .dp-Meta {
  color: var(--grey-dark);
  display: flex;
  font: var(--p-s);
}

.dp-Card .dp-Meta-value {
  color: var(--grey-darkest);
  margin-left: 2px;
}

.dp-Card .dp-Meta::after {
  border-right: 1px solid var(--grey-dark);
  content: "";
  height: 10px;
  margin: 0 10px;
  width: 1px;
}

.dp-Card .dp-Meta:last-child::after {
  display: none;
}

.dp-Card .dp-JustifyStart {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.dp-Tag .dp-close {
  height: 12px;
  position: absolute;
  right: 0;
  top: calc(50% - 7px);
  width: 12px;
}

.dp-Card-title.dp-StarAlign {
  margin-right: 50px;
}

/* Pagination */

.dp-Pagination {
  align-items: center;
  display: flex;
}

.dp-PageNumber {
  align-items: center;
  background: var(--white);
  border: solid 1px var(--grey-light);
  border-radius: 2px;
  color: var(--grey-darkest);
  display: flex;
  font: var(--p-n);
  justify-content: center;
  margin-right: 2px;
  min-height: 20px;
  min-width: 20px;
  text-decoration: none;
}

.dp-BreakPagination {
  display: flex;
  justify-content: center;
  margin-top: -6px;
  min-height: 20px;
  min-width: 20px;
}

.dp-PageNumber:hover, .dp-PageNumber.gradient:hover {
  background-color: var(--primary-light);
  border: 1px solid var(--brand-primary);
  cursor: pointer;
}

.dp-PageNumber.is-active {
  background: var(--brand-primary);
  border: none;
  color: var(--white);
}

.dp-PaginationArrows .dp-Icon {
  background-size: 10px 15px;
  display: flex;
  height: 20px;
  width: 20px;
}

.dp-Pagination:hover {
  cursor: pointer;
}

.dp-arrowRight:hover {
  background-image: url('data:image/svg+xml,<svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M6.5937 4.96901L1.61642 0.62418C1.34369 0.437973 1.00279 0.437973 0.730058 0.62418C0.457331 0.810387 0.457331 1.1828 0.730058 1.36901L4.82097 4.96901L0.730058 8.56901C0.457331 8.75522 0.457331 9.12763 0.730058 9.31384C1.00279 9.50004 1.34369 9.50004 1.61642 9.31384L6.5937 4.96901Z" fill="%233A8DDE"/></g><defs><clipPath id="clip0"><rect width="9" height="6" fill="white" transform="translate(0.59375 9.5) rotate(-90)"/></clipPath></defs></svg>');
}

.dp-arrowLeft:hover {
  background-image: url('data:image/svg+xml,<svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.0938049 5.03099L5.07108 9.37582C5.34381 9.56203 5.68471 9.56203 5.95744 9.37582C6.23017 9.18961 6.23017 8.8172 5.95744 8.63099L1.86653 5.03099L5.95744 1.43099C6.23017 1.24478 6.23017 0.872371 5.95744 0.686164C5.68471 0.499957 5.34381 0.499957 5.07108 0.686164L0.0938049 5.03099Z" fill="%233A8DDE"/></svg>');
}

.dp-Pagination-two .dp-Icon.dp-arrowLeft--primary, .dp-Pagination-two .dp-Icon.dp-arrowRight--primary {
  background-size: 14px 20px;
  height: 20px;
  width: 25px;
}

/* listpane/rightclick */

.dp-CardMenu li {
  color: var(--grey-darkest);
  cursor: pointer;
  display: block;
  font: var(--p-xl);
  padding: 3.5px 10px;
  position: relative;
}

.dp-CardMenu li.dp-DropdownDivider {
  padding: 0;
}

.dp-CardMenu li > a.dp-listItem {
  color: var(--grey-darkest);
  cursor: pointer;
  display: block;
  padding: 0;
  text-decoration: none;
}

.dp-CardMenu .dp-listLink {
  display: inline-block;
  padding: 0;
  text-decoration: underline;
}

.dp-ContextMenu .dp-Arrow {
  position: initial;
}

.dp-CardMenu li .dp-Arrow {
  display: inline-block;
  float: right;
  padding-left: 60px;
}

.dp-CardMenu li .dp-Arrow::after {
  border-color: transparent transparent transparent #899;
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  bottom: 0;
  content: "";
  height: 0;
  margin: auto;
  position: absolute;
  right: 6px;
  top: 0;
  width: 0;
}

.dp-CardMenu li:hover {
  background-color: var(--primary-light);
  color: var(--brand-primary);
}

.dp-CardMenu li:hover .dp-listLink {
  border-color: var(--brand-primary);
  color: var(--brand-primary);
}

.dp-CardMenu li:hover .dp-Arrow::after {
  border-color: transparent transparent transparent var(--brand-primary);
}

.dp-CardMenu li:hover > a.dp-listItem {
  color: var(--brand-primary);
}

.dp-CardMenu li:hover .dp-SubContextMenu {
  display: block;
  left: 100%;
  min-width: 180px;
  top: 0;
}

.dp-SearchForm {
  display: block;
  position: relative;
}

.dp-ContextMenu .dp-SearchForm {
  padding: 0 3px;
}

.dp-SearchInput {
  background-color: var(--white);
  font: var(--p-n);
  outline: none;
  padding: 5px 0 5px 25px;
}

/* .dp-CardMenu .dp-SearchInput { */

.dp-ContextMenu .dp-SearchInput {
  border: 2px solid var(--grey-light);
  border-radius: 5px;
}

.dp-CardMenu .dp-SearchInput:focus {
  border: 2px solid var(--brand-primary);
}

.dp-SearchForm .dp-Icon.dp-IconSearch {
  cursor: pointer;
  height: 13px;
  left: 10px;
  position: absolute;
  top: calc(50% - 6.5px);
  width: 13px;
}

.dp-CardMenu .dp-Badge {
  margin-left: 0;
  margin-right: 5px;
}

.is-active.dp-CardMenu .dp-Badge.Badge--empty {
  background-color: #eff0f0;
}

.dp-CardMenu .dp-SubContextMenu .dp-listItem::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23318cdd' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  content: "";
  display: block;
  height: 25px;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
}

.dp-CardMenu .dp-SubContextMenu li:hover .dp-listItem::after {
  opacity: 1;
}

.dp-GroupSortBar {
  display: flex;
  justify-content: space-between;
}

/* listpane/kanban-view */

.dp-KanbanView {
  max-width: 310px;
}

.dp-KanbanView .dp-UserEmailItem {
  display: inline-block;
  max-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

/* Table */

.dp-TableWrapper {
  display: block;
  overflow: auto;
}

.dp-Tableview {
  display: table;
  width: 1600px;
}

.dp-Tableview th {
  color: var(--grey-darkest);
  font: var(--p-n-semibold);
}

.dp-Tableview td {
  color: var(--grey-darkest);
  font: var(--p-xl);
}

.dp-Tableview .dp-SubjectItem {
  align-items: center;
  color: var(--grey-darkest);
  display: flex;
  font: var(--h-n-semibold);
}

.dp-Tableview .dp-Card-title {
  border-bottom: none;
  border-top: 1px solid var(--grey-light);
  display: table-row;
  padding: 0;
}

.dp-ColumnControls {
  color: var(--grey-darkest);
  display: table-row;
  font: var(--p-n);
  max-height: 24px;
}

.dp-ColumnControls .dp-TableItem {
  align-items: center;
  display: flex;
}

.dp-TableSubject, .dp-TableLabels, .dp-TableUser {
  width: 230px;
}

.dp-TableDepartment, .dp-TableLanguage, .dp-TableLastreply {
  width: 150px;
}

.dp-Tableview .dp-UserItem {
  align-items: center;
  display: flex;
}

.dp-UserItem .dp-avatar {
  margin-right: 5px;
}

.dp-ColumnControls th, .dp-ColumnControls td {
  border: 0;
  display: table-cell;
  vertical-align: middle;
}

thead .dp-ColumnControls {
  border-bottom: 2px solid var(--grey-light);
  border-top: 1px solid var(--grey-light);
}

.dp-ColumnControls.dp-TableviewBody {
  display: table-row-group;
}

table.dp-TableviewBody tr:first-child {
  border-top: none;
}

thead .dp-Card-title td {
  border: none;
}

.dp-TableviewBody tr:last-child {
  border-bottom: 1px solid var(--grey-light);
}

.dp-Tableview tr:nth-child(2n) {
  background-color: transparent;
}

.is-hoverable tr:hover, .is-hoverable tr.is-active {
  background-color: var(--info-light);
  border-bottom: 1px solid var(--brand-primary);
  border-top: 1px solid var(--brand-primary);
}

/* .dp-TableviewBody .dp-Icon.dp-iconStar,
.dp-TableviewBody .dp-Icon.dp-iconStar--neutral,
.dp-TableviewBody .dp-Icon.dp-iconStar--yellow {
  height: 12px;
  margin-left: 10px;
  width: 12px;
} */

.dp-TableviewBody .dp-Icon {
  height: 18px;
  width: 18px;
}

.dp-TableviewBody .dp-Icon--circle {
  background-size: 11px 11px;
}

.dp-ColumnControls .dp-arrowGroup {
  height: 10px;
  margin-left: 5px;
  width: 10px;
}

.dpCaretWrapper {
  display: block;
  height: 12px;
  position: relative;
}

/*  */

.dp-MassSelectTitle .dp-ItemRow {
  align-items: center;
  background-color: var(--grey-lightest);
  display: flex;
  padding-left: 10px;
}

.dp-MassSelect .dp-CustomCheckbox {
  display: flex;
  position: relative;
}

.dp-CustomCheckbox .dp-Card-title {
  margin: 0;
}

.dp-CustomCheckbox .dp-small_caret {
  cursor: pointer;
  display: block;
  height: 15px;
  left: 20px;
  position: absolute;
  top: 0;
  width: 15px;
  z-index: 9;
}

.dp-MassSelectTitle .dp-CustomCheckbox input[type="checkbox"] + label {
  padding-left: 40px;
}

.dp-Card-title.dp-MassSelectTitle {
  padding-bottom: 0;
  padding-top: 0;
}

/* .dp-MassSelectTitle .dp-ItemRow {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
} */

.dp-MassSelectTitle .dp-ListPane {
  background-color: transparent;
}

.dp-Card.dp-MassSelectTitle:hover {
  background-color: var(--grey-lightest);
  border-bottom: 1px solid var(--grey-light);
  border-top: 1px solid transparent;
}

.dp-Card-title.dp-CheckboxCarret {
  font: var(--p-xl);
}

.dp-FilterSubList {
  width: 100%;
}

.dp-ListpaneGuides .dp-Card-title {
  display: flex;
}

.dp-ListpaneGuides .dp-Card .dp-Icon {
  margin-right: 5px;
}

.dp-ListpaneGuides .dp-Card.is-active {
  background-color: inherit;
  border-bottom: 1px solid var(--brand-primary);
  border-top: 1px solid var(--brand-primary);
  padding-bottom: 0;
}

.dp-ListpaneGuides .dp-Card .dp-FilterSubList {
  display: none;
}

.dp-ListpaneGuides .dp-Card.is-active .dp-FilterSubList {
  display: block;
}

.dp-FilterSubList .dp-Card {
  border-bottom: 0;
  border-top: 1px solid var(--grey-light);
  padding-left: 20px;
  padding-right: 0;
}

.dp-FilterSubList .dp-Card::before {
  background-color: var(--grey);
  content: "";
  height: 103%;
  left: -10px;
  position: absolute;
  top: -1px;
  width: 20px;
}

.dp-FilterSubList .dp-UserInfo {
  padding: 0;
}

.dp-ListpaneGuides .newControlsList .dp-UserInfo {
  align-items: center;
  display: flex;
}

.dp-ListpaneGuides .dp-Date {
  border-right: 1px solid var(--grey-light);
  margin-right: 10px;
  padding-right: 10px;
}

.dp-ListpaneGuides .dp-UserInfo .dp-Icon {
  background-size: 15px 15px;
}

/* Listpane/tasks */

.dp-TasksSort {
  background-color: var(--grey-light);
  display: block;
  padding: 10px;
}

.dp-ListpaneTasks .dp-Icon {
  background-size: 15px 14px;
  height: 15px;
  width: 15px;
}

.dp-ListpaneTasks .dp-linkedtTickets {
  background-size: 17px 17px;
  height: 17px;
  width: 17px;
}

.dp-ListpaneTasks .dp-small_caret {
  background-size: 9px 5px;
  height: 10px;
}

.dp-ListpaneTasks .dp-Card-title {
  font: var(--p-xl);
}

.dp-ListpaneTasks .dp-Date {
  font: var(--p-xl);
  margin-left: 5px;
}

.dp-Card .dp-GroupDescription {
  display: flex;
  justify-content: flex-start;
}

.dp-GroupDescription .dp-ListPane {
  background-color: inherit;
  margin-right: 10px;
  padding: 0;
  padding-right: 10px;
}

.dp-GroupDescription .dp-ListPane:last-child {
  border: none;
  margin-left: 0;
}

.dp-GroupDescription .dp-Title.dp-Comments {
  color: var(--grey-dark);
}

.dp-GroupDescription .dp-Title {
  color: var(--grey-darkest);
  text-transform: none;
}

.dp-ListpaneTasks .dp-UserInfo {
  align-items: center;
  color: var(--grey-darkest);
  display: flex;
  font: var(--p-xl);
  padding-left: 23px;
}

.dp-ListpaneTasks .dp-UserInfo .dp-Icon {
  background-size: 17px 17px;
  height: 17px;
  margin-right: 5px;
  width: 17px;
}

.dp-ListpaneTasks .dp-Txt {
  color: var(--grey-darkest);
  font: var(--p-n);
  padding-left: 45px;
}

.dp-TasksSort .dp-settings {
  cursor: pointer;
  display: block;
}

.dp-ListpaneTasks .dp-ContextMenu {
  border: 1px solid var(--grey-light);
  box-shadow: var(--shadow-bottom-right);
  color: var(--grey-darkest);
  cursor: pointer;
  left: auto;
  padding: 5px 10px;
  right: -50px;
}

.dp-ListpaneTasks .dp-ContextMenu .dp-Icon {
  height: 11px;
  width: 11px;
}

.dp-ListpaneTasks .dp-Card.is-active {
  background-color: var(--grey-light);
}

/* filter result controls */

.dp-FilterControlsList {
  background-color: var(--grey-lightest);
  border: 1px solid var(--grey-light);
  color: inherit;
  display: flex;
}

.dp-FilterControlsItem {
  align-items: center;
  border-right: 1px solid var(--grey-light);
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  max-width: 175px;
  padding: 10px;
  position: relative;
}

.dp-FilterControlsItem.dp-DropDownItem {
  width: 100%;
}

.dp-FilterControlsItem:first-child {
  width: auto;
}

.dp-FilterControlsItem:last-child {
  border-right: 0;
}

.dp-FilterControlsItem .dp-ItemRow {
  display: block;
  width: 100%;
}

.dp-FilterControlsItem .dp-Select {
  background: transparent;
  border: 0;
  outline: 0;
}

.dp-FilterControlsItem .dp-Title {
  color: var(--grey-dark);
  font: var(--p-n-caps);
  padding: 0 0 0 4px;
  text-transform: uppercase;
}

.dp-FilterControlsItem .dp-Select {
  color: var(--grey-dark);
  font: var(--p-xl);
}

.dp-FilterControlsItem .dp-iconEye {
  background-size: 19px 19px;
  display: inline-block;
  height: 13px;
  width: 19px;
}

.dp-FilterControlsItem .dp-iconSetting {
  background-size: 13px 13px;
  display: inline-block;
  height: 13px;
  width: 13px;
}

.newControlsList .dp-FilterControlsItem .dp-Title {
  font: var(--h-s-semibold);
  padding: 0;
  text-transform: none;
}

.newControlsList .dp-FilterControlsItem .dp-Subtitle {
  font: var(--p-n);
}

.newControlsList .dp-FilterControlsItem .dp-Icon {
  background-size: 23px 23px;
  height: 25px;
  margin-right: 4px;
  width: 25px;
}

.dp-FilterControlsItem .dp-Icon.dp-view {
  background-size: 20px 14px;
}

.dp-FilterControlsItem.is-active .dp-Title,
.dp-FilterControlsItem.is-active .dp-Subtitle {
  color: var(--brand-primary);
}

.is-active .dp-grouped_by {
  background-image: url('data:image/svg+xml,<svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M12.1 3.5H3.20001V12.3H7.00001V16H15.9V7.2H12.1V3.5ZM8.30001 14.7V12.3H12.1V8.5H14.5V14.6H8.30001V14.7ZM10.7 4.8V10.9H4.50001V4.8H10.7Z" fill="%23318cdd"/><path d="M16.8 19.1H2.1C1 19.1 0 18.2 0 17V2.1C0 1 1 0 2.1 0H16.8C18 0 19 1 19 2.1V17C19 18.2 18 19.1 16.8 19.1ZM2.1 0.7C1.3 0.7 0.7 1.3 0.7 2.1V17C0.7 17.8 1.3 18.4 2.1 18.4H16.8C17.6 18.4 18.2 17.8 18.2 17V2.1C18.2 1.3 17.6 0.7 16.8 0.7H2.1Z" fill="%23318cdd"/></g><defs><clipPath id="clip0"><rect width="19" height="19.1" fill="white"/></clipPath></defs></svg>');
}

.is-active .dp-sort {
  background-image: url('data:image/svg+xml,<svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M3.74999 8.30001V0.800012C3.74999 0.500012 4.04999 0.200012 4.34999 0.200012C4.64999 0.200012 4.94999 0.500012 4.94999 0.800012V8.10001L7.34999 5.70001C7.54999 5.50001 7.94999 5.50001 8.14999 5.70001C8.34999 5.90001 8.34999 6.30001 8.14999 6.50001L5.14999 9.50001L4.34999 10.3L3.44999 9.60001L0.449991 6.60001C0.149991 6.30001 0.149991 6.00001 0.449991 5.70001C0.649991 5.50001 1.04999 5.50001 1.24999 5.70001L3.74999 8.30001Z" fill="%23318cdd" stroke="%23318cdd" stroke-width="0.1959" stroke-miterlimit="10"/><path d="M13.15 2.29999L11.05 0.299994C10.85 0.0999939 10.55 0.0999939 10.45 0.299994L8.34999 2.29999C8.24999 2.39999 8.04999 2.69999 8.34999 2.99999C8.44999 3.09999 8.74999 3.09999 8.94999 2.99999L10.35 1.69999V6.69999C10.35 6.99999 10.55 7.19999 10.85 7.19999C11.15 7.19999 11.35 6.99999 11.35 6.69999V1.69999L12.65 2.89999C12.85 3.09999 13.15 3.09999 13.35 2.89999C13.35 2.79999 13.35 2.49999 13.15 2.29999Z" fill="%23318cdd"/></g><defs><clipPath id="clip0"><rect width="13.2" height="10.4" fill="white" transform="translate(0.149994 0.100006)"/></clipPath></defs></svg>');
}

.is-active .dp-faceted_by {
  background-image: url('data:image/svg+xml,<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M8.44998 0V0.7C9.14998 0.7 9.74998 1.3 9.74998 2C9.74998 2.4 9.64998 2.7 9.34998 3C9.04998 3.3 8.74998 3.4 8.34998 3.4C7.64998 3.4 7.04998 2.8 7.04998 2.1C7.04998 1.7 7.14998 1.4 7.44998 1.1C7.64998 0.9 8.04998 0.8 8.34998 0.8L8.44998 0C8.34997 0 8.44998 0 8.44998 0C7.24997 0 6.34998 1 6.34998 2.1C6.34998 3.2 7.34997 4.2 8.44998 4.2C9.64998 4.2 10.55 3.2 10.55 2.1C10.45 0.9 9.54997 0 8.44998 0Z" fill="%23318cdd"/><path d="M14.65 4.19999C15.85 4.19999 16.75 3.19999 16.75 2.09999C16.75 0.999994 15.75 -6.10203e-06 14.65 -6.10203e-06V0.699994C15.35 0.699994 15.95 1.29999 15.95 1.99999C15.95 2.39999 15.85 2.69999 15.55 2.99999C15.25 3.29999 14.95 3.39999 14.55 3.39999C13.85 3.39999 13.25 2.79999 13.25 2.09999C13.25 1.69999 13.35 1.39999 13.65 1.09999C13.95 0.799994 14.25 0.699994 14.55 0.699994V-0.100006C13.35 -0.100006 12.45 0.899994 12.45 1.99999C12.55 3.29999 13.55 4.19999 14.65 4.19999Z" fill="%23318cdd"/><path d="M2.14999 0C0.949988 0 0.0499878 1 0.0499878 2.1C0.0499878 3.3 1.04999 4.2 2.14999 4.2C3.34999 4.2 4.24999 3.2 4.24999 2.1C4.24999 0.9 3.24999 0 2.14999 0Z" fill="%23318cdd"/><path d="M8.44998 6.19998V6.99998C9.14998 6.99998 9.74998 7.59998 9.74998 8.29998C9.74998 8.69998 9.64998 8.99998 9.34998 9.29998C9.04998 9.59998 8.74998 9.69998 8.34998 9.69998C7.64998 9.69998 7.04998 9.09998 7.04998 8.29998C7.04998 7.89998 7.14998 7.59998 7.44998 7.29998C7.74998 6.99998 8.04998 6.99998 8.34998 6.99998L8.44998 6.19998C8.34997 6.19998 8.44998 6.19998 8.44998 6.19998C7.24997 6.19998 6.34998 7.19998 6.34998 8.29998C6.34998 9.39998 7.34997 10.4 8.44998 10.4C9.64998 10.4 10.55 9.39998 10.55 8.29998C10.45 7.09998 9.54997 6.19998 8.44998 6.19998Z" fill="%23318cdd"/><path d="M14.65 6.19998C13.45 6.19998 12.55 7.19998 12.55 8.29998C12.55 9.49998 13.55 10.4 14.65 10.4C15.85 10.4 16.75 9.39998 16.75 8.29998C16.75 7.09998 15.75 6.19998 14.65 6.19998Z" fill="%23318cdd"/><path d="M2.14999 6.19998V6.99998C2.84999 6.99998 3.44999 7.59998 3.44999 8.29998C3.44999 8.99998 2.84999 9.69998 2.14999 9.69998C1.44999 9.69998 0.849988 9.09998 0.849988 8.39998C0.749988 7.59998 1.34999 6.99998 2.14999 6.99998V6.19998C0.949988 6.19998 0.0499878 7.19998 0.0499878 8.29998C0.0499878 9.39998 1.04999 10.4 2.14999 10.4C3.34999 10.4 4.24999 9.39998 4.24999 8.29998C4.24999 7.09998 3.24999 6.19998 2.14999 6.19998Z" fill="%23318cdd"/><path d="M10.4507 14.95C10.7117 13.8199 10.0071 12.6922 8.87698 12.4313C7.74688 12.1703 6.6192 12.8749 6.35824 14.005C6.09729 15.1351 6.80188 16.2628 7.93198 16.5238C9.06209 16.7847 10.1898 16.0801 10.4507 14.95Z" fill="%23318cdd"/><path d="M14.65 12.4V13.2C15.35 13.2 15.95 13.8 15.95 14.5C15.95 14.9 15.85 15.2 15.55 15.5C15.25 15.8 14.95 15.9 14.55 15.9C13.85 15.9 13.25 15.3 13.25 14.6C13.25 14.2 13.35 13.9 13.65 13.6C13.95 13.3 14.25 13.2 14.55 13.2L14.65 12.4C13.45 12.4 12.55 13.4 12.55 14.5C12.55 15.6 13.55 16.6 14.65 16.6C15.85 16.6 16.75 15.6 16.75 14.5C16.75 13.3 15.75 12.4 14.65 12.4Z" fill="%23318cdd"/><path d="M2.14999 12.4V13.2C2.84999 13.2 3.44999 13.8 3.44999 14.5C3.44999 15.2 2.84999 15.9 2.14999 15.9C1.44999 15.9 0.849988 15.3 0.849988 14.6C0.849988 13.9 1.44999 13.2 2.14999 13.2V12.4C0.949988 12.4 0.0499878 13.4 0.0499878 14.5C0.0499878 15.6 1.04999 16.6 2.14999 16.6C3.34999 16.6 4.24999 15.6 4.24999 14.5C4.24999 13.3 3.24999 12.4 2.14999 12.4Z" fill="%23318cdd"/></g><defs><clipPath id="clip0"><rect width="16.7" height="16.6" fill="white" transform="translate(0.0499878)"/></clipPath></defs></svg>');
}

.is-active .dp-view {
  background-image: url('data:image/svg+xml,<svg width="19" height="13" viewBox="0 0 19 13" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M9.40001 1.04999C4.00001 1.04999 1.10001 6.54999 1.10001 6.54999C1.10001 6.54999 3.20001 12.05 9.40001 12.05C15 12.05 17.7 6.54999 17.7 6.54999C17.7 6.54999 15 1.04999 9.40001 1.04999Z" stroke="%23318cdd" stroke-miterlimit="10"/><path d="M9.40001 4.34998C8.20001 4.34998 7.20001 5.34998 7.20001 6.64998C7.20001 7.84998 8.20001 8.84998 9.40001 8.84998C10.6 8.84998 11.6 7.84998 11.6 6.64998C11.7 5.34998 10.7 4.34998 9.40001 4.34998Z" fill="%23318cdd"/></g><defs><clipPath id="clip0"><rect width="17.7" height="12" fill="white" transform="translate(0.600006 0.549988)"/></clipPath></defs></svg>');
}

.newControlsList .dp-Select {
  user-select: none;
}

.dp-FilterControlsItem .dp-ItemRow {
  position: relative;
}

.newControlsList .dp-FilterControlsItem .dp-Icon.dp-small_caret {
  background-image: url('data:image/svg+xml,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M9.89999 1.49999C9.89999 1.59999 9.79999 1.69999 9.69999 1.89999L5.79999 5.79999C5.69999 5.89999 5.59999 5.99999 5.39999 5.99999C5.19999 5.99999 5.09999 5.89999 4.99999 5.79999L1.09999 1.89999C0.999994 1.69999 0.899994 1.59999 0.899994 1.49999C0.899994 1.39999 0.999994 1.19999 1.09999 1.09999C1.19999 0.999994 1.29999 0.899994 1.49999 0.899994H9.39999C9.59999 0.899994 9.69999 0.999994 9.79999 1.09999C9.89999 1.19999 9.89999 1.29999 9.89999 1.49999Z" fill="%23979797"/></g><defs><clipPath id="clip0"><rect width="9" height="5.1" fill="white" transform="translate(0.899994 0.899994)"/></clipPath></defs></svg>');
  background-size: 9px 5.1px;
  background-size: 8px 5px;
  height: 10px;
  margin: 0;
  position: absolute;
  right: 15px;
  top: 2px;
  width: 10px;
}

.newControlsList .dp-FilterControlsItem.is-active .dp-Icon.dp-small_caret {
  background-image: url('data:image/svg+xml,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M9.89999 1.49999C9.89999 1.59999 9.79999 1.69999 9.69999 1.89999L5.79999 5.79999C5.69999 5.89999 5.59999 5.99999 5.39999 5.99999C5.19999 5.99999 5.09999 5.89999 4.99999 5.79999L1.09999 1.89999C0.999994 1.69999 0.899994 1.59999 0.899994 1.49999C0.899994 1.39999 0.999994 1.19999 1.09999 1.09999C1.19999 0.999994 1.29999 0.899994 1.49999 0.899994H9.39999C9.59999 0.899994 9.69999 0.999994 9.79999 1.09999C9.89999 1.19999 9.89999 1.29999 9.89999 1.49999Z" fill="%23318cdd"/></g><defs><clipPath id="clip0"><rect width="9" height="5.1" fill="white" transform="translate(0.899994 0.899994)"/></clipPath></defs></svg>');
}

.dp-RowBtn {
  display: flex;
  padding: 3.5px 10px;
}

.dp-RowBtn .dp-btn {
  padding: 10px 15px;
}

.dp-ViewItem {
  align-items: center;
  display: flex;
  max-width: 100%;
  padding: 0 10px;
}

.dp-FilterControlsItem .dp-ContextMenu.newControlsList {
  min-width: 250px;
}

.dp-FilterControlsItem .dp-ContextMenu {
  min-width: 200px;
}

.dp-ContextMenu.newControlsList .dp-CustomCheckbox input[type="checkbox"] + label {
  padding-left: 20px;
}

.dp-dropdownContainer {
  position: relative;
}

.dp-ActionButton {
  background-color: var(--white);
  border: 1px solid var(--grey-light);
  border-radius: var(--border-radius-button);
  color: var(--grey-darkest);
  cursor: pointer;
  display: block;
  font: var(--h-s-semibold);
  min-height: 25px;
  min-width: 60px;
  padding: 4px 21px 4px 6px;
  position: relative;
  vertical-align: middle;

  &.ActionButton--large {
    min-width: 141px;
  }

  &.ActionButton--Xlarge {
    min-width: 166px;
  }

  &.ActionButton--XXlarge {
    min-width: 208px;
  }

}

.dp-ActionButton::after, .dp-IconTextButton::after {
  border-color: #899 transparent transparent transparent;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  bottom: 0;
  content: "";
  height: 0;
  margin: auto;
  position: absolute;
  right: 6px;
  top: 0;
  width: 0;
}

.dp-ActionButton .dp-iconRocketwhite {
  display: none;
}

.dp-DropDownBar .dp-ActionButton.is-active {
  background-color: var(--brand-primary);
  color: var(--white);
}

.dp-ActionButton.is-active::after {
  border-color: var(--white) transparent transparent transparent;
  transform: rotate(180deg);
}

.dp-ActionButton.is-active .dp-iconRocketwhite {
  background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 11 11" style="enable-background:new 0 0 11 11;" xml:space="preserve"><style type="text/css">.st0{fill:%23ffffff;}</style><path class="st0" d="M9.5,2.2c0-0.2-0.1-0.3-0.2-0.5S9,1.5,8.8,1.5S8.5,1.6,8.4,1.7S8.2,2,8.2,2.2s0.1,0.3,0.2,0.5s0.3,0.2,0.5,0.2 s0.3-0.1,0.5-0.2S9.5,2.3,9.5,2.2z M11,0.2c0,1.1-0.2,2.1-0.5,2.9S9.6,4.7,8.8,5.5C8.4,5.9,8,6.3,7.5,6.7L7.3,9.3 c0,0.1,0,0.1-0.1,0.2L4.6,11c0,0-0.1,0-0.1,0c-0.1,0-0.1,0-0.2-0.1l-0.4-0.4c-0.1-0.1-0.1-0.1-0.1-0.2l0.6-1.9L2.6,6.5L0.7,7.1 c0,0,0,0-0.1,0c-0.1,0-0.1,0-0.2-0.1L0.1,6.6C0,6.5,0,6.5,0,6.4l1.5-2.6c0-0.1,0.1-0.1,0.2-0.1l2.6-0.1c0.4-0.5,0.8-1,1.2-1.3 c0.8-0.8,1.6-1.4,2.4-1.7S9.6,0,10.8,0c0.1,0,0.1,0,0.2,0.1C11,0.1,11,0.2,11,0.2z"/></svg>');
  display: inline-block;
}

.dp-ActionButton.is-active .dp-iconRocketBlue {
  display: none;
}

.dp-ContextMenu {
  background-color: var(--white);
  border: 1px solid var(--brand-primary);
  border-radius: var(--border-radius);
  display: block;
  display: none;
  left: 0;
  list-style-type: none;
  padding: 5px 0;
  position: absolute;
  top: calc(100% + 5px);
  white-space: nowrap;
  z-index: 9;
}

.dp-ContextMenu.is-active {
  display: block;
}

.dp-ContextMenu > li:last-child {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  padding-bottom: 0;
}

.dp-ContextMenu > li > a {
  color: var(--grey-darkest);
  display: flex;
  font: var(--p-l);
  padding: var(--padding-drop-down);
}

.dp-ContextMenu > li > a:hover {
  background-color: var(--primary-light);
  color: var(--brand-primary);
}

.dp-ContextMenu > li > a:hover .dp-MenuIcon.dp-iconBugGray {
  background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10.2 10" style="enable-background:new 0 0 10.2 10;" xml:space="preserve"><style type="text/css">.st0{fill:%234696dc;}</style><path class="st0" d="M10.2,5.7c0,0.1,0,0.2-0.1,0.3C10,6.1,9.9,6.1,9.8,6.1H8.4c0,0.7-0.1,1.3-0.4,1.8l1.3,1.3 c0.1,0.1,0.1,0.2,0.1,0.3s0,0.2-0.1,0.3C9.2,10,9.1,10,9,10c-0.1,0-0.2,0-0.3-0.1L7.4,8.6c0,0-0.1,0-0.1,0.1c0,0-0.1,0.1-0.3,0.2 C6.9,9,6.8,9.1,6.7,9.1S6.3,9.2,6.1,9.3S5.7,9.4,5.5,9.4V3.7H4.7v5.7c-0.2,0-0.4,0-0.6-0.1C3.8,9.2,3.6,9.2,3.5,9.1 C3.3,9,3.2,8.9,3.1,8.8C2.9,8.8,2.9,8.7,2.8,8.6L2.7,8.5L1.5,9.9C1.4,10,1.3,10,1.2,10C1.1,10,1,10,1,9.9C0.9,9.8,0.8,9.7,0.8,9.6 c0-0.1,0-0.2,0.1-0.3l1.3-1.4C2,7.4,1.8,6.8,1.8,6.1H0.4c-0.1,0-0.2,0-0.3-0.1S0,5.8,0,5.7c0-0.1,0-0.2,0.1-0.3 c0.1-0.1,0.2-0.1,0.3-0.1h1.4V3.4L0.7,2.3C0.7,2.2,0.6,2.2,0.6,2c0-0.1,0-0.2,0.1-0.3C0.8,1.7,0.9,1.6,1,1.6c0.1,0,0.2,0,0.3,0.1 l1.1,1.1h5.4l1.1-1.1C9,1.7,9.1,1.6,9.2,1.6s0.2,0,0.3,0.1C9.6,1.8,9.6,1.9,9.6,2c0,0.1,0,0.2-0.1,0.3L8.4,3.4v1.9h1.4 c0.1,0,0.2,0,0.3,0.1C10.2,5.5,10.2,5.6,10.2,5.7z M7.1,2H3.1c0-0.6,0.2-1,0.6-1.4S4.5,0,5.1,0s1,0.2,1.4,0.6S7.1,1.5,7.1,2z"/></svg>');
}

.dp-ContextMenu > li > a:hover .dp-MenuIcon.dp-lock {
  background-image: url('data:image/svg+xml,<svg width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M10.3 6.14998H9.79997V4.94998C9.79997 2.74998 7.99997 0.949982 5.79997 0.949982C3.59997 0.949982 1.79997 2.74998 1.79997 4.94998V6.04998H1.19997C0.799969 6.14998 0.499969 6.34998 0.499969 6.74998V13.25C0.499969 13.65 0.799969 13.95 1.19997 13.95H10.3C10.7 13.95 11 13.65 11 13.25V6.74998C10.9 6.34998 10.6 6.14998 10.3 6.14998ZM2.99997 4.94998C2.99997 3.44998 4.19997 2.24998 5.69997 2.24998C7.19997 2.24998 8.49997 3.44998 8.49997 4.94998V6.04998H2.99997V4.94998ZM9.59997 12.65H1.79997V7.44998H2.29997H9.09997H9.59997V12.65Z" fill="%233a8dde"/><path d="M5.69997 11.35C6.36271 11.35 6.89997 10.8127 6.89997 10.15C6.89997 9.48724 6.36271 8.94998 5.69997 8.94998C5.03723 8.94998 4.49997 9.48724 4.49997 10.15C4.49997 10.8127 5.03723 11.35 5.69997 11.35Z" fill="%233a8dde"/></g><defs><clipPath id="clip0"><rect width="10.4" height="13" fill="white" transform="translate(0.499969 0.949982)"/></clipPath></defs></svg>');
}

.dp-ContextMenu > li > a:hover .dp-MenuIcon.dp-iconGrayMin {
  background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve"><style type="text/css">.st0{fill:%234696dc;}.st1{fill:%23FFFFFF;}</style><g><path class="st0" d="M8,16L8,16c-4.4,0-8-3.6-8-8l0,0c0-4.4,3.6-8,8-8h0c4.4,0,8,3.6,8,8v0C16,12.4,12.4,16,8,16z"/></g><rect x="3" y="7" class="st1" width="10" height="2"/></svg>');
}

.dp-ContextMenu > li > a:hover .dp-MenuIcon.dp-iconEmail {
  background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 15" style="enable-background:new 0 0 20 15;" xml:space="preserve"><style type="text/css">.st0{fill:%234696dc;}</style><path class="st0" d="M19.2,0H0.8C0.4,0,0,0.4,0,0.8v13.3C0,14.6,0.4,15,0.8,15h18.3c0.5,0,0.8-0.4,0.8-0.8V0.8C20,0.4,19.6,0,19.2,0z M17,1.7L10,8L3,1.7H17z M1.7,13.3V2.7l7.8,7C9.6,9.9,9.8,10,10,10s0.4-0.1,0.6-0.2l7.8-7v10.6H1.7z"/></svg>');
}

.dp-ContextMenu > li > a:hover .dp-MenuIcon.dp-IconDelete {
  background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_21" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 12 13.1" style="enable-background:new 0 0 12 13.1;" xml:space="preserve"><style type="text/css">.st0{fill:%234696dc;}</style><path class="st0" d="M4.4,5.2v4.9c0,0.1,0,0.1-0.1,0.2c-0.1,0.1-0.1,0.1-0.2,0.1H3.5c-0.1,0-0.1,0-0.2-0.1c-0.1-0.1-0.1-0.1-0.1-0.2V5.2c0-0.1,0-0.1,0.1-0.2c0.1-0.1,0.1-0.1,0.2-0.1h0.5c0.1,0,0.1,0,0.2,0.1C4.3,5,4.4,5.1,4.4,5.2z M6.5,5.2v4.9c0,0.1,0,0.1-0.1,0.2c-0.1,0.1-0.1,0.1-0.2,0.1H5.7c-0.1,0-0.1,0-0.2-0.1c-0.1-0.1-0.1-0.1-0.1-0.2V5.2c0-0.1,0-0.1,0.1-0.2c0.1-0.1,0.1-0.1,0.2-0.1h0.5c0.1,0,0.1,0,0.2,0.1C6.5,5,6.5,5.1,6.5,5.2z M8.7,5.2v4.9c0,0.1,0,0.1-0.1,0.2c-0.1,0.1-0.1,0.1-0.2,0.1H7.9c-0.1,0-0.1,0-0.2-0.1c-0.1-0.1-0.1-0.1-0.1-0.2V5.2c0-0.1,0-0.1,0.1-0.2c0.1-0.1,0.1-0.1,0.2-0.1h0.5c0.1,0,0.1,0,0.2,0.1C8.7,5,8.7,5.1,8.7,5.2z M9.8,11.4V3.3H2.2v8.1c0,0.1,0,0.2,0.1,0.3c0,0.1,0.1,0.2,0.1,0.2c0,0,0.1,0.1,0.1,0.1h7.1c0,0,0,0,0.1-0.1c0,0,0.1-0.1,0.1-0.2C9.8,11.6,9.8,11.5,9.8,11.4z M4.1,2.2h3.8l-0.4-1c0-0.1-0.1-0.1-0.1-0.1H4.7c-0.1,0-0.1,0-0.1,0.1L4.1,2.2z M12,2.5V3c0,0.1,0,0.1-0.1,0.2c-0.1,0.1-0.1,0.1-0.2,0.1h-0.8v8.1c0,0.5-0.1,0.9-0.4,1.2c-0.3,0.3-0.6,0.5-1,0.5H2.5c-0.4,0-0.7-0.2-1-0.5c-0.3-0.3-0.4-0.7-0.4-1.2V3.3H0.3c-0.1,0-0.1,0-0.2-0.1C0,3.1,0,3.1,0,3V2.5c0-0.1,0-0.1,0.1-0.2c0.1-0.1,0.1-0.1,0.2-0.1h2.6l0.6-1.4C3.6,0.5,3.7,0.4,4,0.2C4.2,0.1,4.4,0,4.6,0h2.7C7.6,0,7.8,0.1,8,0.2s0.4,0.3,0.5,0.5l0.6,1.4h2.6c0.1,0,0.1,0,0.2,0.1C12,2.3,12,2.4,12,2.5z"/></svg>');
}

.dp-ContextMenu > li > a:hover .dp-MenuIcon.dp-IconSplit {
  background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_22" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 12 12" style="enable-background:new 0 0 12 12;" xml:space="preserve"><style type="text/css">.st0{fill:%234696dc;}</style><path class="st0" d="M5.9,7.3c0,0.1,0,0.1-0.1,0.2L3.2,10l1.1,1.1c0.1,0.1,0.1,0.2,0.1,0.4s0,0.3-0.1,0.4S4.1,12,4,12H0.5c-0.1,0-0.3,0-0.4-0.1S0,11.6,0,11.5V8c0-0.1,0-0.3,0.1-0.4s0.2-0.1,0.4-0.1s0.3,0,0.4,0.1L2,8.8l2.6-2.6c0.1-0.1,0.1-0.1,0.2-0.1s0.1,0,0.2,0.1l0.9,0.9C5.9,7.1,5.9,7.2,5.9,7.3z M12,0.5V4c0,0.1,0,0.3-0.1,0.4s-0.2,0.1-0.4,0.1s-0.3,0-0.4-0.1L10,3.2L7.4,5.8C7.4,5.9,7.3,5.9,7.3,5.9s-0.1,0-0.2-0.1L6.2,4.9C6.1,4.9,6.1,4.8,6.1,4.8s0-0.1,0.1-0.2L8.8,2L7.6,0.9C7.5,0.8,7.5,0.6,7.5,0.5s0-0.3,0.1-0.4S7.9,0,8,0h3.5c0.1,0,0.3,0,0.4,0.1S12,0.4,12,0.5z"/></svg>');
}

.dp-ContextMenu > li > a:hover .dp-MenuIcon.dp-IconMerge {
  background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_23" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 12 12" style="enable-background:new 0 0 12 12;" xml:space="preserve"><style type="text/css">.st0{fill:%234696dc;}</style><path class="st0" d="M6,6.5v3.6c0,0.1-0.1,0.3-0.2,0.4c-0.1,0.1-0.2,0.2-0.4,0.2s-0.3-0.1-0.4-0.2L4,9.3l-2.6,2.6C1.3,12,1.2,12,1.2,12S1,12,1,11.9L0.1,11C0,11,0,10.9,0,10.8c0-0.1,0-0.1,0.1-0.2L2.7,8L1.6,6.9C1.5,6.8,1.4,6.6,1.4,6.5s0.1-0.3,0.2-0.4C1.7,6.1,1.8,6,1.9,6h3.6c0.1,0,0.3,0.1,0.4,0.2C5.9,6.3,6,6.4,6,6.5z M12,1.2c0,0.1,0,0.1-0.1,0.2L9.3,4l1.1,1.1c0.1,0.1,0.2,0.2,0.2,0.4s-0.1,0.3-0.2,0.4C10.3,5.9,10.2,6,10.1,6H6.5C6.4,6,6.3,5.9,6.2,5.8C6.1,5.7,6,5.6,6,5.5V1.9c0-0.1,0.1-0.3,0.2-0.4c0.1-0.1,0.2-0.2,0.4-0.2s0.3,0.1,0.4,0.2L8,2.7l2.6-2.6C10.7,0,10.8,0,10.8,0C10.9,0,11,0,11,0.1L11.9,1C12,1,12,1.1,12,1.2z"/></svg>');
}

.dp-ContextMenu > li > a:hover .dp-MenuIcon.dp-IconLink {
  background-image: url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3959 2.54247C10.2115 2.54247 10.0271 2.63467 9.84268 2.72687L8.2753 4.38645C8.0909 4.57084 7.9987 4.66304 7.9987 4.93964C7.9987 5.12403 8.0909 5.30843 8.2753 5.49283C8.2753 5.49283 8.3675 5.40063 8.4597 5.30843C8.5519 5.21623 8.64409 5.12403 8.64409 5.12403C8.64409 5.12403 8.73629 5.03184 8.82849 5.03184C8.92069 4.93964 8.92069 4.93964 9.01289 4.93964C9.10509 4.93964 9.19729 4.93964 9.19729 4.93964C9.38168 4.93964 9.56608 5.03184 9.75048 5.12403C9.93488 5.30843 9.93488 5.49283 9.93488 5.67723C9.93488 5.76942 9.93488 5.86162 9.93488 5.86162C9.93488 5.95382 9.84268 5.95382 9.84268 6.04602C9.75048 6.13822 9.75048 6.23042 9.65828 6.23042C9.65828 6.23042 9.56608 6.32262 9.47388 6.41481C9.38168 6.50701 9.38168 6.59921 9.38168 6.59921C9.56608 6.78361 9.75048 6.87581 9.93488 6.87581C10.1193 6.87581 10.3037 6.78361 10.4881 6.69141L12.1476 5.03184C12.332 4.84744 12.332 4.66304 12.332 4.47864C12.332 4.29425 12.2398 4.10985 12.1476 3.92545L10.9491 2.72687C10.8569 2.54247 10.6725 2.54247 10.3959 2.54247ZM4.86395 8.07439C4.58736 8.07439 4.40296 8.16659 4.31076 8.35098L2.65119 9.91836C2.46679 10.1028 2.46679 10.2872 2.46679 10.4716C2.46679 10.6559 2.55899 10.8403 2.65119 11.0247L3.84977 12.2233C4.03417 12.4077 4.21856 12.4077 4.40296 12.4077C4.58736 12.4077 4.77175 12.3155 4.95615 12.2233L6.61573 10.5637C6.80012 10.3794 6.80012 10.195 6.80012 10.0106C6.80012 9.82616 6.70792 9.64176 6.52353 9.45737C6.52353 9.45737 6.43133 9.54957 6.33913 9.64176C6.24693 9.73396 6.24693 9.73396 6.15473 9.73396C6.15473 9.73396 6.06253 9.82616 5.97034 9.82616C5.97034 9.91836 5.87814 9.91836 5.78594 10.0106C5.69374 10.0106 5.60154 10.0106 5.60154 10.0106C5.41714 10.0106 5.23275 9.91836 5.04835 9.82616C4.95615 9.64176 4.86395 9.45737 4.86395 9.27297C4.86395 9.18077 4.86395 9.08857 4.86395 9.08857C4.86395 9.08857 4.95615 8.99637 4.95615 8.90418C5.04835 8.81198 5.04835 8.81198 5.04835 8.71978C5.04835 8.71978 5.14055 8.62758 5.23275 8.53538C5.32495 8.44318 5.41714 8.35098 5.41714 8.35098C5.23275 8.16659 5.04835 8.07439 4.86395 8.07439ZM10.3959 0.975098C11.0413 0.975098 11.5944 1.15949 12.0554 1.62049L13.254 2.81907C13.715 3.28006 13.8994 3.83325 13.8994 4.47864C13.8994 5.12403 13.715 5.67723 13.254 6.13822L11.5944 7.79779C11.1335 8.16659 10.5803 8.35098 9.93488 8.35098C9.28948 8.35098 8.73629 8.07439 8.2753 7.6134L7.53771 8.35098C7.9987 8.81198 8.2753 9.36517 8.2753 10.0106C8.2753 10.6559 8.0909 11.2091 7.62991 11.6701L5.97034 13.3297C5.50934 13.7907 4.95615 13.9751 4.31076 13.9751C3.66537 13.9751 3.20438 13.6985 2.74339 13.2375L1.5448 12.0389C1.08381 11.6701 0.899414 11.1169 0.899414 10.4716C0.899414 9.82616 1.08381 9.27297 1.5448 8.90418L3.20438 7.2446C3.66537 6.78361 4.21856 6.59921 4.86395 6.59921C5.50934 6.59921 6.06253 6.87581 6.52353 7.3368L7.26112 6.59921C6.70792 6.13822 6.52353 5.58503 6.52353 4.93964C6.52353 4.29425 6.70792 3.74106 7.16892 3.28006L8.82849 1.62049C9.28948 1.15949 9.84268 0.975098 10.3959 0.975098Z" fill="%233a8dde"/></svg>');
}

.dp-ContextMenu > li > a:hover .dp-MenuIcon.dp-IconArticle {
  background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_25" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10 12" style="enable-background:new 0 0 10 12;" xml:space="preserve"><style type="text/css">.st0{fill:%234696dc;}</style><path class="st0" d="M8,8.3v0.5c0,0.1,0,0.1-0.1,0.2S7.8,9,7.8,9H2.3C2.2,9,2.1,9,2.1,8.9S2,8.8,2,8.8V8.3c0-0.1,0-0.1,0.1-0.2S2.2,8,2.3,8h5.5c0.1,0,0.1,0,0.2,0.1S8,8.2,8,8.3z M8,6.3v0.5c0,0.1,0,0.1-0.1,0.2S7.8,7,7.8,7H2.3C2.2,7,2.1,7,2.1,6.9S2,6.8,2,6.8V6.3c0-0.1,0-0.1,0.1-0.2S2.2,6,2.3,6h5.5c0.1,0,0.1,0,0.2,0.1S8,6.2,8,6.3z M1,11h8V5H5.8C5.5,5,5.4,4.9,5.2,4.8S5,4.5,5,4.3V1H1V11z M6,4h2.9C8.9,3.8,8.8,3.7,8.8,3.7L6.3,1.2C6.3,1.2,6.2,1.1,6,1.1V4z M10,4.3v7c0,0.2-0.1,0.4-0.2,0.5S9.5,12,9.3,12H0.8c-0.2,0-0.4-0.1-0.5-0.2S0,11.5,0,11.3V0.8c0-0.2,0.1-0.4,0.2-0.5S0.5,0,0.8,0h5C6,0,6.2,0.1,6.4,0.2S6.9,0.4,7,0.5L9.5,3c0.1,0.1,0.3,0.3,0.4,0.6S10,4,10,4.3z"/></svg>');
}

.dp-ContextMenu > li > a:hover .dp-MenuIcon.dp-IconSnippet {
  background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_26" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 12 12" style="enable-background:new 0 0 12 12;" xml:space="preserve"><style type="text/css">.st0{fill:%234696dc;}</style><path class="st0" d="M4.6,3.4c0.1-0.3,0.2-0.6,0.2-1C4.8,1.1,3.7,0,2.4,0S0,1.1,0,2.4s1.1,2.4,2.4,2.4c0.4,0,0.7-0.1,1-0.2L4.8,6L3.4,7.4c-0.3-0.1-0.6-0.2-1-0.2C1.1,7.2,0,8.3,0,9.6S1.1,12,2.4,12s2.4-1.1,2.4-2.4c0-0.4-0.1-0.7-0.2-1L6,7.2l4.2,4.2H12v-0.6L4.6,3.4z M2.4,3.6c-0.7,0-1.2-0.5-1.2-1.2s0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2S3.1,3.6,2.4,3.6z M2.4,10.8c-0.7,0-1.2-0.5-1.2-1.2s0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2S3.1,10.8,2.4,10.8z M6,6.3C5.8,6.3,5.7,6.2,5.7,6S5.8,5.7,6,5.7S6.3,5.8,6.3,6S6.2,6.3,6,6.3z M10.2,0.6L6.6,4.2l1.2,1.2L12,1.2V0.6H10.2z"/></svg>');
}

.dp-ContextMenu > li > a:hover .dp-MenuIcon.dp-IconPrint {
  background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_27" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 12 11.1" style="enable-background:new 0 0 12 11.1;" xml:space="preserve"><style type="text/css">.st0{fill:%234696dc;}</style><path class="st0" d="M2.8,10.2h6.5V8.3H2.8V10.2z M2.8,5.5h6.5V2.8H8.1c-0.2,0-0.4-0.1-0.5-0.2C7.5,2.4,7.4,2.3,7.4,2.1V0.9H2.8V5.5z M11.1,6c0-0.1,0-0.2-0.1-0.3c-0.1-0.1-0.2-0.1-0.3-0.1c-0.1,0-0.2,0-0.3,0.1c-0.1,0.1-0.1,0.2-0.1,0.3s0,0.2,0.1,0.3c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.2,0,0.3-0.1C11,6.2,11.1,6.1,11.1,6z M12,6v3c0,0.1,0,0.1-0.1,0.2c0,0-0.1,0.1-0.2,0.1h-1.6v1.2c0,0.2-0.1,0.4-0.2,0.5s-0.3,0.2-0.5,0.2H2.5c-0.2,0-0.4-0.1-0.5-0.2s-0.2-0.3-0.2-0.5V9.2H0.2c-0.1,0-0.1,0-0.2-0.1S0,9.1,0,9V6c0-0.4,0.1-0.7,0.4-1s0.6-0.4,1-0.4h0.5V0.7c0-0.2,0.1-0.4,0.2-0.5S2.3,0,2.5,0h4.8C7.6,0,7.8,0,8,0.1s0.4,0.2,0.5,0.3l1.1,1.1C9.8,1.7,9.9,1.9,10,2.1c0.1,0.2,0.1,0.4,0.1,0.6v1.8h0.5c0.4,0,0.7,0.1,1,0.4S12,5.6,12,6z"/></svg>');
}

.dp-ContextMenu > li > a:hover .dp-MenuIcon.dp-IconDownloadPDF {
  background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_28" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 12 11.1" style="enable-background:new 0 0 12 11.1;" xml:space="preserve"><style type="text/css">.st0{fill:%234696dc;}</style><path class="st0" d="M9.2,9.7c0-0.1,0-0.2-0.1-0.3C9,9.3,8.9,9.2,8.8,9.2c-0.1,0-0.2,0-0.3,0.1C8.4,9.5,8.3,9.6,8.3,9.7c0,0.1,0,0.2,0.1,0.3c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.2,0,0.3-0.1C9.2,9.9,9.2,9.8,9.2,9.7z M11.1,9.7c0-0.1,0-0.2-0.1-0.3c-0.1-0.1-0.2-0.1-0.3-0.1c-0.1,0-0.2,0-0.3,0.1c-0.1,0.1-0.1,0.2-0.1,0.3c0,0.1,0,0.2,0.1,0.3c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.2,0,0.3-0.1C11,9.9,11.1,9.8,11.1,9.7z M12,8.1v2.3c0,0.2-0.1,0.4-0.2,0.5s-0.3,0.2-0.5,0.2H0.7c-0.2,0-0.4-0.1-0.5-0.2S0,10.6,0,10.4V8.1c0-0.2,0.1-0.4,0.2-0.5s0.3-0.2,0.5-0.2H4l1,1c0.3,0.3,0.6,0.4,1,0.4s0.7-0.1,1-0.4l1-1h3.3c0.2,0,0.4,0.1,0.5,0.2S12,7.9,12,8.1z M9.7,4c0.1,0.2,0,0.4-0.1,0.5L6.3,7.7C6.2,7.8,6.1,7.8,6,7.8s-0.2,0-0.3-0.1L2.4,4.5C2.3,4.3,2.3,4.2,2.3,4c0.1-0.2,0.2-0.3,0.4-0.3h1.8V0.5c0-0.1,0-0.2,0.1-0.3C4.8,0,5,0,5.1,0h1.8C7,0,7.2,0,7.2,0.1c0.1,0.1,0.1,0.2,0.1,0.3v3.2h1.8C9.4,3.7,9.6,3.8,9.7,4z"/></svg>');
}

.dp-ContextMenu > li > a:hover .dp-MenuIcon.dp-IconSpam {
  background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_29" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 12 13" style="enable-background:new 0 0 12 13;" xml:space="preserve"><style type="text/css">.st0{fill:%234696dc;}</style><path class="st0" d="M1.9,2.1C1.8,2,1.6,2,1.5,2S1.2,2,1.1,2.1S1,2.4,1,2.5s0,0.3,0.1,0.4S1.4,3,1.5,3s0.3,0,0.4-0.1S2,2.6,2,2.5S2,2.2,1.9,2.1z M10.8,6.4C10.7,6.1,10.6,6,10.4,6c0.1-0.1,0.1-0.2,0.2-0.4s0.1-0.3,0.1-0.4c0-0.4-0.1-0.7-0.4-0.9c0.1-0.2,0.1-0.3,0.1-0.5s0-0.4-0.1-0.6s-0.2-0.3-0.4-0.4c0-0.2,0-0.3,0-0.4C9.9,1.4,9.4,1,8.4,1H7.5C6.8,1,5.9,1.2,4.8,1.6c0,0-0.1,0-0.2,0.1S4.4,1.7,4.3,1.8S4.2,1.8,4.1,1.8S3.8,1.9,3.8,1.9S3.6,2,3.5,2S3.3,2,3.3,2H3v5h0.3c0.1,0,0.2,0,0.3,0.1s0.2,0.1,0.3,0.2S4,7.5,4.1,7.6s0.2,0.2,0.3,0.3s0.2,0.2,0.3,0.3S4.9,8.4,5,8.6s0.2,0.2,0.2,0.2c0.3,0.4,0.5,0.6,0.6,0.7C6,9.7,6.1,10,6.2,10.4s0.2,0.7,0.2,1s0.2,0.5,0.3,0.7c0.5,0,0.8-0.1,1-0.4S8,11,8,10.5c0-0.3-0.1-0.7-0.4-1.3S7.3,8.3,7.3,8H10c0.3,0,0.5-0.1,0.7-0.3S11,7.3,11,7C11,6.8,10.9,6.6,10.8,6.4z M11.4,8.4C11,8.8,10.5,9,10,9H8.6C8.9,9.5,9,10,9,10.5c0,0.6-0.1,1.1-0.3,1.5s-0.4,0.6-0.8,0.8S7.2,13,6.8,13c-0.3,0-0.5-0.1-0.7-0.3c-0.2-0.2-0.4-0.5-0.5-0.8s-0.2-0.7-0.2-1S5.2,10.3,5,10.2c-0.3-0.3-0.5-0.6-0.8-1C3.7,8.5,3.3,8.1,3.1,8H1C0.7,8,0.5,7.9,0.3,7.7S0,7.3,0,7V2c0-0.3,0.1-0.5,0.3-0.7S0.7,1,1,1h2.3c0.1,0,0.5-0.1,1.1-0.3C5,0.5,5.5,0.3,6,0.2S7,0,7.5,0h0.7h0.3c0.7,0,1.3,0.2,1.8,0.6s0.7,1,0.7,1.7c0.3,0.4,0.5,0.9,0.5,1.4c0,0.1,0,0.2,0,0.3c0.2,0.3,0.3,0.7,0.3,1.1c0,0.2,0,0.4-0.1,0.5C11.9,6.1,12,6.5,12,7C12,7.5,11.8,8,11.4,8.4z"/></svg>');
}

.dp-ContextMenu > li > a:hover .dp-MenuIcon.dp-ban {
  background-image: url('data:image/svg+xml,<svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M6.49998 0.5C3.29998 0.5 0.699982 3.1 0.699982 6.3C0.699982 9.5 3.29998 12.1 6.49998 12.1C9.69998 12.1 12.3 9.5 12.3 6.3C12.3 3.1 9.69998 0.5 6.49998 0.5ZM1.89998 6.3C1.89998 3.8 3.89998 1.8 6.39998 1.8C7.39998 1.8 8.29998 2.1 8.99998 2.6L2.79998 8.9C2.19998 8.1 1.89998 7.2 1.89998 6.3ZM6.49998 10.8C5.49998 10.8 4.59998 10.5 3.89998 10L10.2 3.7C10.7 4.4 11 5.3 11 6.3C11 8.8 8.99998 10.8 6.49998 10.8Z" fill="%233a8dde"/></g><defs><clipPath id="clip0"><rect width="11.5" height="11.5" fill="white" transform="translate(0.699982 0.5)"/></clipPath></defs></svg>');
}

.dp-ContextMenu > li > a:hover .dp-MenuIcon.dp-rocket {
  background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 11 11" style="enable-background:new 0 0 11 11;" xml:space="preserve"><style type="text/css">.st0{fill:%234696dc;}</style><path class="st0" d="M9.5,2.2c0-0.2-0.1-0.3-0.2-0.5S9,1.5,8.8,1.5S8.5,1.6,8.4,1.7S8.2,2,8.2,2.2s0.1,0.3,0.2,0.5s0.3,0.2,0.5,0.2 s0.3-0.1,0.5-0.2S9.5,2.3,9.5,2.2z M11,0.2c0,1.1-0.2,2.1-0.5,2.9S9.6,4.7,8.8,5.5C8.4,5.9,8,6.3,7.5,6.7L7.3,9.3 c0,0.1,0,0.1-0.1,0.2L4.6,11c0,0-0.1,0-0.1,0c-0.1,0-0.1,0-0.2-0.1l-0.4-0.4c-0.1-0.1-0.1-0.1-0.1-0.2l0.6-1.9L2.6,6.5L0.7,7.1 c0,0,0,0-0.1,0c-0.1,0-0.1,0-0.2-0.1L0.1,6.6C0,6.5,0,6.5,0,6.4l1.5-2.6c0-0.1,0.1-0.1,0.2-0.1l2.6-0.1c0.4-0.5,0.8-1,1.2-1.3 c0.8-0.8,1.6-1.4,2.4-1.7S9.6,0,10.8,0c0.1,0,0.1,0,0.2,0.1C11,0.1,11,0.2,11,0.2z"/></svg>');
}

.dp-ContextMenu .dp-DropdownDivider {
  border-top: 1px solid var(--grey-light);
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
}

.dp-ContextMenu .dp-MenuIcon {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 13px 13px;
  display: inline-block;
  height: 13px;
  margin-right: 5px;
  vertical-align: top;
  width: 13px;
}

.dp-ContextMenu .dp-MenuIcon.dp-lock {
  background-size: 11px 13px;
}

.dp-ContextMenu .dp-disabledItem > a {
  color: rgba(76, 79, 80, 0.5);
}

/* new style */

.dp-ItemCol {
  display: flex;
  flex-direction: column;
}

.dp-ItemCol:first-child {
  flex: 0 0 auto;
}

.dp-ItemCol:nth-child(2) {
  flex: 0 1 100%;
}

.dp-ItemCol:last-child {
  flex: 1 0 auto;
}
