.dp-MenuBarList {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.dp-MenuBarItem {
  padding-right: 15px;
  position: relative;
}

.dp-MenuBarItem .dp-iconCharger {
  border: 1px solid #9e91c4;
}

.dp-MenuBarItem .dp-iconNote {
  border: 1px solid #ec6c4e;
}

.dp-MenuBarItem .dp-iconNoteGreen {
  border: 1px solid #4fb05c;
}

.dp-MenuBarItem .dp-iconClock2 {
  border: 1px solid #318cdd;
}

.dp-MenuBarItem .dp-Icon {
  background-size: 15px 15px;
  border-radius: 50%;
  display: inline-block;
  height: 24px;
  position: relative;
  vertical-align: middle;
  width: 24px;
}

.dp-MenuBarItem .dp-Badge {
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  letter-spacing: -0.5px;
  padding: 3px;
  position: absolute;
  right: -7px;
  top: -7px;
}

.dp-MenuBarItem .dp-Badge.dp-red {
  background-color: #e84954;
}

.dp-MenuBarItem .dp-Title {
  color: #4e4d4d;
  display: inline-block;
  font-size: 12px;
  padding: 5px 0 0 4px;
  position: relative;
}

.dp-MenuBarItem .dp-Arrow {
  padding-left: 17px;
  position: relative;
}

.dp-MenuBarItem .dp-Arrow::after {
  border-color: #000 transparent transparent transparent;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  bottom: 0;
  content: "";
  height: 0;
  margin: auto;
  position: absolute;
  right: 4px;
  top: 0;
  width: 0;
}

.dp-MenuBarItem.dp-purpleColor.is-active .dp-Title {
  color: #9384bd;
}

.dp-MenuBarItem.dp-purpleColor.is-active .dp-Icon {
  background-color: #9e91c4;
  border: 1px solid #9e91c4;
}

.dp-MenuBarItem.is-active .dp-iconCharger {
  background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 9.8 13.1" style="enable-background:new 0 0 9.8 13.1;" xml:space="preserve"><style type="text/css">.st0{fill:%23ffffff;}</style><g> <path class="st0" d="M9.3,0.8H7.6V0.5C7.6,0.2,7.4,0,7.1,0H2.7C2.4,0,2.2,0.2,2.2,0.5v0.3H0.5C0.2,0.8,0,1.1,0,1.4v11.2 c0,0.3,0.2,0.5,0.5,0.5h8.7c0.3,0,0.5-0.2,0.5-0.5V1.4C9.8,1.1,9.6,0.8,9.3,0.8z M3.3,1.1h3.3v0.5H3.3V1.1z M8.7,12H1.1V1.9h1. v0.3c0,0.3,0.2,0.5,0.5,0.5h4.4c0.3,0,0.5-0.2,0.5-0.5V1.9h1.1V12z"/> <path class="st0" d="M6.8,6.5H5.5V5.2c0-0.3-0.2-0.5-0.5-0.5S4.4,4.9,4.4,5.2v1.4H3c-0.3,0-0.5,0.2-0.5,0.5S2.7,7.6,3,7.6h1.4V9 c0,0.3,0.2,0.5,0.5,0.5S5.5,9.3,5.5,9V7.6h1.4c0.3,0,0.5-0.2,0.5-0.5S7.1,6.5,6.8,6.5z"/></g></svg>');
}

.dp-MenuBarItem.dp-purpleColor.is-active .dp-Arrow::after {
  border-color: #9384bd transparent transparent transparent;
  transform: rotate(180deg);
}

.dp-MenuBarItem.dp-redLightColor.is-active .dp-Title {
  color: #ec6c4e;
}

.dp-MenuBarItem.dp-redLightColor.is-active .dp-Icon {
  background-color: #ec6c4e;
  border: 1px solid #ec6c4e;
}

.dp-MenuBarItem.is-active .dp-iconNote {
  background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 9.8 11.7" style="enable-background:new 0 0 9.8 11.7;" xml:space="preserve"><style type="text/css">.st0{fill:%23ffffff;}</style><g><g><path class="st0" d="M7.3,2.4H2.5c-0.2,0-0.4,0.2-0.4,0.4c0,0.2,0.2,0.4,0.4,0.4h4.9c0.2,0,0.4-0.2,0.4-0.4 C7.7,2.5,7.5,2.4,7.3,2.4z"/><path class="st0" d="M7.3,2.4H2.5c-0.2,0-0.4,0.2-0.4,0.4c0,0.2,0.2,0.4,0.4,0.4h4.9c0.2,0,0.4-0.2,0.4-0.4 C7.7,2.5,7.5,2.4,7.3,2.4L7.3,2.4z"/></g><g><path class="st0" d="M7.3,4.1H2.5c-0.2,0-0.4,0.2-0.4,0.4s0.2,0.4,0.4,0.4h4.9c0.2,0,0.4-0.2,0.4-0.4S7.5,4.1,7.3,4.1z"/><path class="st0" d="M7.3,4.1H2.5c-0.2,0-0.4,0.2-0.4,0.4c0,0.2,0.2,0.4,0.4,0.4h4.9c0.2,0,0.4-0.2,0.4-0.4 C7.7,4.2,7.5,4.1,7.3,4.1L7.3,4.1z"/></g><g><path class="st0" d="M7.3,5.9H5.5C5.3,5.9,5.2,6,5.2,6.2s0.2,0.4,0.4,0.4h1.8c0.2,0,0.4-0.2,0.4-0.4S7.5,5.9,7.3,5.9z"/><path class="st0" d="M7.3,5.9H5.5C5.3,5.9,5.2,6,5.2,6.2s0.2,0.4,0.4,0.4h1.8c0.2,0,0.4-0.2,0.4-0.4S7.5,5.9,7.3,5.9L7.3,5.9z"/></g><g><path class="st0" d="M8.7,1.2v6.4c0,0.1,0,0.3-0.1,0.5c-0.3,0.4-1.9,2.1-2,2.3c-0.1,0.1-0.3,0.2-0.9,0.2c-0.1,0-0.2,0-0.3,0 c-0.6,0-1.8,0-2.9,0c-0.5,0-0.9,0-1.2,0V1.2H8.7 M9.3,0H0.5C0.2,0,0,0.2,0,0.5v10.6c0,0.3,0.2,0.5,0.5,0.5c0,0,0,0,0,0 c0.6,0,3.6,0,4.7,0c0.2,0,0.3,0,0.3,0c0.6,0,1.2-0.1,1.7-0.5c0.1-0.1,2-2.2,2.2-2.5c0.2-0.4,0.3-0.8,0.3-1.1v-7 C9.8,0.2,9.6,0,9.3,0L9.3,0z"/></g></g></svg>');
}

.dp-MenuBarItem.dp-redLightColor.is-active .dp-Arrow::after {
  border-color: #ec6c4e transparent transparent transparent;
  transform: rotate(180deg);
}

.dp-MenuBarItem.dp-greenColor.is-active .dp-Title {
  color: #4fb05c;
}

.dp-MenuBarItem.dp-greenColor.is-active .dp-Icon {
  background-color: #4fb05c;
  border: 1px solid #4fb05c;
}

.dp-MenuBarItem.is-active .dp-iconNoteGreen {
  background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10.8 15.3" style="enable-background:new 0 0 10.8 15.3;" xml:space="preserve"><style type="text/css">.st0{fill:%23ffffff;}</style><g><path class="st0" d="M7.4,2.4H2.5c-0.2,0-0.4,0.2-0.4,0.4c0,0.2,0.2,0.4,0.4,0.4h4.9c0.2,0,0.4-0.2,0.4-0.4 C7.7,2.6,7.6,2.4,7.4,2.4z"/><path class="st0" d="M7.4,4.1H2.5c-0.2,0-0.4,0.2-0.4,0.4s0.2,0.4,0.4,0.4h4.9c0.2,0,0.4-0.2,0.4-0.4S7.6,4.1,7.4,4.1z"/><path class="st0" d="M8.5,1.3v9H1.3v-9H8.5 M9.3,0H0.5C0.2,0,0,0.2,0,0.5v10.6c0,0.3,0.2,0.5,0.5,0.5h8.7c0.3,0,0.5-0.2,0.5-0.5 V0.5C9.8,0.2,9.6,0,9.3,0L9.3,0z"/><path class="st0" d="M8.6,8.1c1.2,0,2.2,1,2.2,2.2c0,1.2-1,2.2-2.2,2.2s-2.2-1-2.2-2.2C6.4,9.1,7.4,8.1,8.6,8.1z"/><path class="st0" d="M7.3,12.6c0.4,0.2,0.8,0.3,1.3,0.3s0.9-0.1,1.3-0.3v2.7l-1.2-1c-0.1-0.1-0.2-0.1-0.3,0l-1.2,1V12.6z"/></g></svg>');
}

.dp-MenuBarItem.dp-greenColor.is-active .dp-Arrow::after {
  border-color: #4fb05c transparent transparent transparent;
  transform: rotate(180deg);
}

.dp-MenuBarItem.dp-blueColor.is-active .dp-Title {
  color: #318cdd;
}

.dp-MenuBarItem.dp-blueColor.is-active .dp-Icon {
  background-color: #318cdd;
  border: 1px solid #318cdd;
}

.dp-MenuBarItem.is-active .dp-iconClock2 {
  background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 11.6 13.5" style="enable-background:new 0 0 11.6 13.5;" xml:space="preserve"><style type="text/css"> .st0{fill:%23ffffff;}</style><g><path class="st0" d="M5.8,12.4c-2.6,0-4.7-2.1-4.7-4.7c0-2.6,2.1-4.7,4.7-4.7c2.6,0,4.7,2.1,4.7,4.7C10.5,10.3,8.4,12.4,5.8,12.4 M5.8,2C2.6,2,0,4.6,0,7.8c0,3.2,2.6,5.8,5.8,5.8s5.8-2.6,5.8-5.8C11.6,4.6,9,2,5.8,2"/><path class="st0" d="M6.4,7.8V4.6C6.4,4.3,6.1,4,5.8,4C5.5,4,5.2,4.3,5.2,4.6V8c0,0.1,0,0.1,0,0.2c0,0.1,0.1,0.1,0.1,0.2l1.6,1.6 c0.1,0.1,0.3,0.2,0.4,0.2c0.1,0,0.3-0.1,0.4-0.2c0.2-0.2,0.2-0.6,0-0.8L6.4,7.8z"/><path class="st0" d="M4.1,1.1h3.5c0.3,0,0.6-0.3,0.6-0.6S7.9,0,7.5,0H4.1C3.8,0,3.5,0.3,3.5,0.6S3.8,1.1,4.1,1.1z"/></g></svg>');
}

.dp-MenuBarItem.dp-blueColor.is-active .dp-Arrow::after {
  border-color: #318cdd transparent transparent transparent;
  transform: rotate(180deg);
}
