@import "../fonts.css";
@import "../vars.css";
@import "../dp-Arrow.css";
@import "../components/dp-icons.css";

.dp-OrderingBar {
  background-color: var(--grey-lightest);
  border-bottom: 1px solid var(--grey-light);
  color: inherit;
  display: flex;
  max-height: 36px;
  width: 100%;
}

.dp-OrderingBar .dp-OrderingBar-item:first-child {
  align-items: center;
  flex: 0 0 32px;
  min-width: auto;
  padding: 0 10px;

  /* justify-content: center; */

}

.dp-OrderingBar-item {
  align-items: center;
  background-color: var(--grey-lightest);
  border-right: 1px solid var(--grey-light);
  color: inherit;
  cursor: pointer;
  display: flex;
  flex: 1 1 100%;
  margin: 0;
  min-width: 108px;
  padding: 8px;
  position: relative;
}

.dp-OrderingBar-item .dp-SelectGroup .dp-Arrow {
  padding-left: 10px;
}

.dp-OrderingBar-item .dp-SelectGroup .dp-Arrow::after {
  right: 0;
  top: 5px;
}

.dp-Listview.dp-Wrapper {
  max-width: 436px;
}

/* .dp-Listview .dp-OrderingBar-item {
  max-width: 108px;
} */

.dp-Tableview .dp-OrderingBar-item {
  max-width: 142px;
}

.dp-OrderingBar-item.is-active > .dp-SelectGroup .dp-Title,
.dp-OrderingBar-item.is-active > .dp-SelectGroup .dp-Subtitle,
.dp-OrderingBar-item.is-active .dp-SortDescription {
  color: var(--brand-primary);
}

.dp-OrderingBar-item .dp-CustomCheckbox.dp-EmptyCheckbox {
  align-items: center;
  display: flex;
}

.dp-OrderingBar-item:last-child {
  border-right: 0;

  /*  margin-left: auto;
  margin-right: 0;
  border-left: 1px solid var(--grey-light); */

}

.dp-MassSelect .dp-OrderingBar-item:last-child {
  flex: 1 1 100%;
  max-width: 130px;
}

.dp-MassSelect .dp-Listview .dp-OrderingBar-item:last-child {
  max-width: 80px;
  min-width: 80px;
}

.dp-OrderingBar-item .dp-ItemRow {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.dp-OrderingBar-item .dp-Select {
  background: transparent;
  border: 0;
  outline: 0;
}

.dp-OrderingBar-item .dp-Title {
  color: var(--grey-dark);
  font: var(--p-n-semibold);
  padding: 0 0 0 4px;
  white-space: nowrap;
}

.dp-OrderingBar-item .dp-iconEye {
  background-size: 19px 19px;
  display: inline-block;
  height: 13px;
  width: 19px;
}

.dp-OrderingBar-item .dp-iconSetting {
  background-size: 13px 13px;
  display: inline-block;
  height: 13px;
  width: 13px;
}

.dp-OrderingBar-item .dp-Icon.Icon--view {
  background-size: 20px 14px;
  height: 14px;
  width: 20px;
}

.dp-ViewItem {
  align-items: center;
  display: flex;
  max-width: 100%;
  padding: 0 10px;
}

.dp-SortIconDescription,
[disabled] .dp-SortIconDescription:hover {
  align-items: center;
  color: var(--grey);
  cursor: not-allowed;
  display: flex;
  flex-direction: column;
  font: var(--p-s);
  margin-right: 4px;
}

.dp-SortIconDescription:hover {
  color: var(--brand-primary);
  cursor: pointer;
}

.dp-Card-title .dp-sort {
  margin-right: 4px;
}

.dp-OrderingBar-item .dp-Icon {
  cursor: pointer;
}

[disabled] .dp-OrderingBar-item,
[disabled] .dp-OrderingBar-item .dp-Arrow,
[disabled] .dp-OrderingBar-item .dp-Icon {
  cursor: not-allowed;
}

[disabled] .dp-Icon svg {
  fill: var(--grey);
}

/* .dp-OrderingBar-item {
  flex: 1 1 100%;
  min-width: 110px;
} */

/* .dp-GroupSortBar .dp-OrderingBar-item .dp-DropDownItem,
.dp-GroupSortBar .dp-OrderingBar-item.dp-DropDownItem {
  flex: 0 1 145px;
} */

.dp-OrderingBar-item.dp-DropDownItem .dp-SelectGroup .dp-Arrow::after {
  right: 0;
}

.dp-FilterControlsItem {
  align-items: center;
  border-right: 1px solid var(--grey-light);
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  max-width: 175px;
  padding: 10px;
  position: relative;
}

.dp-FilterControlsItem.dp-DropDownItem {
  width: 100%;
}

.dp-FilterControlsItem:first-child {
  width: auto;
}

.dp-FilterControlsItem:last-child {
  border-right: 0;
}

.dp-FilterControlsItem .dp-ItemRow {
  display: block;
  width: 100%;
}

.dp-FilterControlsItem .dp-Select {
  background: transparent;
  border: 0;
  outline: 0;
}

.dp-FilterControlsItem .dp-Title {
  color: var(--grey-dark);
  font: var(--p-n-caps);
  padding: 0 0 0 4px;
  text-transform: uppercase;
}

.dp-FilterControlsItem .dp-Select {
  color: var(--grey-dark);
  font: var(--p-xl);
}

.dp-FilterControlsItem .dp-iconEye {
  background-size: 19px 19px;
  display: inline-block;
  height: 13px;
  width: 19px;
}

.dp-FilterControlsItem .dp-iconSetting {
  background-size: 13px 13px;
  display: inline-block;
  height: 13px;
  width: 13px;
}

.dp-OrderingBar .dp-FilterControlsItem .dp-Title {
  font: var(--h-s-semibold);
  padding: 0;
  text-transform: none;
}

.dp-OrderingBar .dp-FilterControlsItem .dp-Subtitle {
  font: var(--p-n);
}

.dp-OrderingBar .dp-FilterControlsItem .dp-Icon {
  background-size: 23px 23px;
  height: 25px;
  margin-right: 4px;
  width: 25px;
}

.dp-FilterControlsItem.is-active .dp-Title,
.dp-FilterControlsItem.is-active .dp-Subtitle {
  color: var(--brand-primary);
}

.is-active .dp-grouped_by svg,
.is-active .dp-sort svg,
.is-active .dp-faceted_by svg,
.is-active .Icon--view svg,
.dp-grouped_by:hover svg,
.dp-sort:hover svg,
.dp-faceted_by:hover svg,
.Icon--view:hover svg {
  fill: var(--brand-primary);
}

.dp-OrderingBar .dp-Select {
  user-select: none;
}

.dp-OrderingBar .dp-OrderingBar-item .dp-Title {
  color: var(--grey-darkest);
  padding: 0;
}

.dp-OrderingBar .dp-OrderingBar-item .dp-Subtitle {
  color: var(--grey-darkest);
  font: var(--p-s);
}

/* .dp-orderingbar--Wrap {
  margin-top: 0;
  overflow: hidden;
  width: 100%;
} */

.dp-OrderingBar .dp-OrderingBar-item > .dp-Icon {
  background-size: 19px 19px;
  height: 19px;
  margin-right: 5px;
  width: 19px;
}

.dp-Menu .dp-SortOrder .dp-Order-btn .dp-sort,
.dp-OrderingBar .dp-OrderingBar-item .dp-sort,
.dp-Card-title .dp-sort {
  background-size: 13.2px 10.4px;
  height: 12px;
  width: 15px;
}

.dp-OrderingBar .dp-OrderingBar-item .Icon--view {
  background-size: 20px 14px;
}

.dp-OrderingBar .dp-OrderingBar-item .dp-csv {
  background-size: 15px 9px;
}

.dp-OrderingBar .dp-Select {
  user-select: none;
}

.dp-OrderingBar .dp-SelectGroup {
  flex: 1 0 0;
  flex: 1 0 0;
  margin-top: -1px;
  max-width: 96px;
}

.dp-FilterControlsItem .dp-ItemRow {
  position: relative;
}

.dp-Uneditable,
.dp-Menu.dp-OptionList .dp-Menu-linkItem.dp-Uneditable:hover {
  background-color: var(--grey-lightest);
  color: var(--grey-darkest);
}

.dp-Menu.dp-OptionList .dp-Menu-linkItem.dp-Uneditable:hover .dp-Icon svg {
  fill: var(--grey);
}

.dp-orderingbar .dp-OrderingBar-item:last-child {
  border: 0;
  border-left: 0;
}

/* Hover, Drag */

.dp-Menu.dp-OptionList .dp-Menu-linkItem.is-dragging .dp-Icon svg,
.dp-Menu.dp-OptionList .dp-Menu-linkItem:hover svg,
.dp-Menu.dp-OptionList .dp-Menu-linkItem.is-active svg {
  fill: var(--brand-primary);
}

.dp-OptionList .dp-Menu-linkItem.is-dragging .dp-CustomCheckbox input[type="checkbox"] + label,
.dp-OptionList .dp-Menu-linkItem:hover .dp-CustomCheckbox input[type="checkbox"] + label,
.dp-OptionList .dp-Menu-linkItem.is-checked .dp-CustomCheckbox input[type="checkbox"] + label {
  color: var(--brand-primary);
}

.dp-OptionList .dp-Menu-linkItem.is-dragging .dp-CustomCheckbox input[type="checkbox"] + label::before,
.dp-OptionList .dp-Menu-linkItem:hover .dp-CustomCheckbox input[type="checkbox"] + label::before,
.dp-OptionList .dp-Menu-linkItem.is-active .dp-CustomCheckbox input[type="checkbox"] + label::before {
  border: 1px solid var(--brand-primary);
}

.dp-OptionList .dp-Menu-linkItem.dp-Uneditable:hover .dp-CustomCheckbox input[type="checkbox"] + label::before {
  border: 1px solid var(--grey);
}

/* Drag */

.dp-Menu.dp-OptionList .dp-Menu-linkItem.is-dragging {
  background-color: var(--info-light);
  border: 1px solid var(--brand-primary);

  /* margin: 0 -1px; */
}

/* Press */

.dp-Menu.dp-OptionList .dp-Menu-linkItem.is-pressing {
  background-color: var(--info-light);
  margin: 0 -1px;
}

/* is-expanded */

.dp-Dropdown {
  display: flex;
}

.dp-OrderingBar .dp-Items-groupe .dp-Menu {
  min-width: auto;
}

.dp-OrderingBar .dp-OrderingBar-item {
  transition: all 0.5s;
}

.dp-OrderingBar .dp-OrderingBar-item.is-expanded {
  flex: 1 0 calc(100% - 108px);
  max-width: 100%;

  /* justify-content: flex-start; */

}

.dp-OrderingBar-item.is-expanded + .dp-OrderingBar-item {
  flex: 0 0 auto;
}

/* Wrapper */

.dp-Wrapper {
  display: block;
  height: inherit;
  overflow: hidden;
}
