@import "../fonts.css";
@import "../vars.css";
@import "../dp-Arrow.css";

.dp-Tabs {
  border-bottom: 1px solid var(--grey-light);
  display: flex;
}

.dp-Tabs .dp-Tabs-item {
  color: var(--grey-dark);
  cursor: pointer;
  display: flex;
  font: var(--p-n-caps);
  margin-right: 15px;
  margin-top: 0;
  padding: 5px 0;
  position: relative;
}

.dp-Tabs .dp-Tabs-item:hover,
.dp-Tabs .dp-Tabs-item.is-expanded,
.dp-Tabs .dp-Tabs-item.is-active {
  border-bottom: 1px solid var(--brand-primary);
  color: var(--brand-primary);
  margin-bottom: -1px;
}

.dp-Tabs-item:hover > .dp-Arrow::after,
.dp-Tabs .dp-Tabs-item.is-expanded .dp-Arrow::after {
  border-color: transparent transparent var(--brand-primary) transparent;
  border-width: 0 4px 4px 4px;
}

.dp-Tabs-item .dp-Arrow::after {
  right: 0;
}

.dp-Tabs.Tabs--general > .dp-Tabs-item {
  background: var(--grey-lightest);
  border: 1px solid var(--grey);
  border-bottom: 1px solid var(--brand-primary);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
  margin-bottom: -1px;
  max-width: 200px;
  min-width: 160px;
  padding: 0;
  position: relative;
  width: 100%;
}

.Tabs--general > .dp-Tabs-item + .dp-Tabs-item {
  margin-left: -1px;
}

.dp-Tabs.Tabs--general {
  border-bottom: 1px solid var(--brand-primary);
  height: var(--height-menu);
  padding-top: 3px;
}

.Tabs--general .dp-Tabs-item {
  margin-right: 0;
}

.dp-Tabs.Tabs--general .dp-Tabs-item:hover,
.dp-SelectedMore .dp-Tabs-item.is-active {
  background: var(--primary-light);
}

.Tabs--general .dp-Tabs-item:hover > .dp-TabInfoItem .dp-Title,
.Tabs--general .dp-Tabs-item:hover > .dp-TabInfoItem .dp-Subtitle,
.dp-Tabs-item:hover > .dp-TitleButton,
.dp-Tabs .dp-Tabs-item.is-visible .dp-TitleButton,
.dp-Tabs .dp-Tabs-item:hover > .dp-TitleButton,
.dp-SelectedMore .dp-Tabs-item.is-active > .dp-TabInfoItem .dp-Title,
.dp-SelectedMore .dp-Tabs-item.is-active > .dp-TabInfoItem .dp-Subtitle {
  color: var(--brand-primary);
  cursor: pointer;
}

.dp-SelectedMore .dp-Tabs-item.is-active > .dp-TabInfoItem .dp-Icon svg,
.dp-SelectedMore .dp-Tabs-item:hover > .dp-TabInfoItem .dp-Icon svg,
.dp-Tabs-item:hover > .dp-TabInfoItem .Icon--email svg,
.dp-Tabs-item:hover > .dp-TabInfoItem .Icon--portal svg {
  fill: var(--brand-primary);
}

.Tabs-item--row {
  align-items: center;
  display: flex;
}

.dp-Tabs .dp-Title,.dp-Tabs.Tabs--general .dp-TitleButton {
  color: var(--grey-darkest);
  font: var(--p-l);
  height: 100%;
  line-height: 1.4;
  max-width: 200px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.dp-Tabs .dp-Subtitle {
  color: var(--grey-dark);
  font: var(--p-n);
  margin-left: 20px;
}

.dp-Tabs .dp-Icon + .dp-Title, .dp-Tabs .dp-Icon + .dp-Subtitle {
  margin-left: 5px;
}

.dp-Tabs.Tabs--general > .dp-Tabs-item.is-active {
  background: var(--white);
  border: 1px solid var(--brand-primary);
  border-bottom: 1px solid transparent;
  z-index: 1;
}

.dp-SelectedMore .dp-Tabs-item:hover, .dp-SelectedMore .dp-Tabs-item.is-active {
  border-bottom: 1px solid var(--grey);
  margin-bottom: 0;
}

.dp-TabInfoItem {
  display: block;
  flex: 1 1 0;
  padding: 5px 5px 7px 10px;
}

.dp-CloseBtn {
  align-items: center;
  background-color: var(--white);
  border-left: 1px solid var(--grey);
  cursor: pointer;
  display: none;
  justify-content: center;
  max-width: 30px;
  width: 100%;
}

.dp-CloseBtn:hover {
  background-color: var(--primary-light);
}

.Tabs--general > .dp-Tabs-item .dp-CloseBtn {
  border-top-right-radius: 3px;
}

.Tabs--general > .dp-Tabs-item.is-active:hover .dp-CloseBtn {
  display: none;
}

.Tabs--general .dp-Tabs-item:hover > .dp-CloseBtn {
  display: flex;
}

.dp-CloseBtn .dp-Icon {
  cursor: pointer;
}

.dp-Tabs .dp-SelectedMore.dp-Menu {
  overflow: hidden;
  padding: 0;
  width: 180px;
}

.Tabs--general .dp-Tabs-item.Tabs-item--button {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 44px;
  min-width: 44px;
  padding: 0;
  text-align: center;
}

.Tabs--general .dp-Tabs-item.Tabs-item--button .dp-TitleButton {
  align-items: center;
  display: flex;
  justify-content: center;
  outline: none;
}

.Tabs--general .dp-Tabs-item.Tabs-item--button .dp-Button,
.Tabs--general .dp-Tabs-item.Tabs-item--button .dp-Button > span {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}

.Tabs--general .dp-Tabs-item.Tabs-item--button > .dp-Icon {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.dp-Tabs.Tabs--general .dp-Menu .dp-Tabs-item {
  display: flex;
  padding: 0;
}

.Tabs--general .dp-Tabs-item .Tabs-item--row .dp-Icon.Icon--email {
  width: 15px;
}

.Tabs--general .dp-Tabs-item .Tabs-item--row .dp-Icon {
  height: 14px;
  min-width: 15px;
}

.Tabs--general .dp-Tabs-item .Tabs-item--row + .Tabs-item--row > .dp-Icon {
  background-size: 14px;
  width: 14px;
}

.Tabs-item--button .dp-Menu-linkItem .dp-Icon {
  background-size: 12px 12px;
  width: 12px;
}

/* Vetical Tabs */

.dp-Tabs.Tabs--apps {
  border: 0;
  flex-direction: column;
}

.Tabs--apps .dp-Tabs-item {
  max-width: 70px;
}

.Tabs--apps .dp-Tabs-item > .dp-Icon {
  min-width: 22px;
}

.dp-Tabs.Tabs--apps .dp-Tabs-item {
  align-items: center;
  border-bottom: 0;
  margin-bottom: 0;
}

.Tabs--apps .dp-Tabs-item .dp-Title {
  align-items: center;
  color: var(--grey-darkest);
  cursor: pointer;
  display: inline-block;
  display: flex;
  font: var(--h-s-semibold);
  margin-left: 5px;
}

.Tabs--apps .dp-Tabs-item .dp-Arrow::after {
  border-color: var(--grey-dark) transparent transparent transparent;
}

.dp-Tabs.Tabs--apps .dp-Tabs-item.is-active .dp-Arrow::after {
  border-color: transparent transparent var(--grey-dark) transparent;
}

.dp-Tabs.Tabs--apps .dp-Tabs-item:hover .dp-Arrow::after {
  border-color: transparent transparent var(--grey-dark) transparent;
}

.Tabs--general .dp-Tabs-item.is-active > .dp-Icon svg {
  fill: var(--success);
}

.Tabs--apps .dp-Tabs-item.is-active > .dp-Icon svg {
  fill: var(--grey);
}

/* Tabs--icons */

.dp-Tabs.Tabs--icons .dp-Tabs-item {
  border-bottom: none;
  border-right: 1px solid var(--grey-light);
  cursor: pointer;
  margin: 0;
  max-width: 46px;
  padding: 8px 15px;
}

.Tabs--icons .dp-Tabs-item:hover, .Tabs--icons .dp-Tabs-item.is-active {
  border-bottom: 1px solid var(--brand-primary);
  margin-bottom: -1px;
}

.Tabs--icons .dp-Tabs-item > .dp-Icon {
  cursor: pointer;
}

.Tabs--general .dp-Tabs-item.is-active > .dp-Icon.Icon--email svg,
.Tabs--icons .dp-Tabs-item:hover .dp-Icon svg,
.Tabs--icons .dp-Tabs-item.is-active .dp-Icon svg {
  fill: var(--brand-primary);
}

.Tabs--general .dp-Tabs-item.Tabs--button.is-active > .dp-Icon svg {
  fill: var(--success);
}

/* buttons/actions */

.Tabs--actions {
  align-items: center;
  border: 0;
  border-radius: var(--border-radius);
  display: flex;
  list-style: none;
  padding: 10px;
}

.Tabs--actions .dp-Tabs-item .dp-Icon {
  cursor: pointer;
  height: 14px;
  margin-right: 3px;
  width: 15px;
}

.Tabs--actions .dp-Tabs-item.is-disabled {
  background-color: var(--grey-lighter);
  cursor: not-allowed;
}

.Tabs--actions .dp-Tabs-item.is-disabled svg {
  cursor: not-allowed;
  fill: var(--grey-dark);
}

.Tabs--actions .dp-Tabs-item.is-disabled .dp-Icon,
.Tabs--actions .dp-Tabs-item.is-disabled .dp-Arrow {
  cursor: not-allowed;
}

.Tabs--actions .dp-Tabs-item:first-child::before {
  display: none;
}

.dp-Tabs-item.is-disabled::after {
  display: none;
}

.dp-Tabs-item.is-active > .dp-Icon svg {
  fill: var(--white);
}

/* Tabs--reply */

.dp-Tabs.Tabs--reply {
  border: 0;
}

.dp-Tabs.Tabs--reply ul {
  display: flex;
  padding: 0;
}

.dp-Tabs.Tabs--reply li {
  margin: 0;
}

.dp-Tabs.Tabs--reply .dp-Tabs-item {
  align-items: center;
  border: 1px solid var(--grey-light);
  border-right: 0;
  margin: 0;
  padding: 5px 10px;
}

.dp-Tabs.Tabs--reply .dp-Tabs-item.is-active + .dp-Tabs-item,
.dp-Tabs.Tabs--reply .dp-Tabs-item.is-active + .dp-Tabs-item:hover,
.dp-Tabs.Tabs--reply .dp-Tabs-item:hover + .dp-Tabs-item,
.dp-Tabs.Tabs--reply .dp-Tabs-item + .dp-Tabs-item {
  border-left: 0;
}

.dp-Tabs.Tabs--reply .dp-Tabs-item:hover,
.dp-Tabs.Tabs--reply .dp-Tabs-item.is-active {
  border: 1px solid var(--brand-primary);

  /* z-index: 2; */
}

.dp-Tabs.Tabs--reply .dp-Tabs-item .dp-Icon {
  margin-right: 5px;
}

.dp-Tabs.Tabs--reply .dp-Tabs-item:first-child {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.dp-Tabs.Tabs--reply .dp-Tabs-item:last-child {
  border: 1px solid var(--grey-light);
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.dp-Tabs.Tabs--reply .dp-Tabs-item:last-child:hover {
  border: 1px solid var(--brand-primary);
}

/* Tabs--actions */

.dp-Tabs.Tabs--actions .dp-Tabs-item.is-active {
  background-color: var(--brand-primary);
  border: 1px solid var(--brand-primary);
  color: var(--white);
  margin-bottom: 0;
}

.dp-Tabs.Tabs--actions .dp-Tabs-item .dp-Icon svg {
  fill: var(--brand-primary);
  opacity: 0.7;
}

.dp-Tabs.Tabs--actions .dp-Tabs-item:hover > .dp-Icon svg {
  opacity: 1;
}

.dp-MenuBarList .dp-MenuBarItem .dp-Icon svg {
  fill: var(--brand-primary);
  opacity: 0.8;
}

.Tabs--actions .dp-Tabs-item.is-active .dp-Arrow::after {
  border-color: transparent transparent var(--white) transparent;
  border-width: 0 4px 4px 4px;
}

.Tabs--actions .dp-Tabs-item:hover .dp-Arrow::after {
  border-color: var(--brand-primary) transparent transparent transparent;
  border-width: 4px 4px 0 4px;
}

.Tabs--actions .dp-Tabs-item.is-disabled:hover .dp-Arrow::after {
  border-color: var(--grey-dark) transparent transparent transparent;
}

.dp-Tabs.Tabs--actions .dp-Tabs-item.is-active:hover {
  color: var(--white);
}

.dp-Tabs.Tabs--actions .dp-Tabs-item.is-disabled:hover {
  border: 1px solid var(--grey-light);
  color: var(--grey-dark);
}

.Tabs--actions .dp-Tabs-item.is-active:hover .dp-Arrow::after {
  border-color: transparent transparent var(--white) transparent;
  border-width: 0 4px 4px 4px;
}

.dp-Tabs.Tabs--actions .dp-Tabs-item:hover {
  border: 1px solid var(--brand-primary);
  color: var(--brand-primary);
  margin-bottom: 0;
}

.Tabs--actions .dp-Menu .dp-Menu-linkItem {
  padding: 3.5px 6px;
}

.dp-Tabs.Tabs--general .dp-Menu .dp-Menu-linkItem > span {
  text-align: left;
}
