@import "../fonts.css";
@import "../vars.css";
@import "../dp-Arrow.css";

.dp-Tabs {
  border-bottom: 1px solid var(--grey-light);
  display: flex;
}

.dp-Tabs .dp-Tabs-item {
  margin-right: 15px;
  position: relative;
}

.dp-Tabs .dp-Tabs-item:hover,
.dp-Tabs .dp-Tabs-item.is-expanded {
  border-bottom: 1px solid var(--brand-primary);
  color: var(--brand-primary);
  margin-bottom: -1px;
}

.dp-Tabs-item:hover > .dp-Arrow::after,
.dp-Tabs .dp-Tabs-item.is-expanded .dp-Arrow::after {
  border-color: var(--brand-primary) transparent transparent transparent;
}

.dp-Tabs-item .dp-Arrow::after {
  right: 0;
}

.dp-Tabs .dp-Tabs-item {
  color: var(--grey-dark);
  cursor: pointer;
  display: flex;
  font: var(--p-n-caps);
  margin-top: 0;
  padding: 5px 0;
}

.dp-Tabs.Tabs--general > .dp-Tabs-item {
  background: var(--grey-lightest);
  border: 1px solid var(--grey);
  border-bottom: 1px solid var(--brand-primary);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  flex-direction: column;
  margin-bottom: -1px;
  min-width: 160px;
  padding: var(--padding-tabbar);
  position: relative;
}

.dp-Tabs.Tabs--general {
  border-bottom: 1px solid var(--brand-primary);
  height: var(--height-menu);
  padding-top: 3px;
}

.Tabs--general .dp-Tabs-item {
  margin-right: 0;
}

.dp-Tabs.Tabs--general > .dp-Tabs-item:hover,
.dp-Tabs.Tabs--general .dp-Tabs-item.is-visible,

.dp-SelectedMore > .dp-Tabs-item:hover,
.dp-SelectedMore > .dp-Tabs-item.is-active {
  background: var(--primary-light);
}

.dp-Tabs-item:hover > .Tabs-item--row .dp-Title,
.dp-Tabs-item:hover > .Tabs-item--row .dp-Subtitle,
.dp-Tabs-item:hover > .dp-TitleButton,
.dp-Tabs .dp-Tabs-item.is-visible .dp-TitleButton,
.dp-Tabs .dp-Tabs-item:hover .dp-TitleButton,
.dp-SelectedMore > .dp-Tabs-item:hover .dp-Title,
.dp-SelectedMore > .dp-Tabs-item:hover .dp-Subtitle,
.dp-SelectedMore > .dp-Tabs-item.is-active .dp-Title,
.dp-SelectedMore > .dp-Tabs-item.is-active .dp-Subtitle {
  color: var(--brand-primary);
  cursor: pointer;
}

.dp-Tabs-item:hover > .Tabs-item--row .dp-Icon svg,
.dp-TabInfoItem:hover > .Tabs-item--row .dp-Icon svg,
.dp-Tabs-item.is-active > .dp-TabInfoItem .dp-Icon svg {
  fill: var(--brand-primary);
}

.Tabs-item--row {
  align-items: center;
  display: flex;
}

.dp-Tabs .dp-Title,.dp-Tabs.Tabs--general .dp-TitleButton {
  color: var(--grey-darkest);
  font: var(--p-l);
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dp-Tabs .dp-Subtitle {
  color: var(--grey-dark);
  font: var(--p-n);
  margin-left: 17px;
}

.dp-Tabs .dp-Icon + .dp-Title, .dp-Tabs .dp-Icon + .dp-Subtitle {
  margin-left: 5px;
}

.dp-Tabs.Tabs--general > .dp-Tabs-item.is-active {
  background: var(--grey-lighter);
  border: 1px solid var(--brand-primary);
  border-bottom: 1px solid transparent;
  z-index: 1;
}

.dp-SelectedMore .dp-Tabs-item:hover, .dp-SelectedMore .dp-Tabs-item.is-active {
  border-bottom: 1px solid var(--grey);
  margin-bottom: 0;
}

.dp-TabInfoItem {
  display: block;
  padding: 5px 5px 7px 10px;
}

.dp-CloseBtn {
  align-items: center;
  background-color: var(--white);
  border-left: 1px solid var(--grey);
  cursor: pointer;
  display: flex;
  justify-content: center;
  max-width: 30px;
  width: 100%;
}

.dp-SelectedMore .dp-Tabs-item .dp-CloseBtn .dp-Icon {
  cursor: pointer;
  margin: 0;
}

.dp-SelectedMore.dp-Menu {
  left: auto;
  padding: 0;
  right: 0;
}

/* .dp-SelectedMore.dp-Menu .dp-Icon {
  margin: 0;
} */

.Tabs--general .dp-Tabs-item.Tabs-item--button {
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: 37.5px;
  padding: 0;
}

/* Vetical Tabs */

.dp-Tabs.Tabs--apps {
  border: 0;
  flex-direction: column;
}

.Tabs--apps .dp-Tabs-item {
  max-width: 70px;
}

.dp-Tabs.Tabs--apps .dp-Tabs-item {
  border-bottom: 0;
  margin-bottom: 0;
}

.Tabs--apps .dp-Tabs-item .dp-Title {
  align-items: center;
  color: var(--grey-darkest);
  cursor: pointer;
  display: inline-block;
  display: flex;
  font: var(--h-s-semibold);
  margin-left: 5px;
}

.Tabs--apps .dp-Tabs-item .dp-Arrow::after {
  border-color: var(--grey-dark) transparent transparent transparent;
}

/* Tabs--icons */

.dp-Tabs.Tabs--icons .dp-Tabs-item {
  border-bottom: none;
  border-right: 1px solid var(--grey-light);
  cursor: pointer;
  margin: 0;
  max-width: 46px;
  padding: 8px 15px;
}

.Tabs--icons .dp-Tabs-item:hover, .Tabs--icons .dp-Tabs-item.is-active {
  border-bottom: 1px solid var(--brand-primary);
  margin-bottom: -1px;
}

.Tabs--icons .dp-Tabs-item > .dp-Icon {
  cursor: pointer;
}

.Tabs--general .dp-Tabs-item.is-active > .dp-Icon.Icon--email svg,
.Tabs--icons .dp-Tabs-item:hover .dp-Icon.Icon--email svg,
.Tabs--icons .dp-Tabs-item.is-active .dp-Icon.Icon--email svg {
  fill: var(--brand-primary);
}

.Tabs--general .dp-Tabs-item.Tabs--button.is-active > .dp-Icon svg {
  fill: var(--success);
}

/* buttons/actions */

.Tabs--actions {
  align-items: center;
  background-color: var(--grey-lightest);
  border: 0;
  border-radius: var(--border-radius);
  display: flex;
  list-style: none;
  margin: 10px 0;
  padding: 5px 10px;
}

.Tabs--actions .dp-Tabs-item .dp-Icon {
  cursor: pointer;
  height: 15px;
  margin-right: 3px;
  width: 15px;
}

.Tabs--actions .dp-Tabs-item.is-disabled {
  background-color: var(--grey-lighter);
}

.Tabs--actions .dp-Tabs-item::before {
  background-color: var(--grey-light);
  content: "";
  display: block;
  height: 100%;
  left: -10px;
  position: absolute;
  top: 0;
  width: 1px;
}

.Tabs--actions .dp-Tabs-item:first-child::before {
  display: none;
}

.dp-Tabs-item.is-disabled::after {
  display: none;
}

.dp-Tabs-item.is-active > .dp-Icon svg {
  fill: var(--white);
}
