@import "../fonts.css";
@import "../vars.css";

/* agent */

.dp-StatusTimes {
  align-items: center;
  color: var(--grey-dark);
  display: flex;
  font: var(--p-n);
  margin: 0;
}

.dp-ControlBar .Tabs--actions {
  background-color: transparent;
}

.dp-ControlBar.dp-DropDownBar .dp-Tabs-item + .dp-Tabs-item {
  background-color: var(--grey-lightest);
}

.dp-TicketSmall .dp-title-item {
  font: var(--p-n);
}

.dp-TicketSelect .dp-title-item {
  margin-bottom: 0;
}

.dp-title-item.is-italic {
  font: var(--p-xl-italic);
}

.dp-TicketSelect .dp-UserName {
  color: var(--grey-darkest);
  font: var(--p-n);
  margin-left: 5px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dp-TicketSelect.dp-TicketSmall .dp-Icon {
  background-size: 12px 12px;
  height: 12px;
  margin-right: 5px;
  width: 14px;
}

.dp-TicketSelect .dp-StatusTimes .dp-Icon {
  margin: 0 0 0 5px;
}

/* Followers */

.dp-Followers {
  display: inline-block;
  width: 100%;
}

.dp-FollowersWrapper {
  display: flex;
  flex-wrap: wrap;
}

.dp-FollowersItem .dp-close {
  cursor: pointer;
}

.dp-FollowersItem {
  align-items: center;
  display: flex;
  flex: 0 0 33%;
  justify-content: space-between;
  padding-right: 10px;
}

.dp-LogoName {
  align-items: center;
  display: flex;
}

.dp-FollowersStatus {
  color: var(--brand-primary);
}

.dp-FollowersStatus .dp-Icon {
  background-size: 10px 10px;
}

/* buttons/actions */

.Tabs--actions {
  align-items: center;
  background-color: var(--grey-lightest);
  border-radius: var(--border-radius);
  display: flex;
  list-style: none;
  margin: 10px 0;
  padding: 5px 10px;
}

.Tabs--actions .dp-Tabs-item .dp-Icon {
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
}

.Tabs--actions .dp-Tabs-item .dp-phone_filled {
  background-size: 12px 12px;
}

.Tabs--actions .dp-Tabs-item:nth-child(n+2) .dp-Icon {
  height: 13px;
  width: 13px;
}

.Tabs--actions .dp-Tabs-item {
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--grey-darkest);
  display: flex;
  padding: 8px 21px 8px 6px;
  position: relative;
}

.Tabs--actions .dp-Tabs-item.is-disabled {
  background-color: var(--grey-lighter);
}

.Tabs--actions .dp-Tabs-item::before {
  background-color: #cccbcb;
  content: "";
  display: block;
  height: 100%;
  left: -10px;
  position: absolute;
  top: 0;
  width: 1px;
}

.Tabs--actions .dp-Tabs-item:first-child::before {
  display: none;
}

.dp-Tabs-item.is-disabled::after {
  display: none;
}

.Tabs--actions .dp-Tabs-item + .dp-Tabs-item {
  margin-left: 20px;
}

.Tabs--actions .dp-Tabs-item.is-active > .dp-lock {
  background-image: url('data:image/svg+xml,<svg width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M10.3 6.14998H9.79997V4.94998C9.79997 2.74998 7.99997 0.949982 5.79997 0.949982C3.59997 0.949982 1.79997 2.74998 1.79997 4.94998V6.04998H1.19997C0.799969 6.14998 0.499969 6.34998 0.499969 6.74998V13.25C0.499969 13.65 0.799969 13.95 1.19997 13.95H10.3C10.7 13.95 11 13.65 11 13.25V6.74998C10.9 6.34998 10.6 6.14998 10.3 6.14998ZM2.99997 4.94998C2.99997 3.44998 4.19997 2.24998 5.69997 2.24998C7.19997 2.24998 8.49997 3.44998 8.49997 4.94998V6.04998H2.99997V4.94998ZM9.59997 12.65H1.79997V7.44998H2.29997H9.09997H9.59997V12.65Z" fill="%23fff"/><path d="M5.69997 11.35C6.36271 11.35 6.89997 10.8127 6.89997 10.15C6.89997 9.48724 6.36271 8.94998 5.69997 8.94998C5.03723 8.94998 4.49997 9.48724 4.49997 10.15C4.49997 10.8127 5.03723 11.35 5.69997 11.35Z" fill="%23fff"/></g><defs><clipPath id="clip0"><rect width="10.4" height="13" fill="white" transform="translate(0.499969 0.949982)"/></clipPath></defs></svg>');
}

.Tabs--actions .dp-Tabs-item.is-active > .dp-IconLink {
  background-image: url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3959 2.54247C10.2115 2.54247 10.0271 2.63467 9.84268 2.72687L8.2753 4.38645C8.0909 4.57084 7.9987 4.66304 7.9987 4.93964C7.9987 5.12403 8.0909 5.30843 8.2753 5.49283C8.2753 5.49283 8.3675 5.40063 8.4597 5.30843C8.5519 5.21623 8.64409 5.12403 8.64409 5.12403C8.64409 5.12403 8.73629 5.03184 8.82849 5.03184C8.92069 4.93964 8.92069 4.93964 9.01289 4.93964C9.10509 4.93964 9.19729 4.93964 9.19729 4.93964C9.38168 4.93964 9.56608 5.03184 9.75048 5.12403C9.93488 5.30843 9.93488 5.49283 9.93488 5.67723C9.93488 5.76942 9.93488 5.86162 9.93488 5.86162C9.93488 5.95382 9.84268 5.95382 9.84268 6.04602C9.75048 6.13822 9.75048 6.23042 9.65828 6.23042C9.65828 6.23042 9.56608 6.32262 9.47388 6.41481C9.38168 6.50701 9.38168 6.59921 9.38168 6.59921C9.56608 6.78361 9.75048 6.87581 9.93488 6.87581C10.1193 6.87581 10.3037 6.78361 10.4881 6.69141L12.1476 5.03184C12.332 4.84744 12.332 4.66304 12.332 4.47864C12.332 4.29425 12.2398 4.10985 12.1476 3.92545L10.9491 2.72687C10.8569 2.54247 10.6725 2.54247 10.3959 2.54247ZM4.86395 8.07439C4.58736 8.07439 4.40296 8.16659 4.31076 8.35098L2.65119 9.91836C2.46679 10.1028 2.46679 10.2872 2.46679 10.4716C2.46679 10.6559 2.55899 10.8403 2.65119 11.0247L3.84977 12.2233C4.03417 12.4077 4.21856 12.4077 4.40296 12.4077C4.58736 12.4077 4.77175 12.3155 4.95615 12.2233L6.61573 10.5637C6.80012 10.3794 6.80012 10.195 6.80012 10.0106C6.80012 9.82616 6.70792 9.64176 6.52353 9.45737C6.52353 9.45737 6.43133 9.54957 6.33913 9.64176C6.24693 9.73396 6.24693 9.73396 6.15473 9.73396C6.15473 9.73396 6.06253 9.82616 5.97034 9.82616C5.97034 9.91836 5.87814 9.91836 5.78594 10.0106C5.69374 10.0106 5.60154 10.0106 5.60154 10.0106C5.41714 10.0106 5.23275 9.91836 5.04835 9.82616C4.95615 9.64176 4.86395 9.45737 4.86395 9.27297C4.86395 9.18077 4.86395 9.08857 4.86395 9.08857C4.86395 9.08857 4.95615 8.99637 4.95615 8.90418C5.04835 8.81198 5.04835 8.81198 5.04835 8.71978C5.04835 8.71978 5.14055 8.62758 5.23275 8.53538C5.32495 8.44318 5.41714 8.35098 5.41714 8.35098C5.23275 8.16659 5.04835 8.07439 4.86395 8.07439ZM10.3959 0.975098C11.0413 0.975098 11.5944 1.15949 12.0554 1.62049L13.254 2.81907C13.715 3.28006 13.8994 3.83325 13.8994 4.47864C13.8994 5.12403 13.715 5.67723 13.254 6.13822L11.5944 7.79779C11.1335 8.16659 10.5803 8.35098 9.93488 8.35098C9.28948 8.35098 8.73629 8.07439 8.2753 7.6134L7.53771 8.35098C7.9987 8.81198 8.2753 9.36517 8.2753 10.0106C8.2753 10.6559 8.0909 11.2091 7.62991 11.6701L5.97034 13.3297C5.50934 13.7907 4.95615 13.9751 4.31076 13.9751C3.66537 13.9751 3.20438 13.6985 2.74339 13.2375L1.5448 12.0389C1.08381 11.6701 0.899414 11.1169 0.899414 10.4716C0.899414 9.82616 1.08381 9.27297 1.5448 8.90418L3.20438 7.2446C3.66537 6.78361 4.21856 6.59921 4.86395 6.59921C5.50934 6.59921 6.06253 6.87581 6.52353 7.3368L7.26112 6.59921C6.70792 6.13822 6.52353 5.58503 6.52353 4.93964C6.52353 4.29425 6.70792 3.74106 7.16892 3.28006L8.82849 1.62049C9.28948 1.15949 9.84268 0.975098 10.3959 0.975098Z" fill="%23fff"/></svg>');
}

.Tabs--actions .dp-Tabs-item.is-active > .dp-IconPlusGrey {
  background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10.1 10" style="enable-background:new 0 0 10.1 10;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:%23fff;stroke-linecap:round;stroke-miterlimit:10;}</style><line class="st0" x1="9.5" y1="5" x2="0.5" y2="5"/><line class="st0" x1="5" y1="9.5" x2="5" y2="0.5"/></svg>');
}

.Tabs--actions .dp-Tabs-item.is-active > .dp-IconPrint {
  background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_27" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 12 11.1" style="enable-background:new 0 0 12 11.1;" xml:space="preserve"><style type="text/css">.st0{fill:%23fff;}</style><path class="st0" d="M2.8,10.2h6.5V8.3H2.8V10.2z M2.8,5.5h6.5V2.8H8.1c-0.2,0-0.4-0.1-0.5-0.2C7.5,2.4,7.4,2.3,7.4,2.1V0.9H2.8V5.5z M11.1,6c0-0.1,0-0.2-0.1-0.3c-0.1-0.1-0.2-0.1-0.3-0.1c-0.1,0-0.2,0-0.3,0.1c-0.1,0.1-0.1,0.2-0.1,0.3s0,0.2,0.1,0.3c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.2,0,0.3-0.1C11,6.2,11.1,6.1,11.1,6z M12,6v3c0,0.1,0,0.1-0.1,0.2c0,0-0.1,0.1-0.2,0.1h-1.6v1.2c0,0.2-0.1,0.4-0.2,0.5s-0.3,0.2-0.5,0.2H2.5c-0.2,0-0.4-0.1-0.5-0.2s-0.2-0.3-0.2-0.5V9.2H0.2c-0.1,0-0.1,0-0.2-0.1S0,9.1,0,9V6c0-0.4,0.1-0.7,0.4-1s0.6-0.4,1-0.4h0.5V0.7c0-0.2,0.1-0.4,0.2-0.5S2.3,0,2.5,0h4.8C7.6,0,7.8,0,8,0.1s0.4,0.2,0.5,0.3l1.1,1.1C9.8,1.7,9.9,1.9,10,2.1c0.1,0.2,0.1,0.4,0.1,0.6v1.8h0.5c0.4,0,0.7,0.1,1,0.4S12,5.6,12,6z"/></svg>');
}

.Tabs--actions .dp-Tabs-item.is-active > .dp-ban {
  background-image: url('data:image/svg+xml,<svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M6.49998 0.5C3.29998 0.5 0.699982 3.1 0.699982 6.3C0.699982 9.5 3.29998 12.1 6.49998 12.1C9.69998 12.1 12.3 9.5 12.3 6.3C12.3 3.1 9.69998 0.5 6.49998 0.5ZM1.89998 6.3C1.89998 3.8 3.89998 1.8 6.39998 1.8C7.39998 1.8 8.29998 2.1 8.99998 2.6L2.79998 8.9C2.19998 8.1 1.89998 7.2 1.89998 6.3ZM6.49998 10.8C5.49998 10.8 4.59998 10.5 3.89998 10L10.2 3.7C10.7 4.4 11 5.3 11 6.3C11 8.8 8.99998 10.8 6.49998 10.8Z" fill="%23fff"/></g><defs><clipPath id="clip0"><rect width="11.5" height="11.5" fill="white" transform="translate(0.699982 0.5)"/></clipPath></defs></svg>');
}

.Tabs--actions .dp-Tabs-item.is-active > .dp-rocket {
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M11.75 3.39999C11.75 3.19999 11.65 2.99999 11.55 2.79999C11.35 2.59999 11.25 2.59999 11.05 2.59999C10.85 2.59999 10.65 2.69999 10.45 2.79999C10.25 2.89999 10.15 3.19999 10.15 3.39999C10.15 3.59999 10.25 3.79999 10.35 3.89999C10.45 3.99999 10.65 4.09999 10.95 4.09999C11.15 4.09999 11.35 3.99999 11.45 3.89999C11.65 3.79999 11.75 3.59999 11.75 3.39999ZM13.55 1.09999C13.55 2.39999 13.35 3.59999 12.95 4.59999C12.55 5.59999 11.85 6.59999 10.85 7.49999C10.45 7.89999 9.84998 8.39999 9.24998 8.89999L9.04998 12C9.04998 12.1 8.94998 12.2 8.94998 12.2L5.84998 14H5.74998C5.64998 14 5.64998 14 5.54998 13.9L5.04998 13.4C4.94998 13.3 4.94998 13.2 4.94998 13.1L5.64998 10.9L3.44998 8.59999L1.24998 9.29999C1.24998 9.29999 1.24998 9.29999 1.14998 9.29999C1.04998 9.29999 1.04998 9.29999 0.949983 9.19999L0.449983 8.79999C0.349983 8.59999 0.349983 8.49999 0.349983 8.39999L2.14998 5.29999C2.24998 5.29999 2.34998 5.19999 2.44998 5.19999L5.54998 4.99999C6.04998 4.39999 6.54998 3.89999 6.94998 3.39999C7.94998 2.39999 8.94998 1.69999 9.84998 1.29999C10.75 0.899988 11.85 0.799988 13.25 0.799988C13.35 0.799988 13.35 0.799988 13.45 0.899988C13.55 0.899988 13.55 0.999988 13.55 1.09999Z" fill="%23fff"/></g><defs><clipPath id="clip0"><rect width="13.2" height="13.2" fill="white" transform="translate(0.349983 0.799988)"/></clipPath></defs></svg>');
}

/* Agent Team Followers */

.dp-TeamFollowersWrapper {
  display: flex;
}

.dp-TeamFollowersWrapper > .dp-TicketSelect {
  margin-right: 20px;
}

/* Reply box */

.dp-ReplyWrapper {
  background-color: var(--white);
  border: 1px solid var(--brand-primary);
  border-radius: var(--border-radius);
  display: block;
  margin-bottom: 15px;
  position: relative;
}

.dp-ActionsItems {
  display: flex;
}

.dp-ActionsItem {
  color: var(--grey-dark);
  cursor: pointer;
  display: flex;
  font: var(--p-n);
  padding: 5px 0;
  text-transform: uppercase;
}

.dp-ReplyEditor {
  display: block;
  min-height: 100px;
  padding: 10px;
  width: 100%;
}

.dp-ReplyBox {
  display: block;
  margin-bottom: 15px;
}

.dp-ReplyBox .dp-Arrow::after {
  border-width: 3px 3px 0 3px;
}

.dp-SendAs {
  background-color: var(--grey);
  border-radius: 2px;
  color: var(--white);
  cursor: pointer;
  font: var(--p-xl);
  max-width: 100%;
  padding: 5px 5px 5px 10px;
  position: relative;
}

.dp-SendAs::after {
  background-color: var(--white);
  content: "";
  height: 100%;
  position: absolute;
  right: 23px;
  top: 0;
  width: 1px;
}

.dp-SendAs .dp-Arrow {
  padding-left: 25px;
}

.dp-SendAs .dp-Arrow::after {
  border-color: var(--white) transparent transparent transparent;
}

.dp-ActionsItem:hover, .dp-ActionsItem.is-active {
  border-bottom: 1px solid var(--brand-primary);
  color: var(--brand-primary);
  margin-bottom: -1px;
}

.dp-ActionsItem:hover .dp-Arrow::after, .dp-ActionsItem.is-active .dp-Arrow::after {
  border-color: var(--brand-primary) transparent transparent transparent;
}

.dp-BorderBottom {
  border-bottom: 1px solid var(--grey-light);
  display: flex;
  margin-bottom: 10px;
}

.dp-ReplyBox textarea {
  color: var(--grey-darkest);
  font: var(--p-xl);
}

.dp-ReplyBox textarea::placeholder {
  color: var(--grey);
  font: var(--h-l-semibold);
  font-style: italic;
}

/* Reply Box 2 */

.dp-TicketMessage .dp-MessageHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.dp-TicketMessage .dp-Left {
  align-items: center;
  display: flex;
  font: var(--p-l);
}

.dp-TicketMessage .dp-Left > a {
  align-items: center;
  color: var(--grey);
  display: flex;
  margin-left: 15px;
}

.dp-TicketMessage .dp-Right {
  align-items: center;
  color: var(--grey);
  display: flex;
  font: var(--p-n);
}

.dp-TicketMessage .dp-Right .dp-Icon {
  cursor: pointer;
}

.dp-Left .dp-Icon {
  margin-right: 5px;
}

.dp-Right .dp-Icon {
  margin-left: 5px;
}

.dp-MessageBody {
  color: var(--grey-darkest);
  font: var(--p-xl);
}

.dp-MessageContainer.dp-ColorContainer {
  background-color: var(--neutral-light);
  border: 1px solid var(--grey-light);
  border-radius: var(--border-radius);
  display: block;
  padding: 10px;
}

.dp-MessageContainer.dp-ColorContainer .dp-txt {
  font: var(--p-xl);
  margin-bottom: 0;
}

.dp-MessageTitle .dp-Type {
  color: var(--brand-primary);
  font: var(--p-xl);
  font-weight: var(--is-semibold);
  margin-bottom: 5px;
  text-transform: uppercase;
}

.dp-ColorContainer .dp-MessageTitle .dp-Type {
  color: var(--grey-dark);
}

/* ticket/agentselect */

.dp-SsoWrap {
  display: flex;
  justify-content: space-between;
  margin: 8px 12px;
}

.dp-SsoContent {
  align-items: center;
  color: var(--grey-darkest);
  display: flex;
}

.dp-SsoContent * {
  margin-right: 5px;
}

.dp-SsoTxt {
  font: var(--h-l-semibold);
}

.dp-TagBar .Button--label {
  margin-left: 15px;
}

.dp-TagBar .Button--label::after {
  background-color: var(--grey);
  content: "";
  height: 24px;
  left: -10px;
  position: absolute;
  top: -2px;
  width: 1px;
}

.dp-MainContainer {
  align-items: flex-start;
  display: flex;
}

.dp-MainRightContainer {
  margin-left: 10px;
}

.dp-Pageview-Demonstration .dp-DropDownBar {
  margin: 8px 12px;
}
