@import "../fonts.css";
@import "../vars.css";
@import "../dp-Arrow.css";

.dp-FilterlistContainer {
  background-color: var(--white);
  display: block;
  max-width: 241px;
}

.dp-TicketMenu {
  display: block;
  padding: 0 10px 10px;
}

.dp-BrandMenu {
  box-shadow: var(--shadow-bottom);
  color: #4c4f50;
  display: none;
  display: block;
  font: var(--p-xl);
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.dp-BrandMenu .dp-BrandItem {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 5px;
}

.dp-BrandMenu .dp-BrandItem ~ .dp-BrandItem {
  background-color: var(--white);
  border-top: 1px solid var(--grey-light);
  display: none;
}

.dp-BrandMenu .dp-BrandItem.is-active ~ .dp-BrandItem {
  display: flex;
}

.dp-BrandMenu .dp-BrandItem:hover:not(:first-child) {
  background-color: var(--info-light);
  color: var(--brand-primary);
}

.dp-BrandMenu .dp-BrandItem:first-child {
  background-color: var(--grey-lighter);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.dp-BrandMenu .dp-BrandItem.is-active:first-child,
.dp-BrandMenu .dp-BrandItem:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.dp-BrandItem > .dp-Icon {
  background-size: 16px 16px;
  height: 16px;
  margin-right: 8px;
  width: 16px;
}

.dp-BrandItem .dp-Arrow {
  flex: 1 0 auto;
}

.dp-BrandItem > .dp-Arrow::after {
  border-color: var(--grey-dark) transparent transparent transparent;
  border-width: 4px 4px 0 4px;
}

.dp-PortalPublish {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0 0;
  position: relative;
}

.dp-PortalPublish::after {
  background-color: var(--grey-light);
  content: "";
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
}

.dp-PortalPublish > .dp-PublishItem {
  align-items: center;
  border-radius: 2px;
  color: var(--grey-dark);
  display: flex;
  flex: 0 0 45%;
  flex-direction: column;
  font: var(--p-n-semibold);
  margin-bottom: 12px;
  max-width: 45%;
  padding: 10px;
  position: relative;
}

.dp-PortalPublish > .dp-PublishItem::after {
  background-color: var(--grey-light);
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  top: calc(100% + 5px);
  width: 100%;
}

.dp-PortalPublish > .dp-PublishItem:last-child,
.dp-PortalPublish > .dp-PublishItem:nth-last-child(2) {
  margin: 0;
}

.dp-PortalPublish > .dp-PublishItem:last-child::after,
.dp-PortalPublish > .dp-PublishItem:nth-last-child(2)::after {
  display: none;
}

.dp-PortalPublish > .dp-PublishItem:hover {
  background-color: var(--grey-lighter);
  color: var(--brand-primary);
}

.dp-PortalPublish .dp-PublishItem > .dp-Icon {
  margin-bottom: 5px;
}

.dp-PublishItem[disabled]:hover {
  color: inherit;
}

.dp-PublishItem[disabled]:hover .dp-Icon svg {
  fill: inherit;
}

[disabled] .dp-Icon {
  cursor: not-allowed;
}

.dp-Support {
  align-items: center;
  background-color: var(--grey-lighter);
  border-radius: 15px;
  color: var(--grey-darkest);
  display: flex;
  font: var(--p-n-semibold);
  margin: 10px 0 0;
  padding: 3px 5px 5px;
  width: 100%;
}

.dp-Support .dp-Icon {
  background-size: 16px 17px;
  height: 17px;
  margin-right: 5px;
  width: 16px;
}

.dp-Tickets.Tickets--Publish .dp-ListName {
  align-items: center;
  display: flex;
  width: 100%;
}

.dp-ListName > .dp-Card-title + .dp-Icon {
  margin: 0;
}

.dp-Tickets.Tickets--Publish  .dp-Card-title {
  flex: 1 1 100%;
  margin: 0;
  max-width: 100%;
}

.dp-FilterlistContainer .dp-TitleMenu {
  display: flex;
  font: var(--h-s-semibold);
  justify-content: space-between;
  padding: 10px 0;
}

.dp-FilterlistContainer .dp-MenuBarItem {
  margin: 0;
}

.dp-FilterlistContainer .dp-SubMenu {
  border-bottom: 1px solid var(--grey-light);
  display: block;
  padding: 0 0 10px;
}
