@import "../fonts.css";
@import "../vars.css";
@import "../dp-Arrow.css";
@import "../components/dp-PageTabs.css";

/* agent */

.dp-StatusTimes {
  align-items: center;
  color: var(--grey-dark);
  display: flex;
  font: var(--p-n);
  margin: 0;
}

.dp-ControlBar .Tabs--actions {
  background-color: transparent;
}

.dp-ControlBar.dp-DropDownBar .dp-Tabs-item + .dp-Tabs-item {
  background-color: var(--grey-lightest);
}

.dp-TicketSmall .dp-title-item {
  font: var(--p-n);
}

.dp-TicketSelect .dp-title-item {
  margin-bottom: 0;
}

.dp-title-item.is-italic {
  font: var(--p-xl-italic);
}

.dp-TicketSelect .dp-UserName {
  color: var(--grey-darkest);
  font: var(--p-n);
  margin-left: 5px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dp-TicketSelect.dp-TicketSmall .dp-Icon {
  background-size: 12px 12px;
  height: 12px;
  margin-right: 5px;
  width: 14px;
}

.dp-TicketSelect .dp-StatusTimes .dp-Icon {
  margin: 0 0 0 5px;
}

/* Followers */

.dp-Followers {
  display: inline-block;
  width: 100%;
}

.dp-FollowersWrapper {
  display: flex;
  flex-wrap: wrap;
}

.dp-FollowersItem .dp-close {
  cursor: pointer;
}

.dp-FollowersItem {
  align-items: center;
  display: flex;
  flex: 0 0 33%;
  justify-content: space-between;
  padding-right: 10px;
}

.dp-LogoName {
  align-items: center;
  display: flex;
}

.dp-FollowersStatus {
  color: var(--brand-primary);
}

.dp-FollowersStatus .dp-Icon {
  background-size: 10px 10px;
}

/* Agent Team Followers */

.dp-TeamFollowersWrapper {
  display: flex;
}

.dp-TeamFollowersWrapper > .dp-TicketSelect {
  margin-right: 20px;
}

/* Reply box */

.dp-ReplyWrapper {
  background-color: var(--white);
  border: 1px solid var(--brand-primary);
  border-radius: var(--border-radius);
  display: block;
  margin-bottom: 15px;
  position: relative;
}

.dp-Tabs + .dp-ReplyWrapper, .dp-Tabs + .dp-TicketMessage {
  margin-top: 10px;
}

.dp-ReplyEditor {
  display: block;
  font: var(--p-xl);
  min-height: 100px;
  padding: 10px;
  width: 100%;
}

.dp-ReplyBox {
  display: block;
  margin-bottom: 15px;
}

.dp-ReplyBox .dp-Arrow::after {
  border-width: 3px 3px 0 3px;
}

.dp-SendAs {
  background-color: var(--grey);
  border-radius: 2px;
  color: var(--white);
  cursor: pointer;
  font: var(--p-xl);
  max-width: 100%;
  padding: 5px 5px 5px 10px;
  position: relative;
}

.dp-SendAs::after {
  background-color: var(--white);
  content: "";
  height: 100%;
  position: absolute;
  right: 23px;
  top: 0;
  width: 1px;
}

.dp-SendAs .dp-Arrow {
  padding-left: 25px;
}

.dp-SendAs .dp-Arrow::after {
  border-color: var(--white) transparent transparent transparent;
}

.dp-ActionsItem:hover, .dp-ActionsItem.is-active {
  border-bottom: 1px solid var(--brand-primary);
  color: var(--brand-primary);
  margin-bottom: -1px;
}

.dp-ActionsItem:hover .dp-Arrow::after, .dp-ActionsItem.is-active .dp-Arrow::after {
  border-color: var(--brand-primary) transparent transparent transparent;
}

.dp-BorderBottom {
  border-bottom: 1px solid var(--grey-light);
  display: flex;
  margin-bottom: 10px;
}

.dp-ReplyBox textarea {
  color: var(--grey-darkest);
  font: var(--p-xl);
}

.dp-ReplyBox textarea::placeholder {
  color: var(--grey);
  font: var(--h-l-semibold);
  font-style: var(--is-italic);;
}

/* Reply Box 2 */

.dp-TicketMessage .dp-MessageHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.dp-TicketMessage .dp-Left {
  align-items: center;
  display: flex;
  font: var(--p-l);
}

.dp-TicketMessage .dp-Left > a {
  align-items: center;
  color: var(--grey);
  display: flex;
  margin-left: 15px;
}

.dp-TicketMessage .dp-Right {
  align-items: center;
  color: var(--grey);
  display: flex;
  font: var(--p-n);
}

.dp-TicketMessage .dp-Right .dp-Icon {
  cursor: pointer;
}

.dp-Left .dp-Icon {
  margin-right: 5px;
}

.dp-Right .dp-Icon {
  margin-left: 5px;
}

.dp-MessageBody {
  color: var(--grey-darkest);
  font: var(--p-xl);
}

.dp-MessageContainer.dp-ColorContainer {
  background-color: var(--neutral-light);
  border: 1px solid var(--grey-light);
  border-radius: var(--border-radius);
  display: block;
  padding: 10px;
}

.dp-MessageContainer.dp-ColorContainer .dp-txt {
  font: var(--p-xl);
  margin-bottom: 0;
}

.dp-MessageTitle .dp-Type {
  color: var(--brand-primary);
  font: var(--p-xl);
  font-weight: var(--is-semibold);
  margin-bottom: 5px;
  text-transform: uppercase;
}

.dp-ColorContainer .dp-MessageTitle .dp-Type {
  color: var(--grey-dark);
}

/* ticket/agentselect */

.dp-SsoWrap {
  display: flex;
  justify-content: space-between;
  margin: 8px 12px;
}

.dp-SsoContent {
  align-items: center;
  color: var(--grey-darkest);
  display: flex;
}

.dp-SsoContent * {
  margin-right: 5px;
}

.dp-SsoTxt {
  font: var(--h-l-semibold);
}

.dp-TagBar .Button--label {
  margin-left: 15px;
}

.dp-TagBar .Button--label::after {
  background-color: var(--grey);
  content: "";
  height: 24px;
  left: -10px;
  position: absolute;
  top: -2px;
  width: 1px;
}

.dp-MainContainer {
  align-items: flex-start;
  display: flex;
}

.dp-MainRightContainer {
  margin-left: 10px;
}

.dp-Pageview-Demonstration .dp-DropDownBar {
  margin: 8px 12px;
}
