.dp-PageSidebar {
  background-color: #f7f7f7;
  display: block;
  font-size: 10px;
}

.dp-PageSidebar .dp-iconSettingBlue {
  background-size: 19px 18px;
  height: 18px;
  width: 19px;
}

.dp-PageSidebar .dp-iconUserBlue {
  background-size: 17px 17px;
  height: 17px;
  width: 17px;
}

.dp-PageSidebar .dp-iconBuildingBlue {
  background-size: 18px 17px;
  height: 17px;
  width: 18px;
}

.dp-PageSidebar .dp-SidebarTabsList {
  border-bottom: 2px solid #e1e3e4;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dp-PageSidebar .dp-SidebarTab-item {
  border: 2px solid #e1e3e4;
  border-bottom: none;
  margin: 0;
  padding: 5px 15px 5px;
}

.dp-PageSidebar .dp-SidebarTab-item.is-active {
  position: relative;
}

.dp-PageSidebar .dp-SidebarTab-item.is-active::after {
  background-color: #318cdd;
  bottom: -2px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}

.dp-PageSidebar .dp-SectionTitle {
  background-color: #f7f7f7;
  border-bottom: 2px solid #e1e3e4;
  color: #4e4d4d;
  display: inline-block;
  font-weight: 700;
  margin: 0;
  padding-right: 10px;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}

.dp-PageSidebar .dp-SidebarSection {
  margin: 10px 0;
}

.dp-PageSidebar .dp-LineTitle {
  display: block;
  position: relative;
}

.dp-PageSidebar .dp-LineTitle::after {
  background-color: #e1e3e4;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  right: 0;
  top: -10px;
  width: 100%;
}

.dp-PageSidebar .dp-SectionControls .dp-SectionTitle {
  border: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.dp-PageSidebar .dp-SectionControls .dp-TitleControls {
  border-bottom: 2px solid #e1e3e4;
  height: 100%;
  margin-right: 5px;
  width: 115px;
}

.dp-PageSidebar .dp-TitleControls.dp-StatusTimes {
  width: 89px;
}

.dp-PageSidebar .dp-TitleControls.dp-Slas {
  width: 25px;
}

.dp-PageSidebar .dp-SectionControls .dp-LineTitle {
  width: 100%;
}

.dp-PageSidebar .dp-SectionControls .dp-LineTitle::after {
  top: 5px;
}

.dp-PageSidebar .dp-Controls {
  align-items: center;
  display: flex;
}

.dp-PageSidebar .dp-Badge {
  color: #318cdd;
  margin-left: 5px;
}

.dp-PageSidebar .dp-ActionMenuIcon {
  background-size: 17px 12px;
  height: 12px;
  width: 17px;
}

.dp-PageSidebar .dp-SidebarWrapper {
  padding: 0 15px 15px;
}

.dp-PageSidebar .dp-SectionBody-item {
  background-color: #fff;
  border: 2px solid #e1e3e4;
  border-radius: 5px;
  margin: 0 0 10px;
  padding: 5px 10px;
}

.dp-PageSidebar .dp-SectionBody-item .dp-title-item {
  align-items: center;
  display: flex;
  font-size: 12px;
}

.dp-PageSidebar .dp-logo {
  background-color: #eff0f0;
  border-radius: 50%;
  display: block;
  height: 19px;
  margin-left: 0;
  margin-right: 10px;
  width: 20px;
}

.dp-PageSidebar .dp-LogoName {
  align-items: center;
  display: flex;
}

.dp-PageSidebar .dp-optical {
  justify-content: space-between;
  margin: 0;
}

.dp-PageSidebar .dp-iconPhoneBlue {
  background-position: 0 0;
  background-size: 14px 14px;
  height: 14px;
  padding-left: 20px;
  width: 14px;
}

.dp-PageSidebar .dp-phone {
  align-items: center;
  display: flex;
}

.dp-PageSidebar .dp-mail a, .dp-PageSidebar .dp-phone a {
  color: inherit;
}

.dp-PageSidebar .dp-iconEmailBlue, .dp-PageSidebar .dp-iconEmail {
  background-position: 0 0;
  background-size: 14px 10px;
  height: 10px;
  padding-left: 20px;
  width: 14px;
}

.dp-PageSidebar .dp-open {
  border-right: 2px solid #eff0f0;
  margin-right: 10px;
  padding-right: 10px;
}

.dp-PageSidebar .dp-OpenResolved {
  align-items: center;
  display: flex;
}

.dp-PageSidebar .dp-OrganizationSubtitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 100%;
}

.dp-PageSidebar .dp-BorderLeft {
  border-left: 2px solid #e1e3e4;
  margin-left: 5px;
  padding-left: 5px;
}

.dp-PageSidebar .dp-bold {
  font-weight: 700;
}

.dp-PageSidebar .dp-DotsIcon {
  background-size: 17px 12px;
  height: 12px;
  margin-left: 5px;
  width: 17px;
}

.dp-PageSidebar .dp-SupportIcon {
  background-size: 16px 15px;
  height: 15px;
  margin-right: 5px;
  width: 16px;
}

.dp-PageSidebar .dp-UKIcon {
  background-size: 16px 13px;
  height: 13px;
  margin-right: 5px;
  width: 16px;
}

.dp-PageSidebar .dp-iconVoice {
  background-size: 8px 17px;
  height: 17px;
  margin-right: 5px;
  width: 8px;
}

.dp-PageSidebar .dp-iconVDots {
  background-size: 4px 12px;
  height: 12px;
  width: 4px;
}

.dp-PageSidebar .dp-TicketList {
  list-style: none;
  padding: 0;
}

.dp-PageSidebar .dp-TicketList .dp-TitleList {
  color: #707576;
  font-size: 9px;
  margin: 10px 0 0;
  text-transform: uppercase;
}

.dp-PageSidebar .dp-TicketList .dp-SubTitleList {
  color: #4c4f50;
  display: flex;
  font-size: 12px;
}

.dp-PageSidebar .dp-iconCalendar {
  background-size: 14px 14px;
  height: 14px;
  width: 14px;
}

.dp-PageSidebar .dp-iconUserTime {
  background-size: 18px 14px;
  height: 14px;
  width: 18px;
}

.dp-BorderPink {
  border-color: #da417a;
}

.dp-Pink {
  color: #da417a;
}

.dp-PageSidebar .dp-ButtonWrapper {
  margin: 10px 0;
}

.dp-PageSidebar .dp-DataWrapper {
  display: flex;
  margin-bottom: 10px;
}

.dp-PageSidebar .dp-DateItem {
  align-items: center;
  display: flex;
  margin-right: 10px;
}

.dp-DateItem .dp-Icon {
  margin-right: 5px;
}

.dp-TagItem {
  display: block;
  margin-bottom: 9px;
}

.dp-PageSidebar .dp-Tag {
  margin-right: 9px;
  min-width: 63px;
  text-align: center;
}

.dp-BorderBottom {
  border-bottom: 2px solid #e1e3e4;
  display: block;
  margin-top: 15px;
}

.dp-PageSidebar .dp-TagWrapper {
  display: flex;
}

.dp-PageSidebar .dp-Tag {
  align-items: center;
  display: flex;
}
