.dp-TabBarList {
  border-bottom: 1px solid var(--brand-primary);
  display: flex;
  height: var(--height-menu);
  padding-top: 3px;
}

.dp-TabBarItem .dp-iconClose {
  cursor: pointer;
  height: 15px;
  position: absolute;
  right: 3px;
  top: 3px;
  width: 15px;
}

.dp-TabBarItem .dp-iconClose::before,.dp-TabBarItem .dp-iconClose::after {
  background-color: var(--gray-200);
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 7px;
}

.dp-TabBarItem .dp-iconClose::before {
  transform: rotate(45deg);
}

.dp-TabBarItem .dp-iconClose::after {
  transform: rotate(135deg);
}

.dp-TabBarItem,.dp-AddTabButton {
  border: 1px solid #a9b0b0;
  border-bottom: 1px solid var(--brand-primary);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: inline-block;
  position: relative;
}

.dp-TabBarItem {
  background: var(--gray-50);
  margin-bottom: -1px;
  min-width: 160px;
  padding: var(--padding-tabbar);
  z-index: 0;
}

.dp-TabBarItem:hover {
  background: var(--white);
}

.dp-AddTabButton {
  align-items: center;
  display: flex;
  justify-content: center;

  /* padding: 5px 7px 8px; */
  padding: 0 7px;
}

.dp-TabBarList .dp-AddTabButton {
  border-bottom: none;
}

.dp-TabBarItem .dp-Flex {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.dp-TabBarItem .dp-iconEmail {
  background-size: 13px 13px;
  height: 15px;
  width: 13px;
}

.dp-TabBarItem .dp-iconOrganisation {
  background-size: 13px 13px;
  height: 15px;
  width: 15px;
}

.dp-TabBarItem .dp-Avatar {
  left: 0;
  max-width: 13px;
  position: absolute;
  top: 0;
}

.dp-TabBarItem .dp-Title {

  /* color: #4c4f50; */
  color: var(--gray-600);
  font-size: 11px;
  max-width: 200px;
  overflow: hidden;
  padding-left: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dp-TabBarItem .dp-Subtitle {
  color: var(--gray-500);
  font-size: 11px;
  padding-left: 18px;
}

.dp-TabBarList .dp-AddTabButton .dp-iconAdd {
  background-color: var(--green-100);
  border-radius: 5px;
  cursor: pointer;
  display: block;
  height: 23px;
  position: relative;
  width: 23px;
}

.dp-TabBarList .dp-AddTabButton .dp-iconAdd::before,
.dp-TabBarList .dp-AddTabButton .dp-iconAdd::after {
  background-color: var(--white);
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
}

.dp-TabBarList .dp-AddTabButton .dp-iconAdd::before {
  transform: rotate(0deg);
}

.dp-TabBarList .dp-AddTabButton .dp-iconAdd::after {
  transform: rotate(90deg);
}

.dp-TabBarList .is-active {
  background: var(--white);
  border: 1px solid var(--brand-primary);
  border-bottom: 0;
  z-index: 1;
}
