.dp-ReplyBox {
  border: 2px solid #d9dbdc;
  border-radius: 5px;
  display: block;
}

.dp-ActionsItems {
  background-color: #f7f7f7;
  display: flex;
}

.dp-ActionsItem {
  border-right: 1px solid #d9dbdc;
  color: #4c4f50;
  display: flex;
  font-size: 11px;
  margin: 10px 0;
  padding: 0 10px;
  text-transform: uppercase;
}

.dp-ActionsItem:last-child {
  border: none;
}

.dp-ReplyEditor {
  display: block;
  min-height: 100px;
}

.dp-ReplyBox .dp-Arrow::after {
  border-color: #4c4f50 transparent transparent transparent;
  border-width: 3px 3px 0 3px;
}
