.dp-Search {
  align-items: center;
  border-bottom: 2px solid #a9b0b0;
  display: flex;
  height: var(--height-search-control);
  justify-content: space-between;
  padding: 0 15px 0 12px;
  position: relative;
}

.dp-Search form {
  align-items: center;
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
}

.dp-Search input {
  border: 0;
  margin-left: 25px;
  outline: none;
  width: 100%;
}

.dp-Search input::placeholder {
  color: var(--gray-600);
  font-size: var(--h1);
  font-style: italic;
}

.dp-Search .dp-Icon {
  background-size: 18px 18px;
  height: 18px;
  vertical-align: middle;
  width: 18px;
}

.dp-IconPanelList {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}

.dp-Search .dp-IconSection {
  align-items: center;
  display: flex;
  position: relative;
}

.dp-Search .dp-IconSection::before, .dp-Search .dp-IconSection::after, .dp-Search .dp-MenuBarItem:first-child::after {
  background-color: var(--border-color);
  content: "";
  display: block;
  height: 110%;
  position: absolute;
  top: -2px;
  transform: rotate(30deg);
  width: 1px;
}

.dp-Search .dp-IconSection::before {
  left: 0;
}

.dp-Search .dp-IconSection::after, .dp-Search .dp-MenuBarItem:first-child::after {
  right: 0;
}

.dp-Search .dp-Badge {
  height: 25px;
  margin: 0;
  width: 25px;
}

.dp-Search .dp-MenuBarItem {
  padding: 0 0 0 15px;
}

.dp-Search .dp-MenuBarItem .dp-red {
  height: 16px;
  min-width: 16px;
  width: 16px;
}

.dp-Badge .dp-green {

  /* background-color: #4fb05c; */
  background-color: var(--green-100);
  bottom: -2px;
  height: 10px;
  min-width: 10px;
  position: absolute;
  right: 0;
  width: 10px;
}

.dp-Badge .dp-green:hover {

  /* background-color: #4fb05c; */
  background-color: var(--green-100);
}

.dp-Search .dp-MenuBarItem:first-child {
  padding: 10px 15px;
  position: relative;
}

.dp-Search .dp-MenuBarItem:last-child {
  padding-right: 15px;
}

.dp-Search .dp-add_im, .dp-Search .dp-history {
  background-size: 25px 25px;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.dp-Search .dp-IconSearch {
  padding: 0 10px;
}
