.dp-OverlayWrapp {
  display: block;
}

.dp-UserContainer {
  display: flex;
}

.dp-UserContainer.dp-BrandsInfo {
  background: var(--white);
  border: 2px solid var(--blue);
  border-top: 0;
  height: 100%;
}

.dp-UserContainer.dp-UserTitleInfo {
  border-bottom: 2px solid var(--blue);
}

.dp-UserTabName {
  background-color: var(--white);
  border: 2px solid var(--blue);
  border-bottom: 2px solid #dcdedf;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: -2px;
  max-width: 162px;
  padding: 5px 5px 10px;
  width: 100%;
}

.dp-UserOverlay .dp-UserTitleInfo .dp-Avatar {
  background-size: 10px 10px;
  height: 10px;
  min-width: 15px;
  width: 10px;
}

.dp-UserTitleInfo .dp-IconAvatar {
  max-width: 10px;
}

.dp-UserNameId {
  display: flex;
  flex-direction: column;
}

.dp-UserTitleInfo .dp-UserName, .dp-UserTitleInfo .dp-UserId {
  font-size: var(--font-size-xs);
}

.dp-UserTitleInfo .dp-UserId {
  color: var(--gray-550);
}

.dp-UserOverlay .dp-UserTitleInfo .dp-UserInfo {
  align-items: flex-start;
}

.dp-LeftSidebar {
  background-color: #f7f6f6;
  border: 1px solid #cecece;
  display: block;
  flex: 0 0 100%;
  list-style: none;
  max-width: 45px;
  padding: 0;
  width: 100%;
}

.dp-UserOverlay .dp-Icon {
  cursor: pointer;
}

.dp-LeftSidebar .dp-Icon {
  background-size: 25px 25px;
  height: 45px;
  min-height: 35px;
  width: 25px;
  width: 100%;
}

.dp-LeftSidebar .dp-BarIcon-wrap {
  margi: 0;
  padding: 10px 0;
}

.dp-LeftSidebar .dp-BarIcon-wrap:nth-child(5) {
  border-top: 2px solid #dcdedf;
}

.dp-LeftSidebar .dp-BarIcon-wrap:last-child {
  border-bottom: 2px solid #dcdedf;
  border-top: 2px solid #dcdedf;
}

.dp-LeftSidebar .ButtonTabs-arrow {
  display: block;
  position: relative;
  width: 100%;
}

.dp-LeftSidebar .ButtonTabs-arrow::after {
  background-color: #dcdedf;
  bottom: -2px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}

.dp-LeftSidebar .dpApps-Icon {
  height: 100%;
  text-align: center;
  width: 100%;
}

.dp-LeftSidebar .dpApps-Icon img {
  max-height: 25px;
  max-width: 25px;
}

.dp-OverlayContent {
  padding: 10px;
}

.dp-UserOverlay .dp-Avatar {
  background-size: 25px 25px;
  height: 25px;
  min-width: 25px;
  width: 25px;
}

.dp-UserOverlay .dp-TitleRow {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.dp-UserOverlay .dp-UserInfo {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.dp-UserOverlay .dp-InfoItem {
  margin-right: 10px;
}

.dp-UserOverlay .dp-Label {
  align-items: center;
  color: #808080;
  display: flex;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
}

.dp-Files {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}

.dp-Files .dp-LabelItem {
  margin-left: 10px;
}

.dp-UserOverlay .dp-LabelItem {
  margin-right: 10px;
}

.dp-OverlayContent .dp-UserName {
  color: var(--gray-600);
  font-size: var(--font-Title-L);
}

.dp-UserOverlay .dp-IconCloseGrey, .dp-UserOverlay .dp-IconUserArrow {
  background-size: 10px 10px;
  height: 10px;
  width: 10px;
}

.dp-UserOverlay .dp-IconPlusAdd, .dp-UserOverlay .dp-IconCloseBlue {
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

/* .dp-UserOverlay .dp-IconCloud {
  background-size: 25px 25px;
  height: 25px;
  width: 25px;
} */

.dp-UserOverlay .dp-IconCloseBlue {
  border-left: 1px solid #a9b0b0;
  cursor: pointer;
  padding-left: 30px;
}

.dp-UserOverlay .dp-MenuBarList {
  border-bottom: 2px solid #dcdedf;
  padding-bottom: 10px;
}

.dp-UserOverlay .dp-TabContainer {
  margin-top: 15px;
}

.dp-UserOverlay .dp-TabItem {
  border-right: 0;
}

.dp-TabItem:last-child {
  border: 2px solid #d9dbdc;
}

.dp-TabItem.is-active:last-child {
  border: 0;
}

.dp-TicketsInfo {
  display: block;
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

.dp-TicketsInfo .dp-TicketsInfoItem.dp-TicketsInfoTitle {
  background-color: #f2f2f2;
  border-radius: 5px;
  color: #4d4d4d;
  padding: 3px 0;
}

.dp-TicketsInfo .dp-TicketsOpen {
  display: none;
}

.dp-TicketsInfo .dp-TicketsInfoTitle.is-active + .dp-TicketsOpen {
  display: block;
}

.dp-TicketsInfoTitle.is-active .dp-MenuBarItem .dp-Arrow::after {
  border-color: transparent transparent #cecece transparent;
  border-width: 0 3px 3px 3px;
}

.dp-TicketsInfoTitle .dp-MenuBarItem .dp-Arrow::after {
  border-color: #cecece transparent transparent transparent;
  border-width: 3px 3px 0 3px;
}

.dp-TicketsInfo .dp-TicketsInfoTitle .dp-idItem {
  padding-left: 10px;
}

.dp-TicketsInfo .dp-TicketsInfoTitle .dp-StatusItem {
  padding-right: 10px;
}

.dp-TicketsInfo .dp-TicketsInfoTitle .dp-SubjectItem {
  font-size: var(--font-size-xs);
}

.dp-TicketsInfo .dp-TicketsInfoItem {
  border-bottom: 1px solid #ededed;
  display: flex;
  font-size: var(--font-size-xs);
  padding: 5px 0;
}

.dp-TicketsInfo .dp-idItem {
  max-width: 15%;
  width: 100%;
}

.dp-TicketsInfo .dp-SubjectItem {
  font-size: var(--font-size-base);
  max-width: 55%;
  width: 100%;
}

.dp-TicketsInfo .dp-StatusItem {
  align-items: center;
  display: flex;
  font-size: var(--font-size-xs);
  justify-content: flex-end;
  max-width: 30%;
  text-align: right;
  width: 100%;
}

.dp-StatusItem .dp-qt {
  align-items: center;
  border: 1px solid #fbb03b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  margin-left: 5px;
  max-height: 18px;
  width: 17px;
}

.dp-TicketsOpen {
  padding: 0;
}

.dp-Green {
  color: var(--green-light);
}

.dp-Orange {
  color: #fbb03b;
}

.dp-UserOverlay .dp-IconDelete {
  background-size: 15px 15px;
  height: 15px;
  margin-left: 5px;
  width: 15px;
}

.dp-UserOverlay .dp-MessageContainer.dp-ColorContainer .dp-txt {
  max-width: 100%;
}

.dp-UserOverlay .dp-TicketMessage {
  margin-bottom: 15px;
}

.dp-FilesList .dp-FilesInfo:first-child {
  border-top: 1px solid #ededed;
}

.dp-FilesInfo {
  align-items: center;
  border-bottom: 1px solid #ededed;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.dp-LeftInfo {
  display: flex;
  justify-content: space-between;
  max-width: 155px;
  width: 100%;
}

.dp-RightInfo {
  display: flex;
  justify-content: space-between;
  max-width: 70px;
  width: 100%;
}

.dp-OverlayWrapp .dp-LeftSidebar {
  border-left: 0;
}

.dp-OverlayWrapp .dp-LeftSidebar {
  border-top: 0;
}

/* .dp-TemplateInnerContent {
  padding-right: 60px;
}

.dp-OverlayWrapp .dpApps-IconArrow {
  transform: rotate(90deg);
}

.dp-OverlayWrapp .dpApps-AppPanel {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.dp-OverlayWrapp .dpApps-AppPanel.is-active {
  display: block;
} */
