.dp-Sso {
  display: block;
  margin: 8px 12px;
}

.dp-SsoWrap {
  align-items: center;
  display: flex;
}

.dp-SsoContent {
  display: inline-block;
  flex: 0 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dp-Sso .dp-IconStar {
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
  width: 16px;
}

.dp-SsoTxt {

  /* color: #4c4f50; */
  color: var(--gray-600);

  /* font-size: 14px; */
  font-size: var(--h2);
  margin-left: 10px;
  white-space: nowrap;
}

.dp-Sso .dp-TagBar {
  flex: 1 0 auto;
}

.dp-Sso .dp-Tag.dp-TagPlus {
  margin-left: 5px;
}
