@import "../fonts.css";
@import "../vars.css";
@import "../dp-Arrow.css";
@import "../components/dp-PageTabs.css";

.dp-SidebarContainer {
  background-color: var(--grey-lightest);
  border: 1px solid var(--grey-light);
  border-top-right-radius: 5px;
  display: block;
  max-width: 232px;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.dp-SidebarBody {
  display: block;
  padding: 10px;
}

.dp-SidebarBody .dp-SidebarSection {
  margin-bottom: 10px;
}

.dp-SidebarBody .dp-SectionBody-item {
  margin-bottom: 5px;
}

.dp-SidebarBody .dp-title-item.dp-SectionTitle {
  margin: 0;
  padding: 5px 0;
}

.dp-SidebarBody .dp-TimesRow {
  margin-bottom: 5px;
}

.dp-SidebarBody .dp-Slas {
  border-bottom: 1px solid var(--grey-light);
}

.dp-PageSidebar .dp-DotsIcon {
  background-size: 16px 10px;
  cursor: pointer;
  height: 10px;
  margin-left: 5px;
  width: 16px;
}

.dp-PageSidebar .dp-SectionTitle.dp-TimesRow, .dp-PageSidebar .dp-SectionTitle.dp-CcRow {
  border: none;
  color: var(--grey-dark);
  text-transform: none;
}

.dp-TimesRow .dp-TimesStatus {
  font: var(--p-n-semibold);
}

.dp-TimesRow .dp-Icon {
  margin-right: 5px;
}

.dp-TagDescription {
  color: var(--grey-darkest);
  font: var(--p-l);
}

.dp-TicketOverlay .dp-SectionBody-item.dp-UserPanel {
  border: 1px solid var(--brand-primary);
}

.dp-TicketOverlay .is-disabled {
  background-color: transparent;
  opacity: 0.6;
}

.dp-SectionTitle {
  border-bottom: 1px solid var(--grey-light);
  color: var(--grey-darkest);
  display: flex;
  font: var(--p-n-caps);
  margin-bottom: 10px;
  padding-bottom: 2px;
  position: relative;
  z-index: 1;
}

.dp-SectionControls .dp-SectionTitle {
  align-items: center;
  justify-content: space-between;
}

.dp-SectionTitle .dp-TitleControls {
  display: flex;
  font: var(--p-n-semibold);
  text-transform: var(--is-uppercase);
}

.dp-PageSidebar .dp-Slas .dp-TitleControls {
  color: var(--grey-dark);
  font: var(--p-n);
  margin: 0 0 7px;
}

.dp-PageSidebar .dp-Controls {
  align-items: center;
  display: flex;
  font: var(--p-s-semibold);
}

.dp-PageSidebar .dp-qt {
  color: var(--brand-primary);
}

.dp-Slas .dp-SectionBody {
  margin-bottom: 15px;
}

.dp-SectionBody-item {
  background-color: var(--white);
  border: 1px solid var(--grey-light);
  border-radius: var(--border-radius);
  color: var(--grey-darkest);
  display: block;
  font-size: var(--font-Title-S);
  padding: 5px;
}

.dp-UserPanel > div {
  margin-bottom: 5px;
}

.dp-title-item {
  align-items: center;
  border: none;
  display: flex;
  position: relative;
}

.dp-PageSidebar .dp-title-item .dp-Badge {
  display: inline-block;
  height: 10px;
  margin: 0 2px 0 0;
  vertical-align: middle;
  width: 10px;
}

.dp-SectionBody-item .dp-Icon {
  margin-right: 5px;
}

.dp-AddressList .dp-SubTitleList.address {
  line-height: 0.7;
  margin: 10px 0;
}

.dp-PageSidebar .dp-optical {
  justify-content: space-between;
  margin: 0;
}

.dp-PageSidebar .dp-Phone {
  align-items: center;
  display: flex;
}

.dp-Email a, .dp-Phone a {
  color: inherit;
}

.dp-OpenResolved {
  color: var(--grey-darkest);
  display: flex;
  font: var(--p-l);
}

.dp-OpenResolved .dp-Icon {
  background-size: 14px 10px;
  height: 10px;
  width: 14px;
}

.dp-PageSidebar .dp-open {
  border-right: 1px solid var(--grey);
  margin-right: 10px;
  padding-right: 10px;
}

.dp-PageSidebar .dp-iconVDots {
  background-size: 4px 12px;
  cursor: pointer;
  height: 12px;
  width: 4px;
}

.dp-AddressList .dp-TitleList {
  color: var(--grey-dark);
  font: var(--p-n);
  margin-bottom: 5px;
}

.dp-AddressList .dp-SubTitleList {
  color: var(--grey-darkest);
  font: var(--p-s);
  margin-bottom: 5px;
}

.dp-Selectbelow > .dp-ActionButton {
  font: var(--h-s-semibold);
  margin: 0 0 5px;
}

.dp-SidebarContainer .dp-Selectbelow > .dp-ButtonWrapper {
  justify-content: space-between;
  margin-bottom: 5px;
}

.dp-ButtonWrapper {
  display: flex;
}

.dp-ButtonWrapper .dp-LevelDown {
  margin: 0 5px 0 10px;
}

.dp-ButtonWrapper .dp-LevelDown + .dp-ActionButton {
  font: var(--p-n-semibold);
}

.dp-PageSidebar .dp-DataWrapper {
  display: flex;
  margin-bottom: 10px;
}

.dp-Slas .dp-ButtonWrapper button {
  margin-right: 10px;
}

.dp-ButtonWrapper .is-italic {
  color: var(--grey);
}

.dp-Slas .dp-ButtonWrapper .dp-Button.Button--small {
  font-size: var(--font-Title-L);
}

.dp-PageSidebar .dp-DateItem {
  align-items: center;
  display: flex;
  margin-right: 10px;
}

.dp-DateItem .dp-Icon {
  margin-right: 5px;
}

.dp-PageSidebar .dp-TagItem {
  align-items: center;
  display: flex;
  margin-bottom: 5px;
}

.dp-PageSidebar .dp-TagItem:last-child {
  margin-bottom: 0;
}

.dp-PageSidebar .dp-TimeStatus {
  margin-right: 8px;
}

.dp-PageSidebar .dp-StatusGroup {
  display: flex;
  max-width: 63px;
  width: 100%;
}

.dp-PageSidebar .dp-StatusGroup .dp-Tag {
  border-radius: 0;
  flex: 1 0 33%;
  margin: 0;
  min-width: auto;
}

.dp-PageSidebar .dp-history {
  background-size: 15px 15px;
  height: 15px;
  width: 15px;
}

.dp-VersionCCmenu .dp-title-item.is-active {
  background-color: var(--primary-light);
  color: var(--brand-primary);
}

.dp-title-item.is-active .dp-MailAddress {
  color: var(--brand-primary);
}

.dp-MailAddress {
  color: var(--grey-dark);
  cursor: pointer;
  font: var(--p-s);
}

.dp-PageSidebar .dp-SectionTitle.dp-CcRow,
.dp-SidebarSection.dp-CCmenu {
  margin-bottom: 0;
}

.dp-CCmenu .dp-title-item.dp-SectionTitle {
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
}

.dp-PageSidebar .dp-StatusGroup .dp-Tag:first-child {
  border-bottom-left-radius: calc(var(--border-radius) * 0.7);
  border-top-left-radius: calc(var(--border-radius) * 0.7);
}

.dp-PageSidebar .dp-StatusGroup .dp-Tag:last-child {
  border-bottom-right-radius: calc(var(--border-radius) * 0.7);
  border-top-right-radius: calc(var(--border-radius) * 0.7);
}
