@import "../fonts.css";
@import "../vars.css";
@import "../dp-Arrow.css";

.dp-OverlayWrapp {
  display: block;
}

.dp-UserContainer {
  display: flex;
}

.dp-UserContainer .dp-BrandsInfo {
  background: var(--white);
  border: 1px solid var(--brand-primary);
  display: flex;
  height: 100%;
  z-index: 1;
}

.dp-UserContainer.dp-UserTitleInfo {
  border: none;
}

.dp-OverlayWrapp .dp-UserContainer .dp-SidebarContainer {
  border: 1px solid var(--brand-primary);
  border-left: 1px solid var(--grey-light);
  margin-left: -1px;
  margin-top: 130px;
  min-height: auto;
  z-index: 2;
}

.dp-UserTabName {
  background-color: var(--white);
  border: 1px solid var(--brand-primary);
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: -1px;
  max-width: 162px;
  padding: 5px 5px 10px;
  width: 100%;
  z-index: 2;
}

.dp-OverlaAapps .dp-UserTabName {
  margin-left: 45px;
}

.dp-UserTabName .dp-Icon {
  margin-right: 5px;
}

.dp-UserOverlay .dp-UserTitleInfo .dp-Avatar {
  background-size: 10px 10px;
  height: 10px;
  min-width: 15px;
  width: 10px;
}

.dp-UserTitleInfo .dp-IconAvatar {
  max-width: 10px;
}

.dp-UserNameId {
  display: flex;
  justify-content: space-between;
}

.dp-UserTitleInfo .dp-UserName {
  color: var(--grey-darkest);
  font: var(--p-l);
}

.dp-UserTitleInfo .dp-UserId {
  color: var(--grey-dark);
  font: var(--p-n);
  font: var(--p-n);
  padding-left: 20px;
}

.dp-LeftSidebar {
  background-color: var(--grey-lightest);
  border: 1px solid var(--grey-light);
  display: block;
  list-style: none;
  max-width: 45px;
  padding: 0;
  width: 100%;
}

.dp-UserOverlay .dp-Icon {
  cursor: pointer;
}

.dp-LeftSidebar .dp-Icon {
  height: 100%;
  min-height: 25px;
  width: 100%;
}

.dp-LeftSidebar .dp-BarIcon-wrap {
  display: flex;
  margin: 0;
  padding: 10px 0;
}

.dp-LeftCaret {
  background-size: 15px 10px;
}

.dp-LeftSidebar .dpApps-Icon {
  cursor: pointer;
  display: block;
  height: 100%;
  text-align: center;
  width: 100%;
}

.dp-LeftSidebar .dpApps-Icon img {
  max-height: 25px;
  max-width: 25px;
}

.dp-OverlayContent {
  min-height: 100vh;
  padding: 10px;
}

.dp-OverlayContent .dp-UserInfo > .dp-Icon {
  background-size: 22px 22px;
  height: 22px;
  min-width: 22px;
  width: 22px;
}

.dp-UserOverlay .dp-TitleRow {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.dp-UserOverlay .dp-UserInfo {
  align-items: center;
  display: flex;
}

.dp-UserOverlay .dp-InfoItem {
  margin-right: 10px;
}

.dp-UserOverlay .dp-Label {
  align-items: center;
  color: #808080;
  display: flex;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
}

.dp-Files {
  align-items: center;
  display: flex;
  font: var(--p-xl);
  margin-bottom: 10px;
}

.dp-Files .dp-LabelItem {
  margin-left: 10px;
}

.dp-UserOverlay .dp-LabelItem {
  margin-right: 10px;
}

.dp-OverlayContent .dp-UserName {
  color: var(--grey-darkest);
  font: var(--h-n-semibold);
  margin-left: 10px;
}

.dp-TabsBtn .dp-Icon {
  height: 12px;
  width: 12px;
}

.dp-UserOverlay .dp-IconCloseGrey {
  background-size: 12px 12px;
  margin-right: 0;
}

.dp-UserOverlay .dp-IconJump {
  background-size: 9px 12px;
}

.dp-UserOverlay .dp-TabContainer {
  margin-top: 15px;
}

.dp-UserOverlay .dp-TabItem {
  border-right: 0;
}

.dp-TabItem:last-child {
  border: 2px solid #d9dbdc;
}

.dp-TabItem.is-active:last-child {
  border: 0;
}

.dp-TicketsInfo {
  display: block;
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

.dp-TicketsInfo ul {
  padding: 0;
}

.dp-TicketsInfo .dp-TicketsInfoItem.dp-TicketsInfoTitle {
  align-items: center;
  background-color: var(--grey-lighter);
  border: 0;
  border-radius: var(--border-radius);
  color: var(--grey-darkest);
  padding: 5px 0;
}

.dp-BodyTicket .dp-MainItem {
  color: var(--grey-darkest);
  font: var(--p-n);
}

.dp-TicketsInfoTitle .dp-MainItem {
  font: var(--p-s);
}

.dp-TicketsInfo .dp-TicketsOpen {
  display: none;
}

.dp-TicketsInfo .dp-TicketsInfoTitle.is-active + .dp-TicketsOpen {
  display: block;
}

.dp-TicketsInfoTitle.is-active .dp-MenuBarItem .dp-Arrow::after {
  border-color: transparent transparent #cecece transparent;
  border-width: 0 3px 3px 3px;
}

.dp-TicketsInfoTitle .dp-MenuBarItem .dp-Arrow::after {
  border-color: #cecece transparent transparent transparent;
  border-width: 3px 3px 0 3px;
}

.dp-TicketsInfo .dp-TicketsInfoItem {
  border-bottom: 1px solid var(--grey-light);
  display: flex;
  font: var(--p-n);
  padding: 5px 0;
}

.dp-TicketsInfo .dp-idItem {
  max-width: 15%;
  width: 100%;
}

.dp-TicketsInfo .dp-TicketsInfoTitle .dp-idItem {
  padding-left: 10px;
}

.dp-TicketsInfo .dp-SubjectItem {
  max-width: 55%;
  width: 100%;
}

.dp-TicketsInfo .dp-StatusItem {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  max-width: 30%;
  text-align: right;
  width: 100%;
}

.dp-StatusItem .dp-qt {
  align-items: center;
  border: 1px solid var(--success);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  margin-left: 5px;
  max-height: 18px;
  width: 17px;
}

.dp-TicketsOpen {
  padding: 0;
}

.dp-Green, .dp-MainItem.dp-Green {
  color: var(--neutral);
}

.dp-Orange, .dp-MainItem.dp-Orange {
  color: var(--success);
}

.dp-UserOverlay .dp-MessageContainer.dp-ColorContainer .dp-txt {
  max-width: 100%;
}

.dp-UserOverlay .dp-TicketMessage {
  margin-bottom: 15px;
}

.dp-UserOverlay .dp-TicketMessage .dp-Badge {
  margin-left: 0;
  margin-right: 5px;
}

.dp-FilesList .dp-FilesInfo:first-child {
  border-top: 1px solid var(--grey-light);
}

.dp-FilesInfo {
  align-items: center;
  border-bottom: 1px solid var(--grey-light);
  color: var(--grey-darkest);
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.dp-LeftInfo {
  display: flex;
  font: var(--p-n);
  justify-content: space-between;
  max-width: 155px;
  width: 100%;
}

.dp-RightInfo {
  display: flex;
  font: var(--p-n);
  justify-content: space-between;
  max-width: 70px;
  width: 100%;
}

.dp-OverlayWrapp .dp-LeftSidebar {
  border-left: 0;
  border-top: 0;
}

/* side-bar-overlay/search-org */

.dp-Form.dp-Search-org {
  align-items: flex-start;
  border: 1px solid var(--brand-primary);
  border-radius: 3px;
  max-width: 210px;
  padding: 5px 10px;
}

.dp-Form.dp-Search-org .dp-Icon {
  margin: 0;
}

.dp-Form.dp-Search-DropDown .dp-Icon {
  margin: 0 10px 0 0;
}

.dp-Search-DropDown {
  flex-direction: column;
}

.dp-Form.dp-Search-org .dp-Input.Input--search {
  padding: 0 0 0 5px;
}

.dp-Form.dp-Search-org .dp-Search-title {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
}

.dp-Form.dp-Search-org .dp-DropDown-Menu {
  list-style: none;
  margin: 0;
  padding: 5px 0 0 25px;
}

.dp-DropDown-Menu > .dp-Menu-linkItem {
  color: var(--grey-darkest);
  font: var(--p-l);
  padding-bottom: 10px;
}

.dp-Search-org .dp-Search-title > .dp-Title {
  color: var(--grey-dark);
  display: flex;
  font: var(--p-l);
  font-style: italic;
  position: relative;
  width: 100%;
}
