.dp-TicketProperties {
  color: var(--gray-600);
  display: block;
  left: 0;
  position: absolute;
  top: 35px;
  width: 100%;
  z-index: 9;
}

.dp-TicketProperties .dp-BarListWrapper {
  padding: 25px;
}

.dp-TicketProperties .dp-PropertyList {
  display: flex;
}

.dp-PropertyTitleList, .dp-PropertySubTitleList {
  list-style: none;
  margin-bottom: 0;
  margin-right: 50px;
  padding-left: 0;
}

.dp-TitleListItem, .dp-SubTitleListItem {
  display: block;
  margin-bottom: 10px;
  margin-top: 0;
  position: relative;
}

.dp-TitleListItem {
  font-size: var(--h2);
  font-weight: var(--font-weight-bold);
  line-height: 2;
  position: relative;
}

.dp-SubTitleListItem {
  align-items: center;
  display: flex;
  font-size: var(--font-size-base);
  line-height: 2.4;
}

/* .dp-TicketProperties .dp-BarListWrapper .dp-Icon { */

.dp-BarListWrapper .dp-Icon {
  height: 15px;
  margin-right: 5px;
  width: 16px;
}

.dp-LinkShow {
  color: var(--gray-600);
  cursor: pointer;
  font-size: var(--font-size-xs);
}

.dp-SecurityDropDown {
  background-color: var(--white);
  border: 2px solidvar(--blue);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: none;
  left: 0;
  list-style-type: none;
  padding: 5px 0;
  position: absolute;
  top: calc(100% + 5px);
  z-index: 9;
}

.dp-SecurityDropDown li {
  line-height: 1.5;
}

.dp-PropertySubTitleList form {
  margin: 0 5px;
}

.dp-PropertySubTitleList form input {
  border: 2px solid var(--blue);
}

/* .dp-TicketProperties .dp-IconSearch { */

.dp-find {
  left: 5px;
  position: absolute;

  /* top: 8px; */
  top: calc(50% - 10px);
}

.dp-AddBtn {
  background-color: #e1f1eb;
  display: block;
  margin: 3px 5px 0;
  text-align: center;
}

.dp-TicketProperties .dp-securityItem {
  cursor: pointer;
}

.dp-ContextMenu .dp-AddBtn a {

  /* color: #79be7e; */
  color: var(--green-light);
}

.dp-SecurityDropDown .dp-RemoveBtn {

  /* color: #d3125c; */
  color: var(--red-dark);
  font-size: var(--p2);
  padding: 0;
  position: absolute;
  right: 0;
  top: -28px;
}

.dp-SecurityDropDown .dp-RemoveBtn:hover {
  background-color: transparent;
  color: var(--red-dark);
}

.dp-SubTitleListItem.is-active {
  color: var(--blue);
}

.dp-SubTitleListItem.is-active .dp-SecurityDropDown {
  display: block;
}

.dp-TicketProperties .dp-BarListWrapper {
  display: none;
}

.dp-TicketProperties.is-active .dp-BarListWrapper {
  display: block;
}
