.dp-Tickets {
  display: block;
  position: relative;
}

.dp-Tickets .dp-Title {
  align-items: center;
  border-bottom: 2px solid #318cdd;
  color: #4c4f50;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  justify-content: space-between;
  padding: 10px;
}

.dp-Tickets .dp-Icon {
  background-size: 18px 15px;
  height: 15px;
  margin-right: 8px;
  vertical-align: middle;
  width: 18px;
}

.dp-Tickets .dp-TitleName {
  cursor: pointer;
}

.dp-BorderBlue {
  border: 2px solid #318cdd;
}

.dp-Tickets .dp-iconArrowDown {
  margin: 0 0 0 8px;
  position: relative;
}

.dp-Tickets .dp-iconArrowDown::before,
.dp-Tickets .dp-iconArrowDown::after {
  background-color: #318cdd;
  content: "";
  height: 10px;
  position: absolute;
  top: 3px;
  width: 2px;
}

.dp-Tickets .dp-iconArrowDown::before {
  left: 10px;
  transform: rotate(45deg);
}

.dp-Tickets .dp-iconArrowDown::after {
  left: 4px;
  transform: rotate(-45deg);
}

.dp-Tickets .dp-TicketsThumb .dp-Icon {
  border-left: 1px solid #a9b0b0;
  display: inline-block;
  margin: 0;
  padding: 12px 21px 12px 21px;
}

.dp-Tickets .dp-TicketsThumb .dp-Icon:first-child {
  border-left: 0;
}

/*  */

.dp-TicketMenu {
  background-color: #f7f7f7;
  box-shadow: 10px 0 20px -10px rgba(0, 0, 0, 0.2);
  display: block;
  display: none;
  height: 100%;
  left: 0;
  max-width: 243px;
  position: absolute;
  top: 46px;
  width: 100%;
  z-index: 9;
}

.dp-TicketMenu.is-active {
  display: block;
}

.dp-TicketMenu, .dp-SubMenu {
  list-style: none;
  padding: 0;
}

.dp-Tickets .dp-IconAgent {
  background-size: 11px 8px;
  height: 8px;
  margin-left: 4px;
  width: 11px;
}

.dp-TicketMenu .dp-TicketMenuItem {
  align-items: flex-start;
  border-bottom: 2px solid #d5d5d5;
  color: #4c4f50;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 700;
  justify-content: space-between;
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
}

.dp-TicketMenuItem .dp-Arrow::after {
  border-width: 3px 3px 0 3px;
  right: 0;
}

.dp-TicketMenuItem.is-active .dp-Arrow::after {
  border-color: transparent transparent #000 transparent;
  border-width: 0 3px 3px 3px;
}

.dp-SubMenu {
  display: none;
  text-transform: none;
  width: 100%;
}

.dp-MenuBarItem.is-active .dp-SubMenu {
  display: block;
}

.dp-Tickets .dp-SubMenu a,
.dp-TicketMenu .dp-SubMenu a {
  align-items: center;
  border-radius: 5px;
  color: #707576;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  font-weight: 400;
  justify-content: space-between;
  margin-left: -5px;
  margin-right: -5px;
  padding: 5px;
}

.dp-TicketMenu .dp-SubMenu a:hover {
  background-color: #318cdd;
  color: #fff;
}

.dp-TicketMenu .dp-SubMenu a:hover .dp-SubNum {
  color: #fff;
}

.dp-Tickets .dp-SubNum {
  color: #4c4f50;
  font-size: 12px;
}

.dp-TicketMenu .dp-TitleMenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dp-TicketMenu .dp-TicketMenuItem.is-active .dp-TitleMenu {
  padding-bottom: 10px;
}

.dp-Tickets .dp-dropdownContainer {
  height: 100%;
}

.dp-dropdownContainer .dp-TicketMenu, .dp-dropdownContainer .is-active .dp-qt {
  display: none;
}

.dp-dropdownContainer .dp-TicketMenu.is-active {
  display: block;
}

.dp-Tickets .dp-Title.is-active .dp-TitleName .dp-iconArrowDown::before {
  transform: rotate(-45deg);
}

.dp-Tickets .dp-Title.is-active .dp-TitleName .dp-iconArrowDown::after {
  transform: rotate(45deg);
}
