.dp-BarListWrapper {
  background-color: #fff;
  border: 2px solid #7daddd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block;
  padding: 0 0 10px;
}

.dp-TaskEditor {
  border: 1px solid #dfe0e1;
  border-radius: 5px;
  display: block;
}

.dp-TaskEditor textarea {
  border: none;
  font-style: italic;
  height: 100px;
  outline: none;
  padding: 10px;
  resize: none;
  width: 100%;
}

.dp-TaskEditor textarea::placeholder {
  color: #a9b0b0;
}

.dp-Tasks.dp-MenuBarIcon .dp-BarListWrapper {
  display: none;
  left: 0;
  position: absolute;
  /* top: calc(100% + 5px); */
  top: 35px;
  z-index: 9;
}

.dp-Tasks.dp-MenuBarIcon.is-active .dp-BarListWrapper {
  display: block;
}

.dp-Tasks .dp-Actions {
  padding: 10px 8px;
}

.dp-Tasks .dp-ActionsItem {
  align-items: center;
  cursor: pointer;
  text-transform: none;
}

.dp-Tasks .dp-ActionsItem:last-child {
  margin-left: auto;
  margin-right: 0;
}

.dp-Tasks .dp-Tag, .dp-Tasks .dp-TimeStatus .dp-Tag {
  width: 50px;
  min-width: 50px;
  text-align: center;
}

.dp-Tasks .dp-ItemRow .dp-Icon {
  border-radius: 0;
}

.dp-BarListWrapper .dp-Arrow::after {
  border-color: #777 transparent transparent transparent;
  border-width: 2px 2px 0 2px;
  right: 8px;
}

.dp-Tasks .dp-FilterResultList {
  border: 0;
}

.dp-Tasks .dp-FilterResultList .dp-ActionsItems {
  background-color: transparent;
  padding-left: 25px;
}

.dp-Tasks .dp-FilterResultList .dp-ActionsItem {
  border: 0;
  margin: 0;
  padding: 0;
}

.dp-Tasks .dp-ActionsItems .dp-Icon {
  background-size: 15px 15px;
  height: 15px;
  margin-right: 5px;
  width: 15px;
}

.dp-Tasks .dp-FilterResultItem {
  border-top: 1px solid #transparent;
  padding: 10px 8px;
  cursor: pointer;
}

.dp-Tasks .dp-FilterResultItem:hover {
  background-color: #f0f4fb;
}

.dp-Tasks .dp-MenuBarList {
  margin-bottom: 10px;
}

.dp-Tasks.dp-MenuBarIcon .dp-BarListWrapper {
  display: none;
}

.dp-Tasks.dp-MenuBarIcon .dp-MenuBarList.is-active + .dp-BarListWrapper {
  display: block;
}

.dp-FilterResultItem > .dp-ControlInput:checked .dp-FilterResultItem{
  background-color: red;
}

.dp-FilterResultItem .dp-ItemRow.dp-Comment {
  border-radius: 5px;
  color: #4c4f50;
  flex-direction: column;
  margin: 5px 0 0 25px;
  padding: 10px;
}

.dp-Commenttxt {
  font-size: 10px;
  padding-left: 25px;
  padding-top: 5px;
}

.dp-FilterResultItem .dp-Comment .dp-UserInfo {
  padding: 0;
}

.dp-DateTime {
  font-size: 10px;
}

.dp-FilterResultItem .dp-Tag.Tag--pink {
  cursor: not-allowed;
  background-color: #bbb;
  border: 1px solid #bbb;
}

.dp-FilterResultItem.is-active .dp-Tag.Tag--pink {
  cursor: pointer;
  background: #dc437c;
  border: 1px solid #dc437c;
}

.dp-Tasks .dp-Tag.Tag--pink {
  display: flex;
}