.dp-TabItesm {
  border-bottom: 2px solid #d9dbdc;
  display: flex;
}

.dp-TabItem {
  background-color: #f7f7f7;
  border: 2px solid #d9dbdc;
  color: #707576;
  font-size: 12px;
  margin-bottom: -2px;
  padding: 10px;
  text-transform: uppercase;
}

.dp-TabItem:first-child {
  border-top-left-radius: 5px;
}

.dp-TabItem:last-child {
  border-top-right-radius: 5px;
}

.dp-TabItem.is-active {
  background-color: #318cdd;
  border: 2px solid transparent;
  color: #fff;
}
