.dp-Tickets {
  display: block;
  position: relative;
}

.dp-Tickets .dp-Title {
  color: #4c4f50;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  justify-content: space-between;
}

.dp-Tickets .dp-Icon {
  background-size: 18px 15px;
  height: 15px;
  margin-right: 5px;
  vertical-align: middle;
  width: 18px;
}

.dp-Tickets .dp-iconArrowDown {
  margin: 0 0 0 2px;
  position: relative;
}

.dp-Tickets .dp-iconArrowDown::before,
.dp-Tickets .dp-iconArrowDown::after {
  background-color: #318cdd;
  content: "";
  height: 10px;
  position: absolute;
  top: 3px;
  width: 2px;
}

.dp-Tickets .dp-iconArrowDown::before {
  left: 10px;
  transform: rotate(45deg);
}

.dp-Tickets .dp-iconArrowDown::after {
  left: 4px;
  transform: rotate(-45deg);
}

.dp-Tickets .dp-TicketsThumb .dp-Icon {
  border-left: 1px solid #a9b0b0;
  display: inline-block;
  margin: 0;
  padding: 12px 21px 12px 21px;
}

.dp-Tickets .dp-TicketsThumb .dp-Icon:first-child {
  border-left: 0;
}
