.dp-TabBarList {
  display: flex;
}

.dp-TabBarItem .dp-iconClose {
  cursor: pointer;
  height: 15px;
  position: absolute;
  right: 3px;
  top: 3px;
  width: 15px;
}

.dp-TabBarItem .dp-iconClose::before,.dp-TabBarItem .dp-iconClose::after {
  background-color: #d3d6d7;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 7px;
}

.dp-TabBarItem .dp-iconClose::before {
  transform: rotate(45deg);
}

.dp-TabBarItem .dp-iconClose::after {
  transform: rotate(135deg);
}

.dp-TabBarItem,.dp-AddTabButton {
  border: 1px solid #a9b0b0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: inline-block;
  position: relative;
}

.dp-TabBarItem {
  background: #f7f7f7;
  min-width: 160px;
  padding: 5px 25px 5px 5px;
}

.dp-TabBarItem:hover {
  background: #fff;
}

.dp-AddTabButton {
  border: 1px solid #a9b0b0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: inline-block;
  padding: 10px;
  position: relative;
}

.dp-TabBarItem .dp-Flex {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.dp-TabBarItem .dp-iconEmail {
  background-size: 13px 13px;
  height: 15px;
  width: 15px;
}

.dp-TabBarItem .dp-iconOrganisation {
  background-size: 13px 13px;
  height: 15px;
  width: 15px;
}

.dp-TabBarItem .dp-Title {
  color: #4c4f50;
  font-size: 11px;
  max-width: 200px;
  overflow: hidden;
  padding-left: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dp-TabBarItem .dp-Subtitle {
  color: #707576;
  font-size: 11px;
  padding-left: 20px;
}

.dp-TabBarList .dp-AddTabButton .dp-iconAdd {
  background-color: #4fb05c;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  height: 23px;
  position: relative;
  width: 23px;
}

.dp-TabBarList .dp-AddTabButton .dp-iconAdd::before,
.dp-TabBarList .dp-AddTabButton .dp-iconAdd::after {
  background-color: #fff;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
}

.dp-TabBarList .dp-AddTabButton .dp-iconAdd::before {
  transform: rotate(0deg);
}

.dp-TabBarList .dp-AddTabButton .dp-iconAdd::after {
  transform: rotate(90deg);
}

.dp-TabBarList .is-active {
  background: #fff;
  border: 2px solid #318cdd;
  border-bottom: 0;
}

/* .dp-TabBarList .is-active:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: -200%;
    background-color: #318cdd;
    width: 200%;
    height: 2px;
}
.dp-TabBarList .is-active:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: -200%;
    background-color: #318cdd;
    width: 200%;
    height: 2px;
} */
