/* Status */

.dp-StatusComponent {
  border-radius: 5px;
  display: inline-block;
  margin: 0 0 10px;
  max-width: 230px;
  padding: 10px;
}

.dp-TitleWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.dp-StatusTitle {
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

.dp-StatusTimes {
  align-items: center;
  color: #888;
  display: flex;
  margin: 0;
}

.dp-BorderGray {

  /* border: 2px solid #e1e3e4; */
  border: 2px solid var(--border-color);
}

.dp-StatusComponent .dp-ActionButton {
  align-items: center;
  display: flex;
}

.dp-StatusComponent .dp-Icon {
  background-size: 15px 15px;
  height: 15px;
  margin-right: 5px;
  width: 15px;
}

.dp-StatusComponent .dp-ActionButton {
  line-height: 1.7;
}

/* Agent */

.dp-StatusComponent.dp-Agent {
  max-width: 415px;
}

.dp-ButtonWrapper {
  align-items: center;
  display: flex;
}

.dp-StatusComponent .dp-ActionButton.ActionButton--xlarge {
  min-width: 185px;
}

.dp-TeamPart {

  /* border-left: 1px solid #e1e3e4; */
  border-left: 1px solid var(--border-color);
  margin-left: 10px;
  padding-left: 10px;
}

.dp-Agent .dp-Icon {
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

/* Followers */

.dp-StatusComponent.dp-Followers {
  display: inline-block;
}

.dp-FollowersWrapper {
  display: flex;
  flex-wrap: wrap;
}

.dp-FollowersItem {
  align-items: center;
  display: flex;
  flex: 0 0 50%;
  justify-content: space-between;
  margin-bottom: 5px;
  padding-right: 10px;
}

.dp-LogoName {
  align-items: center;
  display: flex;
}

/* column */

.dp-FollowersWrapper.is-active {
  flex-wrap: nowrap;
}

.dp-FollowersWrapper.is-active .dp-UserName {
  display: none;
}

.dp-FollowersWrapper.is-active .dp-FollowersItem {
  flex: 1 0 0;
  padding: 0;
}

.dp-FollowersWrapper.is-active .dp-FollowersItem .dp-Icon {
  background-color: var(--gray-50);
  background-size: 25px 25px;
  border-radius: 50%;
  height: 25px;
  margin-left: -5px;
  margin-right: 0;
  margin-right: 0;
  padding: 2px;
  width: 25px;
}

.dp-StatusComponent .dpApps-IconClose {
  height: 5px;
  width: 5px;
}
