.dpApps-Title, .dpApps-Subtitle {
  display: block;
  word-break: break-word;
}

.dpApps-Title {
  color: var(--text-dark);
  font-size: 2rem;
  font-weight: var(--font-weight-medium);
  line-height: 1.125;
  margin-bottom: 1.5rem;

  & + .dpApps-Subtitle {
    margin-top: -1.25rem;
  }
}

.dpApps-Subtitle {
  color: var(--text-darkish);
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.125;
  margin: 0;

  & + .dpApps-Title {
    margin-top: -1.25rem;
  }
}
