@import "../fonts.css";
@import "../vars.css";

.dp-Tag + .dp-Tag {
  margin-left: 5px;
}

.dp-Tag:first-child {
  margin-left: 0;
}

.dp-MainWrapper.Badge--round {
  display: flex;
}

.dp-Pageview-Demonstration .dp-Badge.Badge--id + .dp-Badge-actions {
  bottom: -2px;
  left: 72px;
  top: -2px;
}

.dp-Pageview-Demonstration .Badge--id + .dp-Badge-actions .dp-Icon {
  padding: 10px 12px;
}
