@import "../fonts.css";
@import "../vars.css";

.dp-ButtonContainer {
  display: flex;
  flex-wrap: wrap;
}

.dp-ButtonContainer .dp-Button {
  margin-bottom: 10px;
}

.dp-ButtonContainer .Button--small,
.dp-ButtonContainer .dp-ButtonItem .dp-ActionButton,
.dp-ButtonContainer .dp-IconTextButton {
  margin: 5px 0 15px;
}

.dp-ButtonItem {
  display: flex;
  flex: 0 0 140px;
  flex-direction: column;
  margin-bottom: 30px;
  margin-right: 50px;
}

.dp-m-0 {
  margin: 0;
}

.dp-ButtonTitle {
  border-bottom: 0.5px solid var(--grey-dark);
  color: var(--grey-dark);
  font: var(--p-s);
  margin-bottom: 10px;
}

.dp-ButtonWrapper .dp-Button + .dp-Button {
  margin-left: 10px;
}

.dp-ButtonItem .dp-ActionButton {
  margin: 0 0 10px;
}

.dp-ButtonItem .dp-DropDownBar {
  margin: 0;
}

.dp-StateWrapper {
  display: flex;
  flex-direction: column;
  margin: 33px 0 0;
}

.dp-ButtonState {
  color: var(--grey);
  font: var(--p-s);
  margin-bottom: 30px;
  margin-right: 10px;
}
