@import "../fonts.css";
@import "../vars.css";

.dp-ButtonContainer {
  display: flex;
  flex-wrap: wrap;
}

.dp-ButtonContainer .dp-Button {
  margin-bottom: 10px;
}

.dp-ButtonContainer .Button--small,
.dp-ButtonContainer .dp-ButtonItem .dp-ActionButton,
.dp-ButtonContainer .dp-IconTextButton {
  margin: 5px 0 15px;
}

.dp-ButtonItem {
  display: flex;
  flex: 0 0 140px;
  flex-direction: column;
  margin-bottom: 30px;
  margin-right: 50px;
}

.dp-m-0 {
  margin: 0;
}

.dp-ButtonTitle {
  border-bottom: 0.5px solid var(--grey-dark);
  color: var(--grey-dark);
  font: var(--p-s);
  margin-bottom: 10px;
}

.dp-ButtonWrapper .dp-Button + .dp-Button {
  margin-left: 10px;
}

.dp-ButtonItem .dp-ActionButton {
  margin: 0 0 10px;
}

.dp-ButtonItem .dp-DropDownBar {
  margin: 0;
}

.dp-StateWrapper {
  display: flex;
  flex-direction: column;
  margin: 33px 0 0;
}

.dp-ButtonState {
  color: var(--grey);
  font: var(--p-s);
  margin-bottom: 30px;
  margin-right: 10px;
}

.dp-ButtonContainer .dp-Button.Button--actions:hover > .dp-Icon {
  background-image: url('data:image/svg+xml,<svg width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M10.3 6.14998H9.79997V4.94998C9.79997 2.74998 7.99997 0.949982 5.79997 0.949982C3.59997 0.949982 1.79997 2.74998 1.79997 4.94998V6.04998H1.19997C0.799969 6.14998 0.499969 6.34998 0.499969 6.74998V13.25C0.499969 13.65 0.799969 13.95 1.19997 13.95H10.3C10.7 13.95 11 13.65 11 13.25V6.74998C10.9 6.34998 10.6 6.14998 10.3 6.14998ZM2.99997 4.94998C2.99997 3.44998 4.19997 2.24998 5.69997 2.24998C7.19997 2.24998 8.49997 3.44998 8.49997 4.94998V6.04998H2.99997V4.94998ZM9.59997 12.65H1.79997V7.44998H2.29997H9.09997H9.59997V12.65Z" fill="%23fff"/><path d="M5.69997 11.35C6.36271 11.35 6.89997 10.8127 6.89997 10.15C6.89997 9.48724 6.36271 8.94998 5.69997 8.94998C5.03723 8.94998 4.49997 9.48724 4.49997 10.15C4.49997 10.8127 5.03723 11.35 5.69997 11.35Z" fill="%23fff"/></g><defs><clipPath id="clip0"><rect width="10.4" height="13" fill="white" transform="translate(0.499969 0.949982)"/></clipPath></defs></svg>');
}
