@import "../fonts.css";
@import "../vars.css";

.dp-Filters-demo .dp-Filters-panel {
  display: none;
}

.dp-Filters-demo .dp-Filters-panel.is-active {
  border: 0;
  display: block;
}

.dp-Filters-demo .Filters--Lock + .dp-Filters-panel {
  border-right: 1px solid var(--grey-light);
  box-shadow: none;
}

.dp-Filters-demo .dp-Filters .Filters--Lock .dp-qt {
  left: 245px;
  position: absolute;
}

.dp-Filters-demo .dp-Knowledgebase .dp-Filters .dp-Filters-bar {
  max-width: 241px;
  padding: 0;
}
