
.demo-menu .dp-Menu {
  left: 0;
  top: calc(100% + 5px);
}

.demo-cog .dp-Cog {
  display: none;
  left: calc(100% - 9px);
  top: calc(50% - 9px);
}

.demo-cog .dp-Card:hover .dp-Cog,
.demo-cog .dp-Card.is-hover .dp-Cog {
  display: block;
}

.demo-cog .dp-Listpane-guides .Card--primary .dp-Cog {
  display: block;
}

.demo-cog .dp-Card:hover > .dp-settings,
.demo-cog .dp-Card:hover .dp-LevelItem > .dp-settings,
.demo-cog .is-active .dp-settings {
  display: block;
}

.demo-cog .dp-Cog.is-hover > .dp-Menu {
  display: block;
}

.demo-cog .dp-Cog:hover > .dp-Menu,
.demo-cog .dp-Cog .is-active + .dp-Menu {
  display: block;
}

/* Menu */

.demo-menu .dp-Menu .dp-Menu-linkItem .dp-Menu,
.demo-menu .dp-Menu .dp-Menu-linkItem:hover > .dp-Menu {
  left: calc(100% + 1px);
  top: -1px;
}

.demo-menu .dp-Menu,
.Menu-grouped.dp-Menu .dp-Menu-linkItem .dp-Menu {
  display: none;
}

.demo-menu .dp-Menu.dp-OptionList .dp-Menu-linkItem:hover > .dp-Menu,
.demo-menu .dp-Menu.dp-OptionList .dp-Menu-linkItem.is-checked > .dp-Menu,
.demo-menu .dp-Menu.dp-OptionList .dp-Menu,
.demo-menu .dp-Menu.dp-OptionList .dp-settings.is-active + .dp-Menu,
.demo-menu .dp-Menu.Menu-grouped .dp-Menu-linkItem:hover > .dp-Menu,
.demo-menu .Menu-grouped.dp-Menu .dp-Menu-linkItem.is-active .dp-Menu,
.demo-menu .Menu-grouped.dp-Menu .dp-Menu-linkItem.is-checked .dp-Menu,
.demo-menu .dp-Menu.Menu-grouped .dp-Menu {
  left: calc(100% - 5px);
}

.demo-menu .is-active > .dp-Menu,
.demo-menu .dp-Menu .dp-Menu-linkItem:hover > .dp-Menu,
.demo-menu .dp-ActionButton.is-active .dp-Menu,
.demo-menu .dp-ActionsItem.is-active .dp-Menu,
.demo-menu .dp-OptionList .dp-settings.is-active + .dp-Menu,
.demo-menu .dp-Menu.Menu--tick .is-active + .dp-Menu,
.demo-menu .dp-Menu.Menu-grouped .dp-Menu-linkItem:hover > .dp-Menu,
.demo-menu .dp-Menu.Menu-grouped .dp-Menu-linkItem.is-active .dp-Menu,
.demo-menu .dp-Menu.Menu-grouped .dp-Menu-linkItem.is-checked .dp-Menu,
.demo-menu .dp-DropDownItem.is-active > .dp-Menu,
.demo-menu .dp-Menu.is-active,
.demo-menu .dp-Menu.is-visible,
.demo-menu .is-expanded > .dp-Menu,
.demo-menu .dp-iconVDots.is-visible + .dp-Menu {
  display: block;
}

.dp-Menu.Menu--tick .is-active + .dp-Menu {
  left: 100%;
  top: 0;
}

.demo-menu .dp-Menu-linkItem {
  padding: 3.5px 10px;
}

.demo-menu .dp-CustomCheckbox .dp-Menu {
  left: 10px;
}

.demo-menu .dp-LevelWrap > li .dp-Menu {
  left: 20px;
}

.demo-menu .Menu--tick .dp-Menu-linkItem:hover > .dp-listItem::after {
  opacity: 1;
}

.demo-menu .dp-OrderingBar .dp-OrderingBar-item .dp-Menu.dp-OptionList {
  left: auto;
  right: 0;
}

.demo-menu .dp-MassSelect-itemsCount + .dp-Menu {
  left: 10px;
  min-width: auto;
  top: calc(100% + -5px);
}

.demo-menu .dp-Menu-linkItem:hover > .dp-listItem,
.demo-menu .dp-Menu-linkItem.is-active > .dp-listItem,
.demo-menu .dp-Menu-linkItem.is-checked > .dp-listItem, {
  color: var(--brand-primary);
}

.demo-menu .dp-Knowledgebase .dp-Menu .dp-Menu-linkItem .dp-Cog {
  left: calc(100% - 22px);
  top: calc(50% - 5px);
}

.demo-menu .dp-CCmenu .dp-iconVDots + .dp-Menu {
  left: calc(100% - 5px);
  top: 0;
}

/* Sub menu */

.demo-menu .dp-Menu .dp-Menu {
  left: 100%;
  top: 0;
}

.demo-menu .dp-Menu .dp-Menu .dp-Menu-linkItem:hover .dp-listItem {
  color: var(--brand-primary);
}

/* demo-comments */

.demo-comments .dp-Comments {
  left: 2.5%;
  top: 100%;
}

/* demo-tooltip */

.demo-tooltip .dp-ToolTips {
  left: 10px;
  top: 10px;
}

.demo-tooltip.dp-OrderingBar-item .dp-ToolTips {
  left: auto;
  right: 0;
  top: calc(100% + 5px);
}

.demo-tooltip .dp-Knowledgebase .dp-Order-btn .dp-Tooltip {
  left: calc(100% - 5px);
  top: calc(100% + 5px);
}

/* PageTabs */

.demo-menu .dp-Tabs .dp-SelectedMore.dp-Menu {
  left: auto;
  right: 0;
}

/* demo-CloseBtn */

.demo-CloseBtn {
  position: relative;
}

/* .demo-CloseBtn .dp-CloseBtn {
  bottom: -129px;
  right: 2px;
} */
