
/* Demo style Ordering bar */

/* .demo-ControlsList {
  display: block;
  height: 300px;
}

.demo-FieldsList {
  display: block;
  height: 615px;
} */

/* .demo-FieldsList .dp-orderingbar,
.demo-ControlsList .dp-orderingbar {
  max-width: 530px;
}
*/

.demo-FilterList .dp-FilterControlsList {
  border: 1px solid var(--grey-light);
}
