@import "../fonts.css";
@import "../vars.css";

.dp-DemonstrationEements .dp-DemonstrationTitle {
  border: none;
}

.dp-DemonstrationEements .dp-DemonstrationTitle li {
  color: var(--grey-dark);
  font: var(--p-s);
  margin: 0;
  padding: 10px 0;
  text-align: center;
  width: 46px;
}

.Sidebar-Demonstration > ul {
  margin-bottom: 10px;
}

.dp-DemonstrationEements {
  margin-top: 20px;
}

.dp-DemonstrationEements .dp-Tabs .dp-Tabs-item {
  border-right: 0;
}
