@import "../fonts.css";
@import "../vars.css";

/* Demo-Sorting-bar-class */

.demo-TableWrapper {
  overflow: auto;
}

.demo-TableWrapper .dp-Tableview {
  width: 1600px;
}

.Demo-Sorting-bar-class {
  margin-bottom: 60px;
}

.demo-TableWrapper .dp-TableRow > div:nth-child(2) {
  width: 62px;
}

.demo-TableWrapper .dp-TableRow > div:nth-child(3),
.demo-TableWrapper .dp-TableRow > div:nth-child(4),
.demo-TableWrapper .dp-TableRow > div:nth-child(8) {
  width: 240px;
}

.demo-TableWrapper .dp-TableRow > div:nth-child(5) {
  padding: 0 13px;
}

.demo-TableWrapper .dp-TableRow > div:nth-child(5),
.demo-TableWrapper .dp-TableRow > div:nth-child(6),
.demo-TableWrapper .dp-TableRow > div:nth-child(7),
.demo-TableWrapper .dp-TableRow > div:nth-child(9) {
  width: 150px;
}

.demo-TableWrapper .dp-TableRow > div:nth-child(10),
.demo-TableWrapper .dp-TableRow > div:nth-child(11),
.demo-TableWrapper .dp-TableRow > div:nth-child(12) {
  width: 45px;
}
