@import "../fonts.css";
@import "../vars.css";

.dp-Pageview-Demonstration {
  background-color: var(--white);
  display: block;
  overflow: auto;
}

.dp-Pageview-Demonstration .Pageview-container-demo {
  width: 1100px;
}

.demo-tooltip .dp-FollowersItem + .dp-ToolTips {
  left: calc(100% - 5px);
  top: calc(100% - 5px);
}

.demo-menu .dp-ActionsBar.outlined .dp-Dropdown + .dp-Menu .dp-Icon {
  cursor: pointer;
  height: 14px;
  width: 15px;
}

.demo-Followers-Wrapper {
  position: relative;
}

.Followers--Small .demo-Followers-Wrapper {
  flex: 1 0 25%;
  max-width: 98px;
}
