.dp-ButtonContainer {
  display: flex;
  flex-wrap: wrap;
}

.dp-ButtonContainer .dp-Button {
  margin-bottom: 10px;
}

.dp-ButtonContainer .Button--large {
  font-size: var(--font-size-md);
  max-width: 140px;
  padding: 10px 1rem;
  text-align: center;
  width: 100%;
}

.dp-ButtonItem {
  display: flex;
  flex: 0 0 140px;
  flex-direction: column;
  margin-bottom: 30px;
  margin-right: 50px;
}

.dp-ActionButton .dp-transfer {
  margin-right: 5px;
}

.dp-Button .dp-IconPlusBtn {
  margin-left: 5px;
}

.dp-ButtonTitle {
  border-bottom: 0.5px solid var(--grey-dark);
  color: var(--gray);
  font: var(--p-s);
  margin-bottom: 10px;
}

.dp-Button.Button--in-active {
  background: var(--grey);
  color: var(--white);

}

.dp-Button.Button--active {
  background: var(--brand-primary);
  color: var(--white);
}

.dp-Button.Button--rollover {
  background: var(--info);
  color: var(--white);
}

.dp-ButtonContainer .dp-Button.Button--small {
  max-width: 54px;
}

.Button--small.Button--in-active {
  background: var(--white);
  border: 1px solid var(--grey-light);
  color: var(--grey-light);
}

.dp-ButtonPlus.Button--small:hover {
  background-color: var(--grey-lighter);
  color: var(--grey-darkest);
}

.Button--in-active, .dp-Button.Button--in-active {
  cursor: not-allowed;
}

.dp-ButtonDescription {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.dp-ButtonState {
  color: var(--gray);
  font: var(--p-s);
  margin-bottom: 10px;
}

.dp-ButtonItem .dp-ActionButton {
  margin: 0 0 10px;
}

.dp-ActionButton {
  max-width: 86px;
}

.dp-ActionButton.Button--in-active {
  background: var(--grey-lighter);
  color: var(--grey);
}

.dp-ActionButton.Button--active {
  background: var(--grey-lighter);
}

.dp-ActionButton:hover {
  background-color: var(--grey-light);
}

.dp-ExpandButton.Button--in-active {
  background: var(--gray-in-active);
  cursor: pointer;
}

.dp-ExpandButton.dp-ExpandButton-small {
  border-radius: var(--border-radius-small);
  max-width: 16px;
}

.dp-ExpandButton {
  background-color: var(--grey-light);
  cursor: pointer;
  display: block;
  height: 10px;
  line-height: 2px;
  margin: 10px 0;
  max-width: 80px;
  text-align: center;
}

.dp-ExpandButton .dp-dots {
  display: block;
  height: 100%;
  vertical-align: middle;
}

.dp-ButtonContainer .dp-IconPlusBtn {
  background-size: 10px 10px;
  height: 10px;
  width: 10px;
}

.dp-ButtonContainer .dp-Button.dp-ButtonPlus {
  align-items: center;
  background: var(--grey-lightest);
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}

.dp-Button.dp-ButtonPlus:hover {
  background-color: var(--grey-lighter);
}

.dp-AddRoundSmall {
  align-items: center;
  color: var(--grey-darkest);
  display: flex;
  font: var(--p-s);
}

.dp-AddRoundSmall:hover .dp-add_follower--primary {
  background-image: url('data:image/svg+xml,<svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.549988 5.84999C0.549988 2.74999 3.14999 0.149994 6.24999 0.149994C9.44999 0.149994 11.95 2.74999 11.95 5.84999C11.95 8.94999 9.34999 11.55 6.24999 11.55C3.14999 11.55 0.549988 8.94999 0.549988 5.84999ZM6.74999 5.45H9.54999C9.74999 5.45 9.94999 5.75 9.94999 5.95C9.94999 6.15 9.74999 6.35 9.54999 6.35H6.74999V9.15C6.74999 9.35 6.44999 9.55 6.24999 9.55C6.04999 9.55 5.84999 9.35 5.84999 9.15V6.25H3.04999C2.84999 6.25 2.64999 6.05 2.64999 5.85C2.64999 5.65 2.84999 5.45 3.04999 5.45H5.84999V2.65C5.84999 2.45 6.14999 2.25 6.34999 2.25C6.54999 2.25 6.74999 2.45 6.74999 2.65V5.45Z" fill="%234b93cf"/></g><defs><clipPath id="clip0"><rect width="11.5" height="11.5" fill="white" transform="translate(0.549988 0.149994)"/></clipPath></defs></svg>');
}

.dp-AddRoundSmall .dp-Icon {
  background-size: 12px 12px;
  height: 12px;
  margin-right: 5px;
  width: 14px;
}

/* .dp-ButtonContainer .dp-Button.dp-LabelRollover {
  background: #eff0f0;
} */

.dp-ButtonItem .dp-DropDownBar {
  margin: 0;
}

.dp-BorderPink {
  border-color: var(--pink);
}

.dp-Pink {
  color: var(--pink);
}

.dp--danger {
  color: var(--danger);
}

.dp-Border--danger {
  border-color: var(--danger);
}

.dp-Border--brand-primary {
  border-color: var(--brand-primary);
}

/* main buttons style */

.dp-Button {
  background: #ccc;
  background: var(--white);
  border: 1px solid var(--gray-200);
  border-radius: var(--border-radius);
  color: var(--grey-darkest);
  cursor: pointer;
  display: inline-block;
  font-size: var(--p-xl);
  line-height: 100%;
  padding: var(--button-padding) 1rem;

  /* &:hover { background: var(--gray-100); } */

  &:hover {
    background: var(--info);
    color: var(--white);
  }

  &.Button--white {
    background: var(--white);
    border: 1px solid var(--white);
    color: var(--text-dark);
    &:hover { background: var(--gray-100); }
  }

  &.Button--transparent {
    background: transparent;
    border: 1px solid #6e8293;
    color: #6e8293;
    &:hover { background: var(--gray-100); }
  }

  &.Button--text {
    background: transparent;
    border: 1px solid transparent;
    color: var(--text-dark);
    text-decoration: underline;
    &:hover { background: var(--gray-100); }
  }

  &.Button--black {
    background: var(--black);
    border: 1px solid var(--black);
    color: var(--text-light);
    &:hover { background: var(--gray-500); }
  }

  &.Button--primary {
    background: var(--brand-primary);
    border: 1px solid var(--brand-primary);
    color: var(--text-light);
    &:hover { background: color-mod(var(--brand-primary) blackness(20%)); }
  }

  &.Button--secondary {
    background: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    color: var(--text-light);
    &:hover { background: color-mod(var(--color-secondary) blackness(20%)); }
  }

  &.Button--success {
    background: var(--color-success);
    border: 1px solid var(--color-success);
    color: var(--text-light);
    &:hover { background: color-mod(var(--color-success) blackness(20%)); }
  }

  &.Button--info {
    background: var(--color-info);
    border: 1px solid var(--color-info);
    color: var(--text-light);
    &:hover { background: color-mod(var(--color-info) blackness(20%)); }
  }

  &.Button--warning {
    background: var(--color-warning);
    border: 1px solid var(--color-warning);
    color: var(--text-light);
    color: var(--text-dark);
    &:hover { background: color-mod(var(--color-warning) blackness(20%)); }
  }

  &.Button--danger {
    background: var(--color-danger);
    border: 1px solid var(--color-danger);
    color: var(--text-light);
    &:hover { background: color-mod(var(--color-danger) blackness(20%)); }
  }

  &.Button--rounded {
    border-radius: 100px;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.55;
  }

  &.Button--small {
    border-radius: calc(var(--border-radius) * 0.7);
    font-size: var(--font-Text-N);

    /* padding: calc(0.7rem * 0.7) calc(1rem * 0.7); */
    padding: 5px 10px;
  }

  &.Button--medium {
    border-radius: calc(var(--border-radius) * 1.2);
    font-size: calc(var(--font-size-base) * 1.2);
    padding: calc(0.7rem * 1.2) calc(1rem * 1.2);
  }

  &.Button--large {
    border-radius: calc(var(--border-radius) * 1.4);
    font: var(--p-xl);

    /* padding: calc(0.7rem * 1.4) calc(1rem * 1.4); */
  }
}

.is-semibold {
  font-weight: var(--is-semibold);
}

.dp-ButtonWrapper .dp-Button + .dp-Button {
  margin-left: 10px;
}
