@import "../fonts.css";
@import "../vars.css";

/* main buttons style */

.dp-Button {
  background: var(--white);
  border-radius: var(--border-radius-button);
  color: var(--grey-darkest);
  cursor: pointer;
  display: inline-block;
  font: var(--p-xl);
  line-height: 100%;
  padding: var(--button-padding) 1rem;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.55;
  }

  &.Button--small {
    background: var(--white);
    border: 1px solid var(--grey);
    font: var(--p-n);
    max-width: 54px;
    padding: 5px;

    &:hover {
      background-color: var(--brand-primary);
      border: 1px solid var(--brand-primary);
      color: var(--white);
    }

    &[disabled] {
      background-color: var(--white);
      border: 1px solid var(--grey);
      color: var(--grey-darkest);
    }
  }

  &.Button--medium {
    padding: calc(0.7rem * 1.2) calc(1rem * 1.2);
  }

  &.Button--large {
    background: var(--brand-primary);
    color: var(--white);
    font: var(--p-xl);
    max-width: 140px;
    text-align: center;
    width: 100%;

    &:hover {
      background: var(--info);
      color: var(--white);
    }

    &[disabled] {
      background: var(--grey);
      color: var(--white);
      opacity: 1;
    }
  }

  &.dp-ActionButton {
    background: var(--grey-lighter);
    max-width: 86px;
    padding: 5px;

    &.dp-ActionButton:hover {
      background-color: var(--grey-light);
    }

    &[disabled] {
      background-color: var(--grey-light);
      opacity: 0.55;
    }
  }

  &.dp-Tag {
    background: var(--grey-lightest);
    border: 1px solid var(--grey-light);
    font: var(--p-s);
    max-width: 59px;
    padding: 4px 5px 4px 5px;
    width: 100%;

    &:hover {
      background: var(--grey-lighter);
    }
  }

}

.dp-Button .dp-Icon {
  cursor: pointer;
}

/*  */

.dp-ExpandButton .dp-ButtonMore:hover {
  background-image: url('data:image/svg+xml,<svg width="81" height="12" viewBox="0 0 81 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.697266" y="0.119629" width="80" height="11.75" fill="%23A9B0B0"/><circle cx="37.4941" cy="5.99463" r="0.71875" fill="%234C4F50"/><circle cx="40.7754" cy="5.99463" r="0.71875" fill="%234C4F50"/><circle cx="43.9004" cy="5.99463" r="0.71875" fill="%234C4F50"/></svg>');
  cursor: pointer;
}

.dp-ExpandButton .dp-ButtonMore--Small:hover {
  background-image: url('data:image/svg+xml,<svg width="17" height="11" viewBox="0 0 17 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.6001 10.9946H2.6001C1.5001 10.9946 0.600098 10.0946 0.600098 8.99463V2.99463C0.600098 1.89463 1.5001 0.994629 2.6001 0.994629H14.6001C15.7001 0.994629 16.6001 1.89463 16.6001 2.99463V8.99463C16.6001 10.0946 15.7001 10.9946 14.6001 10.9946Z" fill="%23A9B0B0"/><circle cx="5.39697" cy="5.99463" r="0.71875" fill="%234C4F50"/><circle cx="8.6001" cy="5.99463" r="0.71875" fill="%234C4F50"/><circle cx="11.8032" cy="5.99463" r="0.71875" fill="%234C4F50"/></svg>');
  cursor: pointer;
}

.dp-ActionButton .dp-Icon {
  cursor: pointer;
  margin-right: 5px;
}

.dp-ButtonState {
  color: var(--grey);
  font: var(--p-s);
  margin-bottom: 10px;
}

.dp-AddRoundSmall {
  align-items: center;
  color: var(--grey-darkest);
  display: flex;
  font: var(--p-s);
}

.dp-AddRoundSmall:hover .dp-add_follower--primary {
  background-image: url('data:image/svg+xml,<svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.549988 5.84999C0.549988 2.74999 3.14999 0.149994 6.24999 0.149994C9.44999 0.149994 11.95 2.74999 11.95 5.84999C11.95 8.94999 9.34999 11.55 6.24999 11.55C3.14999 11.55 0.549988 8.94999 0.549988 5.84999ZM6.74999 5.45H9.54999C9.74999 5.45 9.94999 5.75 9.94999 5.95C9.94999 6.15 9.74999 6.35 9.54999 6.35H6.74999V9.15C6.74999 9.35 6.44999 9.55 6.24999 9.55C6.04999 9.55 5.84999 9.35 5.84999 9.15V6.25H3.04999C2.84999 6.25 2.64999 6.05 2.64999 5.85C2.64999 5.65 2.84999 5.45 3.04999 5.45H5.84999V2.65C5.84999 2.45 6.14999 2.25 6.34999 2.25C6.54999 2.25 6.74999 2.45 6.74999 2.65V5.45Z" fill="%234b93cf"/></g><defs><clipPath id="clip0"><rect width="11.5" height="11.5" fill="white" transform="translate(0.549988 0.149994)"/></clipPath></defs></svg>');
}

.dp-AddRoundSmall .dp-Icon {
  background-size: 12px 12px;
  height: 12px;
  margin-right: 5px;
  width: 14px;
}

.dp-BorderPink {
  border-color: var(--pink);
}

.dp-Pink {
  color: var(--pink);
}

.dp--danger {
  color: var(--danger);
}

.dp-Border--danger {
  border-color: var(--danger);
}

.dp-Border--brand-primary {
  border-color: var(--brand-primary);
}
