@import "../fonts.css";
@import "../vars.css";
@import "../dp-Arrow.css";

/* main buttons style */

.dp-Button {
  background: var(--brand-primary);
  background-repeat: no-repeat;
  border-radius: var(--border-radius-button);
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font: var(--p-xl);
  line-height: 100%;
  padding: var(--button-padding) 1rem;
  position: relative;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }

  &[disabled] {
    background: var(--grey);
    color: var(--white);
    cursor: not-allowed;
    opacity: 1;
  }

  &.Button--small {
    border: 1px solid var(--brand-primary);
    font: var(--p-n);
    max-width: max-content;
    padding: 3px 1rem 4px;

    &:hover {
      border: 1px solid var(--grey);
    }

    &[disabled] {
      border: 1px solid var(--grey);
    }
  }

  &.Button--outlined {
    background: var(--white);
    border: 1px solid var(--grey);
    color: var(--grey-darkest);

    &:hover {
      background: var(--primary-light);
      color: var(--grey-darkest);
      opacity: 1;
    }

    &[disabled] {
      background: var(--white);
      color: var(--grey-darkest);
      opacity: 0.8;
    }
  }

  &.Button--outborder {
    border: none;

    &:hover {
      background-color: transparent;
      border: none;
    }
  }

  /* Button/icon-text */

  &.dp-IconTextButton {
    background: var(--grey-lighter);
    color: var(--grey-darkest);
    max-width: max-content;
    padding: 5px 1.5rem 5px 0.5rem;

    &:hover {
      background-color: var(--grey-light);
    }

    &[disabled] {
      background-color: var(--grey-light);
      opacity: 0.55;
    }
  }

  /* Button/action */

  &.Button--actions {
    align-items: center;
    background: var(--grey-lighter);
    color: var(--grey-darkest);
    display: flex;
    max-width: max-content;
    padding: 5px 1.5rem 5px 0.5rem;

    &:hover {
      background-color: var(--brand-primary);
      color: var(--white);
    }

    &::after {
      border-color: #899 transparent transparent transparent;
      border-style: solid;
      border-width: 4px 4px 0 4px;
      bottom: 0;
      content: "";
      height: 0;
      margin: auto;
      position: absolute;
      right: 6px;
      top: 0;
      width: 0;
    }

    &:hover::after {
      border-color: transparent transparent var(--white) transparent;
      border-width: 0 4px 4px 4px;
    }

    &.Button--actions > .dp-Icon {
      margin-right: 5px;
    }

  }

  /* more button */

  &.Button--more {
    background: var(--grey-light);
    border-radius: 2px;
    color: var(--grey-darkest);
    display: flex;
    font: var(--h-s-semibold);
    height: 12px;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    width: 80px;

    &:hover {
      background: var(--grey);
    }

    &.Button--small {
      border: 0;
      border-radius: var(--border-radius-small);
      max-width: 16px;
    }

  }

  &.Button--more > .dp-dots {
    margin: -6px 0 0;
  }

  /* label button */

  &.Button--label {
    align-items: center;
    background: var(--white);
    border: 1px solid var(--grey-light);
    border-radius: 2px;
    color: var(--grey-darkest);
    display: flex;
    font: var(--p-s);
    height: 16px;
    max-width: max-content;
    padding: 0 25px 0 5px;

    &:hover {
      background: #eff6fc;
      color: var(--grey-darkest);
      opacity: 1;
    }

    &[disabled] {
      background: var(--white);
      color: var(--grey-darkest);
      opacity: 0.8;
    }

  }

  &.Button--label > .dp-Icon {
    background-size: 10px 10px;
    cursor: pointer;
    height: 10px;
    position: absolute;
    right: 5px;
    top: calc(50% - 4.5px);
    width: 10px;
  }

  /* Button/add-round */

  &.Button--round {
    background-color: transparent;
    border-radius: 50%;
    max-height: 24px;
    max-width: 24px;
    padding: 0;
  }

  /* Button/add-round-small */

  &.Button--link {
    align-items: center;
    background-color: transparent;
    border: 0;
    color: var(--grey-darkest);
    display: flex;
    font: var(--p-s);
    padding: 0;
    width: 100%;

    &:hover {
      border: 0;
      opacity: 1;
    }

  }

  &.Button--link > .dp-Icon {
    background-size: 12px 12px;
    height: 12px;
    margin-right: 4px;
    width: 14px;
  }

  /* Button/add-square-large */

  &.Button--large.Button--square {
    background-color: transparent;
    max-height: 15px;
    max-width: 15px;
    padding: 0;
  }

  &.Button--large.Button--square:hover > .dp-Icon {
    opacity: 0.8;
  }

  /* Button/add-square */

  &.Button--small.Button--square {
    background-color: transparent;
    border: 0;
    max-height: 18px;
    max-width: 18px;
    padding: 0;
  }

  &.Button--cancel {
    background-color: var(--grey-light);
    border: 1px solid var(--grey-light);
    color: var(--grey-darkest);
  }

}

.dp-Button .dp-Icon {
  cursor: pointer;
}

.dp-BorderPink {
  border-color: var(--pink);
}

.dp-Pink {
  color: var(--pink);
}

.dp--danger {
  color: var(--danger);
}

.dp-Border--danger {
  border-color: var(--danger);
}

.dp-Border--brand-primary {
  border-color: var(--brand-primary);
}

.dp-IconTextButton .dp-transfer {
  margin-right: 5px;
}

.dp-Button.Button--actions:hover > .dp-Icon svg {
  fill: var(--white);
}

[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
