@import "../fonts.css";
@import "../vars.css";

/* badges */

.dp-Badge {
  border-radius: 2px;
  color: var(--grey-dark);
  cursor: pointer;
  font: var(--p-n-semibold);
  padding: 2px 5px;

  &.Badge--id {
    border: 1px solid var(--grey-light);
  }

  &.Badge--id:hover {
    border-color: var(--brand-primary);
  }

  &.Badge--id ~ .dp-Icon {
    background-color: var(--grey-lighter);
    background-size: 10px 10px;
    cursor: pointer;
    display: none;
    height: 18px;
    margin-left: 1px;
    width: 20px;
  }

  &.Badge--id:hover ~ .dp-Icon {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &.Badge--filterPill {
    background-color: var(--grey-lighter);
    border-radius: 3px;
    padding: 2px 2px 2px 5px;
    text-transform: uppercase;
  }

  &.Badge--brand-primary {
    background-color: var(--brand-primary);
  }

  &.Badge--primary-light {
    background-color: var(--primary-light);
  }

  &.Badge--grey-darkest {
    background-color: var(--grey-darkest);
  }

  &.Badge--grey-dark {
    background-color: var(--grey-dark);
  }

  &.Badge--grey {
    background-color: var(--grey);
  }

  &.Badge--grey-light {
    background-color: var(--grey-light);
  }

  &.Badge--grey-lighter {
    background-color: var(--grey-lighter);
  }

  &.Badge--grey-lightest {
    background-color: var(--grey-lightest);
  }

  &.Badge--danger {
    background-color: var(--danger);
  }

  &.Badge--warning {
    background-color: var(--warning);
  }

  &.Badge--neutral {
    background-color: var(--neutral);
  }

  &.Badge--success {
    background-color: var(--success);
  }

  &.Badge--info {
    background-color: var(--info);
  }

  &.Badge--info {
    background-color: var(--info);
  }

  &.Badge--pink {
    background-color: var(--pink);
  }

  &.Badge--purple {
    background-color: var(--purple);
  }

  &.Badge--warning-light {
    background-color: var(--warning-light);
  }

  &.Badge--white {
    background-color: var(--white);
    color: #4e4d4d;
  }

  /* Badge--round */

  &.Badge--round {
    align-items: center;
    background-position: 50%;
    border-radius: 50%;
    color: var(--white);
    cursor: pointer;
    display: flex;
    font: var(--p-n);
    height: 18px;
    justify-content: center;

    /* margin-left: 7px; */
    width: 18px;

    &.Badge--white {
      color: var(--grey-darkest);
    }

    &.Badge-Min.Icon-grey {
      background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve"><style type="text/css">.st0{fill:%238b9293;}.st1{fill:%23FFFFFF;}</style><g><path class="st0" d="M8,16L8,16c-4.4,0-8-3.6-8-8l0,0c0-4.4,3.6-8,8-8h0c4.4,0,8,3.6,8,8v0C16,12.4,12.4,16,8,16z"/></g><rect x="3" y="7" class="st1" width="10" height="2"/></svg>');
    }

    &.Badge-Min.Icon-warning {
      background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve"><style type="text/css">.st0{fill:%23EC6C4E;}.st1{fill:%23FFFFFF;}</style><g><path class="st0" d="M8,16L8,16c-4.4,0-8-3.6-8-8l0,0c0-4.4,3.6-8,8-8h0c4.4,0,8,3.6,8,8v0C16,12.4,12.4,16,8,16z"/></g><rect x="3" y="7" class="st1" width="10" height="2"/></svg>');
    }

    &.Badge-Min.Icon-neutral {
      background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve"><style type="text/css">.st0{fill:%23F8AF3C;}.st1{fill:%23FFFFFF;}</style><g><path class="st0" d="M8,16L8,16c-4.4,0-8-3.6-8-8l0,0c0-4.4,3.6-8,8-8h0c4.4,0,8,3.6,8,8v0C16,12.4,12.4,16,8,16z"/></g><rect x="3" y="7" class="st1" width="10" height="2"/></svg>');
    }

    &.Badge--top {
      align-items: center;
      color: var(--white);
      display: flex;
      font: var(--p-n);
      height: 16px;
      justify-content: center;
      min-width: 16px;
      position: absolute;
      right: -7px;
      top: -7px;
      width: 16px;
    }

    &.Badge--bottom {
      bottom: -2px;
      height: 10px;
      min-width: 10px;
      position: absolute;
      right: 0;
      width: 10px;
    }

  }

  &.Badge--round .dp-Icon {
    align-items: center;
    display: flex;
    justify-content: center;
  }

}

/* Tag */

.dp-Tag {
  background: var(--white);
  border: 1px solid var(--grey-light);
  border-radius: var(--border-radius);
  color: var(--grey-darkest);
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  line-height: 100%;
  padding: 3px 5px;
  position: relative;
  vertical-align: middle;

  &:hover { background: var(--grey-light); }

  &.Tag--white {
    background: var(--white);
    border: 1px solid var(--white);
    color: var(--grey-darkest);
    &:hover { background: var(--grey-light); }
  }

  &.Tag--transparent {
    background: transparent;
    border: 1px solid #6e8293;
    color: #6e8293;
    &:hover { background: var(--grey-light); }
  }

  &.Tag--disabled {
    background-color: #e1e0e0;
    border: 1px solid #d3d6d7;
    color: #4e4d4d;
    &:hover { background-color: rgba(225, 224, 224, 0.5); }
  }

  &.Tag--close {
    background: #fafafa;
    border: 1px solid #dde0e0;
    color: #4e4d4d;
    padding: 4px 20px 4px 9px;
    &:hover { background: color-mod(#fafafa blackness(20%)); }
  }

  &.Tag--brand-primary {
    background-color: var(--brand-primary);
    color: var(--white);
  }

  &.Tag--primary-light {
    background-color: var(--primary-light);
    color: var(--white);
  }

  &.Tag--grey-darkest {
    background-color: var(--grey-darkest);
    color: var(--white);
  }

  &.Tag--grey-dark {
    background-color: var(--grey-dark);
    color: var(--white);
  }

  &.Tag--grey-light {
    background-color: var(--grey-light);
    color: var(--white);
  }

  &.Tag--grey-lightest {
    background-color: var(--grey-lightest);
    color: var(--white);
  }

  &.Tag--info {
    background-color: var(--info);
    color: var(--white);
  }

  &.Tag--info {
    background-color: var(--info);
    color: var(--white);
  }

  &.Tag--warning-light {
    background-color: var(--warning-light);
  }

  &.Tag--grey-lighter {
    background: var(--grey-lighter);
    border: 1px solid var(--grey-lighter);
    color: var(--grey-dark);
  }

  &.Tag--grey {
    background: var(--grey);
    border: 1px solid var(--grey);
    color: var(--white);
  }

  &.Tag--purple {
    background: var(--purple-light);
    border: 1px solid var(--purple);
    color: var(--grey-darkest);
  }

  &.Tag--pink {
    background: var(--pink);
    border: 1px solid var(--pink);
    color: var(--white);
  }

  &.Tag--success {
    background: var(--success);
    border: 1px solid var(--success);
    color: #fff;
  }

  &.Tag--warning {
    background: #f18b44;
    border: 1px solid #f18b44;
    color: var(--white);
  }

  &.Tag--danger {
    background: #e84954;
    border: 1px solid #e84954;
    color: var(--white);
  }

  &.Tag--neutral {
    background: var(--neutral);
    border: 1px solid var(--neutral);
    color: var(--white);
  }

  &.Tag--small {
    border-radius: calc(var(--border-radius) * 0.7);
    font-size: 10px;
    padding: 1.5px 5px;
  }

  &.Tag--medium {
    border-radius: calc(var(--border-radius) * 0.7);
    font-size: 11px;
    padding: 5px 5px;
  }

}

.Badge--filterPill .dp-Num {
  background-color: var(--white);
  border-radius: 2px;
  margin-left: 5px;
  padding: 0 5px;
}

.dp-BadgeWrapper {
  align-items: center;
  display: flex;
}

.dp-Tag .dp-iconClose {
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 3px;
  top: 0;
  width: 15px;
}

.dp-Tag .dp-iconClose::before, .dp-Tag .dp-iconClose::after {
  background-color: #4e4d4d;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 7px;
}

.dp-Tag .dp-iconClose::before {
  transform: rotate(45deg);
}

.dp-Tag .dp-iconClose::after {
  transform: rotate(135deg);
}
