@import "../fonts.css";
@import "../vars.css";

.dp-Card-guides .dp-CardList .dp-Card {
  border: 0;
  flex-wrap: wrap;
  padding: 0;
}

.dp-CardList .dp-UserInfo,
.dp-Card .dp-Diagnose,
.dp-CommentWrap {
  align-items: center;
  display: flex;
}

.dp-Card-guides .dp-CardList .dp-UserInfo .dp-Icon {
  background-size: contain;
  min-width: 18px;
}

.dp-CardList .dp-UserInfo .dp-UserName {
  padding: 0 15px 0 0;
  white-space: nowrap;
}

.dp-CardList .dp-UserInfo .dp-UserName:last-child {
  border-right: 0;
  padding: 0;
}

.dp-Card .dp-date {
  color: var(--grey-darkest);
  font: var(--p-n);
}

.dp-Card .dp-Icon + .dp-date {
  margin-left: 5px;
}

.dp-Card-guides .dp-CardList .dp-Level .dp-LevelCol:last-child {
  justify-content: space-between;
  padding: 3px 0 0 0;
}

.dp-Card-guides .dp-CardList .dp-CardListInner {
  width: 100%;
}

.dp-Card-guides .dp-CardList .dp-LevelItem {
  border-bottom: 1px solid var(--grey-light);
  padding: 10px;
}

.dp-Card-guides .dp-CardListInner .dp-Card-title > .dp-Icon {
  margin-left: 0;
}

/*  */

.dp-Card {
  background-color: var(--white);
  border-bottom: 1px solid var(--grey-light);
  cursor: pointer;
  display: flex;
  padding: 10px 10px;
  position: relative;
  width: 100%;
}

.dp-Card-title {
  color: var(--grey-darkest);
  font: var(--h-n-semibold);
  margin: 0 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dp-Card-SectionTitle {
  background-color: var(--white);
  border-bottom: 1px solid var(--grey-light);
  border-top: 1px solid transparent;
  color: var(--grey-darkest);
  display: flex;
  font: var(--h-s-semibold);
  margin: 0;
  padding: 10px 10px;
  text-transform: uppercase;
  width: 100%;
}

.dp-CardList.dp-Listpane-guides > .dp-Card.Level--down {
  border-left: 0;
}
