@import "../fonts.css";
@import "../vars.css";
@import "../dp-Arrow.css";

/* Forms/radiobutton */

.dp-RadioWrapper {
  display: flex;
}

.dp-RadioWrapper .dp-RadioItem {
  margin-right: 15px;
}

.dp-orderingbar .dp-RadioWrapper .dp-RadioItem {
  align-items: center;
  display: flex;
}

.dp-RadioWrapper input[type="radio"] {
  appearance: none;
  background-clip: content-box;
  background-color: var(--white);
  border: 1px solid var(--grey);
  border-radius: 100%;
  content: "";
  display: inline-block;
  height: 12px;
  margin: 0;
  outline: none;
  padding: 2px;
  width: 12px;
}

.dp-RadioWrapper input[type="radio"]:checked {
  background-color: var(--brand-primary);
}

.dp-RadioWrapper [type="radio"]:checked + label,
.dp-RadioWrapper [type="radio"]:not(:checked) + label {
  color: var(--grey-darkest);
  cursor: pointer;
  display: inline-block;
  font: var(--p-n);
  padding-left: 7px;
}

/* .dp-RadioWrapper [type="radio"]:checked,
.dp-RadioWrapper [type="radio"]:not(:checked) {
  left: -9999px;
  position: absolute;
} */

/* .dp-RadioWrapper [type="radio"]:checked + label::before,
.dp-RadioWrapper [type="radio"]:not(:checked) + label::before {
  background: var(--white);
  border: 1px solid var(--grey);
  border-radius: 100%;
  content: "";
  height: 10px;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
} */

/* .dp-RadioWrapper [type="radio"]:checked + label::after,
.dp-RadioWrapper [type="radio"]:not(:checked) + label::after {
  background-color: var(--brand-primary);
  border-radius: 100%;
  content: "";
  width: 6px;
  height: 6px;
  top: 3px;
  left: 3px;
  position: absolute;
  transition: all 0.2s ease;
}

.dp-RadioWrapper [type="radio"]:not(:checked) + label::after {
  opacity: 0;
  transform: scale(0);
}

.dp-RadioWrapper [type="radio"]:checked + label::after {
  opacity: 1;
  transform: scale(1);
} */

/* Fields Text */

.dp-Form {
  align-items: center;
  display: flex;
  position: relative;
}

.dp-FieldText .dp-Icon {
  left: 5px;
}

.dp-Form input {
  background-color: transparent;
  border: 0;
  color: var(--grey-darkest);
  font: var(--p-l);
  line-height: 1.5;
  outline: none;
}

.dp-Form .dp-Icon {
  height: 14px;
  margin-right: 5px;
  width: 14px;
}

/* Field Menu */

.dp-FieldMenu .dp-title-item {
  color: var(--grey-darkest);
  font: var(--p-l);
}

/* Validation */

.dp-Valid {
  border-left: 3px solid var(--danger);
  position: relative;
}

.dp-TextValid {
  color: var(--danger);
  display: block;
  font: var(--p-n-semibold);
  left: calc(100% + 10px);
  position: absolute;
  top: 5px;
  width: 100%;
}
