@import "../fonts.css";
@import "../vars.css";

svg { fill: var(--grey); }

.dp-Icon.Icon--white svg { fill: #fff; }

.dp-Icon.Icon--primary svg { fill: #3a8dde; }
.dp-Icon.Icon--primary-light svg { fill: #e9f7ff; }

.dp-Icon.Icon--grey-darkest svg { fill: #4c4f50; }
.dp-Icon.Icon--grey-dark svg { fill: #8b9293; }
.dp-Icon.Icon--grey svg { fill: #a9b0b0; }
.dp-Icon.Icon--grey-light svg { fill: #d3d6d7; }
.dp-Icon.Icon--grey-lighter svg { fill: #eff0f0; }
.dp-Icon.Icon--grey-lightest svg { fill: #f7f7f7; }

.dp-Icon.Icon--danger svg { fill: #e84954; }
.dp-Icon.Icon--warning svg { fill: #ec6c4e; }
.dp-Icon.Icon--success svg { fill: #54b162; }
.dp-Icon.Icon--neutral svg { fill: #f8af3c; }
.dp-Icon.Icon--info svg { fill: #4b93cf; }
.dp-Icon.Icon--pink svg { fill: #df5e9c; }
.dp-Icon.Icon--purple svg { fill: #9384bd; }

.dp-Icon.Icon--danger-light svg { fill: #fbe1e3; }
.dp-Icon.Icon--warning-light svg { fill: #f9e6e1; }
.dp-Icon.Icon--neutral-light svg { fill: #fff8e1; }
.dp-Icon.Icon--success-light svg { fill: #efd; }
.dp-Icon.Icon--info-light svg { fill: #e1eefb; }
.dp-Icon.Icon--pink-light svg { fill: #fae8f0; }
.dp-Icon.Icon--purple-light svg { fill: #ebe4f2; }

.dp-IconsWrapper {
  color: inherit;
  display: flex;
  flex-wrap: wrap;
}

.dp-IconsWrapper .dp-Icon {
  flex: 0 0 7.5%;
  padding-bottom: 70px;
}

.dp-arrowTop--primary {
  background-image: url('data:image/svg+xml,<svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.0938049 5.03099L5.07108 9.37582C5.34381 9.56203 5.68471 9.56203 5.95744 9.37582C6.23017 9.18961 6.23017 8.8172 5.95744 8.63099L1.86653 5.03099L5.95744 1.43099C6.23017 1.24478 6.23017 0.872371 5.95744 0.686164C5.68471 0.499957 5.34381 0.499957 5.07108 0.686164L0.0938049 5.03099Z" fill="%233A8DDE"/></svg>');
  background-size: 10px 15px;
  height: 20px;
  transform: rotate(90deg);
  width: 20px;
}

.dp-Icon {
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
}
