@import "../fonts.css";
@import "../vars.css";

/* Menus */

/* .dp-CardMenu {
  min-width: 158px;
} */

.dp-CardMenu .dp-Icon {
  cursor: pointer;
  vertical-align: top;
}

.dp-CardMenu li:hover {
  background-color: var(--info-light);
  color: var(--brand-primary);
}

.dp-CardMenu.dp-CardMenuTitle {
  padding: 0 0 5px;
}

.dp-CardMenu.dp-CardMenuTitle li:first-child {
  background-color: var(--brand-primary);
  color: var(--white);
  margin-bottom: 5px;
  padding: 8px 10px;
}
