@import "../fonts.css";
@import "../vars.css";
@import "../dp-Arrow.css";

/* Menus */

.dp-Menu {
  background-color: var(--white);
  border: 1px solid var(--brand-primary);
  border-radius: var(--border-radius);
  display: none;
  left: 0;
  list-style-type: none;
  padding: 5px 0;
  position: absolute;
  top: calc(100% + 5px);
  white-space: nowrap;
  z-index: 9;
}

.dp-Menu.is-active {
  display: block;
}

.dp-Menu .dp-Icon {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-right: 5px;

  /*  background-size: 13px 13px;
  width: 14px;
  height: 13px; */
}

.dp-Menu .dp-Menu-linkItem:hover {
  background-color: var(--info-light);
  color: var(--brand-primary);
}

.dp-Menu .dp-Menu-title {
  background-color: var(--brand-primary);
  color: var(--white);
  font: var(--p-l);
  margin-bottom: 5px;
  margin-top: -5px;
  padding: 8px 10px;
}

.dp-Menu .dp-Badge.Badge--round {
  height: 12px;
  margin-left: 0;
  margin-right: 5px;
  width: 12px;
}

.dp-Menu .Input--search:focus {
  border: 2px solid var(--brand-primary);
}

.dp-Menu.newControlsList .dp-CustomCheckbox input[type="checkbox"] + label {
  margin-right: 10px;
  padding-left: 20px;
}

.dp-Menu > li:last-child {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.dp-Menu > li > a {
  align-items: center;
  color: var(--grey-darkest);
  display: flex;
}

.dp-Menu .dp-DropdownDivider {
  border-top: 1px solid var(--grey-light);
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
}

/* .dp-Menu .dp-MenuIcon {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 13px 13px;
  display: inline-block;
  height: 13px;
  margin-right: 5px;
  vertical-align: top;
  width: 13px;
} */

/* .dp-Menu .dp-MenuIcon.dp-lock {
  background-size: 11px 13px;
} */

.dp-Menu .dp-disabledItem > a {
  color: rgba(76, 79, 80, 0.5);
}

.dp-Menu .dp-Arrow {
  position: initial;
}

.dp-ListPane .dp-Menu {
  min-width: 200px;
}

.dp-ListPane .dp-Menu.newControlsList {
  min-width: 250px;
}

.dp-ListpaneTasks .dp-Menu {
  border: 1px solid var(--grey-light);
  box-shadow: var(--shadow-bottom-right);
  color: var(--grey-darkest);
  cursor: pointer;
  left: auto;
  padding: 5px 10px;
  right: -50px;
}

.dp-ListpaneTasks .dp-Menu .dp-Icon {
  height: 11px;
  width: 11px;
}

.dp-FilterControlsItem .dp-Menu.newControlsList {
  min-width: 250px;
}

.dp-FilterControlsItem .dp-Menu {
  min-width: 200px;
}

/* listpane/rightclick */

.dp-Menu .dp-Menu-linkItem {
  align-items: center;
  color: var(--grey-darkest);
  cursor: pointer;
  display: flex;
  font: var(--p-l);
  margin: 0;
  padding: 3.5px 10px;
  position: relative;
}

.dp-Menu .dp-Menu-linkItem.dp-DropdownDivider {
  padding: 0;
}

.dp-Menu .dp-listLink {
  display: inline-block;
  padding: 0 4px;
  text-decoration: underline;
}

.dp-Menu .dp-Menu-linkItem .dp-Arrow {
  display: inline-block;
  float: right;
  padding-left: 60px;
}

.dp-Menu .dp-Menu-linkItem .dp-Arrow::after {
  border-color: transparent transparent transparent #899;
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  bottom: 0;
  content: "";
  height: 0;
  margin: auto;
  position: absolute;
  right: 6px;
  top: 0;
  width: 0;
}

.dp-Menu .dp-Menu-linkItem:hover {
  background-color: var(--primary-light);
}

.dp-Menu-linkItem:hover > .dp-listItem, .dp-Menu .dp-Menu-linkItem:hover .dp-Menu-link {
  color: var(--brand-primary);
}

.dp-Menu .dp-Menu-linkItem:hover .dp-listLink {
  border-color: var(--brand-primary);
  color: var(--brand-primary);
}

.dp-Menu .dp-Menu-linkItem:hover .dp-Arrow::after {
  border-color: transparent transparent transparent var(--brand-primary);
}

.dp-Menu > .dp-Menu-linkItem:hover svg {
  fill: var(--brand-primary);
}

.dp-iconVDots.is-visible + .dp-Menu {
  display: block;
  left: calc(100% - 5px);
  top: 0;
  width: 100%;
}

.is-expanded > .dp-Menu {
  display: block;
}

.dp-Menu .dp-email_small {
  background-size: 13px 9px;
}

.dp-Menu.is-visible {
  display: block;
}

/* Page Tabs */

.dp-SelectedMore.dp-Menu > li {
  border-bottom: 1px solid var(--grey);
}

.dp-SelectedMore.dp-Menu > li:last-child {
  border-bottom: 0;
}

.dp-Menu .dp-Tabs-item {
  display: flex;
  padding: 0;
}

/* Page View */

.Tabs--actions .dp-Menu {
  top: calc(100% + 10px);
}

.dp-ActionButton.is-active .dp-Menu,
.dp-ActionsItem.is-active .dp-Menu {
  display: block;
}

.dp-DropDownList .dp-Menu .dp-IconLink {
  transform: rotate(90deg);
}

/* Search form */

.dp-Menu .Input--search {
  border: 2px solid var(--grey-light);
  border-radius: 5px;
}

.dp-Menu-search {
  display: block;
  min-width: 100px;
  padding: 3.5px 5px;
  position: relative;
}

.dp-Menu-search .dp-Icon {
  cursor: pointer;
  height: 13px;
  left: 10px;
  position: absolute;
  top: calc(50% - 6.5px);
  width: 13px;
}

.dp-Input.Input--search {
  background-color: var(--white);
  font: var(--p-n);
  outline: none;
  padding: 5px 0 5px 20px;
  width: 100%;
}

/* Sub menu */

.dp-Menu .dp-Menu .dp-listItem::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23318cdd' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  content: "";
  display: block;
  height: 25px;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
}

.dp-Menu .dp-Menu li:hover .dp-listItem::after {
  opacity: 1;
}

.dp-Menu .dp-Menu-linkItem:hover > .dp-Menu {
  display: block;
  left: 100%;
  min-width: 180px;
  top: 0;
}

.dp-Menu .dp-Menu li > a {
  font: var(--p-n);
}
