@import "../fonts.css";
@import "../vars.css";

/*  */

.dp-ToolTips {
  background-color: var(--white);
  border: 1px solid var(--brand-primary);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-bottom);
  color: var(--grey-darkest);
  display: none;
  max-width: max-content;
  position: absolute;
  white-space: nowrap;
  z-index: 9;

  /*  right: 0;
  padding: 10px 10px;
  top: calc(100% + 5px); */
}

.is-active.dp-ToolTips {
  display: block;
}

.dp-ToolTipsUp > .dp-Icon {
  height: 24px;
  margin-right: 8px;
  width: 24px;
}

.dp-ToolTips p {
  margin: 0;
}

.dp-ToolTips .dp-ToolTipsUp {
  align-items: center;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  display: flex;
  font: var(--h-l-semibold);
  padding: 10px 20px;
}

.dp-ToolTips .dp-ToolTipsDown {
  color: var(--grey-darkest);
  font: var(--p-xl);
  padding: 10px 20px;
}

.ToolTips--Delete {
  min-width: 285px;
}

/* PrimaryDelete Tooltip */

.dp-ToolTips.ToolTips--Primary .dp-ToolTipsUp {
  background-color: var(--info-light);
  color: var(--brand-primary);
}

.dp-ToolTips .dp-ButtonWrapper {
  padding: 10px 20px;
}

.ToolTips--Warning .dp-ToolTipsUp > .dp-Icon svg {
  fill: var(--warning);
}

/* WarningDelete Tooltip */

.dp-ToolTips.ToolTips--Warning .dp-ToolTipsUp {
  background-color: var(--warning-light);
  color: var(--warning);
}

.dp-ToolTips.ToolTips--Warning {
  border: 1px solid var(--warning);
}

.ToolTips--Warning .dp-ToolTipsUp > .dp-Icon svg {
  fill: var(--warning);
}

.ToolTips--Warning .dp-ToolTipsDown {
  display: flex;
  flex-direction: column;
}

.dp-ToolTips .dp-ToolTipsDown .dp-UserTitleInfo {
  align-items: center;
  display: flex;
  margin: 0 0 10px;
}

.dp-ToolTips .dp-ToolTipsDown .dp-UserTitleInfo > .dp-Icon {
  margin-right: 7px;
  max-width: 20px;
}

.dp-ToolTips .dp-ToolTipsDown .dp-UserTitleInfo .dp-UserName {
  font: var(--h-n-semibold);
  margin-right: 15px;
}

.dp-ToolTips .dp-ToolTipsDown .dp-UserName {
  font: var(--p-n);
}

.dp-ToolTips .dp-Time {
  align-items: center;
  display: flex;
}

.dp-ToolTips .dp-Time > .dp-Icon {
  background-size: 12px;
  height: 12px;
  margin-right: 5px;
  width: 12px;
}

.dp-ToolTips .dp-ReasonTitle {
  color: var(--grey-darkest);
  font: var(--p-xl);
  margin-bottom: 8px;
}

.dp-ToolTips .dp-ReasonSubtitle {
  color: var(--grey-darkest);
  font: var(--p-s);
}

.dp-ReasonTitle .dp-Description,
.dp-ReasonSubtitle .dp-Description {
  color: var(--grey-dark);
}

.dp-ToolTips .dp-TimesStatus {
  font: var(--p-s-semibold);
}

.dp-ToolTips.ToolTips--Warning .dp-ButtonWrapper {
  padding: 0 20px 10px;
}

/* Success Tooltip */

.dp-ToolTips.ToolTips--Success .dp-ToolTipsUp {
  background-color: var(--success-light);
  color: var(--success);
}

.dp-ToolTips.ToolTips--Success {
  border: 1px solid var(--success);
}

.ToolTips--Success .dp-ToolTipsUp > .dp-Icon svg {
  fill: var(--success);
}

.dp-ToolTips .dp-Button.Button--outlined {
  border-color: var(--grey-dark);
  color: var(--grey-dark);
}

.ToolTips--Locked .dp-TitleTooltip {
  flex: 1 0 0;
}

.ToolTips--Locked .dp-TitleTooltip + .dp-Icon {
  margin-right: 0;
}
