@import "../fonts.css";
@import "../vars.css";

/*  */

.dp-ToolTips {
  background-color: var(--white);
  border: 1px solid var(--brand-primary);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-bottom);
  color: var(--grey-darkest);
  display: none;
  max-width: max-content;
  position: absolute;
  white-space: nowrap;
  z-index: 9;

  /*  right: 0;
  padding: 10px 10px;
  top: calc(100% + 5px); */
}

.is-active.dp-ToolTips {
  display: block;
}

.dp-ToolTipsUp > .dp-Icon {
  height: 24px;
  margin-right: 8px;
  width: 24px;
}

.dp-ToolTips p {
  margin: 0;
}

.dp-ToolTips .dp-ToolTipsUp {
  align-items: center;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  display: flex;
  font: var(--h-l-semibold);
  padding: 10px 20px;
}

.dp-ToolTips .dp-ToolTipsDown {
  color: var(--grey-darkest);
  font: var(--p-xl);
  padding: 10px 20px;
}

/* PrimaryDelete Tooltip */

.dp-ToolTips.ToolTips--PrimaryDelete .dp-ToolTipsUp {
  background-color: var(--info-light);
  color: var(--brand-primary);
}

.dp-ToolTips .dp-ButtonWrapper {
  padding: 10px 20px;
}

/* WarningDelete */

.dp-ToolTips.ToolTips--WarningDelete .dp-ToolTipsUp {
  background-color: var(--warning-light);
  color: var(--warning);
}

.dp-ToolTips.ToolTips--WarningDelete {
  border: 1px solid var(--warning);
}
