.dpApps-AppBar {
  border-bottom: var(--card-border) solid var(--gray-300);
  padding-bottom: 3px;
}

.dpApps-AppBarIcon-wrap {
  position: relative;
}

.dpApps-AppBarIcon-wrap .dpApps-IconBadge {
  position: absolute;
  right: -5px;
  top: -5px;
}

.dpApps-AppBar .dpApps-Title {
  color: var(--gray-500);
  font-size: var(--h1);
  margin-bottom: 3px;
  margin-left: 8px;
}

.dpApps-AppBar .dpApps-IconArrow {
  margin-left: 13px;

  &:hover {
    background-image: url('data:image/svg+xml,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600"><defs><style>.cls-1{fill:%234696dc";}</style></defs><title>app_icons</title><path class="cls-1" d="M275,468.73a36.26,36.26,0,0,0,50.26,0l0,0L589.1,206a36.27,36.27,0,0,0-51.29-51.29L300.69,391.8,63.56,154.67A36.27,36.27,0,0,0,12.27,206Z"/></svg>');
  }
}

.dpApps-AppBar .dpApps-ActionListIcon img,
.dpApps-AppBar .dpApps-ActionListIcon i {
  cursor: pointer;
}
