.dpApps-ActionList {
  display: flex;
}

.dpApps-ActionListItem {
  align-items: center;
  display: flex;
  padding-left: 8px;

  &:first-child {
    padding-left: 0;
  }
}

.dpApps-ActionListItem * {
  cursor: pointer;
}

.dpApps-ActionListLabel {
  color: var(--gray-500);
  font-size: var(--h4);
  padding-left: 3px;
}

.dpApps-ActionListIcon .dpApps-IconArrow {
  margin-right: 1px;
}

.dpApps-ActionList--grey .dpApps-ActionListLabel {
  color: var(--gray-light);
}

.dpApps-ActionList--grey svg {
  fill: var(--gray-light);
}
