@import "fonts.css";
@import "vars.css";

.is-regular {
  font-weight: var(--is-regular);
}

.is-semibold {
  font-weight: var(--is-semibold);
}

.is-bold {
  font-weight: var(--is-bold);
}

.is-italic {
  font-style: var(--is-italic);
}

.is-uppercase {
  text-transform: uppercase;
}

[class*="dp-Title"] {
  font-family: var(--font-family-base);
  font-weight: var(--is-regular);
}

[class*="dp-Text"] {
  font-family: var(--font-family-base);
  font-weight: var(--is-regular);
}

[class*="is-semibold"] {
  font-weight: var(--is-semibold);
}

[class*="is-bold"] {
  font-weight: var(--is-bold);
}

[class*="is-italic"] {
  font-style: var(--is-italic);
}

.dp-Title-XL {
  font-size: var(--font-Title-XL);
}

.dp-Title-L {
  font-size: var(--font-Title-L);
}

.dp-Title-N {
  font-size: var(--font-Title-N);
}

.dp-Title-S {
  font-size: var(--font-Title-S);
}

.dp-FontsDemonstration * {
  display: block;
  line-height: 1.5rem;
}

.dp-Text-L {
  font-size: var(--font-Text-L);
}

.dp-Text-N {
  font-size: var(--font-Text-N);
}

.dp-Text-S {
  font-size: var(--font-Text-S);
}

.dp-Text-XS {
  font-size: var(--font-Text-XS);
}

/* New Fonts */

.h-xl {
  font: var(--h-xl);
}

.h-l-semibold {
  font: var(--h-l-semibold);
}

.h-l-bold {
  font: var(--h-l-bold);
}

.h-n-semibold {
  font: var(--h-n-semibold);
}

.h-s-semibold {
  font: var(--h-s-semibold);
}

.p-xl {
  font: var(--p-xl);
}

.p-xl-italic {
  font: var(--p-xl-italic);
}

.p-l {
  font: var(--p-l);
}

.p-l-semibold {
  font: var(--p-l-semibold);
}

.p-n {
  font: var(--p-n);
}

.p-n-semibold-caps {
  font: var(--p-n-semibold-caps);
  text-transform: uppercase;
}

.p-n-semibold {
  font: var(--p-n-semibold);
}

.p-n-caps {
  font: var(--p-n-caps);
  text-transform: uppercase;
}

.p-s {
  font: var(--p-s);
}

.p-s-semibold {
  font: var(--p-s-semibold);
}

.l-n {
  font: var(--l-n);
}

.l-n-semibold {
  font: var(--l-n-semibold);
}
