.dp-Template {
  display: flex;
}

.dp-Template .dp-SidebarRow {
  padding-bottom: 100px;
}

.dp-TemplateMainContentLeft {
  background-color: #f7f7f7;
}

.dp-TemplateMainContentLeft .dp-Tickets,
.dp-TemplateMainContentLeft .dp-FilterResultList {
  background-color: #fff;
}

.dp-TemplateLeftCol {
  flex: 0 0 45px;
}

.dp-TemplateMainColl {
  align-self: flex-start;
  display: flex;
  flex: 0 1 100%;
  flex-wrap: wrap;
}

.dp-TopActionRow {
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;
}

.dp-TopActionRowLeft {
  flex: 1 0 auto;
}

.dp-TopActionRowRight {
  flex: 0 1 100%;
}

.dp-TemplateMainContent {
  display: flex;
  flex: 1 1 100%;
}

.dp-TemplateMainContentLeft {
  flex: 0 0 435px;
  overflow: hidden;
  position: relative;
}

.dp-TemplateMainContentRight {
  flex: 0 1 100%;
  position: relative;
}

.dp-TemplateMainBarContainer {
  display: block;
  padding: 3px 10px 0;
  position: relative;
}

.dp-TemplateMainBarContainer .dp-ContextMenu {
  left: 10px;
}

.dp-TemplateInnerContent {
  display: flex;
  flex: 1 1 100%;
}

.dp-TemplateInnerContentLeft {
  flex: 0 0 234px;
}

.dp-TemplateInnerContentRight {
  flex: 0 1 100%;
  margin: 0 0 0 10px;
}

.dp-TemplateInnerContent {
  padding-right: 60px;
}

.dp-Template .dp-OverlayWrapp .dpApps-AppPanel {
  display: none;
  left: 0;
  position: absolute;
  top: 43px;
  z-index: 1;
}

.dp-Template .dpApps-AppPanel {
  height: 100%;
}

.dp-Template .dp-OverlayWrapp .dpApps-AppPanel.is-active {
  display: block;
}

.dp-Template .dp-OverlayWrapp {
  display: block;
  display: none;
  left: 20px;
  max-width: 460px;
  position: absolute;
  top: 98px;
  z-index: 10;
}

.dp-Template .dp-OverlayWrapp.is-active {
  display: block;
}

.dp-Template .dp-TemplateMainContentRight .dp-LeftSidebar {
  border-right: 0;
  border-top: 0;
  height: 100%;
  position: absolute;
  right: 0;

  /* top: 46px; */
  top: var(--height-menu);
}

.dp-Template {
  overflow: hidden;
}

.dp-Template .dp-TemplateMainContentRight .dpApps-AppPanel {
  position: absolute;
  right: -100%;
  top: 46px;
}

.dp-Template .dp-TemplateMainContentRight .dpApps-AppPanel.is-active {
  border-top: 0;
  right: 0;
}

.iconArrow--left {
  transform: rotate(90deg);
}

.iconArrow--right {
  transform: rotate(-90deg);
}

.dp-TemplateInnerContentLeft {
  position: relative;
}

.dp-TemplateInnerContentLeft .dp-PageSidebar.dp-UserActivSidebar {
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.dp-TemplateInnerContentLeft .dp-PageSidebar.dp-UserActivSidebar.is-active {
  display: block;
}
