* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dp-Kanban {
  background-color: #e3e3e3;
  border: 1px solid #bbb;
}

.dp-Kanban-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.dp-Kanban-column {
  width: 350px;
  height: calc(100% - 2px);
  border-right: 1px solid #bbb;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.dp-Kanban-column.is-over {
  border: 1px solid rgb(15, 156, 212);
}

.dp-Kanban-column.is-active {
  opacity: 0.8;
}

.dp-Kanban-columnTitle {
  font-weight: bold;
  border-bottom: 1px solid #bbb;
  padding: 7px 10px;
  flex: 0;
}

.dp-ScrollArea-trackVertical {
  right: 2px;
  bottom: 2px;
  top: 2px;
  border-radius: 3px;
}

.dp-ScrollArea-thumbVertical {
  cursor: pointer;
  border-radius: inherit;
  background-color: rgba(0, 0, 0, 0.2);
}

.dp-ScrollArea-trackHorizontal {
  right: 2px;
  bottom: 2px;
  left: 2px;
  border-radius: 3px;
}

.dp-ScrollArea-thumbHorizontal {
  cursor: pointer;
  border-radius: inherit;
  background-color: rgba(0, 0, 0, 0.2);
}

.dp-Kanban-columnContent {
  flex-grow: 1;
}

.dp-Kanban-droppableArea {
  height: 100%;
}

.dp-Kanban-item {
  width: 100%;
  box-sizing: border-box;
}

.dp-Kanban.Kanban--demo .dp-Kanban-column {
  width: 200px;
}

.dp-Kanban.Kanban--demo .dp-Kanban-item {
  padding: 10px;
}

.dp-Kanban.Kanban--cards .dp-CardList {
  width: calc(100% - 10px);
}
