.dpApps-Scrollable {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.dpApps-ScrollableScrollWrap {
  bottom: 0;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.dpApps-ScrollableScrollTrack {
  background-color: var(--border-color-light);
  border-radius: 4px;
  display: block;
  height: 100%;
  position: relative;
  width: 4px;
}

.dpApps-ScrollableScrollbar {
  background-color: #6f8495;
  border-radius: 4px;
  bottom: auto;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
}
