.dpApps-AppPanel {
  background-color: var(--bg-app-panel);
  border: 1px solid var(--border-color);
  display: block;
  width: var(--width-app);
}

.dpApps-AppPanelBody {
  display: block;
  padding: var(--framework-margin);
}
