.dpApps-AppFrame {
  background-color: #fff;
  border: 2px solid var(--border-color-light);
  border-radius: var(--border-radius);
  display: block;
  padding: var(--card-padding);
}

.dpApps-AppFrame:not(:last-child) {
  margin-bottom: 13px;
}

.dpApps-AppFrame .dpApps-AppBody {
  height: auto;
  opacity: 1;
}

.dpApps-AppFrame.is-colapsed .dpApps-AppBody {
  height: 0;
  opacity: 0;
}

.dpApps-AppFrame.is-colapsed  .dpApps-IconArrow {

  &::after {
    transform: rotate(45deg);
    transition: transform var(--animation-speed);
  }

  &::before {
    transform: rotate(-45deg);
    transition: transform var(--animation-speed);
  }
}

.dpApps-AppFrame.is-inactive {
  filter: grayscale(100%);
  opacity: 0.8;
}

.dpApps-AddApp-text {
  color: #5f768a;
  font-size: var(--h4);
  padding-left: 15px;
}

.dpApps-AddApp {
  background-color: #fff;
  border: 2px solid var(--border-color-light);
  border-radius: var(--border-radius);
  border-radius: 0.25rem;
  display: block;
  padding: 8px;
}

.dpApps-AddApp a,
.dpApps-AddApp a * {
  cursor: pointer;
}
